<form class="form-horizontal" name="frmConnect" role="form">
    <hs.add-layers-url type="wmts" url="url" connect="connect" field="frmConnect.url"></hs.add-layers-url>

    <div ng-show="showDetails" class="card">
        <ul class="list-group">
            <li class="list-group-item hs-ows-layerlistheading clearfix">
                <div>{{title}}</div>
            </li>
            <li ng-repeat="layer in services" class="list-group-item clearfix" ng-click="setCurrentLayer(layer, $index)" >
                <input type="checkbox" ng-model="layer.checked" ng-change="changed()" id="wmtslayer-{{$index}}"/> 
                <label class="mw-100" for="wmtslayer-{{$index}}">{{layer.Title}}</label>
            </li>
        </ul>
        <li class="list-group-item hs-ows-layerlistheading clearfix">
            <div class="d-flex justify-content-center">
                <div class="d-flex justify-content-between w-100" ng-if="!loadingFeatures">
                    <button class="btn btn-primary" ng-click="selectAllLayers()" translate>Select All Layers</button>
                    <button class="btn btn-primary pull-right" ng-click="tryAddLayers(true)"
                        title="{{'Add to map'|translate}}" ng-disabled="!isChecked"><i
                            class="icon-plus"></i></button>
                </div>
                <button ng-show="loadingFeatures"
                    class="btn btn-primary btn-block w-75">{{'Loading features, please wait' | translate}}<img
                        class="ml-2" ng-src="{{loaderImage}}" /></button>
            </div>
        </li>
        <!-- <div class="card panel-default hs-wmts-layerpanel" ng-show="currentLayer!=null">
            <div class="card-body">
                <form>
                    <div class="form-group">
                        <label for="image_format" class="capabilities_label col-sm-4 control-label" translate>Image format</label>
                        <div class="capabilities_input col-sm-8">
                            <select class="form-control" ng-model="image_format">
                                <option ng-repeat="i in currentLayer.Format">{{i}}</option>
                            </select>
                        </div>      
                    </div>
    
                    <div class="form-group">
                        <label class="capabilities_label col-sm-4 control-label" translate>Style</label>
                        <div class="capabilities_input col-sm-8">
                            <select class="form-control" ng-model="style">
                                <option ng-repeat="i in currentLayer.Style" value={{i.Identifier}}>{{i.Title}}</option>
                            </select>
                        </div>      
                    </div>
    
                    <div class="form-group">
                        <label class="capabilities_label col-sm-4 control-label">Tile Matrix</label>
                        <div class="capabilities_input col-sm-8">
                            <select class="form-control" ng-model="tileMatrixSet">
                                <option ng-repeat="i in currentLayer.TileMatrixSetLink">{{i.TileMatrixSet}}</option>
                            </select>
                        </div>      
                    </div>                     
                </form>
            </div>
            <div class="card-footer">
                <button class="btn btn-success" ng-click="addLayer(currentLayer)">Connect</button>
            </div>
        </div> -->
    </div>
    
</form>
