<form class="form-horizontal" role="form">
    <hr>
    <ul class="list-group">
        <li class="list-group-item hs-ows-layerlistheading clearfix">
            <div>{{title}}</div>
        </li>
        <li *ngFor="let layer of services.Layer; let idx = index" class="list-group-item clearfix" (click)="setCurrentLayer(layer, idx)" id="wmtslayer-{{idx}}">
            <div class="hs-lm-item-status">
                <span class="icon-chevron-right" [hidden]="currentLayer == layer"></span>
                <span class="icon-chevron-down" [hidden]="currentLayer != layer"></span>
            </div>
            <div class="hs-lm-item-title hover">{{layer.Title}}</div>
        </li>
    </ul>
    
    <div class="card hs-wmts-layerpanel" [hidden]="currentLayer == null">
        <div class="card-body">
            <form>
                <div class="form-group">
                    <label for="imageFormat" class="capabilities_label col-sm-4 control-label" i18n>Image format</label>
                    <div class="capabilities_input col-sm-8">
                        <select class="form-control" [(ngModel)="imageFormat">
                            <option *ngFor="let i of currentLayer.Format">{{i}}</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="capabilities_label col-sm-4 control-label" i18n>Style</label>
                    <div class="capabilities_input col-sm-8">
                        <select class="form-control" [(ngModel)="style">
                            <option *ngFor="let i of currentLayer.Style" value={{i.Identifier}}>{{i.Title}}</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="capabilities_label col-sm-4 control-label">Tile Matrix</label>
                    <div class="capabilities_input col-sm-8">
                        <select class="form-control" [(ngModel)="tileMatrixSet">
                            <option *ngFor="let i of currentLayer.TileMatrixSetLink">{{i.TileMatrixSet}}</option>
                        </select>
                    </div>
                </div>
            <!-- Footer -->
            </form>
        </div>
        <div class="card-footer">
            <button class="btn btn-success" (click)="addLayer(currentLayer)">Connect</button>
        </div>
    </div>

</form>
