@font-face {
    font-family: 'WebHostingHub-Glyphs';
    src: url(../font/subset.eot);
    src: url(../font/subset.eot?#iefix) format('embedded-opentype'),
         url(../font/subset.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
    -moz-font-feature-settings: "calt=0,liga=0";
}
[class^="icon-"], [class*=" icon-"] {font-family:'WebHostingHub-Glyphs';background:none;width:auto;height:auto;font-style:normal}
.icon-alertpay:before{content:'\f269'}
.icon-brush:before{content:'\f1b8'}
.icon-analytics-piechart:before{content:'\f000'}
.icon-chevron-left:before{content:'\f489'}
.icon-chevron-right:before{content:'\f488'}
.icon-chevron-down:before{content:'\f48b'}
.icon-check:before{content:'\f310'}
.icon-database:before{content:'\f00b'}
.icon-download:before{content:'\f47b'}
.icon-edit:before{content:'\f47c'}
.icon-facebook:before{content:'\f140'}
.icon-gpsoff-gps:before{content:'\f21e'}
.icon-info-sign:before{content:'\f315'}
.icon-layers:before{content:'\f1ca'}
.icon-line:before{content:'\f1bf'}
.icon-link:before{content:'\f022'}
.icon-map:before{content:'\f209'}
.icon-pencil:before{content:'\f1b7'}
.icon-pin:before{content:'\f20a'}
.icon-plus:before{content:'\002b'}
.icon-polygonlasso:before{content:'\f397'}
.icon-print:before{content:'\f125'}
.icon-question-sign:before{content:'\f0a3'}
.icon-refresh:before{content:'\f078'}
.icon-remove:before{content:'\00d7'}
.icon-remove-circle:before{content:'\f470'}
.icon-road:before{content:'\f249'}
.icon-save-floppy:before{content:'\f0c8'}
.icon-screenshot:before{content:'\f109'}
.icon-search:before{content:'\f0c5'}
.icon-settingsandroid:before{content:'\f309'}
.icon-settingsthree-gears:before{content:'\f307'}
.icon-share-alt:before{content:'\f16c'}
.icon-trash:before{content:'\f0ce'}
.icon-twitter:before{content:'\f16a'}
.icon-upload:before{content:'\f47a'}
.icon-warning-sign:before{content:'\f316'}
.icon-dotlist:before{content:'\f4c2'}
.icon-design:before{content:'\f53d'}
.icon-calcplus:before{content:'\f571'}
.icon-fatredo:before{content:'\f692'}
.icon-circleloaderfull:before{content:'\f772'}
.icon-weightscale:before{content:'\f782'}
.icon-cloudaltsync:before{content:'\f7ac'}
.icon-textfield:before{content:'\f5d5'}
.icon-time:before{content:'\f210'}
.icon-calendarthree:before{content:'\f4d0'}
.icon-menu:before{content:'\f127'}
.icon-navigation:before{content:'\f23a'}
.icon-gpson:before{content:'\f21f'}
.icon-handup:before {content: '\f0dd';}