<div class="card panel-default mainpanel">
    <hs.layout.panel-header panel-name="routing" panel-title="'Routing'||translate"></hs.layout.panel-header>
    <div class="card-body">
        <div class="card-body">
            <div class="form-group">
                <label>Select a routing operation</label>
                <div class="btn-group btn-group-justified" role="group" aria-label="...">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-primary btn-sm" ng-click="setOperation('ShortestRoute')" ng-class="{active: operation === 'ShortestRoute'}">Shortest route</button>
                    </div>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-primary btn-sm" ng-click="setOperation('ReachableArea')" ng-class="{active: operation === 'ReachableArea'}">Reachable area</button>
                    </div>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-primary btn-sm" ng-click="setOperation('OptimalRoute')" ng-class="{active: operation === 'OptimalRoute'}">Optimal route</button>
                    </div>
                </div>
            </div>
            <div ng-if="operation === 'OptimalRoute'">
                <label>Different start and finish point?</label>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="optimalRoute.isLoop"> First point is both start and finish of route
                    </label>
                </div>
            </div>
            <div class="form-group p-a-3" ng-if="operation === 'ReachableArea'">
                <label for="reachableAreaDistance">Select distance</label>
                <select id="reachableAreaDistance" class="form-control" ng-model="reachableArea.distance">
                    <option>1000</option>
                    <option>2500</option>
                    <option>5000</option>
                    <option>7500</option>
                    <option>10000</option>
                    <option>20000</option>
                    <option>50000</option>
                    <option>75000</option>
                    <option>100000</option>
                    <option>150000</option>
                </select>
            </div>
            <div ng-if="wayPoints.length > 0">
                <label>List of way points</label>
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th><small>#</small></th>
                            <th>Longitude</th>
                            <th>Latitude</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="w in wayPoints">
                            <td>{{$index + 1}}</td>
                            <td>{{w.lat| number : 6}}&deg; N</td>
                            <td>{{w.lon| number : 6}}&deg; E</td>
                            <td>
                                <button ng-if="$index > 0" ng-click="moveUp($index)" type="button" class="btn btn-secondary btn-sm" aria-label="Up">
                                    <span class="icon-triangle-top" aria-hidden="true"></span>
                                </button>
                            </td>
                            <td>
                                <button ng-if="$index < (wayPoints.length - 1)" ng-click="moveDown($index)" type="button" class="btn btn-secondary btn-sm" aria-label="Down">
                                    <span class="icon-triangle-bottom" aria-hidden="true"></span>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <a href="#" class="btn btn-secondary btn-sm btn-block" ng-click="clearWayPoints()">Clear way points</a>
                <a ng-if="operation === 'OptimalRoute' && wayPoints.length > 2" class="btn btn-primary btn-sm btn-block" ng-click="optimizeRoute()">Optimize route</a>
            </div>
            <!-- Shortest path results -->
            <div ng-if="searchResults.length > 0 && operation === 'ShortestRoute'">
                <label>Route results</label>
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Distance</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="sr in searchResults">
                            <td>{{sr.streetname}}</td>
                            <td class="text-right">{{sr.distance| number : 0}} m</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
