@import url('../node_modules/@fortawesome/fontawesome-free/css/all.css');

/* app css stylesheet */
.icon-spin {
	-webkit-animation: spin 1000ms infinite linear;
	animation: spin 1000ms infinite linear;
	position: relative;
	top: 1px;
	display: inline-block;
	font-style: normal;
	font-weight: 400;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg);
	}
}
@keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg);
	}
}
/*
@font-face {
	font-family: "OpenWeb Icons";
	src: url("font/openwebicons.eot");
	src: url("font/openwebicons.eot?#iefix") format("embedded-opentype"), url("font/openwebicons.woff2") format("woff2"),
		url("font/openwebicons.woff") format("woff"), url("font/openwebicons.ttf") format("truetype"),
		url("font/openwebicons.svg#openweb_iconsregular") format("svg");
	font-weight: normal;
	font-style: normal;
}*/

.hs-grayscale {
	filter: grayscale(100%);
}

.hs-main-panel {
	border: none;
	margin-bottom: 0;
}

div.hs-main-panel:not(.hs-stc-mainpanel) > div.card-body {
	padding: 0px;
}

.hs-gui-overlay {
	z-index: 1000;
	position: absolute;
	left: 0px;
	top: 0px;
	bottom: 0px;
	right: 0px;
	pointer-events: none;
	background: none !important;
}

.fill {
	min-height: 100%;
	height: 100%;
}

.hs-gui-overlay * {
	pointer-events: initial;
}

.hs-info-container {
	pointer-events: none;
}

.hs-filter {
	border-left: 0;
	border-right: 0;
}

.hs-layerpanel {
	max-height: 27.875em;
	overflow-y: auto;
	border: 0;
	margin-bottom: 0;
	border-bottom: 0;
	word-wrap: break-word;
}

div.list-group-item.hs-lm-list {
	border: 0;
	padding-top: 0;
	padding-bottom: 0;
}
.hs-lm-list > ul.list-group.row {
	margin-bottom: 0;
}

ul.hs-lm-baselayerlist {
	margin-bottom: 0;
}

ul.hs-lm-mapcontentlist {
	margin-top: 0;
	margin-bottom: 0;
	border-bottom: 1px solid #ddd;
}
ul.hs-lm-layerlist li.list-group-item.hs-lm-layerlist-header {
	padding: 0.3em;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	cursor: pointer;
	margin-left: -2px;
	margin-right: -2px;
}
ul.hs-lm-layerlist li.list-group-item.hs-lm-layerlist-header span.glyphicon{
	font-size: x-small;
}

.hs-save-comp-advanced-panel {
	margin-top: 10px;
}

.hs-comp-ext-row {
	margin-left: 0;
	margin-right: 0;
}
.hs-comp-ext {
	padding-left: 3px;
	padding-right: 3px;
}
.hs-comp-ext input {
	text-align: center;
	padding: 3px 6px;
}

.bsi .hs-lm-header:first-child,
.hs-lm-list:first-child,
.hs-lm-item:first-child,
.hs-comp-header:first-child,
.hs-comp-list:first-child,
.hs-comp-item:first-child {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.bsi .hs-lm-list:last-child,
.hs-lm-item:last-child,
.hs-comp-list:last-child,
.hs-comp-item:last-child {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

li.hs-lm-item.hovering {
	text-decoration: underline;
}
.hs-lm-list li .info_btn {
	cursor: pointer;
}
.hs-lm-list li .info_btn .icon-settingsthree-gears:hover::before {
	color: #4495eb;
}

.hs-layermanager-card li.hs-lm-item,
li.hs-dr-item {
	word-wrap: break-word;
	border-left: 0;
	border-right: 0;
	padding: 0.1em;
	padding-top: 0.4em;
	padding-left: 0.2em;
	/*border-bottom: 0;*/
}

.hs-layermanager-card .hs-lm-item-status {
	text-align: center;
	color: #666666;
	vertical-align: top;
}

div ul.hs-lm-baselayerlist  .hs-lm-item-title, div.hs-lm-item-title.hover {
	cursor: pointer;
}

.hs-layermanager-card .hs-lm-item-visibility {
	margin-top: -0.42em;
}

div ul.hs-lm-baselayerlist  .hs-lm-item-title:hover, div.hs-lm-item-title.hover:hover  {
	text-decoration: underline;
}

input.hs-waypoint-name {
	display: inline-block;
	width: calc(100% - 2.8125em);
}

i.hs-lm-warning-scale {
	color: #f0ad4e;
	padding: 0.0625em 0.3125em;
	top: 0.125em;
	cursor: default;
}

i.hs-lm-warning-error {
	position: static;
	cursor: default;
}

i.hs-lm-queryable {
	cursor: default;
	color: #337ab7;
	padding: 0.0625em 0.3125em;
	border-radius: 3px;
	line-height: 1.5;
	font-size: 12px;
	top: 2px;
}
.hs-tab-single-datasources {
}

.hs-tab-single-datasources a {
	cursor: pointer;
}

.hs-dataset-panel .card-body {
	padding: 3px;
}

ul.hs-comp-list {
	margin-bottom: 0;
	overflow-y: auto;
}

.bsi .modal.in {
	display: block;
}

.modal-backdrop {
	visibility: hidden;
}

.toolbuttons {
	display: inline-block;
}

.form-control {
	border-radius: 0;
}
.bsi input[type=range].form-control {
	padding: 0;
}

.capabilities_label {
	padding-right: 0px;
	padding-left: 0px;
}

.capabilities_input {
	padding-right: 0px;
	padding-left: 15px;
}

hr {
	margin-top: 0px;
	margin-bottom: 5px;
}

.hs-ol-map .ol-zoom {
	bottom: 2.1em;
	top: auto;
	right: 5px;
	left: auto;
}

.hs-ol-map .hs-defaultView {
	bottom: 6.5em;
	top: auto;
	right: 5px;
	left: auto;
}

.ol-touch .ol-zoomslider {
	display: none;
}
.ol-mouse-position {
	bottom: 8px;
	left: 170px;
	position: absolute;
	color: #fff;
	top: auto;
	right: auto;
}

.hs-search-address {
	z-index: 2;
}
.hs-toolbar #hs-search-address {
	max-width: 125px;
}
#searchresults {
	top: 45px;
	min-width: 250px;
}

.hs-sidebar-item [class*=" icon-"] {
	margin-left: -4px;
}

.input-group-append [class^="icon-"] {
	font-size: 0.85rem;
}

.hs-locate:not(.ol-collapsed) {
	background: rgba(255, 255, 255, 0.8);
}
.hs-locate,
.ol-control button,
.ol-has-tooltip [role="tooltip"],
.ol-scale-line-inner {
	font-family: "Lucida Grande", Verdana, Geneva, Lucida, Arial, Helvetica, sans-serif;
}
.hs-locate {
	text-align: right;
	bottom: 9.2em;
	right: 5px;
	max-width: calc(100% - 1.3em);
	z-index: 991;
}
.hs-locate ul {
	float: left;
}
.hs-locate button {
	float: right;
}
.hs-locate .btn-primary {
	background-color: #0069d9 !important;
}
.hs-locate.ol-collapsed ul,
.hs-locate:not(.ol-collapsed) button:hover [role="tooltip"] {
	display: none;
}
/* .hs-locate:not(.ol-collapsed) {
	width: 175px;
} */
.hs-locate ul {
	list-style: none;
}

.ol-rotate {
	bottom: 11.5em;
	left: auto;
	right: 5px;
	top: auto;
}
.ol-rotate.hidden {
	visibility: hidden;
	opacity: 0%;
}
.ol-rotate button:not(.active) {
	background-color: rgba(133, 135, 136, 0.7);
}


div.hs-infopanel.ng-scope .first-col {
	width: 100px;
	overflow-x: auto;
}
div.hs-infopanel.ng-scope .second-col {
	width: 100px;
	overflow-x: auto;
}
.dc-chart g.row text {
	fill: black;
}
#right-pane {
	pointer-events: auto;
}
.but-title-sm {
	float: right;
	font-size: 14px;
	font-weight: 700;
	line-height: 17px;
	color: #000;
	text-shadow: 0 1px 0 #fff;
	filter: alpha(opacity=20);
	opacity: 0.2;
}
.but-title-sm:hover {
	color: #000;
	text-decoration: none;
	cursor: pointer;
	filter: alpha(opacity=50);
	opacity: 0.5;
}
button.but-title-sm {
	-webkit-appearance: none;
	cursor: pointer;
	background: 0 0;
	border: 0;
}
.popover-content {
	min-width: 230px;
}
.popover {
	max-width: 1000px;
	max-height: 1000px;
}

.list-group-item.active .datasource_addlayer {
	color: #fff;
}

.datasources_item_description {
	display: inline-block;
	word-break: break-all;
}
.thumbnail {
	margin-top: 3px;
	margin-bottom: 3px;
}

.ol-attribution {
	left: auto;
	right: 5px;
	bottom: 0.2em;
}
.ol-attribution.ol-uncollapsible{
	right: 5px;
	bottom: 0.2em;
}
.hs-ol-map .ol-scale-line {
	right: auto;
	left: 0.5em;
}
*[hs\.widgets\.object-directive] dd {
	padding-left: 10px;
}
.list-group-item.active a {
	color: #fff;
}
.list-group-item.active {
	background-color:var(--sidebar-active-color,#007bff);
	border-color: var(--sidebar-active-color,#007bff);
 }

.hs-lm-deactivated-layer {
	color: #cccccc;
}

.btn .close {
	font-size: 20px;
}

.hs-content-wrapper {
	font-family: Roboto, "Helvetica Neue", sans-serif;
}

.hs-content-wrapper, .hs-page-wrapper, .hs-page-content {
	height: 100%;
	position: relative;
}

.basemapGallery {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	top: 0.7em;
	position: absolute;
	cursor: pointer;
	box-sizing: border-box;
}
.basemapGallery .basemap-tile {
	background: rgba(0, 60, 136, 0.5);
	text-align: center;
	color: white;
	font-weight: 500;
	padding: 0.25em;
	margin: 0.2em !important;
	border: none;
}
.basemapGallery .basemap-tile.active {
	background: rgba(0, 59, 136, 0.788);
}
.basemapGallery .dropdown-item:not(.active){
	background: rgba(0, 0, 0, 0.048);
}
.basemapGallery img.active,
.basemapGallery div.active {
	border: 0.1rem solid rgb(0, 123, 255);
}
.basemapGallery div span.glyphicon {
	font-size: smaller;
	/* color:rgb(0, 123, 255); */
}
.basemapGallery .hs-miniMenu {
	width: 100%;
	height: 100%;
	background-color: rgba(81, 100, 121, 0.658);
	border: 0.1rem solid rgb(0, 123, 255);

	display: flex;
	align-items: center;
	color: white;
	cursor: auto;
}
.basemapGallery .hs-miniMenu div {
	display: flex;
	flex-direction: row;
	background-color: rgba(192, 189, 189, 0.644);
	cursor: pointer;
}

/******SIDEBAR****************/
.hs-panelspace {
	box-shadow: -36px -12px 61px -39px rgba(0, 0, 0, 0.3);
	background-color: white;
	height: 100%;
	overflow-x: visible;
	overflow-y: visible;
	padding-left: 0;
	padding-right: 0;
	pointer-events: auto;
	position: absolute;
	top: 0;
	width: 400px;
	z-index: 2;
	transition: width 100ms ease-out;
}

.hs-sb-right .hs-panelspace {
	right: 0;
}
.hs-sb-left .hs-panelspace {
	left: 0;
}

div.hs-content-wrapper:not(.hs-open) div.hs-panelspace-wrapper {
	background-color: transparent;
	width: 48px;
	overflow-x: hidden;
}
.hs-panelspace-wrapper {
	height: 100%;
	padding-left: 0;
	padding-right: 0;
	overflow-y: auto;
	width: 400px;
}

div.hs-sidebar {
	bottom: 0;
	position: absolute;
	top: 0;
	background: var(--sidebar-bg-color,unset) ;
	transition: width 100ms ease-out;
}
div.hs-sidebar div.hs-sidebar-list a:not(.active){
	background-color: transparent ;
	color: var(--sidebar-item-color,#007bff) ;
}
.hs-content-wrapper.hs-open .hs-panelspace:not(.labels) div.hs-sidebar {
	border-right: 1px solid #ddd;
}

.hs-panelspace.labels .hs-sidebar {
	width: 400px;
}
.hs-panelspace:not(.buttons) .hs-sidebar {
	display: none;
}

.hs-content-wrapper.hs-sb-left:not(.hs-open) div.hs-sidebar {
	background-color: var(--sidebar-bg-color,white) ;
	right: auto;
	width: 48px;
}

.hs-content-wrapper.hs-sb-right:not(.hs-open) div.hs-sidebar {
	background-color: var(--sidebar-bg-color,white) ;
	left: auto;
	width: 48px;
}

.hs-content-wrapper:not(.hs-open) .hs-panelspace {
	width: 48px;
	border-right: 1px solid #ddd;
}

.hs-content-wrapper.hs-open .hs-sidebar-list {
	width: 100%;
}

.hs-content-wrapper.hs-open div.hs-panelspace:not(.labels) .hs-sidebar-list {
	width: 48px;
}

.hs-sidebar ~ div.hs-panelplace {
	height: 100%;
	overflow-y: auto;
	width: 351px;
	margin-left: 49px;
}

div.hs-panelplace > div {
	height: 100%;
}
div.hs-panelspace:not(.buttons) .hs-sidebar ~ div.hs-panelplace {
	margin-left: 0;
	width: 400px;
}
a.sidebar-main {
	padding: 0;
	cursor: default;
}

.sidebar-main > span {
	padding: 10px 15px;
	cursor: pointer;
}
.hs-sidebar-list .sidebar-main .menu-icon {
	font-size: 19px;
}

.hs-sidebar-list .list-group-item {
	border-left: 0px;
	border-right: 0px;
	white-space: nowrap;
}

.hs-sidebar-list .list-group-item:first-child {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.hs-sidebar-list .list-group-item:last-child {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.hs-sidebar-item-title {
	margin-left: 20px;
}

.hs-panelspace:not(.labels) .hs-sidebar-list span.hs-sidebar-item-title {
	display: none;
}

.hs-content-wrapper.hs-sb-right:not(.hs-open) .hs-sidebar-list {
	right: 0;
}

.hs-content-wrapper.hs-sb-left:not(.hs-open) .hs-sidebar-list {
	left: 0;
}

.hs-content-wrapper:not(.hs-open) .hs-sidebar-item-title {
	display: none;
}

.hs-content-wrapper:not(.hs-open) .hs-panelplace {
	display: none;
}

.sublayerContainer input[type="checkbox"].form-check-input {
	position: absolute;
	left: -9999px;
}
.sublayerContainer {
	padding-bottom: 2.5px;
}

/*************/
/** CHECKBOXES **/
/*************/
.hs-checkmark,
.hs-uncheckmark {
	position: relative;
	cursor: pointer;
	margin-right: 0.3em;
}
.hs-checkmark::before {
	content: "\2713";
}
.hs-uncheckmark::before {
	content: "\00a0 ";
}
.hs-checkmark::before,
.hs-uncheckmark::before {
	color: white;
	display: inline-block;
	width: 1.5em;
	height: 1.5em;
	background-color: #4495eb;
	padding: 0.09em 0.4em 0.05em 0.35em;
	border-radius: 0.2em;
	font-weight: 1000;
	font-size: small;
}
.hs-uncheckmark::before {
	background-color: white;
	box-shadow: inset 0 0 0 0.2em #4495eb;
}
.hs-checkmark.hs-btn-baselayers::before {
	color: #4495eb;
	background-color: white;
}
.sublayerContainer .hs-checkmark::before,
.sublayerContainer .hs-uncheckmark::before,
.form-check .hs-checkmark::before,
.form-check .hs-uncheckmark::before
{
	margin-right: 0.5em;
}

/*************/
/** TOOLBAR **/
/*************/

.hs-toolbar {
	position: absolute;
	top: 10px;
	left: 10px;
	max-width: 636px;
	display: inline-block;
}

.hs-sb-left.hs-open .hs-toolbar {
	margin-left: 410px;
}

.hs-sb-left .hs-toolbar {
	margin-left: 60px;
}

/********************/
/** STATUS CREATOR **/
/********************/

.hs-stc-footer {
	text-align: center;
	margin-top: 10px;
}

.hs-stc-footer button {
	width: 100px;
}

#hs-stc-abstract {
	resize: vertical;
	min-height: 175px;
}

/*********/
/** OWS **/
/*********/

#hs-ows-abstract {
	resize: vertical;
	min-height: 100px;
}

.hs-ows-shp-advanced {
	margin-top: 10px;
}

.hs-ows-vector-advanced {
	margin-top: 10px;
}

.hs-ows-layerlistheading {
	background-color: #eee;
}

/************/
/** STYLER **/
/************/

.hs-styler-colorbox {
	width: 14px;
	height: 14px;
	display: inline-block;
	margin: 1px;
}

.hs-styler-colorbox:hover {
	width: 20px;
	height: 20px;
	margin: -3px 0px;
}
.hs-styler-remove:hover {
	color: #007bff;
	cursor: pointer;
}
.hs-styler-selected-color-box {
	width: 30px;
	height: 30px;
	display: inline-block;
	vertical-align: middle;
	margin: 3px;
}

.hs-styler-iconbox {
	width: 47px;
	height: 51px;
	display: inline-block;
	padding: 2px 0 0 0;
	border: 2px solid white;
}

.hs-styler-iconbox:hover {
	border: 2px dashed black;
}

.hs-styler-selected-icon-box {
	width: 45px;
	height: 45px;
	display: inline-block;
	vertical-align: middle;
	margin: 5px;
}

.hs-panel-margin .form-horizontal .form-group {
	margin-right: 0;
	margin-left: 0;
}

div.hs-info-area {
	background-color: rgba(47, 88, 141, 0.4);
	border-radius: 4px;
	bottom: 8px;
	color: white;
	left: 0.5em;
	padding: 1px;
	pointer-events: initial;
	position: absolute;
	vertical-align: bottom;
	z-index: 3;
}

div.hs-info-composition-image {
	background-size: 76px 76px;
	font-size: 15px;
	height: 2em;
	position: absolute;
	text-align: center;
	width: 2em;
	top: -30px;
	left: 3px;
	background-color: rgba(0, 60, 136, 0.3);
}

div.hs-info-composition {
	display: flex;
	max-width: 300px;
}

div.hs-info-composition-container {
	font-size: 12px;
	line-height: 12px;
	padding: 4px;
}

div.hs-info-composition-title {
	font-weight: bold;
	padding-bottom: 6px;
}

.hs-open.hs-sb-left div.hs-info-container {
	margin-left: 400px;
	width: calc(100% - 400px);
}
.hs-open.hs-sb-right div.hs-info-container {
	margin-left: 2px;
	width: calc(100% - 20px);
}
div.hs-info-container {
	height: 100%;
	margin-left: 48px;
	position: relative;
	vertical-align: bottom;
	width: calc(100% - 48px);
}

.hs-sb-right div.hs-info-container {
	margin-left: 2px;
}

div.hs-info-composition-image > span {
	line-height: 30px;
	width: 30px;
}

.hs-info-layers,
div.hs-info-composition-edited {
	font-size: 12px;
	padding: 0 12px 12px 12px;
	text-overflow: ellipsis;
	height: 29px;
	overflow: hidden;
	display: inline-block;
	position: relative;
	width: 260px;
	white-space: nowrap;
}


.hs-composition-share-dialog .modal-body, .composition-info-dialog .modal-body {
	font-size: 14px;
}
.galleryButton {
	opacity: 0.9 !important;
	background: rgba(0, 60, 136, 0.5) !important;
	color: white !important;
}
.galleryButton:hover {
	background-color: rgba(0, 60, 136, 0.7) !important;
}
.x-large {
	font-size: x-large !important;
}

/**********************************/
/** SIDEBAR&TOOLBAR RESPONSIVITY **/
/**********************************/

@media only screen and (max-width: 767px) {
	.hs-content-wrapper .hs-sidebar-item-title:not(.hs-minisidebar) {
		display: none;
	}
	input[type="checkbox"] {
		transform: scale(2, 2);
		margin-right: 0.5em;
	}
	input[type="radio"] {
		transform: scale(2, 2);
	}
	.basemapGallery a {
		font-size: x-large !important;
	}

	.hs-content-wrapper > div > div.hs-gui-overlay.ng-scope > hs.layermanager.gallery > div > div > div > button {
		font-size: x-large;
	}
	.hs-panelspace {
		left: 0;
		bottom: 0;
		height: auto;
		top: unset;
		width: 100%;
	}
	div .form-check-inline {
		margin-right: 0 !important;
	}
	.hs-content-wrapper {
		position: unset;
	}
	.hs-sb-bottom .hs-ol-map {
		width: 100% !important;
	}
	.hs-panelspace-wrapper {
		display: flex;
		flex-direction: column;
		scrollbar-width: none; /* firefox */
		max-height: 40vh;
		overflow-y: visible;
		font-size: x-large;
	}
	.hs-sb-left .hs-toolbar, .hs-sb-left .hs-toolbar{
		margin-left: 0 !important	;
	}

	.hs-sidebar,
	#panelspace {
		display: flex;
	}
	div.hs-sidebar {
		position: unset;
		width: 100% !important;
	}
	.hs-sidebar ~ div.hs-panelplace {
		margin: auto;
		height: 35vh;
		padding-top: 0.5em;
		scrollbar-width: none;
	}
	.hs-sidebar > div.list-group {
		flex-direction: row !important;
		justify-content: space-evenly;
	}
	.hs-sidebar-list .list-group-item{
		white-space: normal;
	}

	.hs-content-wrapper.hs-open div.hs-panelspace:not(.labels) .hs-sidebar-list {
		width: 100%;
	}

	.hs-content-wrapper div.hs-panelspace:not(.labels) .hs-sidebar-list {
		width: 100%;
	}

	.hs-content-wrapper div.hs-panelspace .hs-minisidebar .hs-sidebar-list {
		width: 100%;
	}

	a.hs-sidebar-item.list-group-item {
		display: flex;
		justify-content: center;
		padding: 0.55rem 1.05rem;
	}
	.hs-sidebar-item [class*=" icon-"] {
		font-size: x-large;
	}
	.removeIcon {
		line-height: 1.5;
		font-size: large;
	}
	/* .hs-sb-left.hs-open .hs-toolbar {
	   margin-left: 310px;
	}*/
	.hs-minisidebar .hs-sidebar-list {
		flex-direction: row !important;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		margin: auto;
	}
	.hs-minisidebar .hs-sidebar-item {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		width: 25%;
		height: 80px;
	}
	.hs-minisidebar .hs-sidebar-item-title {
		display: block !important;
		margin: 0;
		font-size: 10px;
	}

	.hs-minisidebar .list-group-item {
		border: none;
		background-color: unset;
	}
	.panel-footer {
		padding: 5px;
	}
	.hs-sidebar .hs-panel-hidden {
		display: none !important;
	}
	.hs-minisidebar .hs-sidebar-item:not(.hs-panel-hidden) {
		display: none !important;
	}
	.panel-footer {
		padding: 5px;
	}
	ul.hs-lm-layerlist li.list-group-item.hs-lm-layerlist-header span.glyphicon{
		font-size: small;
	}

	.hs-styler-colorbox {
		width: 30px;
		height: 30px;
		display: inline-block;
		margin: 3px;
	}
	.hs-filter {
		display: none !important;
	}

	.ol-attribution{
		right: 3rem !important;
	}
	.ol-attribution.ol-uncollapsible{
		bottom: 0.2em;
	}

	.hs-ol-map .ol-zoom {
		bottom: 0.2em;
		top: auto;
		right: 5px;
		left: auto;
	}
}

ul[dnd-list],
ul[dnd-list] > li {
	position: relative;
}

/**
 * The dnd-list should always have a min-height,
 * otherwise you can't drop to it once it's empty
 */
ul[dnd-list] {
	min-height: 42px;
	padding-left: 0px;
	margin-left: -23px;
	margin-right: -20px;
}

/**
 * The dndDraggingSource class will be applied to
 * the source element of a drag operation. It makes
 * sense to hide it to give the user the feeling
 * that he's actually moving it.
 */
ul[dnd-list] .dndDraggingSource {
	display: none;
}

/**
 * An element with .dndPlaceholder class will be
 * added to the dnd-list while the user is dragging
 * over it.
 */
ul[dnd-list] .dndPlaceholder {
	display: block;
	background-color: #ddd;
	min-height: 42px;
}

/**
 * The dnd-lists's child elements currently MUST have
 * position: relative. Otherwise we can not determine
 * whether the mouse pointer is in the upper or lower
 * half of the element we are dragging over. In other
 * browsers we can use event.offsetY for this.
 */
ul[dnd-list] li {
	background-color: #fff;
	border: 1px solid #ddd;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	display: block;
	padding-top: 7px;
	margin-bottom: -1px;
	line-height: 1em;
	padding-left: 3px;
	padding-right: 2px;
	padding-bottom: 0px;
}

/**
 * Show selected elements in green
 */
ul[dnd-list] li.selected {
	background-color: #dff0d8;
	color: #3c763d;
}

.hs-senslog-sensor {
	color: #333;
}
.input-group-btn .btn {
	height: 34px;
}
.hs-layermanager-card .hs-lm-item .hs-lm-drop-hint {
	display: none;
}
.hs-layermanager-card .hs-lm-item:hover .hs-lm-drop-hint {
	z-index: 10000;
	color: #cccccc;
	display: inline;
}

.center-block {
	text-align: center;
	margin-bottom: 10px;
}

.btn-group > .btn {
	float: initial;
}

.hs-draw-new-buttons button {
	max-width: 86.5px;
}

button.hs_draw_new_extended {
	width: 172px;
}

.panel.hs-dr-editpanel {
	margin-bottom: 0;
}

.draw-buttons button {
	margin-left: 0.3em;
}

.card-icon {
	padding-right: 0.25rem;
}
.card-href {
	color: #212529;
	width: 100%;
	display: inline-block;
}

/* Sub menu component */

.dropdown-submenu {
	position: relative;
}

.dropdown-submenu .dropdown-menu {
	max-height: 300px;
	overflow-y: auto;
}

.dropdown-submenu > .dropdown-menu {
	top: 0;
	left: 100%;
	margin-top: -6px;
	margin-left: -1px;
	-webkit-border-radius: 0 6px 6px 6px;
	-moz-border-radius: 0 6px 6px;
	border-radius: 0 6px 6px 6px;
}

.dropdown-submenu > .dropdown-menu.to_left {
	left: -100%;
	margin-left: 1px;
}

.dropdown-submenu > a:after {
	display: block;
	content: " ";
	float: right;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
	border-width: 5px 0 5px 5px;
	border-left-color: #ccc;
	margin-top: 5px;
	margin-right: -10px;
}

.dropdown-submenu:hover > a:after {
	border-left-color: #fff;
}

.dropdown-submenu.pull-left {
	float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
	left: -100%;
	margin-left: 10px;
	-webkit-border-radius: 6px 0 6px 6px;
	-moz-border-radius: 6px 0 6px 6px;
	border-radius: 6px 0 6px 6px;
}

.hsl-search-result {
	z-index: 2;
}


/**************/
/** MATERIAL **/
/**************/
/*
//Cant override css for whole page
html,
body {
	margin: 0;
	height: 100%;
	width: 100%;
	font-family: Roboto, "Helvetica Neue", sans-serif;
	font-size: initial;
	line-height: initial;
}

.app {
	height: 100%;
}
//Bust have mo speccific slector. hs-app maybe
*/
.swipe-overlay {
	/*pointer-events: none;*/
	overflow: hidden;
	position: absolute;
	z-index: 991;
}

.sidenav-swipe-overlay {
	height: 100%;
}

.sidenav-swipe-overlay.opened {
	width: 0;
}

.sidenav-swipe-overlay.closed {
	width: 15px;
}

md-sidenav md-content {
	touch-action: pan-y;
}

div.hs-content-wrapper:not(.hs-open) div.hs-panelspace-wrapper.md-sidenav {
	width: 0
}

md-icon.fab,
md-bottom-sheet-collapsible .bottom-sheet-switcher md-icon {
	transition: 0.3s;
}

md-icon.fab.opened {
	transform: rotate(135deg) scale(1.15);
}

md-fab-actions button.md-button.md-fab md-icon {
	color: #4a4a4a !important;
}

md-list-item > div.md-primary > md-icon:not(.md-avatar-icon),
md-list-item > div.md-secondary > md-icon:not(.md-avatar-icon),
md-list-item > md-icon:first-child:not(.md-avatar-icon),
md-list-item > md-icon.md-secondary:not(.md-avatar-icon),
md-list-item .md-list-item-inner > div.md-primary > md-icon:not(.md-avatar-icon),
md-list-item .md-list-item-inner > div.md-secondary > md-icon:not(.md-avatar-icon),
md-list-item .md-list-item-inner > md-icon:first-child:not(.md-avatar-icon),
md-list-item .md-list-item-inner > md-icon.md-secondary:not(.md-avatar-icon) {
	line-height: initial;
	margin-top: 10px;
	margin-bottom: 12px;
}

md-icon > span,
md-icon > span.glyphicon {
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -100%);
	font-size: initial;
}

.hs-map-container {
	position: relative;
}

.map-floating-gui {
	pointer-events: none;
	position: absolute;
	height: 100%;
	width: 100%;
	bottom: 0;
	left: 0;
}

.map-floating-gui * {
	pointer-events: initial;
}

.md-fab.geolocation {
}

md-icon.geolocation.off {
	/*color: rgb(117, 117, 117);*/
}

md-icon.geolocation.searching {
	color: rgb(177, 234, 241);
}

md-icon.geolocation.on {
	color: rgb(2, 168, 243);
}

md-bottom-sheet-collapsible {
	touch-action: none;
	overflow-y: scroll;
}

md-bottom-sheet-collapsible .bottom-sheet-switcher {
	position: absolute;
	bottom: -8px;
	left: calc(50% - 26px);
}

md-bottom-sheet-collapsible.minimized .bottom-sheet-switcher md-icon {
	transform: rotate(180deg);
}

md-bottom-sheet {
	box-shadow: 0 -5px 10px 1px rgba(0, 0, 0, 0.3);
	max-height: 80%;
	touch-action: pan-y;
	overflow: scroll;
	padding-top: 0;
	padding-left: 0;
	padding-right: 0;
}

md-bottom-sheet md-toolbar {
	/*position: fixed;*/
	/*overflow: none;*/
}

md-bottom-sheet .content {
	/*height: calc(100% - 56px);*/
	/*overflow-y: scroll;*/
	/*max-height: 400px;*/
}

.md-panel.filter-panel {
	background-color: #fff;
}

.md-panel.baselayers-panel {
	background-color: #fff;
	min-width: 56px;
	/*max-width: 248px;*/
	min-height: 56px;
}

.baselayer-tile {
	position: relative;
	padding: 8px;
	margin-right: auto;
	margin-left: auto;
}

.baselayer-tile p {
	font-size: small;
	padding: 4px;
	margin: 0 auto;
}

.baselayer-tile .avatar-container {
	padding: 10px;
}

.baselayer-tile .md-avatar {
	-webkit-box-flex: 0;
	-webkit-flex: none;
	flex: none;
	width: 40px;
	height: 40px;
	padding: 6px;
	margin: 0 auto;
	border-radius: 50%;
	box-sizing: content-box;
}

.baselayer-tile .remove-layer {
	position: absolute;
	top: 0;
	right: -4px;
	padding: 0;
}

.baselayer-tile.selected-basemap .md-avatar {
	border: 2px solid #0062bf;
	padding: 4px;
	border-radius: 50%;
}

.baselayer-tile.selected-basemap p {
	font-weight: 500;
	color: #0062bf;
}

.hs-gallery-slideshow {
	position: relative;
	overflow: hidden;
	background: #222;
	padding-top: calc(2 / 3 * 100%);
	height: 0;
}

.hs-gallery-track {
	display: flex;
	align-items: center;
	transition: transform 0.5s;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.hs-gallery-slide {
	position: relative;
	margin: 0;
	flex-shrink: 0;
	width: 100%;
	height: 100%;
}

.hs-gallery-slide img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 100%;
	max-height: 100%;
}

.hs-preview {
	overflow-x: auto;
}

.hs-preview-row {
	display: flex;
	margin: 0 auto;
	width: fit-content;
	height: 6em;
}

.hs-preview-column {
	height: 100%;
	flex-shrink: 0;
}

.hs-preview-column img {
	box-sizing: border-box;
	max-height: 100%;
	padding: 5px;
	opacity: 0.7;
	/* Add a pointer when hovering over the thumbnail images */
	cursor: pointer;
}

.hs-preview-column.active img {
	opacity: 1;
	filter: drop-shadow(3px 3px 3px #333d);
}

.hs-preview-column img:hover {
  	opacity: 1;
}

.hs-gallery-nav {
	position: absolute;
	top: 50%;
	z-index: 1;
	transform: translateY(-50%);
}

.hs-gallery-prev {
	left: 0;
}

.hs-gallery-next {
	right: 0;
}

.hs-gallery-slideshow .md-icon-button {
	width: 56px;
	height: 56px;
	background: rgba(0,0,0, 45%);
}

.hs-gallery-slideshow button:not([disabled]).md-icon-button:hover {
	background: rgba(150,150,150, 45%);
}

.hs-gallery-slideshow md-icon {
	color: silver;
	font-size: 40px;
	width: 40px;
	height: 40px;
}

@media only screen and (min-width: 600px) {
	md-sidenav {
		width: 100%;
	}

	.hs-layout .layout-row {
		position: relative;
		max-height: 100%;
	}

	md-backdrop.md-sidenav-backdrop {
		display: none;
	}
}

#permalink-link {
	overflow-x: hidden;
}

.hs-ows-layer-title {
	width: calc(100% - 16px);
	display: inline-block;
	overflow-x: hidden;
}
/* Material Design Section */

.md-scroll-mask {
	display: none !important;
}

div.md-sidenav {
	z-index: 90;
}

md-content.card-collection {
	column-count: 1;
}

md-card {
	break-inside: avoid;
	cursor: pointer;
}

div.card-list {
	overflow-y: auto;
	display: block;
}

div.card-list md-content {
	overflow: hidden;
}

div.card-list md-content img {
	height: 10em;
	object-fit: cover;
}

.feature-sort-menu {
	margin: 0;
	padding-bottom: 0;
	width: fit-content;
}

.feature-sort-menu md-icon {
	font-size: 20px;
}

.md-chips md-chip {
	background: rgb(224,224,224);
	color: rgb(66,66,66);
}

div.feature-list md-chips-wrap {
	box-shadow: initial;
}

.md-chips md-chip.active md-icon {
	line-height: .9;
}

.md-chips md-chip.active {
	background: #BCAAA4;
	border: 2px solid #5D4037;
	line-height: 28px;
}

div.feature-list .infopanel {
	height: 100%;
    background-color: #eaf1dd;
}

div.feature-list {
	height: 100%;
}

div.feature-list md-content img {
	max-width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

div.feature-list md-content .img-float {
	float: right;
	max-width: 100%;
	height: auto;
	margin: 16px;
}

div.feature-list md-content .content-body {
	float: none;
}

div.feature-list:not(.card-list) md-content .content-body div > * {
	padding-left: 16px;
	padding-right: 16px;
}

md-content .additional-content {
	clear: both;
    max-width: 50em;
    margin: 2em auto;
}

md-content .additional-content div.video {
    padding-top: 16px;
}

md-content .additional-content div.video iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.content-column {
	margin: 8px;
}

.content-column :first-child, .content-body .main-content :first-child {
	padding-top: 8px;
	margin-top: 0;
}

div.feature-list md-content .heading {
	margin-bottom: 0;
	padding-bottom: 4px;
}

div.feature-list md-content .heading + p {
	margin-top: 0;
	padding-top: 4px;
	margin-bottom: 0;
}

md-card {
	transition: background-color 0.25s;
}

md-card.highlighted {
	background-color: lightgray;
}

md-content a {
	overflow-wrap: break-word;
	word-wrap: break-word;
	word-break: break-all;
}

#gui .buttons.top-right {
    top: 20px;
    right: 20px;
    bottom: auto;
    left: auto;
    position: absolute;
}

#gui .buttons.top-left {
    top: 20px;
    left: 20px;
    bottom: auto;
    right: auto;
    position: absolute;
}

#gui .buttons.bottom-left {
    bottom: 20px;
    left: 20px;
    top: auto;
    right: auto;
    position: absolute;
}

#gui .buttons.bottom-right {
    bottom: 20px;
    right: 20px;
    top: auto;
    left: auto;
    position: absolute;
}

.md-toast-open-bottom md-fab-speed-dial.md-fab-bottom-left,
.md-toast-open-bottom md-fab-speed-dial.md-fab-bottom-right {
	-webkit-transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
	transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
	-webkit-transform: translate3d(0, -42px, 0);
	transform: translate3d(0, -42px, 0);
}

md-fab-speed-dial.md-fab-bottom-left,
md-fab-speed-dial.md-fab-bottom-right {
	-webkit-transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
	transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
	-webkit-transition-property: background-color, box-shadow, -webkit-transform;
	transition-property: background-color, box-shadow, -webkit-transform;
	transition-property: background-color, box-shadow, transform;
	transition-property: background-color, box-shadow, transform, -webkit-transform;
}

md-checkbox {
	margin-bottom: 0px;
}

.select-all-checkboxes {
	padding-left: 30px;
}

@media screen and (max-width: 959px) {
	div.feature-list md-content .img-float {
		width: 100%;
		margin: 16px 0;
	}
}

@media (min-width: 960px) {
	md-content.card-collection {
		column-count: 2;
	}

	div.feature-list md-content .img-float {
		width: 50%;
	}
}

@media (min-width: 1280px) {
	md-content.card-collection {
		column-count: 3;
	}

	div.feature-list md-content .img-float {
		width: calc(200% / 3);
	}
}

li.hs-lm-header {
	border-left: 0;
	border-right: 0;
	padding-left: 2em;
}
.hs-lm-map-content-header {
	height: 2.56em;
}
.hs-content-wrapper label.form-group { display: block; }
.ol-overlaycontainer-stopevent {pointer-events: none;}
.ol-overlaycontainer-stopevent *{pointer-events: auto;}
.hs-hover-popup{max-height: 20em; max-width: 30em; overflow-y: scroll; visibility: visible;}

.hs-toolbar-button{height: 2.4em}
.bsi .dropdown-menu.datetime-picker-menu {min-width: 22rem;}
.bsi a.hs-sensor-type {color: black}
.bsi a.hs-sensor-unit{color: black; font-weight: bold;}
.hs-sensor{line-height: 1.9em;}
.hs-date-time-chevron:not(*:root) { /* Supports only WebKit browsers */
	visibility: hidden;
}
