/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}


.mainpanel {
  position: absolute;
  left: 46px;
  width: 400px;
  z-index: 1000;
  top: 6px;
  max-height: 100%;
  overflow-y: auto;
}

.layerpanel {
  position: absolute;
  left: 450px;
  width: 300px;
  z-index: 1000;
  top: 6px;
  max-height: 400px;
  overflow-y: auto;
}

#toolbar {
    left: 3px;
    width: 42px;
    position: absolute;
    top: 3px;
}

#map {
  height: 100%;
  width: 100%;
}

.modal-backdrop{visibility:hidden}
.toolbuttons {display: inline-block}
.form-group {
    margin-bottom: 5px;
}
hr {
    margin-top: 0px;
    margin-bottom: 5px;
}
.layer-checked, .layer-more{
    width: 20px;
    height: 21px;
    float:right;
    font-size: 19pt;
}

.layer-more{
    display: none;
    margin-top: -3px;
    margin-left: 4px;
    margin-right: 4px;
}
    

.ol-zoomslider, .ol-zoom {
    right: .5em;
    left: auto;
    top: 40px;
}

.ol-zoomslider {position: absolute; right:0.8em !important; height: 200px; width: 1.96em; top: 105px !important}

.ol-mouse-position {
    bottom: 8px;
    left: 170px;
    position: absolute;
    color: #fff;
    top: auto;
    right: auto;
}

.search-container {
}
.search_address {
    width: 200px;
    position: absolute;
    top: 5px;
}

#searchresults {
    position: absolute;
    left: 50%;
    top: 45px; 
    min-width: 200px;
}

#toolbar button {margin: 1px; position: relative;}
#toolbar span, #toolbar i {width: 14px; height: 14px}
