/* app css stylesheet */

.glyphicon-spin {
    -webkit-animation: spin 1000ms infinite linear;
    animation: spin 1000ms infinite linear;
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@font-face {
  font-family: 'OpenWeb Icons';
  src: url("font/openwebicons.eot");
  src: url("font/openwebicons.eot?#iefix") format("embedded-opentype"),
      url("font/openwebicons.woff2") format("woff2"),
      url("font/openwebicons.woff") format("woff"),
      url("font/openwebicons.ttf") format("truetype"),
      url("font/openwebicons.svg#openweb_iconsregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

.sb-left div#map {
    margin-left: 48px;
}

.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}
.menu:before {
    content: "[";
}
.menu:after {
    content: "]";
}
.menu > li {
    display: inline;
}
.menu > li:before {
    content: "|";
    padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
    content: "";
    padding: 0;
}

.mainpanel {
    border: none;
    margin-bottom:0;
}

div.mainpanel:not(.hs-stc-mainpanel) > div.panel-body {
    padding: 0px;
}

.gui-overlay {
    z-index: 1000;
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    pointer-events: none;
    background: none !important;
}

.hs-filter {
    border-left:0;
    border-right:0;
}

.layerpanel {
    max-height: 350px;
    overflow-y: auto;
    border: 0;
    margin-bottom: 0;
    border-bottom: 0;
    word-wrap: break-word;
}

div.list-group-item.hs-lm-list {
    border:0;
    padding-top: 0;
    padding-bottom: 0;
}
.hs-lm-list > ul.list-group.row {
    margin-bottom:0;
}

ul.hs-lm-baselayerlist {
    margin-bottom:0;
}

ul.hs-lm-mapcontentlist {
    margin-top: 0;
    margin-bottom: 0;
    border-bottom: 1px solid #ddd;
}

li.hs-lm-header {
    padding: 10px 5px;
}

#hs-comp-advancedPanel {
    margin-top: 10px;
}

.hs-comp-ext-row {
    margin-left:0;
    margin-right:0;
}
.hs-comp-ext {
    padding-left: 3px;
    padding-right: 3px;
}
.hs-comp-ext input {
    text-align: center;
    padding: 3px 6px;
}

.hs-lm-header:first-child, .hs-lm-list:first-child, .hs-lm-item:first-child,.hs-comp-header:first-child, .hs-comp-list:first-child, .hs-comp-item:first-child {
    border-top-left-radius:0;
    border-top-right-radius:0;
}

.hs-lm-header {
    border-left:0;
    border-right:0;
}

.hs-lm-list:last-child, .hs-lm-item:last-child, .hs-comp-list:last-child, .hs-comp-item:last-child {
    border-bottom-left-radius:0;
    border-bottom-right-radius:0;
}

li.hs-lm-item.hovering {
    text-decoration: underline;
}

li.hs-lm-item, li.hs-comp-item {
    padding: 10px 5px;
    word-wrap: break-word;
    cursor: pointer;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
}

li.hs-comp-item {
    min-height: 60px;
    padding: 5px;
}

.hs-lm-item-status {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 20px;
}

div.hs-lm-item-title {
    display: inline-block;
    width: calc(100% - 108px);
}

div.hs-comp-item-title {
    display: inline-block;
    width: calc(100% - 59px);
}

div.hs-lm-item-controls {
    display: inline-block;
    text-align: right;
    vertical-align: top;
    width: 80px;
}

div.hs-comp-item-controls {
    display: inline-block;
    text-align: right;
    vertical-align: top;
    width: 54px;
}

.hs-comp-item-controls > button {
    margin-bottom: 5px;
}

i.hs-lm-warning-scale {
    color: #f0ad4e;
    padding: 1px 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    line-height: 1.5;
    font-size: 12px;
    top: 2px;
    cursor: default;
}

i.hs-lm-queryable {
    cursor: default;
    color: #337ab7;
    padding: 1px 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    line-height: 1.5;
    font-size: 12px;
    top: 2px;
}
.hs-tab-singleDS {
    display: table-cell!important;
    table-layout: fixed;
    width: 49%;
    text-align: center;
}

.hs-dataset-panel .panel-body {
    padding:0;
}

#hs-comp-filter {
    text-align: center;
}

ul.hs-comp-list {
    margin-bottom:0;
    overflow-y: auto;
}

.modal-backdrop {
    visibility: hidden
}

.toolbuttons {
    display: inline-block
}

.form-control {
    border-radius:0;
}

.capabilities_label {
    padding-right:0px;
    padding-left:0px;
}

.capabilities_input {
    padding-right:0px;
    padding-left:15px;
}

hr {
    margin-top: 0px;
    margin-bottom: 5px;
}

.ol-zoom {
    bottom: 0.5em;
    top: auto;
    right: 0.5em;
    left: auto;
}
.ol-touch .ol-zoomslider {
    display: none;
}
.ol-mouse-position {
    bottom: 8px;
    left: 170px;
    position: absolute;
    color: #fff;
    top: auto;
    right: auto;
}

.search_address {
    width: 250px;
}

#searchresults {
    top: 45px;
    min-width: 250px;
}

.locate:not(.ol-collapsed) {
    background: rgba(255, 255, 255, .8);
}
.locate,
.ol-control button,
.ol-has-tooltip [role=tooltip],
.ol-scale-line-inner {
    font-family: 'Lucida Grande', Verdana, Geneva, Lucida, Arial, Helvetica, sans-serif;
}
.locate {
    text-align: right;
    bottom: 4.5em;
    right: 0.5em;
    max-width: calc(100% - 1.3em);
}
.locate ul {
    float: left
}
.locate button {
    float: right;
}
.locate.ol-collapsed ul,
.locate:not(.ol-collapsed) button:hover [role=tooltip] {
    display: none;
}
.locate:not(.ol-collapsed) {
    width: 175px;
}
.locate ul {
    list-style: none
}

.ol-rotate {
    bottom: 6.5em;
    left: auto;
    right: 0.5em;
    top: auto;
}

div#infopanel.ng-scope .first-col {
    width: 100px;
    overflow-x: auto;
}
div#infopanel.ng-scope .second-col {
    width: 100px;
    overflow-x: auto;
}
.dc-chart g.row text {
    fill: black;
}
. #right-pane {
    pointer-events: auto;
}
.but-title-sm {
    float: right;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}
.but-title-sm:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    filter: alpha(opacity=50);
    opacity: .5
}
button.but-title-sm {
    -webkit-appearance: none;
    cursor: pointer;
    background: 0 0;
    border: 0;
}
.popover-content {
    min-width: 230px;
}
.popover {
    max-width: 1000px;
    max-height: 1000px
}

.list-group-item.active .datasource_addlayer {
    color: #fff
}

.datasources_item_description {
    display:inline-block;
    word-break: break-all;
}

.thumbnail {
    height: 62px
}

.ol-attribution {
    left: 0.5em;
    right: auto;
    bottom: 2.4em
}
.ol-scale-line {
    left: 0.5em;
}
#datasource_selector-metadata-dialog dd {
    padding-left: 10px;
}
.list-group-item.active a {
    color: #fff;
}
.btn .close {
    font-size: 20px
}


/******SIDEBAR****************/
.panelspace {
    box-shadow: 0 -1px 24px rgba(0,0,0,0.4);
    background-color: white;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    padding-left: 0;
    padding-right: 0;
    pointer-events: auto;
    position: absolute;
    top: 0;
    width: 400px;
    z-index: 2;
}

.sb-right .panelspace {
    right: 0;
}
.sb-left .panelspace {
    left: 0
}

.sb-left.open #map {
    margin-left:400px;
}

.sb-right.open #map {
    margin-right:400px;
}


div#content-wrapper:not(.open) div.panelspace-wrapper {
    background-color: transparent;
    width: 48px;
    overflow-x: hidden;
}
.panelspace-wrapper {
    height: 100%;
    padding-left:0;
    padding-right:0;
    overflow-y: auto;
    width: 400px;
}

div#sidebar {
    bottom: 0;
    position: absolute;
    top: 0;
}

#content-wrapper.open .panelspace:not(.labels) div#sidebar {
    border-right: 1px solid #ddd;
}

.panelspace.labels #sidebar {
    width: 400px;

}
.panelspace:not(.buttons) #sidebar {
    display: none;
}

#content-wrapper.sb-left:not(.open) div#sidebar {
    background-color: white;
    right:auto;
    width: 48px;
}

#content-wrapper.sb-right:not(.open) div#sidebar {
    background-color: white;
    left: auto;
    width: 48px;
}

#content-wrapper:not(.open) .panelspace {
    width: 48px;
    border-right: 1px solid #ddd;
}

#content-wrapper.open .sidebar-list {
    width: 100%;
}

#content-wrapper.open div.panelspace:not(.labels) .sidebar-list {
    width: 48px;
}

#sidebar ~ div#panelplace {
    height: 100%;
    overflow-y: auto;
    width: 351px;
    margin-left: 49px;
}

div#panelplace > div{
    height:100%;
}
div.panelspace:not(.buttons) #sidebar ~ div#panelplace {
    margin-left:0;
    width: 400px
}
a.sidebar-main {
    padding: 0;
    cursor: default;
}


.sidebar-main > span {
    padding: 10px 15px;
    cursor: pointer;
}
.sidebar-list .sidebar-main .menu-icon {
    font-size: 19px;
}

.sidebar-list .list-group-item {
    border-left: 0px;
    border-right: 0px;
}

.sidebar-list .list-group-item:first-child {
    border-top-left-radius:0;
    border-top-right-radius:0;
}

.sidebar-list .list-group-item:last-child {
    border-bottom-left-radius:0;
    border-bottom-right-radius:0;
}

.sidebar-item-title {
    margin-left: 20px;
}

.panelspace:not(.labels) .sidebar-list span.sidebar-item-title {
    display: none;
}

#content-wrapper.sb-right:not(.open) .sidebar-list {
    right: 0;
}

#content-wrapper.sb-left:not(.open) .sidebar-list {
    left: 0;
}

#content-wrapper:not(.open) .sidebar-item-title {
    display:none
}

#content-wrapper:not(.open) #panelplace {
    display:none;
}


/*************/
/** TOOLBAR **/
/*************/

#toolbar {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 326px;
    display: inline-block;
}

.sb-left.open #toolbar {
    margin-left:410px;
}

.sb-left #toolbar {
    margin-left: 60px;
}

/********************/
/** STATUS CREATOR **/
/********************/

#stc-save, #stc-saveas {
    display:none;
}

#hs-stc-footer {
    text-align:center;
    margin-top:10px;
}

#hs-stc-footer button {
    width: 100px;
}

#hs-stc-abstract {
    resize: vertical;
    min-height: 175px;
}

/*********/
/** OWS **/
/*********/

#hs-ows-abstract {
    resize: vertical;
    min-height: 100px;
}

#hs-ows-advancedPanel {
    margin-top: 10px;
}

/************/
/** STYLER **/
/************/

.hs-styler-colorbox {
    width:14px;
    height: 14px;
    display: inline-block;
    margin:1px;
}

.hs-styler-colorbox:hover {
    width:20px; height: 20px; margin: -3px 0px;
}

.hs-styler-selected-color-box {
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
    margin: 3px;
}

.hs-styler-iconbox {
    width:32px;
    height: 44px;
    display: inline-block;
    margin:1px;
}


.hs-styler-iconbox:hover {
    width:30px; height: 30px; margin: -3px 0px;
}

.hs-styler-selected-icon-box {
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
    margin: 3px;
}

.hs-panel-margin .form-horizontal .form-group {
    margin-right: 0;
    margin-left: 0;
}

.hs-icon-rdf {
    color: #000;
    display: inline-block;
    font-family: 'OpenWeb Icons';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    position: relative;
    top: 1px;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

.hs-icon-rdf:before {
    content: "ï€¹";
}

div#hs-info-area {
    position: absolute;
    left: 50%;
    bottom: 7px;
    z-index: 3;
    transition: all 2s ease;
    transform: translateX(-50%);
    background-color: #fff;
    box-shadow: 0 1px 4px rgba(0,0,0,0.3);
    vertical-align: bottom;
    min-height: 100px;
    border-radius: 2px;
}

div#hs-info-composition-image {
    background-size: 96px 64px;
    height: 100px;
    margin: 4px;
    position: relative;
    width: 100px;
    font-size: 50px;
    text-align: center;
    /* vertical-align: middle; */
    /* display: inline-block; */
}

div#hs-info-composition {
    display: flex;
}

div#hs-info-composition-container {
    font-size: 12px;
    line-height: 12px;
    padding: 12px;
}

div.hs-info-composition-title {
    font-weight: bold;
    padding-bottom: 6px;
}

.open div#hs-info-container {
    margin-left: 400px;
    width: calc(100% - 400px);
}
div#hs-info-container {
    height: 100%;
    margin-left: 48px;
    position: relative;
    vertical-align: bottom;
    width: calc(100% - 48px);
}

/**********************************/
/** SIDEBAR&TOOLBAR RESPONSIVITY **/
/**********************************/

@media (max-width: 767px) {
    .open div.panelspace, div.panelspace, .panelspace-wrapper {
        width: 300px;
    }

    .open div#hs-info-container {
        margin-left: 300px;
        width: calc(100% - 300px);
    }

    div#content-wrapper.sb-left.open div.panelspace:not(.labels) .sidebar-list {
        left: 250px;
    }

    div#content-wrapper.sb-right.open div.panelspace:not(.labels) .sidebar-list {
        right: 250px;
    }

    .sb-left.open #map {
        margin-left:300px;
    }

    .sb-right.open #map {
        margin-left:300px;
    }

    div#sidebar ~ div#panelplace {
        width: 251px;
    }

    div.panelspace:not(.buttons) div#sidebar ~ div#panelplace {
        width:300px;
    }

    .panelspace.labels #sidebar {
        width: 300px;
    }

    .sb-left.open #toolbar {
       margin-left: 310px;
    }

    .panel-footer {
        padding: 5px;
    }

    .panelplace .list-group-item {
        padding: 10px;
    }
}




div#hs-info-composition-image > span {
    line-height: 100px;
    width: 100px;
}
