/* app css stylesheet */

.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}
.menu:before {
    content: "[";
}
.menu:after {
    content: "]";
}
.menu > li {
    display: inline;
}
.menu > li:before {
    content: "|";
    padding-right: 0.3em;
}
.menu > li:nth-child(1):before {
    content: "";
    padding: 0;
}
.mainpanel {
    width: 100%;
}
.gui-overlay {
    z-index: 1000;
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    pointer-events: none;
    background: none !important;
}
div.panelspace {
    pointer-events: auto;
    max-height: 100%;
    overflow-y: auto;
    padding-left: 0;
    padding-right: 0;
    overflow-x: hidden;
}
.layerpanel {
    width: 100%;
    top: 6px;
    max-height: 400px;
    overflow-y: auto;
}
#toolbar {
    left: 3px;
    position: absolute;
    top: 3px;
}
/*
#map {
  height: 100%;
  width: 100%;
}*/

.modal-backdrop {
    visibility: hidden
}
.toolbuttons {
    display: inline-block
}
.form-group {
    margin-bottom: 5px;
}
hr {
    margin-top: 0px;
    margin-bottom: 5px;
}
input.layer-checked,
input.layer-more,
.datasource_addlayer {
    width: 20px;
    height: 21px;
    float: right;
    font-size: 19pt;
}
.datasource_addlayer,
.layer-more {
    /*margin-top: -8px;*/
    margin-left: 4px;
    margin-right: 4px;
}
.layer-more {
    display: none;
}

.ol-zoom {
    top: 2.8em;
}
.ol-touch .ol-zoomslider {
    display: none;
}
.ol-mouse-position {
    bottom: 8px;
    left: 170px;
    position: absolute;
    color: #fff;
    top: auto;
    right: auto;
}
.search-container {
    pointer-events: auto;
    margin-top: 40px;
    padding-left: 15px;
}
.search_address {} #searchresults {
    top: 45px;
    min-width: 200px;
}
#toolbar button {
    margin: 0px;
    position: relative;
}
#toolbar span,
#toolbar i {
    width: 14px;
    height: 14px
}
.locate:not(.ol-collapsed) {
    background: rgba(255, 255, 255, .8);
}
.locate,
.ol-control button,
.ol-has-tooltip [role=tooltip],
.ol-scale-line-inner {
    font-family: 'Lucida Grande', Verdana, Geneva, Lucida, Arial, Helvetica, sans-serif;
}
.locate {
    text-align: right;
    top: 7.5em;
    left: 0.5em;
    right: auto;
    max-width: calc(100% - 1.3em);
}
.locate ul {
    float: left
}
.locate button {
    float: right;
}
.locate.ol-collapsed ul,
.locate:not(.ol-collapsed) button:hover [role=tooltip] {
    display: none;
}
.locate:not(.ol-collapsed) {
    width: 175px;
}
.locate ul {
    list-style: none
}

.ol-rotate {
    top:9.5em;
    left: 0.5em;
    right: auto;
}

div#infopanel.ng-scope .first-col {
    width: 100px;
    overflow-x: auto;
}
div#infopanel.ng-scope .second-col {
    width: 100px;
    overflow-x: auto;
}
.dc-chart g.row text {
    fill: black;
}
. #right-pane {
    pointer-events: auto;
}
.but-title-sm {
    float: right;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}
.but-title-sm:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    filter: alpha(opacity=50);
    opacity: .5
}
button.but-title-sm {
    -webkit-appearance: none;
    cursor: pointer;
    background: 0 0;
    border: 0;
}
.popover-content {
    min-width: 230px;
}
.popover {
    max-width: 1000px;
    max-height: 1000px
}
.list-group-item.active .datasource_addlayer {
    color: #fff
}
.panel-body {
    padding: 3px;
}
div.row {
    margin-right: 0px;
    margin-left: 0px;
}
.thumbnail {
    height: 62px
}

.ol-attribution {
    left: 0.5em;
    right: auto;
    bottom: 2.4em
}
.ol-scale-line {
    left: 0.5em;
}
#datasource_selector-metadata-dialog dd {
    padding-left: 10px;
}
.list-group-item.active a {
    color: #fff;
}
.btn .close {
    font-size: 20px
}
.toolbar-buttons {
    display: inline-block;
}

/******SIDEBAR****************/

.panelspace-wrapper {
    background: #fff;
    position: fixed;
    height: 100%;
    padding-left:0;
    padding-right:0;
/*    z-index: 999*/
}

ul.sidebar-list li a,
div#sidebar,
#content-wrapper,
div#content-wrapper div.gui-overlay {
    transition: all .4s ease 0s
}

ul.sidebar-list {
    position: absolute;
    top: 0;
    bottom: 0;
    padding: 0;
    margin: 0;
    list-style: none;
    text-indent: 18px;
    overflow-x: hidden;
    overflow-y: auto;
}
div.panelspace:not(.labels) ul.sidebar-list {
    background-color: #f7f7f7;
}

ul.sidebar-list li a {
    /*color: #fff;*/
    display: block;
    /*float: left;*/
    text-decoration: none;
/*    width: 250px*/
}

/*@media only screen and (min-width: 561px) {
    div#content-wrapper:not(.open) div#sidebar {
        right: 50px;
    }
}

#content-wrapper:not(.open) ul.sidebar-list .sidebar-title.separator,
.sidebar-footer,
ul.sidebar-list .sidebar-item a:hover,
ul.sidebar-list .sidebar-main a {
    background: #2d3e63
}

#content-wrapper:not(.open) ul.sidebar-list li a {
    width:50px
}

#content-wrapper:not(.open) ul.sidebar-list {
    bottom: 0
}


#toolbar .btn-mobile-only {
    display: none;
}*/

#panelplace {
    padding-left: 50px;
}

ul.sidebar-list .menu-icon {
    color: #555;
}
ul.sidebar-list .sidebar-main .menu-icon {
    float: left;
    font-size: 18px;
    /*padding-right: 28px;*/
    line-height: 50px
}

ul.sidebar-list .sidebar-main {
    height: 65px
}
ul.sidebar-list .sidebar-main a {
    font-size: 18px;
    line-height: 60px
}

ul.sidebar-list .sidebar-title {
    height: 35px;
    line-height: 40px;
    text-transform: uppercase;
    transition: all .6s ease 0s
}


ul.sidebar-list .sidebar-item {
    height: 40px
}

ul.sidebar-list .sidebar-item.active {
    background-color: #23527c;
}
ul.sidebar-list .sidebar-item.active span.menu-icon {
    color: #fff;
}

ul.sidebar-list .sidebar-item a {
    text-indent: 18px;
    font-size: 15px;
    line-height: 40px
}

ul.sidebar-list .sidebar-item span.menu-icon:hover {
    background-color: #23527c;
    color: #fff;
}

ul.sidebar-list .sidebar-item .menu-icon {
    float: left;
    line-height: 40px;
    width: 50px
}
.panelspace:not(.labels) ul.sidebar-list {
    border-right: 1px solid #ddd
}
.panelspace:not(.labels) ul.sidebar-list .sidebar-title {
    display: none;
    height: 0;
    text-indent: -100px
}

.panelspace:not(.labels) ul.sidebar-list span.sidebar-item-title {
    display: none;
}


#content-wrapper:not(.open) ul.sidebar-list .sidebar-title.separator {
    display: block;
    height: 2px;
    margin: 13px 0
}

