.md-scroll-mask{
    display: none !important;
}

.map-floating-gui {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 991;
}
.map-floating-gui > * {
    pointer-events: auto;
}

.left-side-panel-button {
    position: absolute;
    top: 1em;
    margin: 0;
    min-width: 2em;
}

.map-tool-panel {
    position: absolute;
    top: 4em;
    margin-left: 1em;
    min-width: 2em;
    min-height: 8em;
    background-color: rgba(240, 240, 240, 0.5);
}
.map-tool-panel:hover {
    background-color: rgb(240, 240, 240);
}
.map-tool-panel > .md-button {
    margin: 0;
}

.main-toolbar {
    position: absolute;
    top: 2em;
    right: 2em;
    max-width: 40vw;
    background-color: rgba(240, 240, 240, 0.7);
}
.main-toolbar:hover {
    background-color: rgb(240, 240, 240);
}
.main-toolbar .md-button {
    min-width: 40px;
    margin-right: 0px;
}
.main-toolbar .md-button:last-child {
    margin-right: 8px;
}

.bottom-toolbar {
    position: absolute;
    bottom: 2em;
    right: 2em;
    max-width: 40vw;
    background-color: rgba(240, 240, 240, 0.7);
}
.bottom-toolbar:hover {
    background-color: rgb(240, 240, 240);
}
.bottom-toolbar > .md-button {
    min-width: 32px;
    margin: 4px;
    margin-right: 0px;
}
.bottom-toolbar > .md-button:last-child {
    margin-right: 4px;
}

.sidenav-panel,.sidenav-panel > *{
    height: 100%;
}
.panel-close-button{
    position: absolute;
    top: 0.2em;
    right: 0.5em;
    color: #000;
    z-index: 10;
}
.selected-basemap{
    background-color: #CCCCCC;
}
.basemap-card:focus{
    outline-width: 0px;
}

.layer-toolbar > .md-button {
    margin: 0px;
}

.divider-layer{
    border-top: 1px solid #C5C5C5;
}
.divider-strong {
    border-color: #8F8F8F;
}
.divider-light {
    border-color: #B1B1B1;
}

/* Composition panel tweaks*/
.composition md-input-container {
    margin: 2px 0px;
}
.composition md-list-item._md-button-wrap > div.md-button:first-child {
    padding: 0px;
}
.composition md-input-container .md-errors-spacer {
    min-height: 0px;
}
.composition .md-button.md-icon-button {
    margin: 0px;
}
.composition > md-content:first-child {
    margin-top: 6px;
}

/* Animation */
.hs-fade, .hs-fade > * {
    -webkit-transition:all linear 0.5s;
    transition:all linear 0.5s;
}
.hs-fade.ng-hide, .hs-fade.ng-hide > *  {
    opacity:0;
  }

  /*Status manager */
  .no-margin-bottom md-input-container {
      margin-bottom: 0px;
  }
  .no-margin-bottom md-input-container .md-errors-spacer {
      min-height: 0px;
  }
  .status-creator .md-inline-form md-checkbox {
      margin: 10px 0px;
  }

/*No margins under inputs - compact view */
*.input-compact {
    margin-bottom: 3px;
}
*.input-compact .md-errors-spacer {
    min-height: 0px;
}

*.input-compact2 {
    margin-bottom: 6px;
}

/*Compact icons*/
*.icon-compact, *.icon-compact > *, .md-button.md-icon-button.icon-compact {
    padding: 2px;
    height: 28px;
    margin: 0px;
    width: 28px;
}