<form class="form-horizontal" name="frmConnect" role="form">
    <hs-add-data-common-url type="Arcgis" [(url)]="HsAddDataArcGisService.url" [(connect)]="connect"></hs-add-data-common-url>

    <div [hidden]="!HsAddDataArcGisService.showDetails">
        <!-- <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text control-label">{{'ADDLAYERS.imageFormat' | translate}}</span>
                </div>
                <select class="form-control" name="imageFormat" [(ngModel)]="data.image_format">
                    <option *ngFor="let format of data.image_formats">{{format}}</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text control-label">{{'ADDLAYERS.queryFormat' | translate}}</span>
                </div>
                <select class="form-control" name="queryFormat" [(ngModel)]="data.query_format">
                    <option *ngFor="let format of data.query_formats">{{format}}</option>
                </select>
            </div>
        </div>

        <div class="form-group" [hidden]="!data.srs || data.srs.toUpperCase() == data.mapProjection">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text control-label">{{'ADDLAYERS.srs' | translate}}</span>
                </div>
                <select class="form-control" name="srs" [(ngModel)]="data.srs" (change)="srsChanged()">
                    <option *ngFor="let i of data.srss | slice:0:50">{{i}}</option>
                </select>
            </div>
        </div> -->

        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text control-label">{{'ADDLAYERS.folderName' | translate}}</span>
                </div>
                <input class="form-control" name="path" [(ngModel)]="data.path" />
            </div>
        </div>

        <div class="form-group">
            <div class="capabilities_input">
                <label class="capabilities_label control-label"> <input type="checkbox"
                        name="registerMetadata" [(ngModel)]="data.registerMetadata" /> {{'ADDLAYERS.registerMetadata' | translate}}</label>
            </div>
        </div>
        <hr />
        <table class="table table-sm table-striped table-bordered">
            <thead>
                <th style="width:1em">&nbsp;</th>
                <th>{{'COMMON.name' | translate}}</th>
            </thead>
            <tbody *ngFor="let service of data.services">
                <tr>
                    <td><input type="checkbox" name="service" (change)="changed()"[(ngModel)]="service.checked" /></td>
                    <td>{{service.name}}</td>
                </tr>
            </tbody>
        </table>
        <div class="w-100 d-flex justify-content-between bg-light pb-2" style="position: sticky;
        bottom: 0">
            <button class="btn btn-primary" (click)="selectAllLayers(data.services)">{{'ADDLAYERS.selectAllLayers' | translate}}</button>
            <button class="btn btn-primary" [disabled]="!hasChecked" [title]="'ADDLAYERS.addSelected' | translate" (click)="addLayers(true)">{{'ADDLAYERS.WFS.addToMap' | translate}}</button>
        </div>
    </div>
</form>
