/************/
/** STYLER **/
/************/

.hs-styler-colorbox {
    width: 14px;
    height: 14px;
    display: inline-block;
    margin: 1px;
}

.hs-styler-colorbox:hover {
    width: 25px;
    height: 25px;
    margin: -5px -4.5px;
    border: 1px solid hsl(0, 0%, 0%);
    z-index: 10;
}
.hs-styler-remove:hover {
    color: #007bff;
    cursor: pointer;
}
.hs-styler-selected-color-box {
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
    margin: 3px;
    border: solid 1px gray;
}

.hs-styler-iconbox {
    width: 47px;
    height: 51px;
    display: inline-block;
    padding: 2px 0 0 0;
    border: 2px solid hsl(0, 0%, 100%);
}

.hs-styler-iconbox:hover {
    border: 2px dashed hsl(0, 0%, 0%);
}

.hs-styler-selected-icon-box {
    width: 45px;
    height: 45px;
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
}
@media only screen and (max-width: $mobile-layout-breakpoint) {
    .hs-styler-colorbox {
        width: 30px;
        height: 30px;
        display: inline-block;
        margin: 3px;
    }
}
