<div id="roadwork-info-offline">
    <div class="popup-header">
        <h4 class="popup-title">
            <translate>Open land use parcel</translate>
        </h4>
    </div>
    <div class="popup-body">
        <table class="table table-striped" description object="roadwork"></table>
        <h4>Point of interest in parcel</h4>
        <table class="table">
            <tbody>
                <tr ng-repeat="poi in roadwork.pois">
                    <td><a ng-click="$event.preventDefault(); describePoi(poi)" ng-href="#">{{poi.url}}</a>
                        <table class="table table-striped" description object="poi" ng-show="poi.expanded"></table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
