<div class="btn-group w-100 mt-3">
    <button *ngFor="let type of types" [ngClass]="{'active': type.id == typeSelected }" (click)="selectType(type.id)" class="btn btn-light btn-outline-secondary btn-sm rounded-0 w-25">
        {{type.id}}</button>
</div>
<div>
    <hs-data-url-arcgis *ngIf="typeSelected == 'arcgis'"></hs-data-url-arcgis>
    <hs-data-url-wfs *ngIf="typeSelected == 'wfs'"></hs-data-url-wfs>
    <hs-data-url-wms *ngIf="typeSelected == 'wms'"></hs-data-url-wms>
    <hs-data-url-wmts *ngIf="typeSelected == 'wmts'"></hs-data-url-wmts>
    <hs-data-url-vector *ngIf="typeSelected == 'vector'"></hs-data-url-vector>
</div>
