<form class="form-horizontal" name="frmConnect" role="form">
    <hs-add-layers-url [type]="'Arcgis'" [url]="url" [connect]="connect"></hs-add-layers-url>

    <div [hidden]="!showDetails">
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text control-label" translate>Image format</span>
                </div>
                <select class="form-control" name="imageFormat" [(ngModel)]="data.image_format">
                    <option *ngFor="let format of data.image_formats">{{format}}</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text control-label" translate>Query format</span>
                </div>
                <select class="form-control" name="queryFormat" [(ngModel)]="data.query_format">
                    <option *ngFor="let format of data.query_formats">{{format}}</option>
                </select>
            </div>
        </div>

        <div class="form-group" [hidden]="!data.srs || data.srs.toUpperCase() == data.mapProjection">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text control-label" translate>SRS</span>
                </div>
                <select class="form-control" name="srs" [(ngModel)]="data.srs" (change)="srsChanged()">
                    <option *ngFor="let i of data.srss | slice:0:50">{{i}}</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text control-label" translate>Folder name</span>
                </div>
                <input class="form-control" name="path" [(ngModel)]="data.path" />
            </div>
        </div>

        <div class="form-group">
            <div class="capabilities_input">
                <label class="capabilities_label control-label" translate> <input type="checkbox"
                        name="registerMetadata" [(ngModel)]="data.registerMetadata" /> Register metadata</label>
            </div>
        </div>
        <hr />
        <table class="table table-sm table-striped table-bordered">
            <thead>
                <th style="width:1em">&nbsp;</th>
                <th translate>Name</th>
            </thead>
            <tbody *ngFor="let service of data.services">
                <tr>
                    <td><input type="checkbox" name="service" [(ngModel)]="service.checked" /></td>
                    <td>{{service.name}}</td>
                </tr>
            </tbody>
        </table>
        <button class="btn btn-primary pull-right" style="position: fixed;
        margin-left: 570px; bottom:30px;" (click)="addLayers(true)"><i
            class="icon-plus"></i></button>
    </div>
</form>
