<div>
    <hs.layout.panel-header panel-name="Search" panel-title="'Search'| translate"></hs.layout.panel-header>
    <div class="input-group hs-search-address pt-1 pb-1 d-flex">
        <div class="input-group-prepend">
            <button class="btn btn-light btn-outline-secondary" ng-if="!clearvisible"><i class="glyphicon icon-search"></i></button>
            <button class="btn btn-light btn-outline-secondary" ng-if="clearvisible" ng-click="clear()"><span aria-hidden="true" class="close">×</span><span class="sr-only"><translate>Clear</translate></span></button>
        </div>
        <input ng-style="{'height':'unset'}" ng-model="query" class="hs-search-address-input flex-grow-1 w-75" ng-init="searchInputVisible = true" ng-show="searchInputVisible" class="form-control" placeholder="{{'Search:'|translate}}" ng-change="queryChanged()"/>
    </div>
    <div hs.search.directive_searchresults></div>
</div>
