<div class="input-group">
    <div class="input-group-prepend">
        <button (click)="searchInputVisible = !searchInputVisible"
            class="btn btn-light btn-outline-secondary rounded-0 hs-toolbar-button"><i class="glyphicon icon-search"
                title="Search: "></i></button>
    </div>
    <input [(ngModel)]="query" [hidden]="!searchInputVisible"
        class="form-control hs-search-address-input rounded-0 hs-toolbar-button" [placeholder]="'SEARCH.search' | translate"
        (ngModelChange)="queryChanged()">
    <div class="input-group-append" *ngIf="clearvisible">
        <button class="btn btn-light btn-outline-secondary" (click)="clear()"><span aria-hidden="true"
                class="close"></span>x<span class="sr-only">
                {{'COMMON.clear' | translate}}
            </span></button>
    </div>
</div>
