<div class="hs-advanced-options">
  <div class="form-group">
    <label class="capabilities_label control-label">{{'ADDLAYERS.srs' | translate}}</label>
    <input class="form-control" name="srs" [(ngModel)]="data.srs" />
  </div>

  <div class="form-group">
    <label class="capabilities_label control-label">{{'ADDLAYERS.folderName' | translate}}</label>
    <input class="form-control" name="folder" [(ngModel)]="data.folder_name" />
  </div>

  <div class="form-group" *ngIf="hsAddDataVectorService.isKml(data.type, data.url)">
    <label class="capabilities_label control-label">{{'ADDLAYERS.VECTOR.extractStyles' |
      translate}}</label>
    <input type="checkbox" name="extractStyles" [(ngModel)]="data.extract_styles" />
  </div>

  <hs-add-data-target-position [(addUnder)]="data.addUnder"></hs-add-data-target-position>
</div>