<div class="card hs-main-panel">
    <div class="card-header"><span class="title"><translate>Tracking</translate></span>
        <button type="button" class="close" ng-click="HsCore.closePanel(this); clearAll()">
            <span aria-hidden="true">×</span>
            <span class="sr-only" translate>Close</span>
        </button>
    </div>
    <div class="card-body">
        <div class="card-body">
            <a class="btn btn-primary btn-block" ng-click="startTracking()" ng-if="isTracking === false">Start tracking</a>
            <a class="btn btn-warning btn-block" ng-click="stopTracking()" ng-if="isTracking === true">Stop tracking</a>
        </div>
        <div class="card-body">
            <div ng-if="observations.length > 0">
                <hr>
                <label>Ten most recent observations</label>
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th>Time</th>
                            <th class="text-right">Temperature</th>
                            <th class="text-right">Percipitation</th>
                            <th class="text-right">Speed</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="o in observations">
                            <td>{{o.time| date : 'HH:mm:ss'}}</td>
                            <td class="text-right">{{o.temperature| number : 1}} &deg;C</td>
                            <td class="text-right">{{o.percipitation}} mm</td>
                            <td class="text-right">{{o.speed}} m/s</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
