<fieldset class="form">
  <div [formGroup]="parentFormGroup.controls.bbox" class="mb-3">
    <div class="d-flex w-100 stc-extent-row">
      <div class="form-floating px-0">
        <input type="text" formControlName="east" class="form-control" id="floatingEast"
          [title]="'COMMON.east' | translate  ">
        <label for="floatingEast">{{'COMMON.east' | translate }}</label>
      </div>
      <div class="form-floating px-0">
        <input type="text" formControlName="south" class="form-control" id="floatingSouth"
          [title]="'COMMON.south' | translate  ">
        <label for="floatingSouth">{{'COMMON.south' | translate }}</label>
      </div>
      <div class="form-floating px-0">
        <input type="text" formControlName="west" class="form-control" id="floatingWest"
          [title]="'COMMON.west' | translate  ">
        <label for="floatingWest">{{'COMMON.west' | translate }}</label>
      </div>
      <div class="form-floating px-0">
        <input type="text" formControlName="north" class="form-control" id="floatingNorth"
          [title]="'COMMON.north' | translate  ">
        <label for="floatingNorth">{{'COMMON.north' | translate }}</label>
      </div>
    </div>
    <button type="button" class="btn text-bg-light border border-top-0 w-100 rounded-0 btn-sm"
      (click)="setCurrentBoundingBox()">{{'SAVECOMPOSITION.form.userCurrentMapExtent'
      | translate }}</button>
  </div>

  <div class="form-group">
    <ul class="list-group" id="stc-layerlist">

      @for (layer of layers; track layer; let i = $index) {
      <li class="list-group-item p-0">
        <label class="form-check-label d-flex align-items-center w-100 p-2">
          <input type="checkbox" [value]="layer.layer" (change)="onChecklistChange($event.target.checked, layer)"
            class="form-check-input me-2 mt-0" [checked]="layer.checked">
          <span class="text-truncate flex-grow-1" [title]="'LAYERS.' + layer.title | translate : {fallbackValue: layer.title} ">
            {{'LAYERS.' + layer.title | translate : {fallbackValue: layer.title} }}
          </span>
          @if(layer.base) {
          <i class="fa-solid fa-map-location-dot text-secondary" [title]="'COMMON.base' | translate"></i>
          }
        </label>
      </li>
      }
      <li class="list-group-item" style="padding: 3px">
        <div class="d-flex w-100 justify-content-center">
          <button type="button" class="mt-1 btn btn-primary" (click)="toggleLayers()">{{'SAVECOMPOSITION.form.toggleAll'
            |
            translate }}</button>
        </div>
      </li>
    </ul>

  </div>
</fieldset>
