<div class="card panel-default hs-main-panel hs-layermanager-card" *ngIf="isVisible$ | async"
    [ngClass]="panelWidthClass">
    <hs-panel-header name="layerManager" [panelTabs]="'LM'">
        <button mainButton class="btn btn-sm btn-outline-primary border-0 align-items-center d-flex gap-2"
            [class.text-bg-primary]="physicalLayerListEnabled"
            (click)="physicalLayerListEnabled = !physicalLayerListEnabled" [title]="'LAYERMANAGER.enablePhysicalLayerList' |
            translateHs"> {{'COMMON.reorder' | translateHs}}
            <i class="glyphicon icon-layerorder"></i>
        </button>
        <extra-buttons>
            <a class="dropdown-item" (click)="removeMultipleLayers()">
                <i class="glyphicon icon-trash"></i>&nbsp;{{'DRAW.removeMultipleLayers'
                | translateHs }}
            </a>
            <a class="dropdown-item" (click)="removeAllLayers()">
                <i class="glyphicon icon-trash"></i>&nbsp;{{'LAYERMANAGER.dialogRemoveAll.removeAllAdded'
                |
                translateHs }}
            </a>
            <a class="dropdown-item" (click)="hsCore.resetMap()">
                <i class="glyphicon icon-fatredo"></i>&nbsp;{{'LAYERMANAGER.resetMap' |
                translateHs }}
            </a>
            <a class="dropdown-item" *ngIf="hsLayerManagerService.data.layers?.length > 0 && !physicalLayerListEnabled"
                (click)="toggleVisibilityForAll()">
                <i class="glyphicon me-0" [ngClass]="allLayersVisible ? 'hs-checkmark' : 'hs-uncheckmark'"></i>
                {{'LAYERMANAGER.toggleAllLayerVisibility'|translateHs}}
            </a>
        </extra-buttons>
    </hs-panel-header>
    <div class="card-body hs-lm-panel">
        <div class="nav nav-pills" [hidden]="!hasBoxImages()">
            <div *ngFor="let box of hsLayerManagerService.data.box_layers"
                class="col-xs-2 col-md-2 list-group-item-primary" style="padding-right: 2px; padding-left: 2px;">
                <a [ngClass]="{ 'thumbnail': true, 'alert-info': getActive(box)}" [title]="getTitle(box)"
                    (click)="activateTheme(box)">
                    <!-- TODO: Remove function call from template -->
                    <img [src]="box.thumbnail" [alt]="getTitle(box)"><!-- TODO: Remove function call from template -->
                </a>
            </div>
        </div>
        <div><input #filterInput type="text" class="form-control hs-filter"
                [placeholder]="'COMMON.filter' | translateHs" name="hs-layermanager-layer-filter">
        </div>

        <!-- BASEMAP LAYERS -->
        <ul *ngIf="!hsLayoutService.componentEnabled('basemapGallery')" class="list-group hs-lm-baselayerlist">
            <!-- TODO: Remove function call from template -->
            <li class="list-group-item hs-lm-item hs-lm-header clearfix list-group-item-primary">
                <div class="d-flex">
                    <div class="p-0 flex-grow-1 hs-lm-item-title">
                        <span class="align-middle" style="line-height: 2em;">{{'LAYERMANAGER.baselayers' |
                            translateHs}}</span>
                    </div>
                    <div class="p-0">
                        <button type="button" class="btn btn-sm hs-btn-baselayers" (click)="changeBaseLayerVisibility()"
                            [ngClass]="hsLayerManagerVisibilityService.baselayersVisible ? 'hs-checkmark' : 'hs-uncheckmark'"></button>
                    </div>
                </div>
            </li>
            <li class="list-group-item hs-lm-item my-2 my-md-0" *ngFor="let layer of filteredBaselayers$ | async"
                [ngClass]="{'hs-lm-deactivated-layer': !layer.visible || !layer.active}" [id]="layer.idString()">
                <div class="d-flex">
                    <div class="p-0">
                        <button type="button" class="btn btn-sm btn-light hs-lm-item-visibility"
                            (click)="changeBaseLayerVisibility($event, layer);"
                            [ngClass]="(hsLayerManagerVisibilityService.baselayersVisible && layer.visible) ? 'hs-checkmark' : 'hs-uncheckmark'"></button>
                    </div>
                    <ng-template #abstractTooltip>
                        <span [innerHtml]="hsLayerManagerService.makeSafeAndTranslate('LAYERS', layer.abstract)"></span>
                    </ng-template>
                    <div class="align-items-center p-0 flex-grow-1 hs-lm-item-title" style="cursor:context-menu"
                        [ngClass]="{'fw-bold': layer.active, 'text-muted': layer.grayed}"
                        [ngbTooltip]="layer.abstract ? abstractTooltip : ''" [closeDelay]="layerTooltipDelay">
                        {{layer.title | translateHs : 'LAYERS' }}
                    </div>
                    <div class="ps-1 info_btn text-secondary dropdown-toggle" style="cursor: pointer;"
                        (click)="hsLayerManagerService.toggleLayerEditor(layer,'settings','sublayers')">
                        <span class="icon-settingsthree-gears" [title]="'COMMON.info' | translateHs"
                            data-toggle="tooltip" data-container="body" data-placement="auto"></span>
                    </div>
                </div>
                <ngb-progressbar [value]="layer.loadProgress.percents" height="2px" [animated]="true"
                    [ngClass]="{'loaded': layer.loadProgress?.loaded}"></ngb-progressbar>
            </li>
        </ul>

        <!-- TERRAIN LAYERS -->
        <ng-container *ngIf="{active: cesiumActive$ | async} as cesium">
            <ul class="list-group hs-lm-baselayerlist"
                [hidden]="!(hsLayerManagerService.data.terrainLayers.length > 0)">
                <li class="list-group-item hs-lm-item hs-lm-header clearfix"
                    [ngClass]="cesium.active ? 'list-group-item-primary' : 'list-group-item-dark'">
                    <div class="d-flex">
                        <div class="p-0 flex-grow-1 hs-lm-item-title"
                            [ngClass]="{'text-muted': cesium.active === false}">
                            <span class="align-middle" style="line-height: 2em;">{{ 'LAYERMANAGER.terrains' |
                                translateHs}}</span>
                        </div>
                    </div>
                </li>
                <li class="list-group-item hs-lm-item my-2 my-md-0" *ngFor="let layer of filteredTerrainlayers$ | async"
                    [ngClass]="{'hs-lm-deactivated-layer': !layer.active}">
                    <div class="d-flex ">
                        <div class="p-0">
                            @if (cesium.active) {
                            <button type="button" class="btn btn-sm btn-light hs-lm-item-visibility"
                                (click)="changeTerrainLayerVisibility($event, layer)"
                                [ngClass]="(hsLayerManagerVisibilityService.baselayersVisible && layer.visible) ? 'hs-checkmark' : 'hs-uncheckmark'"></button>
                            } @else {
                            <span class="btn btn-sm text-muted">
                                <i class="glyphicon icon-globealt"
                                    [title]="'LAYERMANAGER.terrainOnlyIn3d' | translateHs"></i>
                            </span>
                            }
                        </div>
                        <ng-template #abstractTooltip>
                            <span
                                [innerHtml]="hsLayerManagerService.makeSafeAndTranslate('LAYERS', layer.abstract)"></span>
                        </ng-template>
                        <div class="align-items-center p-0 flex-grow-1 hs-lm-item-title" style="cursor:context-menu"
                            [ngClass]="{'fw-bold': layer.active, 'text-muted': layer.grayed}"
                            [ngbTooltip]="layer.abstract ? abstractTooltip : ''" [closeDelay]="layerTooltipDelay">
                            {{layer.title | translateHs : 'LAYERS' }}
                        </div>
                    </div>
                </li>
            </ul>
        </ng-container>


        <!-- THEMATIC LAYERS -->
        <ul class="list-group hs-lm-mapcontentlist">
            <!-- TODO: Remove function call from template -->
            <li *ngIf="!hsLayoutService.componentEnabled('basemapGallery')"
                class="hs-lm-header hs-lm-item list-group-item-primary hs-lm-map-content-header list-group-item"
                style="margin-bottom: 0.2em;">
                <span class="align-middle" style="line-height: 2em;">{{ 'LAYERMANAGER.mapContent' | translateHs}}</span>
            </li>
            @if(!physicalLayerListEnabled){
            <ul class="list-group hs-lm-layerlist mb-1"
                *ngFor="let entry of hsLayerManagerService.data.folders() | keyvalue : keepOrder">
                <li class="list-group-item hs-lm-layerlist-header list-group-item-primary"
                    *ngIf="hsLayerManagerService.data.folders().size > 1"
                    (click)="entry.value.visible = !entry.value.visible">
                    <span>{{entry.key | translateHs : 'LAYERMANAGER' }}&nbsp;</span>
                    <span class="glyphicon"
                        [ngClass]="entry.value.visible ? 'icon-chevron-right' : 'icon-chevron-down'"></span>
                </li>
                <div [hidden]="!entry.value.visible">
                    <li>
                        <hs-layer-manager-layer-list [folder]="entry.key"></hs-layer-manager-layer-list>
                    </li>
                </div>
            </ul>
            }
            @else {

            <ul class="list-group hs-lm-layerlist mb-1">
                <li>
                    <hs-layermanager-physical-layer-list></hs-layermanager-physical-layer-list>
                </li>
            </ul>
            }
            <!--
        <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-secondary active">
            <input type="radio" name="options" id="option1" checked> Logical order
            </label>
            <label class="btn btn-secondary">
            <input type="radio" name="options" id="option2"> Physical order
            </label>
        </div> -->
        </ul>
    </div>
</div>
@if(hsLayerSelectorService.currentLayer){
<hs-layer-editor [currentLayer]="hsLayerSelectorService.currentLayer" #layerEditor class="hs-layerpanel w-100" />
}