<div class="comparison-filter-container d-flex flex-row form-group p-1 position-relative">
  <select class="form-control form-select" [formControl]="attributeControl"
    name="hs-sld-filter-attribute">
    <option [ngValue]="null" [disabled]="true" selected hidden>Pick an attribute</option>
    @for(attr of attributes; track attr){
    <option [ngValue]="attr">
      {{ attr }}
    </option>
    }

  </select>

  <select (change)="emitChange()" class="form-control form-select hs-sld-filter-comparison-sign"
    style="width: min-content" [(ngModel)]="filter[0]" name="hs-sld-filter-comparison-sign"
    [disabled]="!attributeControl.value">
    @for (op of operators | async ; track op) {
    <option [ngValue]="op">
      {{op}}
    </option>
    }
  </select>
  <div class="comparison-filter-value" [ngClass]="{'expanded': expanded()}">
    @if (isWfsFilter() ) {
      @if(currentAttribute()?.range){
        <hs-filter-range-input
          [min]="currentAttribute()?.range.min"
          [max]="currentAttribute()?.range.max"
          [(value)]="filter[2]"
          (valueChange)="emitChange()">
        </hs-filter-range-input>
      }
      @else {
        @if(filter[0] === '*=') {
          <input class="form-select h-100" [(ngModel)]="filter[2]" (change)="emitChange()"
            [disabled]="!attributeControl.value" [attr.list]="'customValues'" />
          <datalist id="customValues">
            @for (value of currentAttribute()?.values; track value) {
            <option [value]="value">
            }
          </datalist>
        } @else {
          <select class="form-control form-select h-100" [(ngModel)]="filter[2]" (change)="emitChange()"
            [disabled]="!attributeControl.value">
            @for (value of currentAttribute()?.values; track value) {
            <option [ngValue]="value">{{value}}</option>
            }
          </select>
        }
      }
    } @else {
    <input class="form-control h-100" name="hs-sld-filter-value" [(ngModel)]="filter[2]" (change)="emitChange()"
      [disabled]="!attributeControl.value" />
    }
  </div>

  <div>
    <button class="btn btn-outline-danger btn-sm rounded-0" style="height: 100%" (click)="remove()">
      <span class="icon-trash"></span>
    </button>
  </div>

  @if (loading()) {
  <div
    class="loading-overlay position-absolute top-0 start-0 w-100 h-100 d-flex justify-content-center align-items-center">
    <div class="text-center bg-secondary-subtle d-flex p-1 px-3 rounded-5 text-center">
      <span class="hs-loader hs-loader-dark"></span>
      <div class="small text-muted">Loading attribute values...</div>
    </div>
  </div>
  }
</div>
