<div>
    <a (click)="unitClicked()" class="hs-sensor-unit">{{unit.description}}</a>
    <ul class="list-group" [hidden]="!(expanded || unit.expanded)">
        <div *ngFor="let sensorType of unit.sensorTypes" class="list-group-item p-1">
            <a (click)="sensorType.expanded = !sensorType.expanded" class="hs-sensor-type"
                style="line-height: 2em;">{{sensorType.name | translateHs : {module: 'SENSORS.SENSORNAMES'} }}
            </a>
            <ul class="list-group" [hidden]="!sensorType.expanded">
                <li *ngFor="let sensor of sensorType.sensors" class="list-group-item p-1">
                    <div class="d-flex ">
                        <div class="p-0">
                            <button type="button" class="btn btn-sm" (click)="sensorToggleSelected(sensor)"
                                [ngClass]="sensor.checked  ? 'hs-checkmark' : 'hs-uncheckmark'"></button>
                        </div>
                        <div class="d-flex align-items-center p-0 flex-grow-1 hs-lm-item-title">
                            <a *ngIf="viewMode === 'sensornames'" class="hs-sensor" (click)="sensorClicked(sensor)">
                                <b>{{sensor.sensor_name | translateHs : {module: 'SENSORS.SENSORNAMES'} }}</b></a>

                            <a *ngIf="viewMode === 'sensors'" class="hs-sensor" (click)="sensorClicked(sensor)">
                                <b>{{sensor.sensor_name | translateHs : {module: 'SENSORS.SENSORNAMES'} }}</b><span
                                    class="ms-1">{{'SENSORS.measure' |
                                    translateHs }}</span> {{sensor.phenomenon_name}}</a>
                            <a *ngIf="viewMode === 'phenomena'" class="hs-sensor" (click)="sensorClicked(sensor)">
                                {{sensor.phenomenon_name_translated}}</a>
                        </div>
                        <div class="p-0">
                            <span class="badge bg-dark rounded-pill">{{sensor.lastObservationValue}} {{sensor.uom}}
                                <br><small>{{'SENSORS.at' | translateHs }}
                                    {{sensor.lastObservationTimestamp}}</small></span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </ul>
</div>