<div [ngStyle]="dialogStyle" class="hs-sensor-unit-dialog modal in" tabindex="-1" role="dialog" aria-hidden="true"
    style="position: fixed;
    bottom: 5px; top: auto;;
    ">
    <div class="modal-dialog modal-lg" style="margin-right: 30px; max-width: 100%; z-index: 4; margin-bottom: 3px;">
        <div class="modal-content">
            <div class="modal-header" style="padding: 0.2rem 0.3rem;">
                <h4 class="modal-title">
                    {{'SENSORS.sensorUnit' | translateHs: {app: data.app} }} {{getUnitDescription()}}
                    <!-- TODO: Remove function call from template -->
                </h4>
                <button type="button" class="btn-close" (click)="close()" data-dismiss="modal"
                    [attr.aria-label]="'COMMON.close' | translateHs: {app: data.app} "></button>
            </div>
            <div class="modal-body" style="max-height: 300px; overflow-y: auto">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="hs-chartplace" style="min-width: 400px; min-height: 50px"></div>
                        </div>
                    </div>
                </div>
                <table class="table table-sm table-striped table-hover">
                    <tr>
                        <!-- <th>{{'SENSORS.multipleUnits' | translateHs: {app: data.app} }}</th> -->
                        <th></th>
                        <th>{{'SENSORS.min' | translateHs: {app: data.app} }}</th>
                        <th>{{'SENSORS.max' | translateHs: {app: data.app} }}</th>
                        <th>{{'SENSORS.avg' | translateHs: {app: data.app} }}</th>
                    </tr>
                    <ng-container *ngFor="let unit of getUnitAggregations() | keyvalue">
                        <tr>
                            <th>{{unit.key}}</th>
                        </tr>
                        <tr *ngFor="let aggr of unit.value">
                            <td>{{aggr.sensor_name}}</td>
                            <td>{{aggr.min}}</td>
                            <td>{{aggr.max}}</td>
                            <td>{{aggr.avg}}</td>
                        </tr>
                    </ng-container>

                </table>
            </div>
            <div class="modal-footer" style="padding: 0.2rem 0.3rem;">
                <div class="d-flex w-100 justify-content-between ">
                    <div class="m-1 d-flex align-items-center">
                        <div class="btn-group" role="group">
                            <!-- TODO: Remove function call from template -->
                            <button type="button" class="btn btn-"
                                [ngClass]="{'btn-primary': getCurrentInterval() === interval}"
                                (click)="timeButtonClicked(interval)" *ngFor="let interval of getIntervals()"
                                [attr.aria-label]="'SENSORS.oneHour' | translateHs: {app: data.app} ">{{getTranslation(interval.name)}}&emsp;<span
                                    class="hs-loader" [hidden]="!interval.loading"></span></button>
                        </div>
                    </div>
                    <div class="divider" style="border-left: 1px solid lightgray;"></div>
                    <div class="hs-sensors-unit-custom-interval-container d-flex flex-wrap justify-content-end">
                        <div class="m-1">
                            <div class="input-group flex-nowrap">
                                <input type="text" style="width: 6em;" ngbDatepicker
                                    [placeholder]="'COMMON.from' | translateHs: {app: data.app} " #d="ngbDatepicker"
                                    [(ngModel)]="customInterval.fromTime" (dateSelect)="customIntervalChanged()" />
                                <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button"><i
                                        class="icon-calendarthree"></i></button>
                            </div>
                        </div>
                        <div class="m-1">
                            <div class="input-group flex-nowrap">
                                <input type="text" style="width: 6em;" ngbDatepicker
                                    [placeholder]="'COMMON.until' | translateHs: {app: data.app} " #d2="ngbDatepicker"
                                    [(ngModel)]="customInterval.toTime" (dateSelect)="customIntervalChanged()" />
                                <button class="btn btn-outline-secondary" (click)="d2.toggle()" type="button"><i
                                        class="icon-calendarthree"></i></button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>