<form class="form-horizontal" name="frmConnect" role="form">
    <hs-add-data-common-url type="wms" [(url)]="HsAddDataUrlWmsService.url" [(connect)]="connect"></hs-add-data-common-url>

    <div [hidden]="!HsAddDataUrlWmsService.showDetails">
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text control-label">{{'ADDLAYERS.imageFormat' | translate}}</span>
                </div>
                <select class="form-control" [(ngModel)]="data.image_format" name="imageFormat">
                    <option *ngFor="let format of data.image_formats">{{format}}</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text control-label">{{'ADDLAYERS.queryFormat' | translate}}</span>
                </div>
                <select class="form-control" [(ngModel)]="data.query_format" name="queryFormat">
                    <option *ngFor="let format of data.query_formats">{{format}}</option>
                </select>
            </div>
        </div>

        <div class="form-group" [hidden]="!data.srs || data.srs.toUpperCase() === data.mapProjection">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text control-label">{{'ADDLAYERS.srs' | translate}}</span>
                </div>
                <select class="form-control" name="srs" [(ngModel)]="data.srs" (change)="srsChanged()">
                    <option *ngFor="let srs of data.srss | slice:0:50">{{srs}}</option>
                </select>
            </div>
        </div>

        <p class="col-sm-12 alert alert-danger" [hidden]="!data.useResampling">
            {{'ADDLAYERS.mapAndLayerProjection' | translate}}
        </p>

        <div class="form-group">
            <div class="capabilities_input d-flex flex-column">
                <label class="capabilities_label control-label"> <input type="checkbox" class="mr-1 checkbox-lg" name="useTiles" [(ngModel)]="data.useTiles" />
                    {{'ADDLAYERS.useTiles' | translate}}
                </label>
                <label class="capabilities_label control-label"> <input type="checkbox" class="mr-2 checkbox-lg"
                    [(ngModel)]="data.registerMetadata" name="registerMetadata" />{{'ADDLAYERS.registerMetadata' | translate}}</label>
            </div>
        </div>

        <p class="col-sm-12 alert alert-warning" [hidden]="data.useTiles">
            {{'ADDLAYERS.considerUsingTiles' | translate}}
        </p>

        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text control-label">{{'ADDLAYERS.tileSize' | translate}}</span>
                </div>
                <input class="form-control" name="tileSize" [(ngModel)]="data.tileSize" />
            </div>
        </div>

        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text control-label">{{'ADDLAYERS.folderName' | translate}}</span>
                </div>
                <input class="form-control" name="path" [(ngModel)]="data.path" />
            </div>
        </div>

        <div class="d-flex flex-column my-3">
            <div  class="d-flex flex-row justify-content-start align-items-baseline mb-1">
                {{'ADDDATA.CATALOGUE.addAs' | translate}}
                <div class="btn-group ml-2">
                    <button type="button" class="btn btn-sm btn-light  btn-outline-secondary"
                        (click)="data.base = true"
                        [ngClass]="{'active':data.base}">
                        {{'COMPOSITONKEYWORDS.Basemap' | translate}}
                    </button>
                    <button type="button" class="btn btn-sm btn-light  btn-outline-secondary"
                        (click)="data.base = false"
                        [ngClass]="{'active': !data.base}">
                        {{'COMMON.layer' | translate}}
                    </button>
                </div>
            </div>
            <div [hidden]="!data.base" class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text control-label">{{'COMMON.title' | translate}}</span>
                </div>
                <input  class="form-control" name="baseTitle" [(ngModel)]="data.title" />
            </div>
        </div>

        <hs-add-layers-target-position [(addUnder)]="data.addUnder" ></hs-add-layers-target-position>
       
        <hr />
        <table class="table table-sm table-striped table-bordered">
            <thead>
                <th style="width:1em">&nbsp;</th>
                <th style="width:30%">{{'COMMON.name' | translate}}</th>
                <th style="width:40%">{{'COMMON.title' | translate}}</th>
                <th>{{'COMMON.abstract' | translate}}</th>
            </thead>
            <tbody *ngFor="let service of data.services">
                <tr class="text-center align-middle">
                    <td [attr.rowspan]="service.Style?.length ? 3 : 2" [ngClass]="{'align-middle': !hasNestedLayers(service)}"><input
                            type="checkbox" class="checkbox-lg" [(ngModel)]="service.checked" name="service"
                            (change)="searchForChecked(service)" /></td>
                    <td>{{service.Name}}</td>
                    <td>{{service.Title}}</td>
                    <td>{{service.Abstract}}</td>
                </tr>
                <tr *ngIf="service.Style?.length > 1 && service.checked">
                    <td colspan="4">
                        <div class="d-flex align-items-baseline px-2 w-100">
                            <div class="d-flex align-items-baseline" style="flex-grow: 1;" >
                                <label class="control-label">{{'COMMON.style' | translate}}:</label>
                                <select class="form-control form-control-sm" [(ngModel)]="service.styleSelected"
                                    [ngModelOptions]="{standalone: true}">
                                    <option *ngFor="let style of service.Style">{{style.Name}}</option>
                                </select>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr [hidden]="!hasNestedLayers(service)">
                    <td colspan="4" style="padding-left: 1em">
                        <hs-nested-layers-table [layers]="service.Layer" (layerChecked)="searchForChecked($event)">
                        </hs-nested-layers-table>
                    </td>
                </tr>
            </tbody>
        </table>


        <div class="w-100 d-flex justify-content-between pb-2" style="position: sticky;
        bottom: 0; background: var(--panel-wrapper-bg-color)">
            <button class="btn btn-primary" (click)="selectAllLayers(data.services)">{{'ADDLAYERS.selectAllLayers' | translate}}</button>
            <button class="btn btn-primary" [disabled]="!hasChecked" [title]="'ADDLAYERS.addSelected' | translate" (click)="addLayers(true)">{{'ADDLAYERS.WFS.addToMap' | translate}}</button>
        </div>
    </div>
</form>
