<div class="d-flex justify-content-center flex-column align-items-center m-3 px-md-4">
  <div class="container px-md-4">
    <div class="row justify-content-center gap-1">
      @for (type of types; track type) {
        <button [ngClass]="{'active': type.id === hsAddDataUrlService.typeSelected }"
          (click)="selectType(type.id)"
          class="btn btn-outline-secondary rounded btn-sm col-sm-3 position-relative flex-grow-1">
          {{type.text}}
          @if (type.id === 'geosparql') {
            <span
            class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-secondary">&beta;</span>
          }
        </button>
      }
    </div>
  </div>

  <div class="w-100 pt-3">
    @if (hsAddDataUrlService.typeSelected === 'arcgis') {
      <hs-url-arcgis></hs-url-arcgis>
    }
    @if (hsAddDataUrlService.typeSelected === 'wfs') {
      <hs-url-wfs></hs-url-wfs>
    }
    @if (hsAddDataUrlService.typeSelected === 'wms') {
      <hs-url-wms></hs-url-wms>
    }
    @if (hsAddDataUrlService.typeSelected === 'wmts') {
      <hs-url-wmts></hs-url-wmts>
    }
    @if (hsAddDataUrlService.typeSelected === 'geosparql') {
      <hs-url-geosparql></hs-url-geosparql>
    }
    @if (hsAddDataUrlService.typeSelected === 'geojson') {
      <hs-url-vector
        [fileType]="hsAddDataUrlService.typeSelected">
      </hs-url-vector>
    }
    @if (hsAddDataUrlService.typeSelected === 'kml') {
      <hs-url-vector [fileType]="hsAddDataUrlService.typeSelected">
      </hs-url-vector>
    }
    @if (hsAddDataUrlService.typeSelected === 'gpx') {
      <hs-url-vector [fileType]="hsAddDataUrlService.typeSelected">
      </hs-url-vector>
    }
  </div>
</div>
