
<div class="feature-list" ng-class="{'card-list': !featureDetails, 'layout-column': featureDetails}">
    <md-content flex layout-padding ng-show="!featureDetails" style="padding-bottom:0">
        <div layout="row" style="justify-content: space-between">
            <div hs.feature-filter.directive ng-controller="HsFeatureFilterController"></div>
        </div>
    </md-content>

    <md-content flex layout-padding class="card-collection" ng-show="!featureDetails">
		<!-- <div flex-xs flex-gt-xs="50" layout="column"> -->
        <md-card ng-repeat="feature in LayMan.currentLayer.filteredFeatures"
            ng-click="selectFeature(feature)"
            ng-mouseenter="highlightFeature(feature)"
            ng-mouseleave="unhighlightFeature(feature)"
            ng-class="feature.getProperties().class">
            <img ng-src="{{ feature.getProperties().img }}" class="md-card-image" alt="Best Practice thumbnail">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{ feature.getProperties().name }}</span>
                    <span class="md-subhead"><span ng-if="feature.getProperties().region">{{ feature.getProperties().region }}, </span>{{ feature.getProperties().country }}</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <p ng-bind-html="feature.getProperties().annotation"></p>
            </md-card-content>
        </md-card>
    </md-content>

    <md-toolbar class="md-hue-1" ng-show="featureDetails">
        <div class="md-toolbar-tools">
            <h2 class="md-flex">{{ featureDetails.name }}</h2>

            <div flex></div>

            <md-button class="md-icon-button" aria-label="Close" ng-click="deselectFeatures()">
                <md-icon md-menu-origin class="material-icons">close</md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-content ng-show="featureDetails">
        <div class="img-float">
            <img ng-src="{{ featureDetails.img }}" alt="Best Practice thumbnail">
        </div>
        <div class="content-body">
            <div class="main-content">
                <h2><span ng-if="featureDetails.region">{{ featureDetails.region }}, </span>{{ featureDetails.country }}</h2>
                <p class="content-info" ng-repeat="url in featureDetails.website.split(',')" ng-if="featureDetails.website"><a target="_blank" ng-href="{{url}}">{{ url }}</a></p>

                <h3 ng-if="featureDetails.biomass_source" class="heading">Biomass source</h3>
                <p class="content-info" ng-if="featureDetails.biomass_source">{{ featureDetails.biomass_source }}</p>

                <h3 ng-if="featureDetails.product" class="heading">Product</h3>
                <p class="content-info" ng-if="featureDetails.product">{{ featureDetails.product }}</p>

                <h3 ng-if="featureDetails.contact" class="heading">Contact</h3>
                <p class="content-info" ng-if="featureDetails.contact" ng-bind-html="featureDetails.contact"></p>

                <h3 ng-if="featureDetails.summary_en" class="heading">Summary</h3>
                <p class="content-info" ng-if="featureDetails.summary_en" ng-bind-html="featureDetails.summary_en"></p>
            </div>
            <div class="additional-content">
                <h3 ng-if="featureDetails.partner" class="heading">Collected By</h3>
                <p class="content-info" ng-if="featureDetails.partner" ng-bind-html="featureDetails.partner"></p>
                <h3 ng-if="featureDetails.context" class="heading">Background context</h3>
                <p class="content-info" ng-if="featureDetails.context" ng-bind-html="featureDetails.context"></p>
                <h3 ng-if="featureDetails.description" class="heading">Description of the process, activity or business model</h3>
                <p class="content-info" ng-if="featureDetails.description" ng-bind-html="featureDetails.description"></p>
                <h3 ng-if="featureDetails.actors" class="heading">List the main actors</h3>
                <p class="content-info" ng-if="featureDetails.actors" ng-bind-html="featureDetails.actors"></p>
                <h3 ng-if="featureDetails.phase" class="heading">Phase of the innovation</h3>
                <p class="content-info" ng-if="featureDetails.phase" ng-bind-html="featureDetails.phase"></p>
                <h3 ng-if="featureDetails.process" class="heading">Innovation in the process</h3>
                <p class="content-info" ng-if="featureDetails.process" ng-bind-html="featureDetails.process"></p>
                <h3 ng-if="featureDetails.outcomes" class="heading">Expected or final outcomes </h3>
                <p class="content-info" ng-if="featureDetails.outcomes" ng-bind-html="featureDetails.outcomes"></p>
                <h3 ng-if="featureDetails.farmer_benefits" class="heading">Benefit for the famers</h3>
                <p class="content-info" ng-if="featureDetails.farmer_benefits" ng-bind-html="featureDetails.farmer_benefits"></p>
                <h3 ng-if="featureDetails.bbpc_benefits" class="heading">Benefit/added value for the bio-based product companies</h3>
                <p class="content-info" ng-if="featureDetails.bbpc_benefits" ng-bind-html="featureDetails.bbpc_benefits"></p>
                <h3 ng-if="featureDetails.other_benefits" class="heading">Benefit/added value for other practioners or end-users</h3>
                <p class="content-info" ng-if="featureDetails.other_benefits" ng-bind-html="featureDetails.other_benefits"></p>
                <h3 ng-if="featureDetails.other_factors" class="heading">Other factors that make possible a successful realisation of the practice/activity</h3>
                <p class="content-info" ng-if="featureDetails.other_factors" ng-bind-html="featureDetails.other_factors"></p>
            </div>
        </div>
    </md-content>
</div>
