<div class="md-chips" ng-if="LayMan.currentLayer.hsFilters" style="display: flex;">
	<div ng-repeat="filter in LayMan.currentLayer.hsFilters" ng-switch="filter.type.type">
		<md-chip ng-switch-when="compare" ng-click="filter.selected = !filter.selected; applyFilters()" ng-class="{active: filter.selected}">
			<md-checkbox ng-checked="filter.selected"
				style="width: 24px;"></md-checkbox>
			{{ filter.title }}
		</md-chip>
		<md-chip ng-switch-when="fulltext" ng-class="{active: filterChanged(filter)}">
			<md-input-container md-no-float class="hs-fulltext-searchbox">
				<input id="fulltextInput" class="hs-fulltext-searchbox-input" ng-model="searchString" ng-change="applyFilters()" ng-focus="showFilter($event, filter)" placeholder="{{filter.title}}">
				</input>
			</md-input-container>
			<md-icon ng-if="filterChanged(filter)" ng-click="resetFilter($event, filter)">close</md-icon>
		</md-chip>
		<md-chip ng-switch-default ng-click="showFilter($event, filter)" ng-class="{active: filterChanged(filter)}">
			{{ filter.title }}
			<md-icon ng-if="filterChanged(filter)" ng-click="resetFilter($event, filter)">close</md-icon>
		</md-chip>
	</div>
</div>
