<md-button aria-label="Select All" ng-checked="allSelected(selectedFilter)" md-indeterminate="isIndeterminate(selectedFilter)"
	ng-click="toggleAll(selectedFilter)" class="md-raised md-primary">
	<span>{{ getToggleText(selectedFilter) }}</span>
</md-button>
<fieldset style="border: none">
	<div layout="column" layout-wrap flex>
		<div ng-repeat="value in selectedFilter.values">
			<md-checkbox ng-checked="exists(value, selectedFilter.selected)" ng-click="toggle(value, selectedFilter.selected)"
				style="margin: 3px 1em 3px 0;">
				{{ value }}
			</md-checkbox>
		</div>
	</div>
</fieldset>
