/.angular/cache
bower_components/
node_modules/
gitsha.js
hooks/
/nbproject/private/
/nbproject/
.orig
#package-lock.json
*.min.js
bundle.js
docs
documentation/
po/*.mo
dist
dependencygraph.svg
.tern-project
.vscode/
.env
.env.*
!.env.example
*.bat
/.vs
stats.json
.lingua
bundle
*.d.ts
hslayers-server.db
projects/hslayers-server/data/hsl-share.db
