app/
bower_components/
node_modules/
gitsha.js
hooks/
/nbproject/private/
/nbproject/
.orig
#package-lock.json
*.min.js
bundle.js
docs
po/*.mo
dist
dependencygraph.svg
.tern-project
.vscode/
.env
*.bat
/.vs
stats.json
.lingua