<link rel="stylesheet" ng-href="{{hsl_path}}bower_components/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="http://openlayers.org/en/v3.0.0/css/ol.css" type="text/css">  
<link rel="stylesheet" ng-href="{{hsl_path}}css/app.css"/>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<!--<script ng-src="{{hsl_path}}bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>-->

<div map ng-controller="Map" id="map"></div>
<div toolbar ng-controller="Toolbar"></div>
<div class="panelspace col-lg-3 col-md-4 col-xs-11 col-sm-4">
    <div layer-manager ng-controller="LayerManager" ng-show="ToolbarService.mainpanel=='layermanager'"></div>
    <div legend ng-controller="Legend" ng-if="ToolbarService.exists('Legend')" ng-show="ToolbarService.mainpanel=='legend'"></div>
    <div ows ng-controller="Ows" ng-if="ToolbarService.exists('Ows')" ng-show="ToolbarService.mainpanel=='ows'"></div>
    <div lod-explorer ng-controller="LodExplorer" ng-if="ToolbarService.exists('LodExplorer')" ng-show="ToolbarService.mainpanel=='lodexplorer'"></div>
    <div measure ng-controller="Measure"  ng-if="ToolbarService.exists('Measure')" ng-show="ToolbarService.mainpanel=='measure'"></div>
    <div printdialog ng-controller="Print"  ng-if="ToolbarService.exists('Print')" ng-show="ToolbarService.mainpanel=='print'"></div>
    <div permalinkdialog ng-controller="Permalink"></div>
    <div id="infopanel" infopanel ng-controller="Query"  ng-if="ToolbarService.exists('Query')" ng-show="ToolbarService.mainpanel=='info'"></div>
</div>
<div class="search-container" ng-controller="Search">
    <div searchinput></div>
    <div searchresults></div>
</div>
<div sparql-log-dialog  ng-controller="SparqlLogDialog"  ng-if="ToolbarService.exists('SparqlLogDialog')"></div> 