<div class="panel panel-default mainpanel">
    <div class="panel-heading">
           <translate>Print</translate>
        <button type="button" class="close" ng-click="Core.hidePanels()">
            <span aria-hidden="true">×</span>
            <span class="sr-only">Close</span>
        </button>
    </div>
    <div class="panel-body">
            <div class="panel-body">
            <div class="form-group">
                <label for="print-title" class="control-label" translate>Titles</label>
                <input  class="form-control" id = "print-title" ng-model="title" />
            </div>
            <button type="button" class="btn btn-primary" ng-click="print()" translate>Print</button>
    </div>
</div>