<div class="card panel-default hs-main-panel">
    <hs-panel-header name="print" title="Print"></hs-panel-header>
    <div class="card-body">
        <div class="card-body">
            <div class="form-group">
                <label for="print-title" class="control-label" translate>Title</label>
                <input type="text" class="form-control" id="print-title" ng-model="title"/>
            </div>
            <button type="button" class="btn btn-primary" (click)="print()" translate="">Print</button>
        </div>
    </div>
</div>
