<div class="card panel-default hs-main-panel">
    <div class="card-header"><span class="panel-title">
            Style layer {{layerTitle}}
        </span>
        <button type="button" class="close" (click)="layermanager()">
            <span aria-hidden="true">×</span>
            <span class="sr-only" i18n>Close</span>
        </button>
    </div>
    <div class="card-body">
        <form class="form-inline">
            <div class="card panel-info" [hidden]="!hasPoly">
                <div class="card-header">
                    <h3 class="panel-title" i18n>Fill</h3>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="hs-styler-fillcolor" class="control-label" i18n>Colour</label>
                        <div class="hs-styler-selected-color-box" [ngStyle]="fillcolor"></div>
                        <hs-styler-color-component (click)="save()" [(color)]="fillcolor"></hs-styler-color-component>
                    </div>
                </div>
            </div>

            <div class="card panel-info" [hidden]="!(hasLine || hasPoly)">
                <div class="card-header">
                    <h3 class="panel-title" i18n>Line</h3>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="hs-styler-linecolor" class="control-label" i18n>Line Colour</label>
                        <div class="hs-styler-selected-color-box" [ngStyle]="linecolor"></div>
                        <hs-styler-color-component (click)="save()" [(color)]="linecolor"></hs-styler-color-component>
                    </div>

                    <div class="form-group">
                        <label for="hs-styler-linewidth" class="control-label" i18n>Line width</label>
                        <input type="range" step="0.5" min="0" max="40" class="form-control" style="height: 21px;"
                            [(ngModel)]="linewidth" (ngModelChange)='save()' [ngModelOptions]="{standalone: true}" /><span>{{linewidth}}</span>
                    </div>
                </div>
            </div>

            <div class="card panel-info" [hidden]="!hasPoint">
                <div class="card-header">
                    <h3 class="panel-title" i18n>Point</h3>
                </div>
                <div class="card-body">

                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-secondary" *ngFor="let m of imagetypes" (click)='setImageType(m.name)'>
                            <input type="radio" class="form-control" [ngValue]="m.name"
                                name="imagetype" />{{m.hrname}}
                        </label>
                    </div>

                    <div class="form-group">
                        <label for="hs-styler-iconfillcolor" class="control-label" i18n>Colour</label>
                        <div class="hs-styler-selected-color-box" [ngStyle]="iconfillcolor"></div>
                        <hs-styler-color-component  (click)="save()" [(color)]="iconfillcolor"></hs-styler-color-component>
                    </div>

                    <div class="form-group">
                        <label for="hs-styler-linecolor" class="control-label" i18n>Line Colour</label>
                        <div class="hs-styler-selected-color-box" [ngStyle]="iconlinecolor"></div>
                        <hs-styler-color-component (click)="save()" [(color)]="iconlinecolor"></hs-styler-color-component>
                    </div>

                    <div class="form-group" [hidden]="imagetype !='circle'">
                        <label for="hs-styler-radius" class="control-label" i18n>Radius</label>
                        <input type="range" step="0.5" min="0" max="40" class="form-control" style="height: 21px;"
                            [(ngModel)]="radius" (ngModelChange)='save()' [ngModelOptions]="{standalone: true}" /><span>{{radius}}</span>
                    </div>

                    <div class="form-group">
                        <label for="hs-styler-iconlinewidth" class="control-label" i18n>Line width</label>
                        <input type="range" step="0.5" min="0" max="10" class="form-control" style="height: 21px;"
                            [(ngModel)]="iconlinewidth" (ngModelChange)='save()' [ngModelOptions]="{standalone: true}"/><span>{{iconlinewidth}}</span>
                    </div>

                    <div class="form-group" [hidden]="imagetype !='icon'">
                        <label for="hs-styler-icon" class="control-label" i18n>Icon</label>
                        <div class="hs-styler-selected-icon-box" [innerHtml]="iconimage"></div>
                        <div>
                            <div *ngFor="let icon of icons" class="hs-styler-iconbox" (click)="iconSelected(icon)">
                                <img [src]='icon'/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>