<md-dialog [attr.aria-label]="'PANEL_HEADER.INFO' | translate">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{'PANEL_HEADER.INFO' | translate}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancelQueryDialog()">
          <md-icon md-icon-set="material-icons" [attr.aria-label]="'COMMON.closeDialog' | translate">close</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content style="max-width:800px;max-height:810px; min-width:40rem; min-height: 30rem">
      <md-tabs md-dynamic-height md-border-bottom md-swipe-content>
        <md-tab ng-repeat="group in data.groups | orderBy : 'name'" label="{{group.name}}">
          <md-content class="md-padding">
            <h3 class="md-display-2">{{group.name}}</h3>
            <table>
              <thead>
                <tr>
                  <th>{{'COMMON.attribute' | translate}}</th>
                  <th>{{'COMMON.value' | translate}}</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="attribute in group.attributes | orderBy : 'name'">
                  <td hs.query.infovalue template='{{group.hstemplate}}' attribute='{{attribute.name}}'
                    class="first-col"></td>
                  <td hs.query.infovalue template='{{group.hstemplate}}' attribute='{{attribute.name}}'
                    value='{{attribute.value}}' class="second-col"></td>
                </tr>
              </tbody>
            </table>
          </md-content>
        </md-tab>
        <md-tab label="attributes" ng-show="data.attributes.length > 0">
          <md-content class="md-padding">
            <h3 class="md-display-2">{{'COMMON.attributes' | translate}}</h3>
            <table>
              <thead>
                <tr>
                  <th>{{'COMMON.attribute' | translate}}</th>
                  <th>{{'COMMON.value' | translate}}</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="attribute in data.attributes | orderBy : 'name'">
                  <td class="first-col">{{attribute.name}}</td>
                  <td class="second-col" ng-bind-html="attribute.value"></td>
                </tr>
              </tbody>
            </table>
          </md-content>
        </md-tab>
        <md-tab label="coordinates" ng-show="data.coordinates[0].name.length > 0">
          <md-content class="md-padding">
            <h3 class="md-display-2">{{data.coordinates[0].name}}</h3>
            <table>
              <thead>
                <tr>
                  <th>{{'COMMON.projection' | translate}}</th>
                  <th>{{'COMMON.value' | translate}}</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="projection in data.coordinates[0].projections | orderBy : 'name'">
                  <td class="first-col">{{projection.name}}</td>
                  <td class="second-col" ng-bind-html="projection.value"></td>
                </tr>
              </tbody>
            </table>
          </md-content>
        </md-tab>
      </md-tabs>
    </md-dialog-content>
  </form>
</md-dialog>
