<div *ngIf="endpoint" style="margin-left: 1em; float: right; ">
    <a class="btn btn-block btn-light hs-light-background" style="border-radius: 0.25rem;" (click)="login()" *ngIf="isAuthorized()" href="{{sameDomain() ? '#' : authUrl()}}" target="{{sameDomain() ? '' : '_blank'}}">
        {{'COMPOSITIONS.loginToCatalogue' | translate}}</a>
    <a class="btn btn-block btn-light hs-light-background" style="border-radius: 0.25rem;" (click)="logout()" *ngIf="!isAuthorized()">{{'COMMON.Logout' | translate }}
        {{endpoint.user}}</a>
</div>
