<div *ngIf="endpoint" style="margin-left: 1em; float: right; ">
    <a class="btn btn-primary" style="border-radius: 0.25rem; color: #fff;" (click)="login();" *ngIf="isGuest() && sameDomain()">
        {{'COMPOSITIONS.loginToCatalogue' | translateHs : {app} }}</a>
    <a class="btn btn-primary" style="border-radius: 0.25rem; color: #fff;" (click)="login();" *ngIf="isGuest() && !sameDomain()" href="{{authUrl()}}" target="_blank">
        {{'COMPOSITIONS.loginToCatalogue' | translateHs : {app} }}</a>
    <a class="btn btn-primary" style="border-radius: 0.25rem; color: #fff;" (click)="logout()" *ngIf="!isGuest()">{{'COMMON.Logout' | translateHs : {app}  }}
        {{endpoint.user}}</a>
</div>
