.activeLayer {
  background-color: rgba(0, 0, 0, 0.2);
}

.cdk-drag-placeholder {
  background-color: rgba(0, 0, 0, 0.24);
  color: white;
}

.cdk-drag-preview {
  box-sizing: border-box;
  background-color: rgba(185, 185, 185, 0.336);
  border: 1px solid rgba(185, 185, 185, 1);
  overflow: hidden;
  color: transparent;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);

  &>* {
    display: none;
  }
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

td.cdk-drop-list {
  vertical-align: top;
}

.list-group.cdk-drop-list-dragging .list-group-item:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}


.hs-map-swipe-reset:not(:disabled) {
  opacity: 0.9;
}