<div class="hs-sidebar-list hs-main-panel list-group">
    <hs-panel-header class="sidebar-header w-100" *ngIf="layoutAppRef.minisidebar" name="additional"
        [title]="'SIDEBAR.additionalPanels' | translateHs: {app} " [app]="app"></hs-panel-header>

    <span class="hs-sidebar-item list-group-item border-top-0" *ngIf="layoutAppRef.sidebarToggleable"
        (click)="toggleSidebar()">
        <i class="menu-icon"
            [ngClass]="layoutAppRef.sidebarExpanded ? (layoutAppRef.sidebarPosition === 'left' ? 'icon-chevron-left' : 'icon-chevron-right') : (layoutAppRef.sidebarPosition === 'left' ? 'icon-chevron-right' : 'icon-chevron-left')"></i>
    </span><!-- TODO: Remove function call from template -->

    <span *ngFor="let button of buttons" class="hs-sidebar-item list-group-item" [attr.data-cy]="button.panel"
        [hidden]="!button.visible" (click)="HsSidebarService.buttonClicked(button, app)"
        [ngClass]="{'active': layoutAppRef.mainpanel === button.panel,  'hs-panel-hidden' : !button.fits}"
        [title]="button.description | translateHs: {app}">
        <!-- TODO: Remove function call from template -->
        <i *ngIf="button.icon" class="menu-icon {{button.icon}}" data-toggle="tooltip" data-container="body"
            data-placement="auto"></i>
        <span *ngIf="button.content" data-toggle="tooltip" data-container="body" data-placement="auto" class=""
            [title]="button.description | translateHs: {app} ">{{button.content()}}</span>
        <span [ngClass]="{'language': button.panel === 'language'}" class="hs-sidebar-item-title">{{button.title |
            translateHs: {app} }}</span>
    </span>
    <!-- TODO: Remove function call from template -->
    <span class="hs-sidebar-item  list-group-item hs-sidebar-additional-items" *ngIf="layoutAppRef.minisidebar"
        (click)="HsLayoutService.setMainPanel('sidebar', app, true)"
        [ngClass]="{'active': layoutAppRef.mainpanel === 'sidebar'}">
        <i class="menu-icon icon-equals" data-toggle="tooltip" data-container="body" data-placement="auto" title="Menu"
            style="margin-left: 0px !important;"></i>
        <span class="hs-sidebar-item-title">{{miniSidebarButton.title | translateHs: {app} }}</span>
    </span>
    <hs-impressum class="mt-auto" [app]="app"></hs-impressum>
</div>
