<form class="form-horizontal" name="frmConnect" role="form">
    <hs-add-data-common-url type="wmts" [(url)]="hsAddDataUrlWmtsService.url" (connect)="connect()">
    </hs-add-data-common-url>

    <hs-common-url-progress [loadingInfo]="hsAddDataUrlWmtsService.loadingInfo"></hs-common-url-progress>
    <div *ngIf="hsAddDataUrlWmtsService.showDetails && !hsAddDataUrlWmtsService.loadingInfo" class="card">
        <ul class="list-group">
            <li class="list-group-item hs-ows-layerlistheading clearfix" style="background: var(--white);">
                <div>{{hsAddDataUrlWmtsService.title}}</div>
            </li>
            <li *ngFor="let layer of hsAddDataUrlWmtsService.services; trackBy:( 'Identifier' | trackByProperty ); let index = index"
                class="list-group-item clearfix">
                <input class="d-none" type="checkbox" [(ngModel)]="layer.checked" (change)="changed()"
                    [attr.id]="'wmtslayer-'+index" name="wmtslayer-{{index}}" />
                <label class="form-check-label m-0 pl-4 mw-100 d-flex align-items-center"
                    [attr.for]="'wmtslayer-'+index"
                    [ngClass]="{'hs-checkmark': layer.checked,'hs-uncheckmark':!layer.checked}"><span class="ml-2"
                        style="max-width: 90%;">{{layer.Title}}</span></label>

                <div *ngIf="layer.checked" class="d-flex flex-row justify-content-end align-items-baseline">
                    {{'ADDDATA.CATALOGUE.addAs' | translate}}
                    <div class="btn-group ml-2">
                        <button type="button" class="btn btn-sm btn-light  btn-outline-secondary"
                            (click)="layer.base = true" [ngClass]="{'active':layer.base}">
                            {{'COMPOSITONKEYWORDS.Basemap' | translate}}
                        </button>
                        <button type="button" class="btn btn-sm btn-light  btn-outline-secondary"
                            (click)="layer.base = false" [ngClass]="{'active': !layer.base}">
                            {{'COMMON.layer' | translate}}
                        </button>
                    </div>
                </div>
            </li>
        </ul>
        <li class="list-group-item hs-ows-layerlistheading clearfix" style="position: sticky;
        bottom: 0; background: var(--panel-wrapper-bg-color); z-index:10">
            <div class="d-flex justify-content-center">
                <hs-common-url-add class="w-100" [hasChecked]="hasChecked" [injectedService]="hsAddDataUrlWmtsService"
                    [layers]="hsAddDataUrlWmtsService.services">
                </hs-common-url-add>
            </div>
        </li>
    </div>

</form>
