<form class="form-horizontal" name="frmConnectWmts" role="form">
    <hs-common-url type="wmts" [(url)]="hsAddDataCommonService.url" (connect)="hsAddDataOwsService.connect()">
    </hs-common-url>

    <hs-url-progress *ngIf="hsAddDataCommonService.loadingInfo"></hs-url-progress>
    <div *ngIf="hsAddDataCommonService.showDetails && !hsAddDataCommonService.loadingInfo" class="card">
        <ul class="list-group">
            <li class="list-group-item hs-ows-layerlistheading clearfix bg-white">
                <div>{{hsUrlWmtsService.data.title}}</div>
            </li>
            <li *ngFor="let layer of hsUrlWmtsService.data.layers; trackBy:( 'Identifier' | trackByProperty ); let index = index"
                class="list-group-item clearfix">
                <input class="d-none" type="checkbox" [(ngModel)]="layer.checked" [ngModelOptions]="{standalone: true}"
                    (change)="hsAddDataOwsService.changed(hsUrlWmtsService.data)" [attr.id]="'wmtslayer-'+index"
                    name="wmtslayer-{{index}}" />
                <label class="form-check-label m-0 ps-4 mw-100 d-flex align-items-center"
                    [attr.for]="'wmtslayer-'+index"
                    [ngClass]="{'hs-checkmark': layer.checked,'hs-uncheckmark':!layer.checked}"><span class="ms-2"
                        style="max-width: 90%;">{{layer.Title}}</span></label>

                <div *ngIf="layer.checked" class="d-flex flex-row justify-content-end align-items-baseline">
                    {{'ADDDATA.CATALOGUE.addAs' | translate}}
                    <div class="btn-group ms-2">
                        <button type="button" class="btn btn-sm btn-light  btn-outline-secondary"
                            (click)="layer.base = true" [ngClass]="{'active':layer.base}">
                            {{'COMPOSITONKEYWORDS.Basemap' | translate}}
                        </button>
                        <button type="button" class="btn btn-sm btn-light  btn-outline-secondary"
                            (click)="layer.base = false" [ngClass]="{'active': !layer.base}">
                            {{'COMMON.layer' | translate}}
                        </button>
                    </div>
                </div>
            </li>
        </ul>
        <li class="list-group-item hs-ows-layerlistheading clearfix bg-white" style="position: sticky;
        bottom: 0; z-index:10">
            <div class="d-flex justify-content-center">
                <hs-url-add class="w-100" [injectedService]="hsUrlWmtsService"
                    [layers]="hsUrlWmtsService.data.layers">
                </hs-url-add>
            </div>
        </li>
    </div>

</form>