<div id="toolbar">
    <button type="button" class="btn btn-default" title="Layer manager"  ng-if="Core.exists('hs.layermanager.controller')" ng-click="setMainPanel('layermanager', true)">
        <span class="glyphicon glyphicon-tasks"></span>
    </button>
    <button type="button" class="btn btn-default" title="Legend"  ng-if="Core.exists('hs.legend.controller')" ng-click="setMainPanel('legend', true)">
        <span class="glyphicon legend-toolbtn">L</span>
    </button>

    <button type="button" class="btn btn-default" title="Datasource Selector"  ng-if="Core.exists('hs.datasource-selector.controller')" ng-click="setMainPanel('datasource_selector', true)">
        <span class="glyphicon glyphicon-cloud-download"></span>
    </button>

    <button type="button" class="btn btn-default" title="Compositions"  ng-if="Core.exists('hs.composition-browser.controller')" ng-click="setMainPanel('composition_browser', true)">
        <span class="glyphicon glyphicon-cloud-download"></span>
    </button>

    <button type="button" class="btn btn-default" title="Add service or dataset"  ng-if="Core.exists('hs.ows.controller')" ng-click="setMainPanel('ows', true)">
        <span class="glyphicon glyphicon-plus"></span>
    </button>

    <button type="button" class="btn btn-default"  title="Filter features"  ng-if="Core.exists('hs.feature-crossfilter.controller')" ng-click="setMainPanel('feature_crossfilter', true)">
        <span class="fa fa-pie-chart"></span>
    </button>

    <button type="button" class="btn btn-default"  title="Query information and other"  ng-if="Core.exists('hs.query.controller')" ng-click="setMainPanel('info', true)">
        <i class="fa fa-question-circle"></i>
    </button>

    <button type="button" class="btn btn-default"  title="Measure lines and polygon"  ng-if="Core.exists('hs.measure.controller')" ng-click="setMainPanel('measure', true)">
        <span class="glyphicon glyphicon-compressed"></span>
    </button>

    <button type="button" class="btn btn-default"  title="Eurostat data explorer" ng-if="Core.exists('hs.lodexplorer.controller')" ng-click="setMainPanel('lodexplorer', true)">
        <i class="fa fa-share-alt"></i>
    </button>

    <button type="button" class="btn btn-default" title="Print"  ng-if="Core.exists('hs.print.controller')" ng-click="setMainPanel('print', true)">
        <i class="fa fa-print"></i>
    </button>
</div>