<span class="datasources_item">
  <strong><a href="#" data-toggle="tooltip" [title]="layer.description || ''"
      (click)="showMetadata(endpoint, layer)">{{layer.title || layer.description}}</a></strong>
</span>
<span class="float-right">
  <a class="btn btn-sm btn-secondary" [href]='hsDatasourcesService.layerDownload(endpoint, layer)' data-toggle="tooltip"
    title="Download" [hidden]='hsDatasourcesService.layerDownload(endpoint,layer) == "#"'><i
      class="icon-download"></i></a>
  <a class="btn btn-sm btn-secondary" [href]='hsDatasourcesService.layerRDF(endpoint, layer)' data-toggle="tooltip"
    title="GeoDCAT-AP" target="_blank"
    [hidden]='endpoint.type!="micka" || hsDatasourcesService.layerRDF(endpoint, layer) == "#"'><i
      class="icon-share-alt"></i></a>
  <div class="btn-group btn-group-toggle" data-toggle="buttons" [hidden]="!selectTypeToAddLayerVisible">
    <span class="btn btn-sm" disabled="true" aria-disabled="true">Add as&nbsp;</span>
    <!--i class="btn but-title-sm icon-fatredo" [hidden]="!selectedType" (click)="selectedType = null"></i-->
    <label class="btn btn-sm btn-outline-primary" [ngClass]="{'active': type == selectedType}"
      *ngFor="let type of whatToAddTypes">
      <input type="radio" name="options"
      (click)="selectedType = type; addLayerToMap(endpoint, layer)" data-dismiss="modal">
      {{type}}
    </label>
    &nbsp;
  </div>
  <button type="button" class="btn btn-sm btn-primary" (click)="addLayerToMap(endpoint, layer)"
    [hidden]="hsConfig.dss_disallow_add == true || (selectTypeToAddLayerVisible)"
    data-toggle="tooltip" title="Add to map">
    <i class="icon-plus"></i>
  </button>
  <button type="button" class="btn btn-sm btn-outline-danger" (click)="abortAdd()"
  [hidden]="!selectTypeToAddLayerVisible || selectedType"
    data-toggle="tooltip" title="Abort add">
    <i class="icon-remove"></i>
  </button>
</span>
