<div class="card hs-main-panel">
    <hs-panel-header name="datasource_selector" title="Datasources"></hs-panel-header>
    <div class="card-body">
        <!--        <div ng-if="config.allowAddExternalDatasets" ng-include="'./datasource_search.html'">
            <div class="input-group col-lg-8 col-sm-12 col-xs-12" style="margin-bottom: 4px">
                <input type="text" class="form-control hs-filter" placeholder="Filter:" ng-model="query.title" ng-change="queryCatalogs(datasources)">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" ng-click='openMickaAdvancedSearch()' translate>More</button>
                    <button type="button" class="btn btn-secondary" ng-click="clear()"><span aria-hidden="true" class="close">×</span><span class="sr-only"><translate>Clear</translate></span></button>
                </span>
            </div>
        </div>-->

        <ul class="nav flex-column flex-sm-row dss-tabs" role="tablist">
            <li class="nav-item" ng-class="{'hs-tab-single-datasources': !data.wms_connecting}"
                ng-repeat="endpoint in endpointsService.endpoints | forDatasourceBrowser">
                <a class="nav-link" ng-class="{'btn-primary': data.id_selected == 'ds'+$index}" href="#" data-target="{{'#ds'+$index}}" aria-controls="context" role="tab"
                    data-toggle="tab" ng-click="datasetSelect('ds'+$index)">
                    {{endpoint.title}}
                    <span ng-show='endpoint.datasourcePaging.matched>0'>({{endpoint.datasourcePaging.matched}})</span>
                    <span class="icon-refresh icon-spin" ng-show="endpoint.datasourcePaging.loaded == false"></span>
                </a>
            </li>
            <li class="nav-item hs-tab-single-datasources" ng-if="HsCore.exists('hs.addLayers') && config.allowAddExternalDatasets">
                <a class="nav-link" href="#" aria-controls="OWS" ng-class="{'btn-primary active': data.wms_connecting || data.id_selected == 'OWS'}" role="tab" ng-click="datasetSelect('OWS')" data-toggle="tab" translate>
                    External data</a>
            </li>
        </ul><!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="hs-dataset-panel tab-pane"
                ng-class="{'active': 'ds'+$index == data.id_selected && !data.wms_connecting}"
                id="{{'ds'+$index}}" ng-repeat="endpoint in endpointsService.endpoints | forDatasourceBrowser">
                <div class="card">
                    <div class="card-body">
                        <div ng-if="endpoint.type == 'micka'">
                            <hs.micka-filters-directive micka-dataset-config="{url: endpoint.url}"></hs.micka-filters-directive>
                        </div>
                        <hs.layman.current-user endpoint="endpoint"></hs.layman.current-user>
                        <ul class="list-group">
                            <li ng-show='endpoint.layers.length == 0' class='list-group-item' translate>No results</li>
                            <li ng-repeat="layer in endpoint.layers" class="clearfix"
                                ng-class="'list-group-item'+(layer.highlighted ? ' active' : '')"
                                ng-mouseover="DS.highlightComposition(layer, true)"
                                ng-mouseleave="DS.highlightComposition(layer, false)">
                                <span class="datasources_item">
                                    <b><a href="#" data-toggle="tooltip" title="{{layer.description}}"
                                            ng-click="showMetadata(endpoint, layer)">{{layer.title || layer.description}}</a></b>
                                </span>
                                <span class="float-right">
                                    <a class="btn btn-sm btn-secondary" ng-href='{{DS.layerDownload(endpoint, layer)}}'
                                        data-toggle="tooltip" title="{{'Download'|translate}}"
                                        ng-show='DS.layerDownload(endpoint,layer) != "#"'><i
                                            class="icon-download"></i></a>
                                    <a class="btn btn-sm btn-secondary" ng-href='{{DS.layerRDF(endpoint, layer)}}'
                                        data-toggle="tooltip" title="GeoDCAT-AP" target="_blank"
                                        ng-show='endpoint.type=="micka" && DS.layerRDF(endpoint, layer) != "#"'><i class="icon-share-alt"></i></a>
                                    <button type="button" class="btn btn-sm btn-primary"
                                        ng-click="addLayerToMap(endpoint, layer)" ng-hide='config.dss_disallow_add == true'
                                        data-toggle="tooltip" title="{{'Add to map'|translate}}"><i
                                            class="icon-plus"></i></button>
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div class="card-footer" ng-show="endpoint.datasourcePaging.matched>0 && endpoint.type == 'micka'">
                        <nav>
                            <ul class="pagination d-flex justify-content-center" >
                                <li class="page-item" ng-class="{'disabled': endpoint.datasourcePaging.start == 0 }">
                                    <a href="#" class="page-link" ng-click='getPreviousRecords(endpoint)'><span
                                            aria-hidden="true">&laquo;</span></a>
                                </li>
                                <li class="page-item" ng-if="endpoint.datasourcePaging.next != 0"><span class="page-link"> Results
                                        {{endpoint.datasourcePaging.start+ 1}} - {{endpoint.datasourcePaging.next}}</span></li>
                                <li class="page-item" ng-if="endpoint.datasourcePaging.next == 0"><span class="page-link"> Results
                                        {{endpoint.datasourcePaging.start+ 1}} - {{endpoint.datasourcePaging.matched}}</span>
                                    </li>
                                <li class="page-item" ng-show="endpoint.datasourcePaging.loaded == false">
                                    <span class="page-link"><span class="icon-refresh icon-spin" ></span></span></li>    
                                <li class="page-item" ng-class="{'disabled': endpoint.datasourcePaging.next == 0 }">
                                    <a href="#" class="page-link" ng-click='getNextRecords(endpoint)'><span
                                            aria-hidden="true">&raquo;</span></a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <hs.add-layers role="tabpanel" class="tab-pane"
                ng-class="{'active': data.wms_connecting || endpointsService.endpoints.length==0 || data.id_selected == 'OWS'}"
                ng-if="HsCore.exists('hs.addLayers') && config.allowAddExternalDatasets" id="OWS"></hs.add-layers>
        </div>
    </div>
</div>
