<md-dialog>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 i18n>Metadata for {{selectedLayer.title}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" (click)="closeDialog()">
                    <md-icon>close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content layout-padding layout="column" style="max-width:800px;max-height:810px; ">
            <div layout="row" *ngFor="let (key, value) of metadata.entries()" *ngIf="key!='feature'">
                <p flex="25" class="md-body-2">{{key}}</p>
                <p flex="75" class="md-body-1"> {{value}}</p>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button class="md-raised md-secondary" href="#" [href]='DS.layerRDF(selectedDS, selectedLayer)'
                title="GeoDCAT-AP" target="_blank"
                [hidden]='selectedDS.type!="micka" || DS.layerRDF(selectedDS, selectedLayer) == "#"'>
                Layer RDF
            </md-button>
            <md-button class="md-raised md-secondary md-hue-2" i18n [hidden]="!DS.isZoomable(selectedLayer)"
                (click)="mapService.zoomTo(selectedLayer.bbox)">
                Zoom to
            </md-button>
            <md-button class="md-raised md-primary" *ngFor="let type of selectedLayer.type"
                (click)="addLayerToMap(selectedDS, selectedLayer, type)" [hidden]='config.dss_disallow_add == true'>
                Add to map as {{type}}
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
