<md-dialog>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2> {{'DATASOURCE_SELECTOR.metadataFor' | translate}} {{selectedLayer.title}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" (click)="closeDialog()">
                    <md-icon>close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content layout-padding layout="column" style="max-width:800px;max-height:810px; ">
            <div layout="row" *ngFor="let (key, value) of metadata.entries()" *ngIf="key!='feature'">
                <p flex="25" class="md-body-2">{{key}}</p>
                <p flex="75" class="md-body-1"> {{value}}</p>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button class="md-raised md-secondary" href="#"
                [href]='hsDatasourcesService.layerRDF(selectedDS, selectedLayer)' title="GeoDCAT-AP" target="_blank"
                [hidden]='selectedDS.type!="micka" || hsDatasourcesService.layerRDF(selectedDS, selectedLayer) == "#"'>
                {{'DATASOURCE_SELECTOR.layerRDF' | translate}}
            </md-button>
            <md-button class="md-raised md-secondary md-hue-2"
                [hidden]="!hsDatasourcesService.isZoomable(selectedLayer)"
                (click)="mapService.zoomTo(selectedLayer.bbox)">
                {{'COMMON.zoomTo' | translate}}
            </md-button>
            <md-button class="md-raised md-primary" *ngFor="let type of selectedLayer.type"
                (click)="addLayerToMap(selectedDS, selectedLayer, type)">
                {{'DATASOURCE_SELECTOR.addToMapAs' | translate}} {{type}}
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
