<div [ngClass]="{'in': metadataModalVisible}" class="modal hs-datasource_selector-metadata-dialog" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    {{'DATASOURCE_SELECTOR.metadataFor' | translate}} {{ selectedLayer.title}}
                </h4>
                <button type="button" (click)="close()" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">{{'COMMON.close' | translate}}</span>
        </button>
            </div>
            <div class="modal-body" style="max-height:400px; overflow-y:auto">
                <ng-container *ngFor="let key of selectedLayerKeys">
                    <dl *ngIf="key!='feature'">
                        <dt>{{key}}</dt>
                        <hs-widgets-recursive-dd [value]="selectedLayer[key]"></hs-widgets-recursive-dd>
                    </dl>
                </ng-container>
            </div>
            <div class="modal-footer">
                <a role="button" class="btn btn-success" href="#" [href]='hsDatasourcesService.layerRDF(selectedDS, selectedLayer)' data-toggle="tooltip" 
                title="GeoDCAT-AP" target="_blank" [hidden]='selectedDS.type!="micka" || hsDatasourcesService.layerRDF(selectedDS, selectedLayer) == "#"'>
                    <i class="icon-share-alt"></i> RDF
                </a>
                <button type="button" class="btn btn-success" [hidden]="!hsDatasourcesMapService.isZoomable(selectedLayer)" 
                (click)="hsDatasourcesMapService.zoomTo(selectedLayer.bbox)">{{'COMMON.zoomTo' | translate}}</button>
                <button type="button" class="btn btn-primary" *ngFor="let type of selectedLayer.type" (click)="addLayerToMap(selectedDS, selectedLayer, type)" 
                [hidden]='hsConfig.dss_disallow_add == true' data-dismiss="modal">
          <span class="icon-plus"></span><span>{{'DATASOURCE_SELECTOR.addToMapAs' | translate}} {{type}}</span>
        </button>
                <button type="button" class="btn btn-secondary" (click)="close()" data-dismiss="modal">
          {{'COMMON.close' | translate}}
        </button>
            </div>
        </div>
    </div>
</div>