<div ng-class="{'in': metadataModalVisible}" class="modal" id="datasource_selector-metadata-dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">
                    <translate>Metadata for</translate> {{selected_layer.title}}
                </h4>
                <button type="button" ng-click="metadataModalVisible = false" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only" translate="">Close</span></button>
            </div>
            <div class="modal-body" style="max-height:400px; overflow-y:auto">
                <dl ng-repeat="(key, value) in selected_layer" ng-if="key!='feature'">
                    <dt>{{key}} </dt>
                    <dd hs.widgets.object-directive></dd>
                </dl>
            </div>
            <div class="modal-footer" id="stc-footer">
                <a role="button" class="btn btn-success" href="#" ng-href='{{DS.layerRDF(selected_ds, selected_layer)}}' data-toggle="tooltip" title="GeoDCAT-AP" target="_blank" ng-show='selected_ds.type=="micka" && DS.layerRDF(selected_ds, selected_layer) != "#"'><i class="hs-icon-rdf"></i> RDF</a>
                <button type="button" class="btn btn-success" translate ng-show="DS.isZoomable(selected_layer)" ng-click="DS.zoomTo(selected_layer.bbox)">Zoom to</button>
                <button type="button" class="btn btn-primary" ng-click="addLayerToMap(selected_ds, selected_layer); metadataModalVisible = false;" ng-hide='config.dss_disallow_add == true' data-dismiss="modal"><span class="icon-plus"></span><span translate>Add to map</span></button>
                <button type="button" class="btn btn-secondary" ng-click="metadataModalVisible = false" data-dismiss="modal" translate>Close</button>
            </div>
        </div>
    </div>
</div>
