<!-- DEPRECATED -->
<div tabindex="-1" aria-hidden="true">
    <!--div class="modal-header">
        <button type="button" (click)="modalVisible = false" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span><span class="sr-only">{{'COMMON.close' | translate}}</span>
        </button>
    </div-->
    <div class="modal-body" style="overflow-y:auto">
        <div class="btn-group btn-block btn-group-toggle" data-toggle="buttons">
            {{'COMMON.addAs' | translate}}&nbsp;<label class="btn" 
            [ngClass]="{'active': type == layerType, 'btn-light': !alertChoose, 'btn-danger': alertChoose}" *ngFor="let type of types">
                <input type="radio" name="options" (click)="layerType = type; add()" data-dismiss="modal">
                {{type}}
            </label>
        </div>
    </div>
</div>