<div [ngClass]="{'in': modalVisible}" class="modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" i18n>
                    Choose type of layer
                </h4>
                <button type="button" (click)="modalVisible = false" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span><span class="sr-only" i18n>Close</span>
                </button>
            </div>
            <div class="modal-body" style="overflow-y:auto">
                <div class="btn-group btn-block btn-group-toggle" data-toggle="buttons">
                    <label class="btn"
                        [ngClass]="{'active': type == layerType, 'btn-light': !alertChoose, 'btn-danger': alertChoose}"
                        *ngFor="let type of types">
                        <input type="radio" name="options" (click)="layerType = type; alertChoose = false">
                        {{type}}
                    </label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="add()"
                    i18n>Add</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal"
                    (click)="modalVisible = false" i18n>Cancel</button>
            </div>
        </div>
    </div>
</div>
