<div id="toolbar">
    <button type="button" class="btn btn-default" title="Hide panel and toolbar" ng-click="ToolbarService.setMainPanel('')">
        <span class="glyphicon glyphicon-arrow-left"></span>
    </button>

    <button type="button" class="btn btn-default" title="Layer manager" ng-click="ToolbarService.setMainPanel('layermanager')">
        <span class="glyphicon glyphicon-tasks"></span>
    </button>
    <button type="button" class="btn btn-default" title="Legend" ng-click="ToolbarService.setMainPanel('legend')">
        <span class="glyphicon legend-toolbtn">L</span>
    </button>

    <button type="button" class="btn btn-default" title="Catalogue">
        <span class="glyphicon glyphicon-cloud-download" ng-click="ToolbarService.setMainPanel('ows')"></span>
    </button>

    <button type="button" class="btn btn-default"  title="Query information and other" ng-click="ToolbarService.setMainPanel('info')">
        <i class="fa fa-question-circle"></i>
    </button>

    <button type="button" class="btn btn-default"  title="Measure lines and polygon" ng-click="ToolbarService.setMainPanel('measure')">
        <span class="glyphicon glyphicon-compressed"></span>
    </button>


    <button type="button" class="btn btn-default"  title="Eurostat data explorer" ng-click="ToolbarService.setMainPanel('lodexplorer')">
        <i class="fa fa-share-alt"></i>
    </button>

    <button type="button" class="btn btn-default" title="Print" ng-click="ToolbarService.setMainPanel('print')">
        <i class="fa fa-print"></i>
    </button>
</div>