<div class="panel panel-default mainpanel">
    <div class="panel-heading"><span class="panel-title"><translate>Draw new features</translate></span>
        <button type="button" class="close" ng-click="Core.closePanel(this);">
            <span aria-hidden="true">×</span>
            <span class="sr-only" translate>Close</span>
        </button>
    </div>
    <div class="panel-body hs-dr-panel">
    
        <!-- Layer -->
        <div class="form-group">
            <label translate>Layer</label>
            <select class="form-control" ng-model="selected_layer" ng-change="changeLayer()"> 
                <option ng-repeat="layer in drawable_layers" ng-selected="selected_layer==layer.get('title')" value="{{layer.get('title')}}">{{layer.get('title')}}</option>
            </select>
        </div>
        
        <div class="container">
            <div class="row">
                <div class="btn-group .col-sm-9 .push-sm-3" style="margin-bottom:10px">
                    <button class="btn btn-default ng-class:{active: type=='Point'}" ng-click="setType('Point')" translate> Point</button>
                    <button class="btn btn-default ng-class:{active: type=='Polygon'}" ng-click="setType('Polygon')" translate> Polygon</button>
                    <button class="btn btn-default ng-class:{active: type=='LineString'}" ng-click="setType('LineString')" translate> Line</button>
                </div>
                <div class="btn-group .col-sm-3 .pull-sm-9" style="margin-bottom:10px">
                    <button class="btn btn-default" ng-show="type=='Point'" ng-click="newPointFromGps()" translate>New GPS</button>
                    <button class="btn btn-default" ng-click="start()" translate>New</button>
                </div>
            </div>
        </div>
        
        <ul class="list-group hs-dr-featurelist">
            <li ng-repeat="feature in features | orderBy:'-time_stamp' track by $index" id="hs-dr-feature-{{feature.uuid}}" ng-click="setCurrentFeature(feature)" ng-mouseover="highlightFeature(feature, true)" ng-mouseleave="highlightFeature(feature, false)" ng-class="{active : current_feature == feature}" class="list-group-item hs-dr-item">
                <span>{{feature.type}} {{feature.name}}</span>
                <span class="pull-right">
                    <button class="btn btn-default btn-xs" ng-if="feature==current_feature" ng-click="stop()" translate>Stop</button>
                    <button type="button" class="btn btn-default btn-xs glyphicon glyphicon-trash" ng-click="removeFeature(feature);">
                    </button>
                <span>
            </li>
        </ul>
        
        <div class="panel panel-default hs-dr-editpanel" ng-show="current_feature!=null">
            <div class="panel-body">
                <form>
                <!-- Name -->
                <div class="form-group">
                    <label translate>Name</label>
                    <input type="text" class="form-control" ng-model="current_feature.name" ng-change="setUnsaved()"/>
                </div>
                
                <!-- Description -->
                <div class="form-group">
                    <label translate>Description</label>
                    <input type="text" class="form-control" ng-model="current_feature.description" ng-change="setUnsaved()"/>
                </div>
                
                <!-- Category -->
                <div class="form-group">
                    <label translate>Category</label>
                    <select class="form-control" ng-model="current_feature.category_id" ng-change="setUnsaved()"> 
                        <option ng-repeat="category in categories" ng-selected="category.categoryId==current_feature.category_id" value="{{category.categoryId}}">{{category.categoryName}}</option>
                    </select>
                </div>

                <!-- Dataset -->
                <div class="form-group">
                    <label translate>Dataset</label>
                    <select class="form-control" ng-model="current_feature.dataset_id" ng-change="setUnsaved()">
                        <option ng-repeat="dataset in datasets" ng-selected="dataset.datasetId==current_feature.dataset_id" value="{{dataset.datasetId}}">{{dataset.datasetName}}</option>
                    </select>
                </div>

                <!-- Photo -->
                <!-- <div class="form-group" ng-if="Core.isMobile()"> -->
                <div class="form-group" ng-if="Core.isMobile() && current_feature.photo_src">
                    <label translate>Photo</label>
                    <!-- <span>{{current_feature.photo_src}}</span> -->
                    <!-- <input type="file" class="form-control" ng-model="current_feature.photo" ng-change="setUnsaved()" style="display: none"> -->
                    <!-- <img data-ng-src="data:image/PNG;base64,{{photo}}" style="width: 100%"></img> -->
                    <img ng-show="current_feature.photo_src" ng-src="{{current_feature.photo_src}}" style="width: 100%"></img>
                </div>
                
                <button class="btn btn-default" type="button" data-toggle="collapse" data-target="#hs-more-attributes" aria-expanded="false" aria-controls="hs-more-attributes">
                    Show more
                </button>
                <div class="collapse" id="hs-more-attributes">
                    <br/>
                    <div class="form-group" ng-repeat="user_defined_attr in current_feature.extra_attributes">
                        <input type="text" class="form-control hs-dr-extra-attribute-name" ng-model="user_defined_attr.name"/>
                        <input type="text" class="form-control" ng-model="user_defined_attr.value"/>
                    </div>
                </div>
                
            
                <button class="btn btn-default hs-dr-add-attribute" ng-click="addUserDefinedAttr()" >
                    <i class="glyphicon glyphicon-plus"></i>
                </button>

                <button class="btn btn-default" ng-if="Core.isMobile()" ng-click="addPhoto()">
                    <i class="glyphicon glyphicon-camera"></i>
                </button>
                
                <button class="btn btn-primary" ng-click="saveFeature()">Save</button>
                <button class="btn btn-default" ng-click="cancelChanges()" ng-show="is_unsaved==true">Cancel</button>
                <!-- Footer -->
                </form>
            </div>
        </div>
        
        <button class="btn btn-default btn-danger" style="float:right" ng-click="clearAll()" translate>Clear</button>
        <!-- <button class="btn btn-default" style="float:right" ng-click="sync()" translate>Synchronize</button> -->
    </div>
</div>
