<div class="panel-default mainpanel">
    <hs.layout.panel-header panel-name="draw" panel-title="'Draw'||translate"></hs.layout.panel-header>

    <div class="dropdown">
        <div class="btn-group w-100" ng-class="layoutService.sidebarBottom() ? 'btn-group-lg' : 'btn-group-sm'" c>
            <button type="button" class="btn rounded-0 btn-light btn-outline-primary btn-secondary dropdown-toggle"
                data-toggle="dropdown" aria-haspopup="true" ng-click="layersExpanded = !layersExpanded"
                aria-expanded="{{layersExpanded}}">
                {{selectedLayerString()}}
            </button>
            <button class="btn btn-primary rounded-0" ng-click="service.addDrawLayer()" translate data-toggle="tooltip"
                title="Add draw layer">
                <i class="icon-plus"></i>
            </button>
        </div>

        <div class="dropdown-menu" ng-class="{'show': layersExpanded}">
            <a class="dropdown-item" href="#" ng-repeat="layer in drawableLayers()"
                ng-click="selectLayer(layer)">{{layer.get('title')}}</a>
        </div>
    </div>
    <div class="btn-group rounded-0" ng-class="layoutService.sidebarBottom() ? 'btn-group-lg' : 'btn-group-sm'">
        <button class="btn btn-light  btn-outline-primary" ng-class="{active: service.type=='Point' }"
            ng-click="setType('Point')" translate data-toggle="tooltip" title="Point">
            <i class="icon-pin"></i>
        </button>
        <button class="btn btn-light  btn-outline-primary" ng-class="{active: service.type=='Polygon' }"
            ng-click="setType('Polygon')" translate data-toggle="tooltip" title="Polygon">
            <i class="icon-polygonlasso"></i>
        </button>
        <button class="btn btn-light btn-outline-primary" ng-class="{active: service.type=='LineString' }"
            ng-click="setType('LineString')" translate data-toggle="tooltip" title="Line">
            <i class="icon-line"></i>
        </button>
        <button class="btn btn-light btn-outline-primary" ng-class="{active: service.type=='Circle' }"
            ng-click="setType('Circle')" translate data-toggle="tooltip" title="Line">
            <i class="icon-circleloaderfull"></i>
        </button>
    </div>
    <div ng-show="service.type != null " class="pt-2">
        <div class="card">
            <div class="card-header h5 p-1 pl-4" translate>
                Defined style
                <div class="hs-styler-selected-color-box" ng-style="drawStyle()">
                </div>
            </div>
            Color
            <div class="m-auto" ng-click="updateStyle()" hs.styler.color_directive info="fillcolor"></div>
            <div ng-show="service.type != 'LineString'">
                <label translate>Fill opacity: {{opacity}}</label>
                <input type="range" step="0.01" min="0" max="1" class="form-control m-auto"
                    style="width: 85%;height: 21px;" ng-model="opacity" ng-model-options="{ getterSetter: true }" />
            </div>
            <label translate>Stroke width: {{linewidth}}</label>

            <input type="range" step="0.5" min="0" max="20" class="form-control m-auto" style="width: 85%;height: 21px;"
                ng-model="linewidth" ng-change='save()' />

        </div>
    </div>
</div>