<div class="card panel-default hs-main-panel">
    <hs.layout.panel-header panel-name="draw" panel-title="'Draw'| translate">
        <extra-buttons>
            <button class="but-title-sm" data-toggle="tooltip"
                title="{{'While drawing polygon or line you can hold shift to free-hand draw' | translate}}">
                <i class="icon-question-sign"></i>
            </button>
        </extra-buttons>
    </hs.layout.panel-header>

    <div>
        <div class="d-flex w-75 m-auto py-2 justify-content-around" style="white-space: nowrap;">
            <button type="button" class="btn btn-sm rounded btn-primary hs-toolbar-button"
            ng-click="service.saveDrawingLayer($scope, true)" translate>
                New drawing layer
            </button>
            <button type="button" ng-click="setType(service.type)" class="btn ml-1 btn-sm rounded btn-primary hs-toolbar-button"
            ng-disabled="!service.type" translate>
                Disable drawing
            </button>
        </div>
        <p class="m-auto p-0 w-75" style="color:crimson; font-size: smaller;text-align: center;" ng-show="!service.type" translate>Activate drawing by choosing a feature type</p>
        <div ng-show="service.type" class="btn-group w-100"
            ng-class="layoutService.sidebarBottom() ? 'btn-group-lg' : 'btn-group-sm'">

            <div ng-show="service.drawableLayers.length == 0" class="flex-row w-75 m-auto justify-content-around align-items-center"
                style="display: flex;">
                <p class="m-0 p-0" style="color:crimson" translate>Unsaved drawing</p>
                <a href="" class="ml-2" ng-click="service.saveDrawingLayer($scope)" translate>Save as..</a>
            </div>
            <div class="flex-row w-75 m-auto justify-content-center align-items-center"
                ng-show="service.drawableLayers.length != 0" style="display: flex;">
                <p class="m-0 p-0" style="color: blue;" translate>Drawing to:</p>
                <div class="dropdown">
                    <button type="button" class="btn btn-sm rounded-0 hs-toolbar-button dropdown-toggle"
                        data-toggle="dropdown" aria-haspopup="true" ng-click="layersExpanded = !layersExpanded"
                        aria-expanded="{{layersExpanded}}">
                        {{selectedLayerString()}}
                    </button>
                    <div class="dropdown-menu" ng-class="{'show': layersExpanded}">
                        <a class="dropdown-item" href="#" ng-repeat="layer in service.drawableLayers"
                            ng-click="selectLayer(layer)">{{layer.get('title')}}</a>
                    </div>
                </div>
                <button type="button" ng-if="service.selectedLayer" class="btn btn-light  btn-outline-danger btn-sm" ng-click="removeLayer()"
                title="{{'Remove layer' | translate}}" style="border: none !important;">
                <i class="glyphicon icon-trash"></i>
            </button>
            </div>
        </div>
    </div>

    <div class="btn-block rounded-0 my-1 draw-buttons d-flex justify-content-center"
        ng-class="layoutService.sidebarBottom() ? 'btn-group-lg' : 'btn-group-sm'">
        <button class="btn btn-light btn-outline-primary" ng-class="{active: service.type=='Point' }"
            ng-click="setType('Point')" data-toggle="tooltip" title="{{'Point' | translate}}">
            <i class="icon-pin"></i>
        </button>
        <button class="btn btn-light btn-outline-primary" ng-class="{active: service.type=='Polygon' }"
            ng-click="setType('Polygon')" data-toggle="tooltip" title="{{'Polygon' | translate }}">
            <i class="icon-polygonlasso"></i>
        </button>
        <button class="btn btn-light btn-outline-primary" ng-class="{active: service.type=='LineString' }"
            ng-click="setType('LineString')" data-toggle="tooltip" title="{{'Line' | translate}}">
            <i class="icon-line"></i>
        </button>
        <button class="btn btn-light btn-outline-primary" ng-class="{active: service.type=='Circle' }"
            ng-click="setType('Circle')" data-toggle="tooltip" title="{{'Circle' | translate }}">
            <i class="icon-circleloaderfull"></i>
        </button>
    </div>
    <div ng-show="service.type != null " class="pt-2">
        <div class="form-check" style="font-size: smaller">
            <input class="ng-hide" type="checkbox" ng-attr-id="individualStyle" ng-model="useIndividualStyle" />
            <label translate ng-attr-for="individualStyle"
                ng-class="{'hs-checkmark':useIndividualStyle,'hs-uncheckmark':!useIndividualStyle}">Individual style for
                feature</label>
        </div>
        <div class="card" ng-show="useIndividualStyle">
            <div class="card-header h5 p-1 pl-4">
                <span translate>Defined style</span>
                <div class="hs-styler-selected-color-box" ng-style="drawStyle()">
                </div>
            </div>
            <span translate>Color</span>
            <div class="m-auto" ng-click="updateStyle()" hs.styler.color_directive info="fillcolor"></div>
            <div ng-show="service.type != 'LineString'">
                <label translate>Fill opacity: {{opacity}}</label>
                <input type="range" step="0.01" min="0" max="1" class="form-control m-auto"
                    style="width: 85%;height: 21px;" ng-model="opacity" ng-model-options="{ getterSetter: true }" />
            </div>
            <label translate>Stroke width: {{linewidth}}</label>

            <input type="range" step="0.5" min="0" max="20" class="form-control m-auto" style="width: 85%;height: 21px;"
                ng-model="linewidth" ng-change='save()' />

        </div>
    </div>
</div>