<div class="btn-group bg-light">
    <button class="btn rounded-0 btn-light btn-outline-secondary hs-toolbar-button" ng-click="toggleDrawToolbar()"
        translate>
        <i ng-class="{'icon-pencil':!drawToolbarExpanded, 'icon-remove':drawToolbarExpanded}" data-toggle="tooltip"
            title="{{'Draw' | translate}}"></i></button>
    <div class="btn-group" ng-if="drawToolbarExpanded">
        <!-- <button type="button" class="btn btn-light btn-outline-danger btn-secondary dropdown-toggle"
            data-toggle="dropdown" aria-haspopup="true" ng-show="(service.drawableLayers.length == 0 && service.type) || service.tmpDrawLayer"
            ng-click="service.saveDrawingLayer($scope)"
            ng-style="{'max-width':'125px', 'overflow':'hidden', 'font-size':'smaller'}">
            {{ 'Unsaved drawing' | translate}}
        </button> -->
        <button type="button" class="btn rounded-0  btn-light dropdown-toggle" data-toggle="dropdown"
            aria-haspopup="true" ng-click="controlLayerListAction()" aria-expanded="{{layersExpanded}}"
            ng-style="{'max-width':'125px', 'overflow':'hidden', 'font-size':'smaller'}"
            ng-class="service.tmpDrawLayer ? 'btn-outline-danger ' : 'btn-outline-primary'"
            ng-show="service.drawableLayers.length > 0 || service.tmpDrawLayer ">
            {{selectedLayerString()}}
        </button>
        <button type="button" ng-if="service.tmpDrawLayer"
            class="btn btn-light hs-toolbar-button  btn-outline-secondary" ng-click="service.saveDrawingLayer($scope)"
            title="{{'Save drawing to layer' | translate}}">
            <i class="glyphicon  icon-save-floppy"></i>
        </button>
        <button type="button" ng-if="service.selectedLayer"
            class="btn btn-light hs-toolbar-button  btn-outline-secondary" ng-click="removeLayer()"
            title="{{'Remove layer' | translate}}">
            <i class="glyphicon icon-trash"></i>
        </button>

        <div class="dropdown-menu" ng-class="{'show': layersExpanded}" >
            <div class="d-flex align-items-center w-100 flex-column" ng-if="service.drawableLayers.length > 0">
                <label class=" bg-primary w-100 text-light m-0 p-1">Active layers</label>
                <a class="dropdown-item" href="#" ng-repeat="layer in service.drawableLayers"
                    ng-click="selectLayer(layer)">{{layer.get('title')}}</a>
            </div>

            <div class="d-flex align-items-center w-100 flex-column" ng-if="service.drawableLaymanLayers.length > 0">
                <label class=" bg-primary w-100 text-light m-0 p-1">Server layers</label>
                <a class="dropdown-item" href="#" ng-repeat="layer in service.drawableLaymanLayers"
                    ng-click="selectLayer(layer)">{{layer.title}}</a>
            </div>
        </div>
        <button class="btn btn-light hs-toolbar-button btn-outline-secondary" ng-show="!service.tmpDrawLayer"
            ng-click="service.saveDrawingLayer($scope,true)" translate data-toggle="tooltip"
            title="{{'Add draw layer' | translate}}">
            <i class="icon-plus"></i></button>
        <!-- <button class="btn btn-light hs-toolbar-button btn-outline-secondary" ng-show="service.tmpDrawLayer"
            ng-click="service.saveDrawingLayer($scope)" translate data-toggle="tooltip"
            title="{{'Add draw layer' | translate}}">
            <i class="icon-save-floppy"></i></button> -->
    </div>
    <div class="btn-group" ng-if="drawToolbarExpanded">
        <button class="btn btn-light hs-toolbar-button rounded-0 btn-outline-secondary" ng-if="service.drawActive"
            ng-click="removeLastPoint()" translate data-toggle="tooltip" title="{{'Remove last point' | translate}}">
            <i class="icon-remove-circle"></i></button>
        <button class="btn btn-light hs-toolbar-button rounded-0 btn-outline-secondary" ng-if="service.drawActive"
            ng-click="finishDrawing()" translate data-toggle="tooltip" title="{{'Finish feature' | translate}}">
            <i class="icon-check"></i></button>
        <button type="button" ng-click="drawTypeExpanded = !drawTypeExpanded" style="line-height: 1 !important;"
            class="btn btn-light dropright rounded-0 btn-outline-secondary dropdown-toggle" aria-haspopup="true">
            <label ng-if="!service.type" class="m-0">{{'Select type' | translate}}</label>
            <i ng-class="{
                            'icon-pin': service.type=='Point',
                            'icon-polygonlasso': service.type=='Polygon',
                            'icon-line': service.type=='LineString'
                        }"></i>
        </button>
        <div class="dropdown-menu  p-0" style="min-width: 7.93em;" ng-class="{'show': drawTypeExpanded}">
            <div class="btn-group w-100">
                <button class="btn btn-light hs-toolbar-button btn-outline-secondary"
                    ng-class="{active: service.type=='Point' }"
                    ng-click="setType('Point');drawTypeExpanded = !drawTypeExpanded" data-toggle="tooltip"
                    title="{{'Point' | translate}}"><i class="icon-pin"></i></button>
                <button class="btn btn-light hs-toolbar-button btn-outline-secondary"
                    ng-class="{active: service.type=='Polygon' }"
                    ng-click="setType('Polygon');drawTypeExpanded = !drawTypeExpanded" data-toggle="tooltip"
                    title="{{'Polygon' | translate}}"><i class="icon-polygonlasso"></i></button>
                <button class="btn btn-light hs-toolbar-button btn-outline-secondary"
                    ng-class="{active: service.type=='LineString' }"
                    ng-click="setType('LineString');drawTypeExpanded = !drawTypeExpanded" data-toggle="tooltip"
                    title="{{'Line' | translate}}">
                    <i class="icon-line"></i></button>
            </div>
        </div>
    </div>
</div>

<!-- ng-style="{position: 'absolute', right: ( (layoutService.sidebarRight ? layoutService.panelSpaceWidth() : 0) + 5) + 'px', bottom: '6em'}" -->