<div>
    <div class="btn-group">
        <button class="btn rounded-0 btn-light btn-outline-secondary" style="height:2.4em"
            ng-click="toggleDrawToolbar()" translate>
            <i ng-class="{'icon-pencil':!drawToolbarExpanded, 'icon-remove':drawToolbarExpanded}" data-toggle="tooltip"
                title="{{'Draw' | translate}}"></i></button>
        <div class="btn-group btn-group" ng-if="drawToolbarExpanded">
            <button type="button" class="btn btn-light btn-outline-primary btn-secondary dropdown-toggle"
                data-toggle="dropdown" aria-haspopup="true" ng-click="layersExpanded = !layersExpanded"
                aria-expanded="{{layersExpanded}}" ng-style="{'max-width':'125px', 'overflow':'hidden'}">
                {{selectedLayerString()}}
            </button>
            <div class="dropdown-menu" ng-class="{'show': layersExpanded}">
                <a class="dropdown-item" href="#" ng-repeat="layer in drawableLayers()"
                    ng-click="selectLayer(layer)">{{layer.get('title')}}</a>
            </div>
        </div>
        <button class="btn btn-light  btn-outline-secondary" ng-if="drawToolbarExpanded"
            ng-click="service.addDrawLayer()" translate data-toggle="tooltip" title="{{'Add draw layer' | translate}}"><i
                class="icon-plus"></i></button>
        <button class="btn btn-light  btn-outline-secondary" ng-class="{active: service.type=='Point' }"
            ng-if="drawToolbarExpanded" ng-click="setType('Point')" translate data-toggle="tooltip" title="{{'Point' | translate}}"><i
                class="icon-pin"></i></button>
        <button class="btn btn-light  btn-outline-secondary" ng-class="{active: service.type=='Polygon' }"
            ng-if="drawToolbarExpanded" ng-click="setType('Polygon')" translate data-toggle="tooltip" title="{{'Polygon' | translate}}"><i
                class="icon-polygonlasso"></i></button>
        <button class="btn btn-light rounded-0 btn-outline-secondary" ng-class="{active: service.type=='LineString' }"
            ng-if="drawToolbarExpanded" ng-click="setType('LineString')" translate data-toggle="tooltip" title="{{'Line' | translate}}">
            <i class="icon-line"></i></button>
    </div>
</div>
<!-- ng-style="{position: 'absolute', right: ( (layoutService.sidebarRight ? layoutService.panelSpaceWidth() : 0) + 5) + 'px', bottom: '6em'}" -->