<div class="card panel-default mainpanel">
    <hs.layout.panel-header panel-name="draw" panel-title="'Draw new features'||translate"></hs.layout.panel-header>
    <div class="card-body hs-dr-panel">
    
        <!-- Layer -->
        <div class="form-group">
            <label translate>Layer</label>
            <select class="form-control" ng-model="selected_layer" ng-change="changeLayer()"> 
                <option ng-repeat="layer in drawable_layers" ng-selected="selected_layer==layer.get('title')" value="{{layer.get('title')}}">{{layer.get('title')}}</option>
            </select>
        </div>
        
        <div class="btn-group center-block"><!-- 
             --><button class="btn btn-secondary ng-class:{active: type=='Point'}" ng-click="setType('Point')" translate><i class="icon-pin"></i></button><!-- 
             --><button class="btn btn-secondary ng-class:{active: type=='Polygon'}" ng-click="setType('Polygon')" translate><i class="icon-polygonlasso"></i></button><!-- 
             --><button class="btn btn-secondary ng-class:{active: type=='LineString'}" ng-click="setType('LineString')" translate>  <i class="icon-line"></i></button>
        </div>
        <div class="btn-group center-block hs-draw-new-buttons"><!-- 
             --><button class="btn btn-secondary ng-class:{hs_draw_new_extended: type!='Point'}" ng-click="start()" translate>New</button><!-- 
             --><button class="btn btn-secondary" ng-show="type=='Point' && Core.isMobile()" ng-click="newPointFromGps()" translate>New GPS</button><!-- 
             --><button class="btn btn-secondary btn-danger" ng-click="clearAll()" translate>Clear</button>
        </div>
    
        <ul class="list-group hs-dr-featurelist">
            <li ng-repeat="feature in features | orderBy:'-time_stamp' track by $index" id="hs-dr-feature-{{feature.uuid}}" ng-click="setCurrentFeature(feature)" ng-mouseover="highlightFeature(feature, true)" ng-mouseleave="highlightFeature(feature, false)" ng-class="{active : current_feature == feature}" class="list-group-item hs-dr-item">
                <span>{{feature.type}} {{feature.name}}</span>
                <span class="pull-right">
                    <button class="btn btn-secondary btn-sm" ng-if="feature==current_feature" ng-click="stop()" translate>Stop</button>
                    <button type="button" class="btn btn-secondary btn-sm" ng-click="removeFeature(feature);">
                        <i class="icon-trash"></i>
                    </button>
                <span>
            </li>
        </ul>
        
        <div class="card panel-default hs-dr-editpanel" ng-show="current_feature!=null">
            <div class="card-body">
                <form>
                <!-- Name -->
                <div class="form-group">
                    <label translate>Name</label>
                    <input type="text" class="form-control" ng-model="current_feature.name" ng-change="setUnsaved()"/>
                </div>
                
                <!-- Description -->
                <div class="form-group">
                    <label translate>Description</label>
                    <input type="text" class="form-control" ng-model="current_feature.description" ng-change="setUnsaved()"/>
                </div>
                
                <!-- Category -->
                <div class="form-group">
                    <label translate>Category</label>
                    <select class="form-control" ng-model="current_feature.category_id" ng-change="setUnsaved()"> 
                        <option ng-repeat="category in categories" ng-selected="category.category_id==current_feature.category_id" value="{{category.category_id}}">{{category.category_name}}</option>
                    </select>
                </div>

                <!-- Dataset -->
                <div class="form-group">
                    <label translate>Dataset</label>
                    <select class="form-control" ng-model="current_feature.dataset_id" ng-change="setUnsaved()">
                        <option ng-repeat="dataset in datasets" ng-selected="dataset.dataset_id==current_feature.dataset_id" value="{{dataset.dataset_id}}">{{dataset.dataset_name}}</option>
                    </select>
                </div>

                <!-- Photo -->
                <!-- <div class="form-group" ng-if="Core.isMobile()"> -->
                <div class="form-group" ng-if="current_feature.media.length">
                    <label translate>Photo</label>
                    <!-- <span>{{current_feature.photo_src}}</span> -->
                    <!-- <input type="file" class="form-control" ng-model="current_feature.photo" ng-change="setUnsaved()" style="display: none"> -->
                    <!-- <img data-ng-src="data:image/PNG;base64,{{photo}}" style="width: 100%"></img> -->
                    <img ng-repeat="image in current_feature.media | orderBy:'-media_id' track by $index" ng-show="current_feature.media" ng-src="{{ image.url?image.url:image.thumbnail_url }}" style="width: 100%"/>
                </div>
                
                <button class="btn btn-secondary" ng-click="moreAttributesVisible = !moreAttributesVisible" type="button" data-toggle="collapse" data-target="#hs-more-attributes" aria-expanded="false" aria-controls="hs-more-attributes">
                    Show more
                </button>
                <div class="collapse" ng-class="{'show': moreAttributesVisible}" id="hs-more-attributes">
                    <br/>
                    <div class="form-group" ng-repeat="user_defined_attr in current_feature.extra_attributes">
                        <input type="text" class="form-control hs-dr-extra-attribute-name" ng-model="user_defined_attr.name"/>
                        <input type="text" class="form-control" ng-model="user_defined_attr.value"/>
                    </div>
                </div>
                
            
                <button class="btn btn-secondary hs-dr-add-attribute" ng-click="addUserDefinedAttr()" >
                    <i class="icon-plus"></i>
                </button>

                <button class="btn btn-secondary" ng-if="Core.isMobile()" ng-click="addPhoto()">
                    <i class="icon-camera"></i>
                </button>
                
                <button class="btn btn-primary" ng-click="saveFeature(true)">Save</button>
                <button class="btn btn-secondary" ng-click="cancelChanges()" ng-show="is_unsaved==true">Cancel</button>
                <!-- Footer -->
                </form>
            </div>
        </div>
        
        <!-- <button class="btn btn-secondary" style="float:right" ng-click="sync()" translate>Synchronize</button> -->
    </div>
</div>
