<div [ngStyle]="popupVisible()" class="hs-hover-popup">
    <div class="card" style="padding: 5px;">
        <div *ngFor="let layerDesc of HsQueryBaseService.featureLayersUnderMouse" style="line-height: 1.2">
            <a class="p-1" href="#" (click)="closePopup()" i18n data-toggle="tooltip" title="close popup">
                <i class="icon-remove-circle" style="color: rgb(73, 80, 87)"></i>
            </a>
            <strong style="font-size: small;">{{layerDesc.title}}</strong>
            <br>
            <div *ngFor="let feature of layerDesc.features">
                <!-- Layout for clustered layers -->
                <div *ngIf="isClustered(feature)" style="font-size: small; line-height: 1; margin-bottom: 2px; border-bottom: 2px solid rgb(199, 199, 199)">
                    <div *ngFor="let subFeature of feature.get('features')" class="d-flex flex-column" class="hs-hover-popup-feature">
                        <div class="d-flex flex-row">
                            <div class="p-1 flex-grow-1"><em>{{serializeFeatureName(subFeature)}}</em></div>
                            <a class="p-1" href="#" *ngIf="HsQueryVectorService.isFeatureRemovable(subFeature)" (click)="removeFeature(subFeature)" i18n data-toggle="tooltip" title="Remove cluster part">
                                <i class="icon-remove-circle" style="color: rgb(228, 99, 99)"></i>
                            </a>
                        </div>
                        <div [hidden]="!(subFeature.attributesForHover.length > 0)">
                            <div *ngFor="let attribute of subFeature.attributesForHover" class="d-flex flex-row">
                                <div class="p-1 flex-grow-1">
                                    {{attribute.key}} 
                                </div>
                                <div class="p-1" [innerHTML]="attribute.displayFunction(attribute.value)"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Layout for non-clustered layers -->
                <div *ngIf="!isClustered(feature)" class="hs-hover-popup-feature">
                    <div class="d-flex flex-row">
                        <div class="p-1 flex-grow-1"><em>{{serializeFeatureName(feature)}}</em></div>
                        <a class="p-1" href="#" *ngIf="HsQueryVectorService.isFeatureRemovable(feature)" (click)="removeFeature(feature)" i18n data-toggle="tooltip" title="Remove feature">
                            <i class="icon-remove-circle" style="color: rgb(228, 99, 99)"></i>
                        </a>
                    </div>
                    <div *ngIf="feature.attributesForHover.length > 0">
                        <div *ngFor="let attribute of feature.attributesForHover" class="d-flex flex-row">
                            <div class="p-1 flex-grow-1">
                                {{attribute.key}} 
                            </div>
                            <div class="p-1" [innerHtml]="attribute.displayFunction(attribute.value)"></div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="btn btn-danger btn-block btn-sm" (click)="clearLayer(layerDesc.layer)" *ngIf="HsLayerUtilsService.isLayerEditable(layerDesc.layer)" i18n data-toggle="tooltip" title="Clear layer">
            Clear layer
        </button>
        </div>
    </div>
</div>
