<div class="card panel-default mainpanel">
    <div class="card-header"><translate>Info</translate>
        <button type="button" class="close" ng-click="Core.closePanel(this)">
            <span aria-hidden="true">×</span>
            <span class="sr-only" translate>Close</span>
        </button>
    </div>
    <div class="card-body">
        <table class="table table-compact" ng-repeat="group in data.groups | orderBy : 'name'">
            <tr><th colspan="2">{{group.name}}</th></tr>
            <tr ng-repeat="attribute in group.attributes | orderBy : 'name'">
                <td hs.query.infovalue template='{{group.hstemplate}}' attribute='{{attribute.name}}' class="first-col" class="first-col"></td>
                <td hs.query.infovalue template='{{group.hstemplate}}' attribute='{{attribute.name}}' value='{{attribute.value}}' class="second-col"></td>
            </tr>
        </table>
        <table class="table table-striped" style="table-layout:fixed" ng-show="data.attributes.length > 0">
            <tr ng-repeat="attribute in data.attributes | orderBy : name"><td class="first-col">{{attribute.name}}</td><td class="second-col" ng-bind-html="attribute.value"></td></tr>
        </table>
        <table class="table table-striped" style="table-layout:fixed" ng-show="data.coordinates[0].name.length > 0">
            <tr><th colspan="2">{{data.coordinates[0].name}}</th></tr>
            <tr ng-repeat="projection in data.coordinates[0].projections | orderBy : name"><td class="first-col">{{projection.name}}</td><td class="second-col" ng-bind-html="projection.value"></td></tr>
        </table>
    </div>
    <iframe id="invisible_popup" style="display:block; z-index:12122;left:-10000px; position:absolute"></iframe>
</div>
