<hs-panel-header name="info" title="Info"></hs-panel-header>
<div class="card panel-default hs-main-panel" ng-show="!data.coordinates[0].name.length > 0">
    <div class="card-body m-2" translate="">Click on map for query results!</div>
</div>
<hs.query.default-info-panel-body></hs.query.default-info-panel-body>
<hs.custom-info-panel-body></hs.custom-info-panel-body>
<div class="container-fluid" ng-show="data.coordinates[0].name.length > 0">
    <div class="row">
        <div class="col-12 m-2"><strong>{{data.coordinates[0].name | translate}}</strong></div>
    </div>
    <div class="row">
        <div class="input-group m-1">
            <div class="input-group-prepend">
                <select class="form-control" ng-model="data.selectedProj" 
                    ng-options="projection.name for projection in data.coordinates[0].projections">
                </select> 
            </div>
            <input class="form-control" ng-value="data.selectedProj.value" readonly></input>
        </div>
    </div>

</div>
