<hs.layout.panel-header panel-name="info" panel-title="'Info'||translate"></hs.layout.panel-header>
<div class="card panel-default mainpanel" ng-show="!data.coordinates[0].name.length > 0">
    <div class="card-body m-2">Click on map for query results!</div>
</div>
<div ng-show="data.coordinates[0].name.length > 0" class="card panel-default mainpanel">
    <div class="card-body">
        <hs.query.feature ng-repeat="item in data.features | orderBy : 'name'" feature="item"></hs.query.feature>
        <table class="table table-striped" style="table-layout:fixed" ng-show="data.attributes.length > 0">
            <tr ng-repeat="attribute in data.attributes | orderBy : name">
                <td class="first-col">{{attribute.name}}</td>
                <td class="second-col" ng-bind-html="attribute.value"></td>
            </tr>
        </table>
        <div class="container-fluid" ng-show="data.coordinates[0].name.length > 0">
            <div class="row">
                <div class="col-12 m-2"><strong>{{data.coordinates[0].name}}</strong></div>
            </div>
            <div class="row" ng-repeat="projection in data.coordinates[0].projections | orderBy : name">
                <div class="input-group m-1">
                    <div class="input-group-prepend">
                        <span class="input-group-text">{{projection.name}}</span>
                    </div>
                    <input class="form-control" ng-value="projection.value"></input>
                </div>
            </div>
        </div>
        <div ng-repeat="html in data.featureInfoHtmls" ng-bind-html="html">
        </div>
    </div>
    <iframe id="invisible_popup" style="display:block; z-index:12122;left:-10000px; position:absolute"></iframe>
</div>