<div class="card hs-main-panel">
    <div class="m-3 pl-1 d-flex justify-content-between">
        <div class="input-group w-50">
            <input type="search" class="form-control w-50" [placeholder]="'SEARCH.search' | translate" name="search"
                [(ngModel)]="data.query.title" (ngModelChange)="filterByTitle()">
            <div class="input-group-append">
                <button type="button" class=" btn pl-2 pr-2 "
                    [ngClass]="data.filterByExtent ? 'btn-secondary' : 'btn-light btn-outline-secondary'"
                    [title]="'COMPOSITIONS.filterByMap' | translate"
                    style="font-size:larger; line-height:1 !important; "
                    [ngStyle]="{'border-color': data.filterByExtent ? '#6c757d' : '#ced4da'}"
                    (click)="extentFilterChanged()">
                    <i class="icon-tabletscreensize"></i>
                </button>
            </div>
        </div>

        <!-- <button class="btn btn-light btn-outline-secondary btn-sm rounded-0 mt-1">
            Login to catalogue</button> -->
        <hs-layman-current-user [endpoint]="HsLaymanService.getLaymanEndpoint()"></hs-layman-current-user>
    </div>
    <div class="tab-content">
        <div class="card">
            <div class="card-body">
                <!-- <div *ngIf="endpoint.type == 'micka'">
                        <hs-micka-filters micka-dataset-config="{url: endpoint.url}"></hs-micka-filters>
                    </div>
                     -->
                <ul class="list-group">
                    <li class='list-group-item text-primary text-center' [hidden]="!HsAddDataCatalogueService.layersLoading"><img class="pr-2"
                        [src]="loaderImage" />Loading data</li>
                    <li [hidden]='HsAddDataCatalogueService.catalogEntries.length > 0 || HsAddDataCatalogueService.layersLoading'
                        class='list-group-item'>
                        {{'DATASOURCE_SELECTOR.noResults' | translate}}</li>
                    <li [hidden]="HsAddDataCatalogueService.layersLoading" *ngFor='let layer of HsAddDataCatalogueService.catalogEntries | slice:HsAddDataCatalogueService.listStart:HsAddDataCatalogueService.listNext'
                        class="clearfix" [ngClass]="'list-group-item'+(layer.highlighted ? ' active' : '')">
                        <hs-add-data-list-item [layer]="layer"></hs-add-data-list-item>
                    </li>
                </ul>
            </div>
    
            <div class="card-footer" *ngIf="HsAddDataCatalogueService.paging.matched != 0">
                <ul class="pagination d-flex justify-content-center">
                    <li class="page-item" [ngClass]="{'disabled': HsAddDataCatalogueService.listStart == 0 }">
                        <a href="#" class="page-link" (click)="getPreviousRecords()"><span
                           aria-hidden="true">&laquo;</span></a>
                    </li>
                    <li class="page-item" *ngIf="resultsVisible() && HsAddDataCatalogueService.listNext != HsAddDataCatalogueService.paging.matched"><span class="page-link">
                            {{'COMMON.results' | translate}}
                            {{HsAddDataCatalogueService.listStart + 1}} -
                            {{HsAddDataCatalogueService.listNext}}</span></li>
                    <li class="page-item" *ngIf="resultsVisible() && HsAddDataCatalogueService.listNext == HsAddDataCatalogueService.paging.matched"><span class="page-link">
                            {{'COMMON.results' | translate}}
                            {{HsAddDataCatalogueService.listStart + 1}} -
                            {{HsAddDataCatalogueService.paging.matched}}</span></li>
                    <li class="page-item" [ngClass]="{'disabled': nextPageAvailable() }">
                        <a href="#" class="page-link" (click)="getNextRecords()"><span
                                aria-hidden="true">&raquo;</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
