<div class="d-flex flex-row">
  <div class="p-1 w-50 mt-1">{{'STYLER.fillColor' | translate}}:</div>
  <div class="p-1 w-100">
    <input class="form-control form-select-sm" (click)="setColorPickerVisible('fill')"
      [ngStyle]="getColorPickerStyle('fill')" [ngModelOptions]="{standalone: true}" [(ngModel)]="textStyle.fillColor" />
    <color-sketch *ngIf="fillPickerVisible" (onChangeComplete)="onPick($event, 'fill')">
    </color-sketch>
  </div>
</div>
<div class="d-flex flex-row" *ngIf="textStyle.strokeColor">
  <div class="p-1 w-50 mt-1">{{'STYLER.strokeColor' | translate}}:</div>
  <div class="p-1 w-100">
    <input class="form-control form-select-sm" (click)="setColorPickerVisible('stroke')"
      [ngStyle]="getColorPickerStyle('stroke')" [ngModelOptions]="{standalone: true}"
      [(ngModel)]="textStyle.strokeColor" />
    <color-sketch *ngIf="strokePickerVisible" (onChangeComplete)="onPick($event, 'stroke')">
    </color-sketch>
  </div>
</div>
<div class="d-flex flex-row">
  <div class="p-1 w-50 mt-1">{{'STYLER.textSize' | translate}}:</div>
  <div class="p-1 w-100">
    <select class="form-control form-select-sm form-select" [(ngModel)]="textStyle.textSize"
      [ngModelOptions]="{standalone: true}" style="flex-grow: 1;">
      <option *ngFor="let size of stylingOptions.textSizes">{{size}}
      </option>
    </select>
  </div>
</div>
<div class="d-flex flex-row">
  <div class="p-1 w-50 mt-1">{{'STYLER.font' | translate}}:</div>
  <div class="p-1 w-100">
    <select class="form-control form-select-sm form-select" [(ngModel)]="textStyle.fontFamily"
      [ngModelOptions]="{standalone: true}">
      <option *ngFor="let font of stylingOptions.fonts">{{font}}
      </option>
    </select>
  </div>
</div>
<div class="d-flex flex-row">
  <div class="p-1 w-50 mt-1">{{'STYLER.fontStyle' | translate}}:</div>
  <div class="p-1 w-100">
    <select class="form-control form-select-sm form-select" [(ngModel)]="textStyle.fontStyle"
      [ngModelOptions]="{standalone: true}">
      <option [ngValue]="fontStyle" *ngFor="let fontStyle of stylingOptions.fontStyles">
        {{getTranslation('PRINT',fontStyle)}}
      </option>
    </select>
  </div>
</div>
<div class="d-flex flex-row" *ngIf="textStyle.textDraw">
  <div class="p-1 w-50 mt-1">{{'PRINT.textDraw' | translate}}:</div>
  <div class="p-1 w-100">
    <select class="form-control form-select-sm form-select" [(ngModel)]="textStyle.textDraw"
      [ngModelOptions]="{standalone: true}">
      <option [ngValue]="textDraw" *ngFor="let textDraw of stylingOptions.textDrawTypes">
        {{getTranslation('COMMON',textDraw)}}
      </option>
    </select>
  </div>
</div>
<div class="d-flex flex-row">
  <div class="p-1 w-50 mt-1">{{'PRINT.textPosition' | translate}} X:</div>
  <div class="p-1 w-100">
    <select class="form-control form-select-sm form-select" [(ngModel)]="textStyle.posX"
      [ngModelOptions]="{standalone: true}">
      <option [ngValue]="positionX" *ngFor="let positionX of positionOptions.positionsX">
        {{getTranslation('PRINT',positionX)}}
      </option>
    </select>
  </div>
</div>

<div class="d-flex flex-row mb-2">
  <div class="p-1 w-50 mt-1">{{'PRINT.textPosition' | translate}} Y:</div>
  <div class="p-1 w-100">
    <select class="form-control form-select-sm form-select" [(ngModel)]="textStyle.posY"
      [ngModelOptions]="{standalone: true}">
      <option [ngValue]="positionY" *ngFor="let positionY of positionOptions.positionsY">
        {{getTranslation('PRINT',positionY)}}
      </option>
    </select>
  </div>
</div>