<form class="form-horizontal" name="frmConnectWfs" role="form">
    <hs-common-url type="wfs" [(url)]="hsAddDataCommonUrlService.url" (connect)="connect()"></hs-common-url>

    <hs-common-url-progress *ngIf="hsAddDataCommonUrlService.loadingInfo"></hs-common-url-progress>
    
    <div *ngIf="hsAddDataCommonUrlService.showDetails && !hsAddDataCommonUrlService.loadingInfo" class="card">

        <!-- FIXME: unused -->
        <div class="card-title text-center fw-bold">{{title}}</div>
        <div class="form-group">
            <label class="capabilities_label col-sm-4 control-label">{{'ADDLAYERS.folderName' | translate}}</label>
            <div class="capabilities_input col-sm-8">
                <input class="form-control" [(ngModel)]="data.folder_name"
                    [ngModelOptions]="{standalone: true}" />
            </div>
        </div>
        <hr />
        <ul class="list-group">
            <li *ngFor="let layer of data.services; trackBy:( 'Name' | trackByProperty )" class="list-group-item py-2 clearfix">
                <div>
                    <input type="checkbox" [(ngModel)]="layer.checked" name="checkedLayer" (change)="changed()" />
                    {{layer.Title}}
                </div>
                <div class="alert alert-primary d-flex m-1" role="alert"
                    *ngIf="layer.featureCount > 1000 && layer.checked">
                    <div class="w-100">
                        <p class="mb-0" [hidden]="!layer.limitFeatureCount">{{'ADDLAYERS.WFS.selectedLayerContains' |
                            translate}}
                            {{layer.featureCount}} {{'ADDLAYERS.WFS.loadingToManyAtOnce' | translate}}
                        </p>
                    </div>
                </div>
            </li>
            <li class="list-group-item hs-ows-layerlistheading clearfix bg-white">
                <div class="d-flex justify-content-center">
                    <hs-common-url-add class="w-100" [injectedService]="hsAddDataWfsService"
                        [layers]="data.services">
                    </hs-common-url-add>
                    <button *ngIf="hsAddDataWfsService.loadingFeatures"
                        class="btn btn-primary btn-block w-75">{{'ADDLAYERS.loadingFeaturePleaseWait' | translate}}<img
                            class="ms-2" [src]="hsUtilsService.getAjaxLoaderIcon()" /></button>
                </div>
            </li>

        </ul>
    </div>
</form>
