<div class="modal in" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" i18n>
                    {{data.title}}
                </h4>
                <button type="button" (click)="close()" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only" i18n>Close</span></button>
            </div>
            <div class="modal-body" style="overflow-y:auto">
                {{data.message}}
            </div>
            <div class="modal-footer" >
                <button type="button" class="btn btn-primary" translate ng-click="$ctrl.yes()" [title]="'COMMON.yes' | translate" data-dismiss="modal">{{'COMMON.yes' | translate}}</button>
                <button type="button" class="btn btn-secondary compositions-btn-cancel" [title]="'COMMON.no' | translate" ng-click="$ctrl.no()" data-dismiss="modal" translate>{{'COMMON.no' | translate}}</button>
            </div>
        </div>
    </div>
</div>
