<div ng-class="{'in': $ctrl.modalVisible}" class="modal" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                   {{$ctrl.title | translate}}
                </h4>
                <button type="button" ng-click="$ctrl.modalVisible = false" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only" translate>Close</span></button>
            </div>
            <div translate class="modal-body" style="overflow-y:auto">
                {{$ctrl.message | translate}}
            </div>
            <div class="modal-footer" >
                <button type="button" class="btn btn-primary" ng-click="$ctrl.yes()" title="Yes" data-dismiss="modal">{{'Yes' | translate}}</button>
                <button type="button" class="btn btn-secondary compositions-btn-cancel"  title="No" ng-click="$ctrl.no()" data-dismiss="modal" translate>No</button>
            </div>
        </div>
    </div>
</div>
