<div class="modal in hs-draw-layer-metadata" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header d-flex flex-column" style="height: auto">
                <div class="d-flex w-100 align-items-center">
                    <h4 class="modal-title">
                        {{'COMMON.newDrawingLayer' | translateHs: {app: data.app} }}
                    </h4>
                    <button type="button" (click)="cancel()" class="btn-close" data-dismiss="modal"
                        [attr.aria-label]="'COMMON.close' | translateHs: {app: data.app} ">
                    </button>
                </div>
                <p class="m-0 p-0" style="font-size: 0.75rem; color: red;">
                    {{'DRAW.drawLayerMetadata.layerWillBeAdded' | translateHs: {app: data.app} }}</p>
            </div>
            <div *ngIf="!appRef.isAuthenticated && appRef.laymanEndpoint !== undefined" class="alert alert-danger"
                role="alert">
                <p class="text-center">
                    {{'DRAW.notAuthorized' | translateHs: {app: data.app} }}
                </p>
                <hs-layman-current-user [app]="data.app" [endpoint]="endpoint"></hs-layman-current-user>
            </div>
            <div class="d-flex w-75 m-auto p-4 justify-content-around" style="white-space: nowrap;"
                *ngIf="appRef.drawableLaymanLayers.length > 0 && appRef.isAuthenticated">
                <button type="button" class="btn btn-sm rounded  hs-toolbar-button" (click)="type = 'draw'"
                    [ngClass]="type === 'draw' ? 'btn-primary' : 'btn-secondary'">
                    {{'DRAW.drawToolbar.addDrawLayer' | translateHs: {app: data.app} }}
                </button>
                <button type="button" class="btn ms-1 btn-sm rounded hs-toolbar-button" (click)="type = 'layman'"
                    [ngClass]="type === 'layman' ? 'btn-primary' : 'btn-secondary'">
                    {{'DRAW.drawLayerMetadata.loadServerLayers' | translateHs: {app: data.app} }}
                </button>
            </div>
            <div class="modal-body" style="max-height:400px; overflow-y:auto">
                <form *ngIf="type === 'draw'">
                    <div class="form-floating mb-3">
                        <input class="form-control" [(ngModel)]="title" (ngModelChange)="titleChanged()" name="title"
                            [placeholder]="'DRAW.drawLayerMetadata.layerTitle' | translateHs: {app: data.app} " />
                        <label for="title" class="control-label">{{'DRAW.drawLayerMetadata.layerTitle' |
                            translateHs: {app: data.app} }}</label>

                    </div>
                    <hs-layman-access-rights *ngIf="appRef.isAuthenticated" [app]="data.app"
                        [(access_rights)]="access_rights">
                    </hs-layman-access-rights>
                    <div class="flex-row w-75 align-items-center" style="display: flex;">
                        <a class="p-1 mb-1" (click)="folderVisible = !folderVisible">{{'COMMON.advancedOptions' |
                            translateHs: {app: data.app} }}</a>
                    </div>
                    <div [hidden]="!folderVisible">
                        <div class="form-floating mb-3"
                            [title]="'DRAW.drawLayerMetadata.nameOfFolder' | translateHs: {app: data.app} ">
                            <input class="form-control" [(ngModel)]="path" (ngModelChange)="pathChanged()" name="path"
                                [placeholder]="'COMMON.folder' | translateHs: {app: data.app} " />
                            <label for="path" class="control-label">{{'COMMON.folder' | translateHs: {app: data.app}
                                }}</label>
                        </div>
                        <div class="card">
                            <h5 class="card-header">{{'DRAW.drawLayerMetadata.defaultAttributes' | translateHs: {'app':
                                data.app} }}</h5>
                            <div class="card-body">
                                <table class="table table-condensed">
                                    <tr>
                                        <th>{{'COMMON.attribute' | translateHs: {app: data.app} }}</th>
                                        <th>{{'DRAW.drawLayerMetadata.defaultValue' | translateHs: {app: data.app} }}
                                        </th>
                                    </tr>
                                    <tr *ngFor="let attr of attributes">
                                        <td><input class="form-control" [(ngModel)]="attr.name"
                                                [ngModelOptions]="{standalone: true}" /></td>
                                        <td><input class="form-control" [(ngModel)]="attr.value"
                                                [ngModelOptions]="{standalone: true}" /></td>
                                    </tr>
                                </table>
                                <button class="btn btn-primary" (click)="addAttr()"><i class="icon-plus"></i></button>
                            </div>
                        </div>
                    </div>
                </form>
                <form *ngIf="type === 'layman'">
                    <div class="d-flex align-items-center w-100 flex-column"
                        *ngIf="appRef.drawableLaymanLayers.length > 0">
                        <div class=" bg-primary w-100 text-light m-0 p-1">
                            <div class="d-flex justify-content-between m-1">
                                {{'DRAW.serverLayers' | translateHs: {app: data.app} }}
                                <span (click)="onlyMineFilterVisible = !onlyMineFilterVisible" style="cursor: pointer;">
                                    <i class="icon-settingsthree-gears"></i>
                                </span>
                            </div>

                            <div class="input-group-text border-0 justify-content-center bg-white"
                                *ngIf="onlyMineFilterVisible">
                                <label class="m-0">
                                    <input type="checkbox" name="onlyMine" [(ngModel)]="appRef.onlyMine"
                                        (ngModelChange)="data.service.fillDrawableLayers(data.app); onlyMineFilterVisible = !onlyMineFilterVisible">
                                    {{'COMPOSITIONS.onlyMine' | translateHs: {app: data.app} }}
                                </label>
                            </div>
                        </div>
                        <ul class="list-group w-100">
                            <li *ngFor="let layer of appRef.drawableLaymanLayers"
                                class="justify-content-between d-flex align-items-center"
                                [ngClass]="'list-group-item'+(layer.highlighted ? ' active' : '')">
                                <b><a data-toggle="tooltip" [title]="layer.description">{{layer.title}}</a></b>
                                <span class="float-right">
                                    <button type="button" class="btn btn-sm btn-primary" (click)="selectLayer(layer)"
                                        data-toggle="tooltip"
                                        [title]="'ADDLAYERS.WFS.addToMap' | translateHs: {app: data.app} "><i
                                            class="icon-plus"></i></button>
                                </span>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" *ngIf="type === 'draw'"
                    (click)="confirm()" data-test="Confirm add layer">{{'DRAW.drawToolbar.addLayer' | translateHs: {app:
                    data.app} }}</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="cancel()"
                    data-test="Cancel add layer">{{'COMMON.cancel'
                    | translateHs: {app: data.app} }}</button>
            </div>
        </div>
    </div>
</div>
