<div class="form">
    <div class="form-floating mb-2">
        <input type="text" class="form-control" [ngStyle]="{'border-color': appRef.missingName ? '#ff0000' : '#ced4da'}"
            name="hs-save-map-name" [(ngModel)]="appRef.compoData.name" (ngModelChange)="nameChanged()"
            [placeholder]="'COMMON.name' | translateHs : {app} ">
        <label for="hs-save-map-name">{{'COMMON.name' | translateHs : {app} }} *</label>
        <span class="d-flex justify-content-end text-danger" *ngIf="appRef.missingName">{{'COMMON.required' |
            translateHs : {app} }}</span>
    </div>
    <div class="form-floating mb-2">
        <textarea class="form-control" name="hs-save-map-abstract"
            [placeholder]="'COMMON.abstract' | translateHs : {app} "
            [ngStyle]="{'border-color': appRef.missingAbstract ? '#ff0000' : '#ced4da'}"
            [(ngModel)]="appRef.compoData.abstract" (ngModelChange)="abstractChanged()"></textarea>
        <label for="hs-save-map-abstract">{{'COMMON.abstract' | translateHs : {app} }} *</label>
        <span class="d-flex justify-content-end text-danger" *ngIf="appRef.missingAbstract">{{'COMMON.required' |
            translateHs : {app} }}</span>
    </div>
    <div class="form-floating mb-2">
        <input type="text" class="form-control" name="hs-save-map-keywords"
            [placeholder]="'COMMON.keywords' | translateHs : {app} " [(ngModel)]="appRef.compoData.keywords">
        <label for="hs-save-map-keywords">{{'COMMON.keywords' | translateHs : {app} }}</label>
    </div>
    <label class="form-group">{{'COMMON.thumbnail' | translateHs : {app} }}
        <img class="hs-stc-thumbnail img-thumbnail" [alt]="'SAVECOMPOSITION.compositionThumbnail' | translateHs : {app}"
            width="256" height="256">
    </label>
    <hs-layman-access-rights *ngIf="endpoint?.type === 'layman'" [app]="app"
        [(access_rights)]="appRef.compoData.access_rights">
    </hs-layman-access-rights>
    <ng-container *ngIf="appRef.statusData?.groups?.length > 0 && endpoint?.type !== 'layman'">
        <table class="table table-condensed">
            <tbody>
                <tr>
                    <th></th>
                    <th>{{'SAVECOMPOSITION.form.read' | translateHs : {app} }}</th>
                    <th>{{'SAVECOMPOSITION.form.write' | translateHs : {app} }}</th>
                </tr>
                <tr *ngFor="let g of appRef.statusData.groups">
                    <td>{{g.roleTitle || g.roleName}}:</td>
                    <td><input type="checkbox" class="form-control" [(ngModel)]="g.r"
                            [ngModelOptions]="{standalone: true}">
                    </td>
                    <td><input type="checkbox" class="form-control" [(ngModel)]="g.w"
                            [ngModelOptions]="{standalone: true}">
                    </td>
                </tr>
            </tbody>
        </table>
    </ng-container>
</div>
<div class="mb-2 d-flex justify-content-center">
    <button type="button" class="btn btn-secondary me-2 w-50" id="stc-advanced-options"
        (click)="setExtraFormTo('advancedOptions')">{{'COMMON.advancedOptions' | translateHs : {app} }}</button>
    <!-- <button type="button" class="btn btn-secondary w-50" id="stc-user-information"
        (click)="setExtraFormTo('aboutAuthor')">{{'COMMON.aboutAuthor' | translateHs : {app} }}</button> -->
</div>
<div class="hs-save-comp-advanced-panel" *ngIf="extraFormOpened === 'advancedOptions'">
    <form class="form">
        <div class="form-group">
            <label for="stc-extent1" class="form-group">{{'COMMON.extent' | translateHs : {app} }}</label>
            <div class="d-flex w-100 pb-2 stc-extent-row" *ngIf="appRef.compoData.bbox">
                <div class="form-floating px-0">
                    <input type="text" class="form-control" id="floatingEast" [ngModelOptions]="{standalone: true}"
                        [(ngModel)]="appRef.compoData.bbox.east" [title]="'COMMON.east' | translateHs : {app} ">
                    <label for="floatingEast">{{'COMMON.east' | translateHs : {app} }}</label>
                </div>
                <div class="form-floating px-0">
                    <input type="text" class="form-control" id="floatingSouth" [ngModelOptions]="{standalone: true}"
                        [(ngModel)]="appRef.compoData.bbox.south" [title]="'COMMON.south' | translateHs : {app} ">
                    <label for="floatingSouth">{{'COMMON.south' | translateHs : {app} }}</label>
                </div>
                <div class="form-floating px-0">
                    <input type="text" class="form-control" id="floatingWest" [ngModelOptions]="{standalone: true}"
                        [(ngModel)]="appRef.compoData.bbox.west" [title]="'COMMON.west' | translateHs : {app} ">
                    <label for="floatingWest">{{'COMMON.west' | translateHs : {app} }}</label>
                </div>
                <div class="form-floating px-0">
                    <input type="text" class="form-control" id="floatingNorth" [ngModelOptions]="{standalone: true}"
                        [(ngModel)]="appRef.compoData.bbox.north" [title]="'COMMON.north' | translateHs : {app} ">
                    <label for="floatingNorth">{{'COMMON.north' | translateHs : {app} }}</label>
                </div>
            </div>
            <button type="button" class="mt-1 btn btn-secondary w-100"
                (click)="setCurrentBoundingBox()">{{'SAVECOMPOSITION.form.userCurrentMapExtent'
                | translateHs : {app} }}</button>
        </div>
        <div class="form-group">
            <ul class="list-group" id="stc-layerlist">
                <li *ngFor="let layer of appRef.compoData.layers; let i = index" class="list-group-item">
                    <div class="form-check text-truncat">
                        <input type="checkbox" class="form-check-input mt-0" name="hs-stclayer-{{i}}"
                            id="hs-stclayer-{{i}}" [(ngModel)]="layer.checked" [ngModelOptions]="{standalone: true}">
                        <label for="hs-stclayer-{{i}}" title="{{layer.title | translateHs : {app, module: 'LAYERS'} }}"
                            class="form-check-label mw-100 text-truncate">{{layer.title | translateHs : {app, module:
                            'LAYERS'} }}</label>
                    </div>
                </li>
                <li class="list-group-item" style="padding: 3px">
                    <div class="d-flex w-100 justify-content-center">
                        <button type="button" class="mt-1 btn btn-primary"
                            (click)="selectDeselectAllLayers()">{{'SAVECOMPOSITION.form.toggleAll' |
                            translateHs : {app} }}</button>
                    </div>
                </li>
            </ul>
        </div>
    </form>
</div>
<div *ngIf="extraFormOpened === 'aboutAuthor'">
    <div class="form">
        <div class="form-floating mb-2">
            <input type="text" class="form-control" [(ngModel)]="appRef.userData.name" name="hs-savemap-userdata-name"
                [placeholder]="'SAVECOMPOSITION.form.person' | translateHs : {app} ">
            <label for="hs-savemap-userdata-name">{{'SAVECOMPOSITION.form.person' | translateHs : {app} }}</label>
        </div>

        <div class="form-floating mb-2">
            <input type="text" class="form-control" [(ngModel)]="appRef.userData.organization"
                name="hs-savemap-userdata-organization"
                [placeholder]="'SAVECOMPOSITION.form.organization' | translateHs : {app} ">
            <label for="hs-savemap-userdata-porganizationosition"> {{'SAVECOMPOSITION.form.organization' |
                translateHs : {app} }}</label>
        </div>

        <div class="form-floating mb-2">
            <input type="text" class="form-control" [(ngModel)]="appRef.userData.position"
                name="hs-savemap-userdata-position"
                [placeholder]="'SAVECOMPOSITION.form.position' | translateHs : {app} ">
            <label for="hs-savemap-userdata-position">{{'SAVECOMPOSITION.form.position' | translateHs : {app} }}</label>
        </div>

        <div class="form-floating mb-2">
            <input type="text" class="form-control" [(ngModel)]="appRef.userData.address"
                name="hs-savemap-userdata-address"
                [placeholder]="'SAVECOMPOSITION.form.address' | translateHs : {app} ">
            <label for="hs-savemap-userdata-address">{{'SAVECOMPOSITION.form.address' | translateHs : {app} }}</label>
        </div>

        <div class="form-floating mb-2">
            <input type="text" class="form-control" [(ngModel)]="appRef.userData.city" name="hs-savemap-userdata-city"
                [placeholder]="'SAVECOMPOSITION.form.city' | translateHs : {app} ">
            <label for="hs-savemap-userdata-city">{{'SAVECOMPOSITION.form.city' | translateHs : {app} }}</label>
        </div>

        <div class="form-floating mb-2">
            <input type="text" class="form-control" [(ngModel)]="appRef.userData.state" name="hs-savemap-userdata-state"
                [placeholder]="'SAVECOMPOSITION.form.state' | translateHs : {app} ">
            <label for="hs-savemap-userdata-state">{{'SAVECOMPOSITION.form.state' | translateHs : {app} }}</label>
        </div>

        <div class="form-floating mb-2">
            <input type="text" class="form-control" [(ngModel)]="appRef.userData.postalCode"
                name="hs-savemap-userdata-postalcode"
                [placeholder]="'SAVECOMPOSITION.form.postalCode' | translateHs : {app} ">
            <label for="hs-savemap-userdata-postalcode">{{'SAVECOMPOSITION.form.postalCode' | translateHs : {app}
                }}</label>
        </div>

        <div class="form-floating mb-2">
            <input type="text" class="form-control" [(ngModel)]="appRef.userData.country"
                name="hs-savemap-userdata-country"
                [placeholder]="'SAVECOMPOSITION.form.country' | translateHs : {app} ">
            <label for="hs-savemap-userdata-country">{{'SAVECOMPOSITION.form.country' | translateHs : {app} }}</label>
        </div>

        <div class="form-floating mb-2">
            <input type="text" class="form-control" [(ngModel)]="appRef.userData.phone" name="hs-savemap-userdata-phone"
                [placeholder]="'SAVECOMPOSITION.form.phone' | translateHs : {app} ">
            <label for="hs-savemap-userdata-phone">{{'SAVECOMPOSITION.form.phone' | translateHs : {app} }}</label>
        </div>

        <div class="form-floating mb-2">
            <input type="text" class="form-control" [(ngModel)]="appRef.userData.email" name="hs-savemap-userdata-email"
                [placeholder]="'SAVECOMPOSITION.form.email' | translateHs : {app} ">
            <label for="hs-savemap-userdata-email"> {{'SAVECOMPOSITION.form.email' | translateHs : {app} }}</label>
        </div>
    </div>
</div>
<div class="modal-footer w-100">
    <div [hidden]="!canOverwrite()">
        <div class="alert alert-info text-gray">
            {{'SAVECOMPOSITION.saveOrOverwrite' | translateHs : {app} }}
        </div>
        <button type="button" class="btn btn-primary" id="stc-save"
            (click)="initiateSave(false)">{{'SAVECOMPOSITION.form.overwrite' |
            translateHs : {app} }}</button>
        <p style="text-align: center;" class="m-1">{{'COMMON.or' | translateHs : {app} }}</p>
    </div>
    <div class="mb-2 d-flex justify-content-end">
        <button type="button" class="btn btn-primary me-2" id="stc-saveas" [hidden]="!(isAllowed())"
            (click)="initiateSave(true)">
            <!-- TODO: Remove function call from template -->{{'COMMON.save' | translateHs : {app} }}
        </button>
        <a type="button" class="btn btn-secondary" (click)="saveCompoJson()" id="stc-download">{{'COMMON.download'
            |
            translateHs: this}}</a>
    </div>
</div>