<div class="card mainpanel hs-comp-mainpanel">
    <hs-panel-header name="composition_browser" [title]="'PANEL_HEADER.COMPOSITIONS' | translate">
        <extra-buttons>
            <button class="but-title-sm hs-extra-buttons" (click)="reload()" [title]="'COMMON.reload' | translate">
                <i class="glyphicon icon-fatredo"></i>
            </button>
            <button class="but-title-sm hs-extra-buttons" title="{{'PANEL_HEADER.SAVECOMPOSITION'|translate}}"
                (click)="openSaveMapPanel()">
                <span class="icon-save-floppy"></span>
            </button>
            <label class="but-title-sm hs-extra-buttons btn-file mb-0" style="font-size: 14px; padding: 1px 6px;"
                title="{{'COMPOSITIONS.import'|translate}}">
                <span class="icon-upload"></span><input type="file" (change)="handleFileSelect($event)" accept="json"
                    style="display: none;">
            </label>
            <button class="but-title-sm hs-extra-buttons" title="{{'COMPOSITIONS.addByAddress'|translate}}"
                (click)="changeUrlButtonVisible()">
                <span class="icon-plus"></span>
            </button>
        </extra-buttons>
    </hs-panel-header>
    <div class="card-body">
        <div class="input-group mb-2" [hidden]="!addCompositionUrlVisible">
            <input type="text" class="form-control" placeholder="{{'COMPOSITIONS.Address'|translate}}"
                [(ngModel)]="urlToAdd" [ngModelOptions]="{standalone: true}">
            <div class="input-group-append">
                <button type="button" class="btn btn-secondary" (click)="addCompositionUrl(urlToAdd)"><i
                        class="icon-link"></i></button>
            </div>
        </div>
        <form>
            <div class="input-group mb-2 ">
                <input type="text" class="form-control border-right-0" placeholder="{{'COMMON.search'|translate}}"
                    name="hs-filter-by-name" [(ngModel)]="HsCompositionsCatalogueService.data.query.title"
                    (change)="loadFilteredCompositions()">
                <div class="input-group-append">
                    <button class="btn input-group-text text-secondary hs-light-background border-left-0"
                        (click)="loadFilteredCompositions()">
                        <i class="icon-search icon-primary"></i>
                    </button>
                </div>
                <hs-layman-current-user [endpoint]="HsLaymanService.getLaymanEndpoint()"></hs-layman-current-user>
            </div>
            <div class="d-flex pb-2" style="justify-content: space-between;">
                <div class="input-group-prepend">
                    <div class="input-group-text hs-borderless-input pl-0">
                        <input type="checkbox" [(ngModel)]="HsCompositionsCatalogueService.filterByExtent"
                            (change)='loadFilteredCompositions()' name="HsCompositionsCatalogueService.filterByExtent">
                        <span class="ml-1">{{'COMPOSITIONS.filterByMap' | translate}}</span>
                    </div>
                    <div class="input-group-text hs-borderless-input" [hidden]="!HsLaymanService.getLaymanEndpoint()">
                        <input type="checkbox" [(ngModel)]="HsCompositionsCatalogueService.filterByOnlyMine"
                            (change)='loadFilteredCompositions()'
                            name="HsCompositionsCatalogueService.filterByOnlyMine">
                        <span class="ml-1">{{'COMPOSITIONS.onlyMine' | translate}}</span>
                    </div>
                </div>
                <div ngbDropdown display="dynamic" placement="bottom-right" class="d-inline-block">
                    <button class="btn btn-light hs-white-background"
                        (click)="openOptionsMenu()" ngbDropdownToggle>{{HsCompositionsService.translateString('COMMON',
                        optionsButtonLabel)}}</button>
                    <div ngbDropdownMenu class="dropdown-menu-right p-2 m-1" style="min-width: 23rem; max-width: 23rem;  overflow: visible"
                        aria-labelledby="filtersDropdown">
                        <table class="p-1 pl-3" style="border-collapse:separate; border-spacing:0.5rem 0.5rem;">
                            <tbody>
                                <tr>
                                    <td class="tdbreak">
                                        {{'COMMON.type' | translate}}
                                    </td>
                                    <td>
                                        <select class="form-control hs-background-alfa pl-1" name="type"
                                            [(ngModel)]="HsCompositionsCatalogueService.data.type"
                                            (change)="loadFilteredCompositions()"
                                            style="min-width: 11rem; max-width: 11rem;border:0px">
                                            <option *ngFor="let type of HsCompositionsCatalogueService.types"
                                                [ngValue]="type.value">
                                                {{HsCompositionsService.translateString('COMPOSITONTYPES', type.name)}}</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="tdbreak">
                                        {{'COMMON.keywords' | translate}}
                                    </td>
                                    <td ngbDropdown display="dynamic" placement="bottom-right">
                                        <button type="button" ngbDropdownToggle
                                            class="btn btn-light btn-sm hs-custom-toggle hs-background-alfa p-2 pl-1 border-0"
                                            style="text-align:start; min-width: 11rem; max-width: 11rem; border-radius: 0px; justify-content: space-between; display:flex; align-items: center;">
                                            {{'COMPOSITIONS.selectKeywords' | translate}}
                                        </button>
                                        <ul ngbDropdownMenu aria-labelledby="keywords" class="pl-2"
                                            style="overflow-y: auto; max-height: 10rem; min-width: 15rem">
                                            <li
                                                *ngFor="let keyword of HsCompositionsCatalogueService.data.keywords, let index = index;">
                                                <label><input class="mr-2" type="checkbox"
                                                        [(ngModel)]="keyword.selected" name="keyword[index]"
                                                        (change)="loadFilteredCompositions()">{{HsCompositionsService.translateString('COMPOSITONKEYWORDS',
                                                    keyword.name)}}</label>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="tdbreak">
                                        {{'COMPOSITIONS.inspireTheme' | translate}}
                                    </td>
                                    <td ngbDropdown display="dynamic" placement="bottom-right">
                                        <button type="button" ngbDropdownToggle
                                            class="btn btn-light btn-sm hs-custom-toggle hs-background-alfa p-2 pl-1 border-0"
                                            style="text-align:start; min-width: 11rem; max-width: 11rem; border-radius: 0px; justify-content: space-between; display:flex; align-items: center;">
                                            {{'COMPOSITIONS.selectThemes' | translate}}
                                        </button>
                                        <ul ngbDropdownMenu aria-labelledby="inspireThemes" class="pl-2"
                                            style="overflow-y: auto; max-height: 10rem; min-width: 20rem">
                                            <li
                                                *ngFor="let theme of HsCompositionsCatalogueService.data.themes, let index = index;">
                                                <label><input class="mr-2" type="checkbox" [(ngModel)]="theme.selected"
                                                        name="theme[index]"
                                                        (change)="loadFilteredCompositions()">{{HsCompositionsService.translateString('COMPOSITONINSPIRETHEMES',
                                                    theme.name)}}</label>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="tdbreak">
                                        {{'COMMON.sortBy' | translate}}
                                    </td>
                                    <td class="tdbreak">
                                        <select class="form-control hs-background-alfa pl-1" name="data.sortBy"
                                            [(ngModel)]="HsCompositionsCatalogueService.data.sortBy"
                                            (change)="loadFilteredCompositions()"
                                            style="border:0px; min-width: 11rem; max-width: 11rem;">
                                            <option *ngFor="let item of HsCompositionsCatalogueService.sortByValues"
                                                [ngValue]="item.value">
                                                {{HsCompositionsService.translateString('COMPOSITONSORTVALUES', item.name)}}</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" style="text-align: center; vertical-align: middle;">
                                        <button class="btn btn-block btn-light hs-background-alfa"
                                            style="border-radius: 0.25rem;"
                                            (click)="clearFilters()">
                                            {{'COMPOSITIONS.clearFilters' | translate}}</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </form>
        <div class="card d-flex" style="font-size: 1rem !important;">
            <div class="card-body">
                <ul class="hs-comp-list list-group">
                    <li class="list-group-item text-primary text-center"
                        *ngIf="HsCompositionsCatalogueService.compositionsLoading"><img class="pr-2"
                            [src]="HsUtilsService.getAjaxLoaderIcon()" />{{'COMMON.loading' | translate}}</li>
                    <li [hidden]="HsCompositionsCatalogueService.compositionEntries.length != 0 || HsCompositionsCatalogueService.compositionsLoading"
                        class="list-group-item">
                        {{'DATASOURCE_SELECTOR.noResults' | translate}}</li>
                    <li *ngFor="let composition of HsCompositionsCatalogueService.compositionEntries | slice:HsCompositionsCatalogueService.listStart:HsCompositionsCatalogueService.listNext"
                        class="list-group-item hs-comp-item"
                        style="cursor: pointer;" [ngClass]="{'activeComposition' : composition.highlighted}"
                        (mouseover)="highlightComposition(composition, true)"
                        (mouseleave)="highlightComposition(composition, false)"
                        (click)="compositionClicked(composition)" data-container="body" data-placement="bottom"
                        [attr.title]="composition.mdAbstract">
                        <hs-compositions-list-item [composition]="composition" [selectedCompId]="selectedCompId">
                        </hs-compositions-list-item>
                    </li>
                </ul>
            </div>
            <div class="card-footer" *ngIf="HsCompositionsCatalogueService.matchedCompositions != 0 && !HsCompositionsCatalogueService.compositionsLoading">
                <ul class="pagination d-flex justify-content-center">
                    <li class="page-item" [ngClass]="{'disabled': HsCompositionsCatalogueService.listStart == 0 }"
                        [ngStyle]="{'color' : HsCompositionsCatalogueService.listStart == 0 ? '#555' : '#007bff'}">
                        <a class="page-link" (click)="getPreviousCompositions()"><span
                                aria-hidden="true">&laquo;</span></a>
                    </li>
                    <li class="page-item"
                        *ngIf="resultsVisible() && HsCompositionsCatalogueService.listNext != HsCompositionsCatalogueService.matchedCompositions">
                        <span class="page-link">
                            {{'COMMON.results' | translate}}
                            {{HsCompositionsCatalogueService.listStart + 1}} -
                            {{HsCompositionsCatalogueService.listNext}}</span>
                    </li>
                    <li class="page-item"
                        *ngIf="resultsVisible() && HsCompositionsCatalogueService.listNext == HsCompositionsCatalogueService.matchedCompositions">
                        <span class="page-link">
                            {{'COMMON.results' | translate}}
                            {{HsCompositionsCatalogueService.listStart + 1}} -
                            {{HsCompositionsCatalogueService.matchedCompositions}}</span>
                    </li>
                    <li class="page-item" [ngClass]="{'disabled': nextPageAvailable() }"
                        [ngStyle]="{'color' : nextPageAvailable() ? '#555' : '#007bff'}">
                        <a class="page-link" (click)="getNextCompositions()"><span aria-hidden="true">&raquo;</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>