<div class="card mainpanel hs-comp-mainpanel">
    <hs-panel-header name="composition_browser" [title]="'PANEL_HEADER.COMPOSITIONS' | translate">
        <extra-buttons>
            <button class="but-title-sm" title="{{'PANEL_HEADER.SAVECOMPOSITION'|translate}}"
                style="margin-bottom: 0; line-height: 1em; float: right; margin-right: 0.5em; cursor: pointer;"
                (click)="openSaveMapPanel()">
                <span class="icon-save-floppy"></span>
            </button>
            <label class="but-title-sm btn-file" title="{{'COMPOSITIONS.import'|translate}}"
                style="margin-bottom: 0; line-height: 1em; float: right; margin-right: 0.5em; cursor: pointer;">
                <span class="icon-upload"></span><input type="file" (change)="handleFileSelect($event)" accept="json"
                    style="display: none;">
            </label>
            <button class="but-title-sm" title="{{'COMPOSITIONS.addByAddress'|translate}}"
                style="margin-bottom: 0; line-height: 1em; float: right; margin-right: 0.5em; cursor: pointer;"
                (click)="changeUrlButtonVisible()">
                <span class="icon-plus"></span>
            </button>
        </extra-buttons>
    </hs-panel-header>
    <div class="card-body">
        <div class="input-group" [hidden]="!addCompositionUrlVisible">
            <input type="text" class="form-control" placeholder="{{'COMPOSITIONS.Address'|translate}}"
                [(ngModel)]="urlToAdd" [ngModelOptions]="{standalone: true}">
            <div class="input-group-append">
                <button type="button" class="btn btn-secondary" (click)="addCompositionUrl(urlToAdd)"><i
                        class="icon-link"></i></button>
            </div>
        </div>
        <form>
            <div class="input-group mb-2">
                <input type="text" class="form-control hs-filter" placeholder="{{'COMMON.search'|translate}}"
                    name="hs-filter-by-name" [(ngModel)]="query.title" (change)="filterChanged()">
                <span class="input-group-append">
                    <label class="hs-input-search-icon" (click)="filterChanged()">
                        <i class="icon-search icon-primary"></i>
                    </label>
                </span>
                <hs-layman-current-user [endpoint]="HsLaymanService.getLaymanEndpoint()"></hs-layman-current-user>
            </div>
            <div class="d-flex flex-row pb-2 justify-content-between">
                <div class="input-group-prepend">
                    <div class="input-group-text hs-borderless-input pl-0">
                        <input type="checkbox" [(ngModel)]="filterByExtent" (change)='filterChanged()'
                            name="filterByExtent">
                        <span class="ml-1">{{'COMPOSITIONS.filterByMap' | translate}}</span>
                    </div>
                    <div class="input-group-text hs-borderless-input" style="margin-left: 1.5em;"
                        [hidden]="!HsLaymanService.getLaymanEndpoint()">
                        <input type="checkbox" [(ngModel)]="filterByOnlyMine" (change)='filterChanged()'
                            name="filterByOnlyMine">
                        <span class="ml-1">{{'COMPOSITIONS.onlyMine' | translate}}</span>
                    </div>
                </div>
                <div class="btn-group dropdown">
                    <button type="button" class="btn btn-light dropdown-toggle"
                        style="background-color: white; border: 0;color: #495057" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false" (click)="openOptionsMenu()">
                        {{translateString('COMMON', optionsButtonLabel)}} <span class="caret"></span>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right p-2 m-1" [ngClass]="{'show': optionsMenuOpen}"
                        style="min-width: 250px;">
                        <table>
                            <tbody>
                                <tr>
                                    <td class="tdbreak" style="min-width: 100px; max-width: 100px;">
                                        {{'COMMON.type' | translate}}
                                    </td>
                                    <td>
                                        <select class="form-control" name="type" [(ngModel)]="type"
                                            (change)="filterChanged()" style="background-color:rgba(0,0,0,.03);">
                                            <option *ngFor="let type of types" [ngValue]="type.value">
                                                {{translateString('COMPOSITONTYPES', type.name)}}</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="tdbreak" style="min-width: 100px; max-width: 100px;">
                                        {{'COMMON.keywords' | translate}}
                                    </td>
                                    <td>
                                        <!-- <form>
                                            <div (click)="keywordsVisible = !keywordsVisible">
                                              <select class="form-control" style="background-color:rgba(0,0,0,.03)">
                                                <option>{{'COMPOSITIONS.selectKeywords' | translate}}</option>
                                              </select>
                                              <div class="overSelect"></div>
                                            </div>
                                            <div *ngFor="let keyword of keywords" [ngStyle]="{'display': keywordsVisible ? 'block' : 'none'}">
                                                <label>
                                                    <input type="checkbox" [(ngModel)]="keyword.selected" [ngModelOptions]="{standalone: true}"
                                                         (click)="keywordChecked(keyword)">
                                                    {{translateString('COMPOSITONKEYWORDS', keyword.name)}}
                                                </label>
                                            </div>
                                    </form> -->

                                        <button type="button" class="btn btn-light btn-sm dropdown-toggle"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                            (click)="keywordsVisible = !keywordsVisible"
                                            style="background-color:rgba(0,0,0,.03); color: #495057">
                                            {{'COMPOSITIONS.selectKeywords' | translate}}
                                        </button>
                                        <ul class="dropdown-menu" [ngClass]="{'show': keywordsVisible}">
                                            <a *ngFor="let keyword of keywords" class="dropdown-item"
                                                [ngClass]="{'active': keyword.selected}"
                                                (click)="$event.stopPropagation(); keywordChecked(keyword)">{{translateString('COMPOSITONKEYWORDS',
                                                keyword.name)}}</a>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="tdbreak" style="min-width: 100px; max-width: 100px;">
                                        {{'COMPOSITIONS.inspireTheme' | translate}}
                                    </td>
                                    <td>
                                        <select class="form-control" name="theme" [(ngModel)]="theme"
                                            (change)="filterChanged()" style="background-color:rgba(0,0,0,.03)">
                                            <option *ngFor="let theme of inspireThemes" [ngValue]="theme.value">
                                                {{translateString('COMPOSITONINSPIRETHEMES', theme.name)}}</option>
                                        </select>
                                        <!-- <button type="button" class="btn btn-light btn-sm dropdown-toggle"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                    (click)="themesVisible = !themesVisible"
                                    style="background-color:rgba(0,0,0,.03); color: #495057;">
                                    {{translateString('COMPOSITONINSPIRETHEMES', theme)}}
                                </button>
                                <ul class="dropdown-menu" [ngClass]="{'show': themesVisible}">
                                    <a *ngFor="let theme of inspireThemes" class="dropdown-item"
                                        
                                        (click)="themeSelected(theme)">{{translateString('COMPOSITONINSPIRETHEMES', theme.name)}}</a>
                                </ul> -->
                                    </td>
                                </tr>
                                <tr>
                                    <td class="tdbreak" style="min-width: 100px; max-width: 100px;">
                                        {{'COMMON.sortBy' | translate}}
                                    </td>
                                    <td class="tdbreak">
                                        <select class="form-control" name="sortBy" [(ngModel)]="sortBy"
                                            (change)="filterChanged()" style="background-color:rgba(0,0,0,.03)">
                                            <option *ngFor="let item of sortByValues" [ngValue]="item.value">
                                                {{translateString('COMPOSITONSORTVALUES', item.name)}}</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" style="text-align: center; vertical-align: middle;">
                                        <a class="btn btn-block btn-light"
                                            style="border-radius: 0.25rem; background-color:rgba(0,0,0,.03); color: #495057"
                                            (click)="clearFilters()">
                                            {{'COMPOSITIONS.clearFilters' | translate}}</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </form>
        <div class="card">
            <div class="card-body">
                <ul class="hs-comp-list list-group">
                    <li *ngFor="let composition of compositions | slice:listStart:listNext"
                        class="list-group-item hs-comp-item" style="cursor: pointer;"
                        [ngClass]="{'activeComposition' : composition.highlighted}"
                        (mouseover)="highlightComposition(composition, true)"
                        (mouseleave)="highlightComposition(composition, false)"
                        (click)="compositionClicked(composition)" data-container="body" data-placement="bottom"
                        [attr.title]="composition.mdAbstract">
                        <div class="hs-comp-item-title">{{composition.title || composition.name}}</div>
                        <div class="mt-2" [ngClass]="{'d-none': commonId(composition) != selectedCompId}">
                            <hr class="hs-dotted-line">
                            <div class="btn-group btn-block" role="group">
                                <a class="btn btn-sm" 
                                    (click)="$event.stopPropagation();openComposition(composition)">
                                    <i class="icon-map icon-primary"></i><span class="ml-1">{{'COMMON.open' |
                                        translate}}</span>
                                </a>
                                <a class="btn btn-sm" 
                                    (click)="$event.stopPropagation();detailComposition(composition)">
                                    <i class="icon-info-sign icon-primary"></i><span class="ml-1">{{'COMMON.metadata' |
                                        translate}}</span>
                                </a>
                                <a class="btn btn-sm" (click)="$event.stopPropagation();shareComposition(composition)"
                                    >
                                    <i class="icon-share-alt icon-primary"></i><span class="ml-1">{{'COMMON.share' |
                                        translate}}</span>
                                </a>
                                <a class="btn btn-sm" [hidden]="!composition.editable"
                                    (click)="$event.stopPropagation();confirmDelete(composition)">
                                    <i class="icon-trash icon-primary"></i><span class="ml-1">{{'COMMON.delete' |
                                        translate}}</span>
                                </a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="card-footer">
                <ul class="pagination d-flex justify-content-center" *ngIf="paging.matched == 0">
                    <li class="page-item">
                        <span aria-hidden="true">Loading...</span>
                    </li>
                </ul>
                <ul class="pagination d-flex justify-content-center" *ngIf="paging.matched != 0">
                    <li class="page-item" [ngClass]="{'disabled': listStart == 0 }">
                        <a class="page-link" (click)="getPreviousCompositions()"><span
                                aria-hidden="true">&laquo;</span></a>
                    </li>
                    <li class="page-item" *ngIf="resultsVisible() && listNext != paging.matched"><span
                            class="page-link">
                            {{'COMMON.results' | translate}}
                            {{listStart + 1}} -
                            {{listNext}}</span></li>
                    <li class="page-item" *ngIf="resultsVisible() && listNext == paging.matched"><span
                            class="page-link">
                            {{'COMMON.results' | translate}}
                            {{listStart + 1}} -
                            {{paging.matched}}</span></li>
                    <li class="page-item" [ngClass]="{'disabled': nextPageAvailable() }">
                        <a class="page-link" (click)="getNextCompositions()"><span
                                aria-hidden="true">&raquo;</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>