<div class="hs-comp-item-title">{{composition.title || composition.name}}</div>
<div class="hs-comp-item-body mt-2" [ngClass]="{'d-none': getCommonId(composition) !== selectedCompId}">
    <hr class="hs-dotted-line">
    <div class="btn-group w-100" role="group">
        <a class="btn btn-sm border-0" (click)="$event.stopPropagation();openComposition(composition)">
            <i class="material-icons material-icons icon-primary">map</i><span class="ms-1">{{'COMMON.open' |
                translateHs }}</span>
        </a>
        <a class="btn btn-sm border-0" (click)="$event.stopPropagation();detailComposition(composition)">
            <i class="material-icons material-icons icon-primary">info</i><span class="ms-1">{{'COMMON.metadata' |
                translateHs }}</span>
        </a>
        <a class="btn btn-sm border-0" (click)="$event.stopPropagation();shareComposition(composition)">
            <i class="material-icons material-icons icon-primary">share</i><span class="ms-1">{{'COMMON.share' |
                translateHs }}</span>
        </a>
        <ng-container *ngIf="composition.endpoint?.authenticated">
            <a class="btn btn-sm border-0" (click)="$event.stopPropagation();showPermissions(composition)"
                data-toggle="tooltip" data-placement="bottom"
                [title]="composition.editable ? '' : 'COMPOSITIONS.notAllowedToEditLayer' | translateHs ">
                <i class="material-icons material-icons icon-primary" [ngClass]="{'text-muted': !composition.editable}"
                    [ngStyle]="{'cursor' : composition.editable ? 'pointer' : 'default'}">lock</i><span
                    [hidden]="!composition.editable" class="ms-1">{{'COMMON.setPermissions' |
                    translateHs }}</span>
            </a>
            <a class="btn btn-sm border-0" (click)="$event.stopPropagation();confirmDelete(composition)"
                data-toggle="tooltip" data-placement="bottom"
                [title]="composition.editable ? '' : 'COMPOSITIONS.notAllowedToEditLayer' | translateHs ">
                <i class="material-icons material-icons icon-primary" [ngClass]="{'text-muted': !composition.editable}"
                    [ngStyle]="{'cursor' : composition.editable ? 'pointer' : 'default'}">delete</i><span
                    [hidden]="!composition.editable" class="ms-1">{{'COMMON.delete' |
                    translateHs }}</span>
            </a>
        </ng-container>
    </div>
</div>