<div class="card mainpanel hs-comp-mainpanel">
    <hs-panel-header name="composition_browser" [title]="'PANEL_HEADER.COMPOSITIONS' | translate">
        <extra-buttons>
            <button class="but-title-sm hs-extra-buttons" (click)="reload()" [title]="'COMMON.reload' | translate">
                <i class="glyphicon icon-fatredo"></i>
            </button>
            <button class="but-title-sm hs-extra-buttons" title="{{'PANEL_HEADER.SAVECOMPOSITION'|translate}}"
                (click)="openSaveMapPanel()">
                <span class="icon-save-floppy"></span>
            </button>
            <label class="but-title-sm hs-extra-buttons btn-file mb-0" style="font-size: 14px; padding: 1px 6px;" title="{{'COMPOSITIONS.import'|translate}}">
                <span class="icon-upload"></span><input type="file" (change)="handleFileSelect($event)"
                    accept="json" style="display: none;">
            </label>
            <button class="but-title-sm hs-extra-buttons" title="{{'COMPOSITIONS.addByAddress'|translate}}"
                (click)="changeUrlButtonVisible()">
                <span class="icon-plus"></span>
            </button>
        </extra-buttons>
    </hs-panel-header>
    <div class="card-body">
        <div class="input-group mb-2" [hidden]="!addCompositionUrlVisible">
            <input type="text" class="form-control" placeholder="{{'COMPOSITIONS.Address'|translate}}"
                [(ngModel)]="urlToAdd" [ngModelOptions]="{standalone: true}">
            <div class="input-group-append">
                <button type="button" class="btn btn-secondary" (click)="addCompositionUrl(urlToAdd)"><i
                        class="icon-link"></i></button>
            </div>
        </div>
        <form>
            <div class="input-group mb-2 ">
                <input type="text" class="form-control border-right-0" placeholder="{{'COMMON.search'|translate}}"
                    name="hs-filter-by-name" [(ngModel)]="HsCompositionsCatalogueService.data.query.title"
                    (change)="loadCompositions()">
                <div class="input-group-append">
                    <label class="input-group-text text-secondary border-left-0" (click)="loadCompositions()">
                        <i class="icon-search icon-primary"></i>
                    </label>
                </div>
                <hs-layman-current-user [endpoint]="HsLaymanService.getLaymanEndpoint()"></hs-layman-current-user>
            </div>
            <div class="d-flex flex-row pb-2 justify-content-around">
                <div class="input-group-prepend">
                    <div class="input-group-text hs-borderless-input pl-0">
                        <input type="checkbox" [(ngModel)]="HsCompositionsCatalogueService.filterByExtent"
                            (change)='loadCompositions()' name="HsCompositionsCatalogueService.filterByExtent">
                        <span class="ml-1">{{'COMPOSITIONS.filterByMap' | translate}}</span>
                    </div>
                    <div class="input-group-text hs-borderless-input"
                        [hidden]="!HsLaymanService.getLaymanEndpoint()">
                        <input type="checkbox" [(ngModel)]="HsCompositionsCatalogueService.filterByOnlyMine"
                            (change)='HsCompositionsCatalogueService.onlyMineClicked()'
                            name="HsCompositionsCatalogueService.filterByOnlyMine">
                        <span class="ml-1">{{'COMPOSITIONS.onlyMine' | translate}}</span>
                    </div>
                </div>
                <div class="btn-group dropdown">
                    <button type="button" class="btn btn-light dropdown-toggle"
                        style="background-color: white; border: 0;color: #495057" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false" (click)="openOptionsMenu()">
                        {{translateString('COMMON', optionsButtonLabel)}} <span class="caret"></span>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right p-2 m-1" [ngClass]="{'show': optionsMenuOpen}"
                        style="min-width: 250px;">
                        <table>
                            <tbody>
                                <tr>
                                    <td class="tdbreak" style="min-width: 100px; max-width: 100px;">
                                        {{'COMMON.type' | translate}}
                                    </td>
                                    <td>
                                        <select class="form-control" name="type"
                                            [(ngModel)]="HsCompositionsCatalogueService.data.type"
                                            (change)="HsCompositionsCatalogueService.loadFilteredCompositions()" style="background-color:rgba(0,0,0,.03);">
                                            <option *ngFor="let type of HsCompositionsCatalogueService.types"
                                                [ngValue]="type.value">
                                                {{translateString('COMPOSITONTYPES', type.name)}}</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="tdbreak" style="min-width: 100px; max-width: 100px;">
                                        {{'COMMON.keywords' | translate}}
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-light btn-sm dropdown-toggle p-2 border"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                            (click)="keywordsVisible = !keywordsVisible"
                                            style="text-align:start; background-color:rgba(0,0,0,.03); color: #495057; border-color: #ced4da !important; width: 136px !important;  border-radius: 0;">
                                            {{'COMPOSITIONS.selectKeywords' | translate}}
                                        </button>
                                        <ul class="dropdown-menu pl-2" [ngClass]="{'show': keywordsVisible}"
                                            style=" right: 0; top: 40%;  overflow-y: auto; max-height: 10rem;">
                                            <li
                                                *ngFor="let keyword of HsCompositionsCatalogueService.data.keywords, let index = index;">
                                                <label class="checkbox"><input class="mr-2" type="checkbox"
                                                        [(ngModel)]="keyword.selected" name="keyword[index]"
                                                        (change)="HsCompositionsCatalogueService.loadFilteredCompositions()">{{translateString('COMPOSITONKEYWORDS',
                                                    keyword.name)}}</label>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="tdbreak" style="min-width: 100px; max-width: 100px;">
                                        {{'COMPOSITIONS.inspireTheme' | translate}}
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-light btn-sm dropdown-toggle p-2 border"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                            (click)="themesVisible = !themesVisible"
                                            style="text-align:start; background-color:rgba(0,0,0,.03); color: #495057; border-color: #ced4da !important; width: 136px !important; border-radius: 0;">
                                            {{'COMPOSITIONS.selectThemes' | translate}}
                                        </button>
                                        <ul class="dropdown-menu pl-2" [ngClass]="{'show': themesVisible}"
                                            style="right: 0; top: 59%; overflow-y: auto; max-height: 10rem;">
                                            <li
                                                *ngFor="let theme of HsCompositionsCatalogueService.data.themes, let index = index;">
                                                <label class="checkbox"><input class="mr-2" type="checkbox"
                                                        [(ngModel)]="theme.selected" name="theme[index]"
                                                        (change)="HsCompositionsCatalogueService.loadFilteredCompositions()">{{translateString('COMPOSITONINSPIRETHEMES',
                                                    theme.name)}}</label>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                                <!-- <tr>
                                    <td class="tdbreak" style="min-width: 100px; max-width: 100px;">
                                        {{'COMPOSITIONS.inspireTheme' | translate}}
                                    </td>
                                    <td>
                                        <select class="form-control" name="data.theme"
                                            [(ngModel)]="HsCompositionsCatalogueService.data.theme"
                                            (change)="HsCompositionsCatalogueService.loadFilteredCompositions()" style="background-color:rgba(0,0,0,.03)">
                                            <option *ngFor="let theme of HsCompositionsCatalogueService.inspireThemes"
                                                [ngValue]="theme.value">
                                                {{translateString('COMPOSITONINSPIRETHEMES', theme.name)}}</option>
                                        </select>
                                    </td>
                                </tr> -->
                                <tr>
                                    <td class="tdbreak" style="min-width: 100px; max-width: 100px;">
                                        {{'COMMON.sortBy' | translate}}
                                    </td>
                                    <td class="tdbreak">
                                        <select class="form-control" name="data.sortBy"
                                            [(ngModel)]="HsCompositionsCatalogueService.data.sortBy"
                                            (change)="HsCompositionsCatalogueService.loadFilteredCompositions()" style="background-color:rgba(0,0,0,.03)">
                                            <option *ngFor="let item of HsCompositionsCatalogueService.sortByValues"
                                                [ngValue]="item.value">
                                                {{translateString('COMPOSITONSORTVALUES', item.name)}}</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" style="text-align: center; vertical-align: middle;">
                                        <a class="btn btn-block btn-light"
                                            style="border-radius: 0.25rem; background-color:rgba(0,0,0,.03); color: #495057"
                                            (click)="clearFilters()">
                                            {{'COMPOSITIONS.clearFilters' | translate}}</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </form>
        <div class="card">
            <div class="card-body">
                <ul class="hs-comp-list list-group">
                    <li class='list-group-item text-primary text-center'
                        *ngIf="HsCompositionsCatalogueService.compositionsLoading"><img class="pr-2"
                            [src]="loaderImage" />{{'COMMON.loading' | translate}}</li>
                    <li [hidden]='HsCompositionsCatalogueService.compositionEntries.length > 0 || HsCompositionsCatalogueService.compositionsLoading'
                        class='list-group-item'>
                        {{'DATASOURCE_SELECTOR.noResults' | translate}}</li>
                    <li *ngFor="let composition of HsCompositionsCatalogueService.compositionEntries | slice:HsCompositionsCatalogueService.listStart:HsCompositionsCatalogueService.listNext"
                        [hidden]="hideNotLayman(composition)" class="list-group-item hs-comp-item"
                        style="cursor: pointer;" [ngClass]="{'activeComposition' : composition.highlighted}"
                        (mouseover)="highlightComposition(composition, true)"
                        (mouseleave)="highlightComposition(composition, false)"
                        (click)="compositionClicked(composition)" data-container="body" data-placement="bottom"
                        [attr.title]="composition.mdAbstract">
                        <hs-compositions-list-item [composition]="composition" [selectedCompId]="selectedCompId">
                        </hs-compositions-list-item>
                    </li>
                </ul>
            </div>
            <div class="card-footer" *ngIf="HsCompositionsCatalogueService.paging.matched != 0">
                <ul class="pagination d-flex justify-content-center"
                    *ngIf="HsCompositionsCatalogueService.paging.matched == 0">
                    <li class="page-item">
                        <span aria-hidden="true">Loading...</span>
                    </li>
                </ul>
                <ul class="pagination d-flex justify-content-center"
                    *ngIf="HsCompositionsCatalogueService.compositionEntries.length > 0">
                    <li class="page-item" [ngClass]="{'disabled': HsCompositionsCatalogueService.listStart == 0 }">
                        <a class="page-link" (click)="getPreviousCompositions()"><span
                                aria-hidden="true">&laquo;</span></a>
                    </li>
                    <li class="page-item"
                        *ngIf="resultsVisible() && HsCompositionsCatalogueService.listNext != HsCompositionsCatalogueService.paging.matched">
                        <span class="page-link">
                            {{'COMMON.results' | translate}}
                            {{HsCompositionsCatalogueService.listStart + 1}} -
                            {{HsCompositionsCatalogueService.listNext}}</span>
                    </li>
                    <li class="page-item"
                        *ngIf="resultsVisible() && HsCompositionsCatalogueService.listNext == HsCompositionsCatalogueService.paging.matched">
                        <span class="page-link">
                            {{'COMMON.results' | translate}}
                            {{HsCompositionsCatalogueService.listStart + 1}} -
                            {{HsCompositionsCatalogueService.paging.matched}}</span>
                    </li>
                    <li class="page-item" [ngClass]="{'disabled': nextPageAvailable() }">
                        <a class="page-link" (click)="getNextCompositions()"><span aria-hidden="true">&raquo;</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
