<div class="modal in hs-composition-overwrite-dialog" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="max-width: 65em;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{'COMPOSITIONS.cswDialog.loadComposition' | translateHs: {app: data.app} }}
                </h4>
                <button type="button" (click)="close()" class="btn-close" data-dismiss="modal"
                    [attr.aria-label]="'COMMON.close' | translateHs: {app: data.app} ">
                </button>
            </div>
            <p class="py-3 text-danger m-auto w-75 ps-3">
                {{'COMPOSITIONS.cswDialog.infoText' | translateHs: {app: data.app} }}
            </p>
            <div class="modal-body w-75 mh-75" style="max-height: 75vh; overflow-y: auto; margin:auto">
                <ngb-accordion [closeOthers]="true" #acc="ngbAccordion" (panelChange)="beforeChange($event)">
                    <ngb-panel [disabled]="!servicesLoaded" id="{{service.id}}" *ngFor="let service of data.services">
                        <ng-template ngbPanelHeader>
                            <button ngbPanelToggle *ngIf="service.loaded; else loadingLayers"
                                class="accordion-button justify-content-between">{{service.title}}
                                <span>
                                    <i class="icon-trash text-secondary pe-3 " role="button"
                                        (click)="$event.stopPropagation();removeService(service)"
                                        [title]="'COMMON.delete' | translateHs : {app: data.app}"></i>
                                    <i class="text-black" role="button"
                                        [ngClass]=" acc.isExpanded(service.id)  ? 'icon-chevron-down' : 'icon-chevron-right' "
                                        [title]="'COMMON.toggle' | translateHs : {app: data.app}"></i>
                                </span>
                            </button>
                            <ng-template #loadingLayers>
                                <button
                                    class="accordion-button justify-content-between">{{'COMPOSITIONS.cswDialog.servicesLoading'
                                    | translateHs:{app: data.app} }}<img [src]="configRef._ajaxLoaderPath" /></button>
                            </ng-template>
                        </ng-template>
                        <ng-template ngbPanelContent>
                            <hs-layer-table *ngIf="service.loaded" [app]="data.app" [type]="service.type"
                                [injectedService]="service.typeService"> </hs-layer-table>
                        </ng-template>
                    </ngb-panel>
                </ngb-accordion>
            </div>
            <div class="w-75 mh-75 m-auto p-3" [hidden]="layersString.length === 0">
                {{'COMPOSITIONS.cswDialog.otherLayers' | translateHs: {app: data.app} }}: {{layersString}}
            </div>

            <div class="modal-footer">
                <button (click)="addLayers()" [disabled]="!servicesLoaded" type="button" class="btn btn-primary"
                    data-dismiss="modal">{{'COMMON.addLayers' |
                    translateHs: {'app': data.app} }}</button>
                <button (click)="close()" type="button" class="btn btn-primary" data-dismiss="modal">{{'COMMON.cancel'
                    | translateHs: {'app': data.app} }}</button>
            </div>
        </div>
    </div>
</div>