<div class="modal in hs-draw-layer-metadata" tabindex="-1" role="dialog"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header d-flex flex-column">
                <div class="d-flex w-100 align-items-center">
                    <h4 class="modal-title">
                        {{'COMMON.newDrawingLayer' | translate}}
                    </h4>
                    <button type="button" (click)="cancel()" class="close"
                        data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                            class="sr-only">{{'COMMON.close' | translate}}</span></button>
                </div>
                <p class="m-0 p-0" style="font-size: small; color: red;">
                    {{'DRAW.drawLayerMetadata.layerWillBeAdded' | translate}}</p>
            </div>
            <div *ngIf="!data.isAuthorized && this.data.laymanEndpoint != undefined" class="alert alert-danger" role="alert">
                <p class="text-center">
                    {{'DRAW.notAuthorized' | translate}}
                </p>
                <hs-layman-current-user [endpoint]="endpoint"></hs-layman-current-user>
            </div>
            <div class="d-flex w-75 m-auto p-4 justify-content-around" style="white-space: nowrap;"
                *ngIf="data.drawableLaymanLayers.length > 0 && data.isAuthorized && !data.tmpDrawLayer">
                <button type="button" class="btn btn-sm rounded btn-primary hs-toolbar-button" (click)="type = 'draw'"
                    [ngClass]="{active: type == 'draw' }">
                    {{'DRAW.drawToolbar.addDrawLayer' | translate}}
                </button>
                <button type="button" class="btn ml-1 btn-sm rounded btn-primary hs-toolbar-button"
                    (click)="type = 'layman'" [ngClass]="{active: type == 'layman' }">
                    {{'DRAW.drawLayerMetadata.loadServerLayers' | translate}}
                </button>
            </div>
            <div class="modal-body" style="max-height:400px; overflow-y:auto">
                <form *ngIf="type == 'draw' || data.drawableLaymanLayers.length == 0 || data.tmpDrawLayer">
                    <div class="form-group">
                        <label class="control-label">{{'DRAW.drawLayerMetadata.layerTitle' | translate}}</label>
                        <div class="mb-3">
                            <input class="form-control" [(ngModel)]="title" (ngModelChange)="titleChanged()"
                                name="title" />
                        </div>
                    </div>
                    <div class="flex-row w-75 align-items-center" style="display: flex;">
                        <a class="p-1 mb-1"
                            (click)="folderVisible = !folderVisible">{{'COMMON.advancedOptions' | translate}}</a>
                    </div>
                    <div [hidden]="!folderVisible">
                        <div class="form-group">
                            <label class="control-label">{{'COMMON.folder' | translate}}</label>
                            <input class="form-control" [(ngModel)]="path" (ngModelChange)="pathChanged()" name="path"
                                [placeholder]="'DRAW.drawLayerMetadata.nameOfFolder' | translate" />
                        </div>
                        <div class="card">
                            <h5 class="card-header">{{'DRAW.drawLayerMetadata.defaultAttributes' | translate}}</h5>
                            <div class="card-body">
                                <table class="table table-condensed">
                                    <tr>
                                        <th>{{'COMMON.attribute' | translate}}</th>
                                        <th>{{'DRAW.drawLayerMetadata.defaultValue' | translate}}</th>
                                    </tr>
                                    <tr *ngFor="let attr of attributes">
                                        <td><input class="form-control" [(ngModel)]="attr.name"
                                                [ngModelOptions]="{standalone: true}" /></td>
                                        <td><input class="form-control" [(ngModel)]="attr.value"
                                                [ngModelOptions]="{standalone: true}" /></td>
                                    </tr>
                                </table>
                                <btn class="btn btn-primary" (click)="addAttr()"><i class="icon-plus"></i></btn>
                            </div>
                        </div>
                    </div>
                </form>
                <form *ngIf="type == 'layman'">
                    <div class="d-flex align-items-center w-100 flex-column">
                        <label class=" bg-primary w-100 text-light m-0 p-1">{{'DRAW.serverLayers' | translate}}</label>
                        <ul class="list-group w-100">
                            <li *ngFor="let layer of data.drawableLaymanLayers" class="clearfix"
                                [ngClass]="'list-group-item'+(layer.highlighted ? ' active' : '')">
                                <b><a  data-toggle="tooltip"
                                        title="{{layer.description}}">{{layer.title}}</a></b>
                                <span class="float-right">
                                    <button type="button" class="btn btn-sm btn-primary" (click)="selectLayer(layer)"
                                        data-toggle="tooltip" title="'WFS.addToMap' | translate"><i
                                            class="icon-plus"></i></button>
                                </span>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" *ngIf="((data.isAuthorized || data.laymanEndpoint == undefined) && type == 'draw') || data.tmpDrawLayer"
                    (click)="confirm()">{{'COMMON.ok' | translate}}</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal"
                    (click)="cancel()">{{'COMMON.cancel' | translate}}</button>
            </div>
        </div>
    </div>
</div>
