<div class="btn-group"  >
    <button class="btn rounded-0 btn-light hs-toolbar-button"
        [ngClass]="HsDrawService.highlightDrawButton ? 'btn-outline-danger' : 'btn-outline-secondary'"
        (click)="toggleDrawToolbar()">
        <i [ngClass]="{'icon-pencil':!drawToolbarExpanded, 'icon-remove':drawToolbarExpanded}" data-toggle="tooltip"
            [title]="'PANEL_HEADER.DRAW' | translate"></i></button>
    <div class="btn-group" *ngIf="drawToolbarExpanded">
        <button type="button" class="btn btn-light rounded-0 btn-secondary dropdown-toggle hs-draw-layer-toggle" data-toggle="dropdown"
            aria-haspopup="true" [hidden]="!(HsDrawService.drawableLayers.length > 0 || HsDrawService.tmpDrawLayer)"
            (click)="controlLayerListAction(); HsDrawService.fillDrawableLayers() "
            [attr.aria-expanded]="layersExpanded" style="max-width: 125px; overflow: hidden; font-size: smaller; z-index: 2;"
            [ngClass]="HsDrawService.tmpDrawLayer ? 'btn-outline-danger' : 'btn-outline-primary'">
            <div>{{HsDrawService.selectedLayerString()}}</div>
        </button>
        <div class="dropdown-menu" [ngClass]="{'show': layersExpanded}">
            <div class="d-flex align-items-center w-100 flex-column" *ngIf="HsDrawService.drawableLayers.length > 0">
                <label class=" bg-primary w-100 text-light m-0 p-1">{{'DRAW.activeLayers' | translate}}</label>
                <a class="dropdown-item"  *ngFor="let layer of HsDrawService.drawableLayers"
                    (click)="selectLayer(layer)">{{HsLayerUtilsService.translateTitle(getTitle(layer))}}</a>
            </div>
            <div class="d-flex align-items-center w-100 flex-column"
                *ngIf="HsDrawService.drawableLaymanLayers.length > 0">
                <label class=" bg-primary w-100 text-light m-0 p-1">{{'DRAW.serverLayers' | translate}}</label>
                <a class="dropdown-item"  *ngFor="let layer of HsDrawService.drawableLaymanLayers"
                    (click)="selectLayer(layer)">{{HsLayerUtilsService.translateTitle(layer.title)}}</a>
            </div>
        </div>
        <button class="btn btn-light hs-toolbar-button btn-outline-secondary" [hidden]="HsDrawService.tmpDrawLayer"
            (click)="HsDrawService.saveDrawingLayer()" data-toggle="tooltip"
            [title]="'DRAW.drawToolbar.addDrawLayer' | translate">
            <i class="icon-plus"></i></button>
        <button type="button" *ngIf="HsDrawService.tmpDrawLayer" class="btn btn-light  hs-toolbar-button  btn-outline-secondary" (click)="HsDrawService.saveDrawingLayer()"
        [title]="'DRAW.saveDrawingToLayer' | translate">
        <i class="glyphicon icon-save-floppy"></i>
        </button>
        <button type="button" *ngIf="HsDrawService.selectedLayer"
            class="btn btn-light hs-toolbar-button  btn-outline-secondary" (click)="HsDrawService.removeLayer()"
            [title]="'COMMON.removeLayer' | translate">
            <i class="glyphicon icon-trash"></i>
        </button>
        <div class="btn-group" *ngIf="drawToolbarExpanded">
            <button class="btn btn-light hs-toolbar-button rounded-0 btn-outline-secondary"
                *ngIf="HsDrawService.drawActive" (click)="HsDrawService.removeLastPoint()" data-toggle="tooltip"
                [title]="'DRAW.drawToolbar.removeLastPoint' | translate">
                <i class="icon-remove-circle"></i></button>
            <button class="btn btn-light hs-toolbar-button rounded-0 btn-outline-secondary"
                *ngIf="HsDrawService.drawActive" (click)="finishDrawing()" data-toggle="tooltip"
                [title]="'DRAW.drawToolbar.finishFeature' | translate">
                <i class="icon-check"></i></button>
            <button type="button" (click)="drawTypeExpanded = !drawTypeExpanded" style="line-height: 1 !important;"
                class="btn btn-light dropright rounded-0 btn-outline-secondary dropdown-toggle" aria-haspopup="true">
                <label *ngIf="!HsDrawService.type" class="m-0">{{'DRAW.drawToolbar.selectType' | translate}}</label>
                <i [ngClass]="{
                                'icon-pin': HsDrawService.type=='Point',
                                'icon-polygonlasso': HsDrawService.type=='Polygon',
                                'icon-line': HsDrawService.type=='LineString'
                            }"></i>
            </button>
            <div  class="dropdown-menu  p-0" style="min-width: unset;" [ngClass]="{'show': drawTypeExpanded}">
                <div class="btn-group" >
                    <button class="btn btn-light hs-toolbar-button btn-outline-secondary"
                        [ngClass]="{active: HsDrawService.type=='Point' }" (click)="setType('Point');drawTypeExpanded = !drawTypeExpanded" data-toggle="tooltip"
                        [title]="'COMMON.point' | translate"><i class="icon-pin"></i></button>
                    <button class="btn btn-light hs-toolbar-button btn-outline-secondary"
                        [ngClass]="{active: HsDrawService.type=='Polygon' }" (click)="setType('Polygon');drawTypeExpanded = !drawTypeExpanded"
                        data-toggle="tooltip" [title]="'COMMON.polygon' | translate"><i
                            class="icon-polygonlasso"></i></button>
                    <button class="btn btn-light hs-toolbar-button btn-outline-secondary"
                        [ngClass]="{active: HsDrawService.type=='LineString' }" (click)="setType('LineString');drawTypeExpanded = !drawTypeExpanded"
                        data-toggle="tooltip" [title]="'COMMON.line' | translate">
                        <i class="icon-line"></i></button>
                </div>
            </div>
        </div>
    </div>

</div>
