<div class="hs-advanced-options">
  <div class="form-floating mb-3">
    <input class="form-control" name="srs" [(ngModel)]="data.srs" placeholder="'ADDLAYERS.srs' | translate" />
    <label for="srs" class="capabilities_label control-label">{{'ADDLAYERS.srs' | translate}}</label>
  </div>

  <div class="form-floating mb-3">
    <input class="form-control" name="folder" [(ngModel)]="data.folder_name"
      placeholder="'ADDLAYERS.folderName' | translate" />
    <label for="folder" class="capabilities_label control-label">{{'ADDLAYERS.folderName' | translate}}</label>
  </div>

  <div class="form-floating mb-3" *ngIf="hsAddDataVectorService.isKml(data.type, data.url)">
    <input type="checkbox" name="extractStyles" [(ngModel)]="data.extract_styles" placeholder="ADDLAYERS.VECTOR.extractStyles' |
    translate" />
    <label for="extractStyles" class="capabilities_label control-label">{{'ADDLAYERS.VECTOR.extractStyles' |
      translate}}</label>
  </div>

  <hs-target-position [(addUnder)]="data.addUnder"></hs-target-position>
</div>
