<div class="form-group">
    <div class="input-group">
        <span class="input-group-text control-label">{{'ADDLAYERS.under' | translateHs : {app} }}</span>
        <select class="form-control form-select" [(ngModel)]="addUnder" (ngModelChange)="updateChanges()"
            name="addUnder">
            <option [ngValue]="null" selected>{{'ADDLAYERS.none' | translateHs : {app} }}</option>
            <option [ngValue]="layer.layer" *ngFor="let layer of hsLayerManagerService.apps[app].data.layers">
                {{hsLayerUtilsService.translateTitle(layer.title, app)}}</option>
        </select>
    </div>
</div>
