.hs-content-wrapper {
    position: relative;
    min-height: inherit;
    font-family: Roboto, "Helvetica Neue", sans-serif;

    &.hs-open .hs-panelspace {
        min-width: 425px;
    }
}

.hs-panelspace {
    box-shadow: -36px -12px 61px -39px hsla(0, 0%, 0%, 0.3);
    background-color: white;
    height: 100%;
    overflow-x: visible;
    overflow-y: visible;
    padding-left: 0;
    padding-right: 0;
    pointer-events: auto;
    top: 0;
    z-index: 2;
    transition: width 100ms ease-out;

    &.labels {
        width: 425px;
    }
}

.hs-sb-right .hs-panelspace {
    right: 0;
}

.hs-sb-left .hs-panelspace {
    left: 0;
}

div.hs-content-wrapper:not(.hs-open) div.hs-panelspace-wrapper {
    background-color: transparent;
    width: 48px;
    overflow-x: hidden;
}

.hs-panelspace-wrapper {
    height: 100%;
    padding-left: 0;
    padding-right: 0;
    overflow-y: auto;
}

.hs-content-wrapper label.form-group {
    display: block;
}

@mixin mobile-view {
    .hs-content-wrapper {
        flex-direction: column;
        position: unset;
    }

    .hs-panelspace {
        transition: height 0.3s ease-in-out;

        height: auto;
        left: 0;
        bottom: 0;
        top: unset;
        width: 100%;
    }

    .hs-open .hs-panelspace {
        height: var(--hs-panelspace-normal-height, 70vh);

        &.panel-collapsed {
            height: var(--hs-panelspace-collapsed-height, 20vh);
        }

        &.dragging {
            position: absolute;
            transition: none;
        }
    }

    .hs-panelspace-wrapper {
        scrollbar-width: none;
        overflow-y: visible;
        width: 100%;
    }

    .hs-panelspace-expander-container {
        height: 1rem;

        .hs-panelspace-expander {
            height: 2.5rem;
            z-index: 1000;
            position: absolute;
            border-radius: 0;
            font-size: 0.75rem;
            font-family: "WebHostingHub-Glyphs";
            margin-top: -1rem;
        }

    }


    .drag-handle {
        width: 3rem;
        height: 2px;
        background-color: currentColor;
        margin: auto;
        margin-top: 1.3rem !important;
        transition: box-shadow 0.2s ease;

        &:hover,
        &:active,
        &.active {
            box-shadow: 0 0 20px 12px rgba(13, 110, 253, 0.5);
        }
    }

    .disabled .drag-handle {
        opacity: 0.65;
    }

}

//Forced by config
&.hs-mobile-view {
    @include mobile-view;
}