<div>
  <div class="d-flex flex-row justify-content-end">
    <div class="p-1 flex-grow-1">
      {{'STYLER.filtersAndScales' | translateHs : {app} }}:
    </div>
    <div class="p-1">
      <div class="btn-group" role="group" aria-label="Filters and scales">
        <button [title]="'STYLER.toggleFilters' | translateHs : {app} " class="btn btn-outline-primary btn-sm"
          (click)="filtersVisible = !filtersVisible">
          <span class="icon-filter"></span>
        </button>
        <button [title]="'STYLER.toggleScaleDenominators' | translateHs : {app} " class="btn btn-outline-primary btn-sm"
          (click)="scalesVisible = !scalesVisible">
          <span class="icon-design"></span>
        </button>
      </div>
    </div>
  </div>
  <hs-filters (changes)="emitChange()" [app]="app" *ngIf="filtersVisible" [rule]="rule"></hs-filters>
  <hs-scale-denominator (changes)="emitChange()" *ngIf="scalesVisible" [rule]="rule"></hs-scale-denominator>
  <div class="d-flex flex-row justify-content-end">
    <div class="p-1 flex-grow-1">{{'STYLER.symbolizers' | translateHs : {app} }}:</div>
    <div class="p-1">
      <div #addSymMenu="ngbDropdown" ngbDropdown class="d-inline-block" placement="bottom-right">
        <button class="btn btn-outline-primary btn-sm" [title]="'STYLER.addSymbolizer' | translateHs : {app} "
          id="dropdownAddSymbolizer" ngbDropdownToggle>
          <span class="icon-plus"></span>
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownAddSymbolizer">
          <button ngbDropdownItem (click)="addSymbolizer('Mark')">Mark</button>
          <button ngbDropdownItem (click)="addSymbolizer('Icon')">Icon</button>
          <button ngbDropdownItem (click)="addSymbolizer('Text')">Text</button>
          <button ngbDropdownItem (click)="addSymbolizer('Line')">Line</button>
          <button ngbDropdownItem (click)="addSymbolizer('Fill')">Fill</button>
        </div>
      </div>
    </div>
  </div>
  <ng-container *ngIf="rule.symbolizers.length > 0">
    <ul class="list-group hs-styler-content-list" cdkDropList (cdkDropListDropped)="drop($event)"
      [cdkDropListData]="rule.symbolizers">
      <ng-container *ngFor="let symbolizer of rule.symbolizers">
        <hs-symbolizer-list-item cdkDrag [rule]="rule" [app]="app" [symbolizer]="symbolizer" (changes)="emitChange()">
        </hs-symbolizer-list-item>
      </ng-container>
    </ul>
  </ng-container>
</div>
