<div class="card panel-default mainpanel" id="f_crossfilter_data_panel">
    <div class="card-header"><translate>Filter features</translate>
         <button type="button" class="close" ng-click="Core.closePanel(this)">
            <span aria-hidden="true">×</span>
            <span class="sr-only" translate>Close</span>
        </button>
    </div>
    <div class="card-body">
        <div class="form-group">
            <img ng-src="{{loaderImage}}" ng-show="loading"/>
            <div class="filter_charts"  ng-repeat="group in groupings">
                <translate>Filter by</translate>&nbsp;{{group.name}}
                <div id='fc_chart{{group.id}}'></div>
            </div>
        </div>
    </div>
</div>
