<div class="card panel-default mainpanel" id="f_crossfilter_data_panel">
    <hs.layout.panel-header panel-name="feature_crossfilter" panel-title="'Filter features'||translate"></hs.layout.panel-header>
    <div class="card-body">
        <div class="form-group">
            <img ng-src="{{loaderImage}}" ng-show="loading"/>
            <div class="filter_charts"  ng-repeat="group in groupings">
                <translate>Filter by</translate>&nbsp;{{group.name}}
                <div id='fc_chart{{group.id}}'></div>
            </div>
        </div>
    </div>
</div>
