<div class="modal" id="status-creator-save-dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only" translate="">Close</span></button>
                <h4 class="modal-title" id="myModalLabel" translate="">
                   Save composition
                </h4>
            </div>
            <div class="modal-body" style="max-height:600px; overflow-y:auto; text-align:center; font-size: 16px">
                <div translate>
                    You are atempting to save map changes to
                </div>
                <div>
                    <b>{{compoData.title}}</b>
                </div>
                <div ng-if="!statusData.titleFree && statusData.hasPermission && !statusData.changeTitle">
                    <div translate>
                        Do you really want to overwrite <b>{{compoData.title}}</b>?
                    </div>
                    <p>
                        <button type="button" class="btn btn-default btn-lg" data-dismiss="modal" ng-click="save()" translate>Yes, save</button>
                    </p>
                    <p>
                        <button type="button" class="btn btn-default btn-lg" ng-click="selectNewTitle()" translate>No, save as</button>
                    </p>
                </div>

                <div ng-if="!statusData.titleFree && statusData.hasPermission && statusData.changeTitle">
                    <div translate>
                        Select new name for map.
                    </div>
                    <p>
                        <input type="text" class="form-control" id="hs-stc-title" ng-model="compoData.title" />
                    </p>
                    <p>
                        <button type="button" class="btn btn-default btn-lg" data-dismiss="modal" ng-click="save(true)" translate>Save</button>
                    </p>
                </div>

                <div ng-if="!statusData.titleFree || !statusData.hasPermission">
                    <div>
                        <p translate ng-if="!statusData.hasPermission">You don't have sufficient rights to do so. Maybe the session has ended?</p>
                        <p translate ng-if="!statusData.titleFree">Use a different name to save the map.</p>
                    </div>
                    <p>
                        <button type="button" class="btn btn-default btn-lg" data-dismiss="modal" ng-click="focusTitle()" translate>OK</button>
                    </p>
                </div>
                
            </div>
        </div>
    </div>
</div>
