<div class="panel panel-default mainpanel hs-stc-mainpanel">
    <div class="panel-heading"><translate>Save current map {{title || current_composition_title}}</translate>
        <button type="button" class="close" ng-click="Core.closePanel(this)">
            <i class="glyphicon glyphicon-remove-circle" aria-hidden="true"></i>
            <span class="sr-only" translate>Close</span>
        </button>
    </div>
    <div class="panel-body">
        <div hs.status_creator.directive_form ng-if="config.advancedForm"></div>
        <div class="modal-footer" id="stc-footer"  ng-if="config.advancedForm">
            <button type="button" class="btn btn-primary" id="stc-save" translate="" ng-click="save(false)">Overwrite</button>
            <button type="button" class="btn btn-primary" id="stc-saveas" translate="" ng-click="save(true)">Save as</button>
            <button type="button" class="btn btn-default" id="stc-next" translate="" ng-click="next()">Next</button> 
        </div>
        <div hs.status_creator.directive_simpleform ng-if="!config.AdvancedForm"></div>
    </div>
</div>
