//** MAP GALLERY **//
.basemapGallery {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  top: 0.7em;
  position: absolute;
  cursor: pointer;
  box-sizing: border-box;
  right: 15px;

  .dropdown-toggle::after {
    display: none;
  }
}

.basemapGallery .galleryDropdown {
  max-height: 41em;
  // height: 50vh;

  flex-direction: column;
  flex-wrap: wrap-reverse;
  column-gap: 0.25rem;

  &.show {
    display: flex;
  }
}

.basemapGallery .galleryDropdown>div {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 8em;

  display: flex;
  flex-direction: column;
  background-color: white;
  width: 11em;
  max-height: 8em;
}

.basemapGallery .galleryDropdown img {
  height: 4.5em;
}

.basemapGallery .dropdown-item:not(.active) {
  background: hsla(0, 0%, 80%, 0.51);
}

.basemapGallery .dropdown-item.active {
  color: hsla(0, 0%, 100%, 89%) !important;
}

.basemapGallery img.active,
.basemapGallery div.active {
  border: 0.1rem solid hsl(211, 100%, 50%);
}

.basemapGallery div span.glyphicon {
  font-size: smaller;
  /* color:rgb(0, 123, 255); */
}

.basemapGallery .hs-miniMenu {
  width: 100%;
  height: 100%;
  background-color: hsla(212, 20%, 40%, 0.94);
  border: 0.1rem solid hsl(211, 100%, 50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: hsl(0, 0%, 100%);
  cursor: auto;
  right: 0;
  transition: all 0.4s ease, right 0ms;
}

.basemapGallery .hs-miniMenu>div {
  display: flex;
  flex-direction: row;
  background-color: hsla(0, 2%, 75%, 0.644);
  cursor: pointer;
}

.basemapGallery .hs-miniMenu p {
  cursor: pointer;
  font-size: "medium";
}

.basemapGallery .hs-miniMenu.expanded {
  width: 30em;
  height: auto;
  z-index: 4;
  padding-top: 2em;
  padding-bottom: 2em;
  border-radius: 0.25rem;
}

.basemapGallery .hs-miniMenu>label {
  cursor: pointer;
  text-align: right;
}

.basemapGallery .hs-miniMenu.expanded hs-layer-editor label {
  color: hsl(0, 0%, 100%);
}

.galleryButton {
  opacity: 0.9 !important;
  background-color: var(--ol-background-color);
  color: var(--ol-subtle-foreground-color);
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;

  &:hover {
    background-color: $secondary !important;
    color: var(--ol-background-color) !important;
  }
}

@media only screen and (max-width: $mobile-layout-breakpoint) {
  .basemapGallery a {
    font-size: x-large !important;
  }

  .hs-content-wrapper>div.hs-map-space>hs.layermanager.gallery>div>div>div>button {
    font-size: x-large;
  }

  .basemapGallery div span.glyphicon {
    font-size: large;
  }

  .basemapGallery .galleryDropdown {
    width: 15.5em;
  }

  .basemapGallery .galleryDropdown img {
    height: 6em;
  }

  .basemapGallery .hs-miniMenu {
    max-width: 90vw;
    font-size: larger;
  }
}
