<div class="flex-row w-100 m-auto justify-content-center align-items-center" style="display: flex">
  <p class="m-0 p-0 flex-fill text-primary">{{label}}:</p>
  <div ngbDropdown placement="bottom" style="max-width: 50%">
    <button type="button" ngbDropdownToggle class="
        btn btn-sm
        rounded-0
        hs-toolbar-button
        d-flex
        align-items-center
        mw-100
      " aria-haspopup="true" (click)="layersExpanded = !layersExpanded; HsTripPlannerService.fillVectorLayers() "
      [attr.aria-expanded]="layersExpanded">
      @if (selectedWrapper !== undefined) {
        <div class="text-truncate">
          {{'LAYERS.' + selectedWrapper.title | translate }}
        </div>
      }
    </button>
    <div ngbDropdownMenu [ngClass]="{'show': layersExpanded}" style="transform: translateX(25%); width: 15em">
      <div class="d-flex align-items-center w-100 flex-column">
        @for (layer of HsTripPlannerService.vectorLayers; track layer) {
          <a class="dropdown-item text-truncate"
            data-toggle="tooltip" [title]="'LAYERS.' + layer.title | translate"
            (click)="HsTripPlannerService.selectLayer(layer, usage); layersExpanded = false">
            {{'LAYERS.' + layer.title | translate }}
          </a>
        }
      </div>
    </div>
  </div>
</div>
