@if ({ position: hsLayoutService.sidebarPosition | async }; as sidebar) {
<button class="btn btn-light hs-toolbar-button text-secondary" [ngClass]="{
      'btn-outline-danger': hsDrawService.highlightDrawButton,
      'btn-light text-secondary': !drawToolbarExpanded,
      'btn-secondary': drawToolbarExpanded,
    }" (click)="toggleDrawToolbar()">
  <i class="fa-solid" [ngClass]="{
        'fa-pencil': !drawToolbarExpanded,
        'fa-xmark': drawToolbarExpanded,
      }" data-toggle="tooltip" [title]="'PANEL_HEADER.draw' | translate"></i>
</button>

@if (drawToolbarExpanded) {
@defer (when drawToolbarExpanded) {
<hs-draw-panel [inToolbar]="true"
  class="draw-panel-popup d-block w-100 rounded-3 d-flex flex-column w-auto bg-white p-3"></hs-draw-panel>
}
}

@if (hsDrawService.drawActive) {
<div style="top: 35vh" role="group" class="btn-group-vertical position-fixed d-flex flex-column" [ngStyle]="
      sidebar.position === 'right' || sidebar.position === 'bottom'
        ? { left: 0 }
        : { right: 0 }
    ">
  <button class="btn btn-secondary" (click)="hsDrawService.removeLastPoint()" data-toggle="tooltip"
    [title]="'DRAW.drawToolbar.removeLastPoint' | translate">
    <i class="fa-solid fa-eraser"></i>
  </button>

  <button class="btn btn-secondary" (click)="finishDrawing()" data-toggle="tooltip"
    [title]="'DRAW.drawToolbar.finishFeature' | translate">
    <i class="fa-solid fa-square-check"></i>
  </button>
</div>
}
}
