@if (isVisible$ | async) {
  <div class="card hs-main-panel" [ngClass]="panelWidthClass">
    <hs-panel-header name="draw" [selectedTab$]="selectedOption" [panelTabs]="'draw,edit'">
      <button mainButton class="btn btn-sm" style="cursor: help" data-toggle="tooltip"
        [title]="'DRAW.drawInfo' | translateHs ">
        <i class="icon-question-sign"></i>
      </button>
    </hs-panel-header>
    <!-- draw panel -->
    @if ({option: selectedOption | async}; as selected) {
      @if (selected.option === 'draw') {
        @defer (when selected.option === 'draw') {
          <hs-draw-panel class="pt-1"></hs-draw-panel>
        }
      }
      @if (selected.option === 'edit') {
        @defer (when selected.option === 'edit') {
          <hs-draw-edit class="my-4 d-flex flex-column align-items-center">
          </hs-draw-edit>
        }
      }
    }
    @if (HsDrawService.pendingLayers.length > 0) {
      <div class="m-auto w-100 p-3">
        <div class="alert alert-warning text-justify">
          <ol>
            @for (layer of HsDrawService.pendingLayers; track layer) {
              <li>
                {{'DRAW.loadingLayer' | translateHs }} <strong>{{layer}}</strong>
              </li>
            }
          </ol>
          {{'DRAW.longerLoading' | translateHs }}
          <div class="d-flex justify-content-center pt-3">
            <span class="hs-loader hs-loader-dark"></span>
          </div>
        </div>
      </div>
    }
    <div class="mh-75 pt-2">
      <hs-query-feature-list></hs-query-feature-list>
    </div>
  </div>
}
