<div id="hs-info-composition" ng-show="!compositionLoaded()">
    <div id="hs-info-composition-image" ng-show="!composition_loaded">
        <span class="glyphicon glyphicon-refresh glyphicon-spin" ></span>
        <span class="glyphicon" ng-class="info_image" ng-show="composition_loaded"></span>
    </div>
    <div id="hs-info-composition-container" ng-if="!composition_edited">
        <div class="hs-info-composition-title" translate>Empty map</div>
        <div class="hs-info-composition-abstract" translate>View, Compose and analyse spatial data</div>
    </div>
    <div id="hs-info-composition-container" ng-if="composition_edited">
        <div class="hs-info-composition-title" translate>Unsaved map</div>
        <div class="hs-info-composition-abstract" translate ng-show="!(!layer_loading.length && composition_edited)">You have unsaved changes!</div>
    </div>
</div>

<div id="hs-info-composition" ng-show="compositionLoaded()">
    <div id="hs-info-composition-image">
        <span class="glyphicon glyphicon-refresh glyphicon-spin" ng-show="!composition_loaded"></span>
        <span class="glyphicon" ng-class="info_image" ng-show="composition_loaded"></span>
    </div>
    <div id="hs-info-composition-container">
        <div class="hs-info-composition-title">{{composition_title}}</div>
        <div class="hs-info-composition-abstract">{{composition_abstract}}</div>
    </div>
</div>

<div id="hs-info-layers" ng-show="layer_loading.length">
<span translate>Loading: </span>
<span ng-repeat="layer in layer_loading track by $index">{{layer}} </span>
</div>

<div id="hs-info-composition-edited"  ng-show="!layer_loading.length && composition_edited">
    <span translate>You have unsaved changes!</span>
</div>
