<div id="hs-info-composition" ng-show="!compositionLoaded()">
    <div id="hs-info-composition-image">
        <span class="glyphicon glyphicon-refresh glyphicon-spin" ng-show="!composition_loaded"></span>
        <span class="glyphicon" ng-class="info_image" ng-show="composition_loaded"></span>
    </div>
    <div id="hs-info-composition-container">
        <div class="hs-info-composition-title">Empty map</div>
        <div class="hs-info-composition-abstract">View, Compose and analyse spatial data</div>
    </div>
</div>

<div id="hs-info-composition" ng-show="compositionLoaded()">
    <div id="hs-info-composition-image">
        <span class="glyphicon glyphicon-refresh glyphicon-spin" ng-show="!composition_loaded"></span>
        <span class="glyphicon" ng-class="info_image" ng-show="composition_loaded"></span>
    </div>
    <div id="hs-info-composition-container">
        <div class="hs-info-composition-title">{{composition_title}}</div>
        <div class="hs-info-composition-abstract">{{composition_abstract}}</div>
    </div>
</div>

<div id="hs-info-layers">
<span translate ng-show="layer_loading.length">Loading: </span>
<span ng-repeat="layer in layer_loading">{{layer}} </span>
</div>
