@if (isVectorLayer()) {
<div class="hs-widget-cluster">
  <div class="hs-widget-header">
    <div class="form-check">
      <input name="layer-cluster" class="form-check-input" type="checkbox" [(ngModel)]="cluster"
        [id]="'cluster-toggle-' + name" />
      <label class="form-check-label" [for]="'cluster-toggle-' + name">
        {{ "LAYERMANAGER.layerEditor.cluster" | translate }}
      </label>
    </div>
  </div>

  @if (cluster) {
  <div class="hs-widget-content">
    <div class="hs-cluster-distance">
      <div class="d-flex justify-content-between align-items-center mb-1">
        <label class="small text-muted mb-0">{{ "COMMON.distance" | translate }}</label>
        <span class="badge bg-primary">{{ distance.value }}</span>
      </div>
      <input name="layer-cluster-distance" type="range" min="0" max="100" step="1" [(ngModel)]="distance.value"
        (change)="changeDistance()" class="form-range" />
    </div>
  </div>
  }
</div>
}