@if ({ layer: layerDescriptor | async }; as descriptor) {
  @if (descriptor.layer && metadataService.hasMetadata(descriptor.layer)) {
    <div class="form-group">
      <!-- Metadata -->
      <div class="pt-2">
        @for (metadataUrl of metadataService.metadataArray(descriptor.layer); track metadataUrl) {
          <a class="card-href"
            [href]="metadataUrl.onlineResource" target="_blank" [title]="'COMMON.metadata' | translate">
            <span [hidden]="!metadataUrl.type">
              {{ "LAYERMANAGER.layerEditor.metadataOfLayer" | translate }}
              {{ metadataUrl.type }}
            </span>
            <span [hidden]="metadataUrl.type">
              {{ "LAYERMANAGER.layerEditor.metadataOfService" | translate }}
            </span>
          </a>
        }
      </div>
      <!-- Copyright -->
      @if (hasCopyright(descriptor.layer)) {
        <div>
          <a class="card-href" [href]="getAttribution(descriptor.layer.layer).onlineResource" target="_blank"
            [title]="'LAYERMANAGER.layerEditor.copyright' | translate">
          {{ "LAYERMANAGER.layerEditor.copyright" | translate }}</a>
        </div>
      }
    </div>
  }
  <div class="form-group" [hidden]="!abstract">
    <label>{{ "COMMON.abstract" | translate }}</label>
    <p [innerHtml]="
        HsLayerManagerService.makeSafeAndTranslate('LAYERS', abstract)
      "></p><!-- TODO: Remove function call from template -->
  </div>
}
