<div class="form-group">
  <small class="text-secondary" *ngIf="layerDescriptor | async as descriptor">
    {{ descriptor.type | translateHs: "LAYERMANAGER.layerEditor" }}
    {{ "LAYERMANAGER.layerEditor.layerFrom" | translateHs }}
    <div class="mw-100 d-flex align-items-center justify-content-between">
      <span class="text-truncate">
        {{
        descriptor.source
        | translateHs: "LAYERMANAGER.layerEditor"
        }}
      </span>
      @if (descriptor.source !== "memory") {
      <button class="btn btn-sm text-secondary" data-toggle="tooltip" [title]="'COMMON.copyToClipboard' | translateHs"
        (click)="copyToClipBoard()">
        <i [class.icon-check]="showCheck" [class.icon-copy]="!showCheck"></i>
      </button>
      }
    </div>
  </small>
</div>