<div [hidden]="!hsAddDataCommonService.showDetails || hsAddDataCommonService.loadingInfo">
  <ng-container>
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-text control-label">{{'ADDLAYERS.imageFormat' | translate}}</span>
        <select class="form-control form-select" name="imageFormat" [(ngModel)]="data.image_format">
          <option *ngFor="let format of data.image_formats">{{format}}</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <div class="input-group">
        <span class="input-group-text control-label">{{'ADDLAYERS.queryFormat' | translate}}</span>
        <select class="form-control form-select" name="queryFormat" [(ngModel)]="data.query_format">
          <option *ngFor="let format of data.query_formats">{{format}}</option>
        </select>
      </div>
    </div>

    <div class="form-group" [hidden]="!data.srs || data.srs.toUpperCase() === data.map_projection">
      <div class="input-group">
        <span class="input-group-text control-label">{{'ADDLAYERS.srs' | translate}}</span>
        <select class="form-control form-select form-select" name="srs" [(ngModel)]="data.srs" (change)="srsChanged()">
          <option *ngFor="let i of data.srss | slice:0:50">{{i}}</option>
        </select>
      </div>
    </div>
  </ng-container>

  <div class="form-group" [hidden]="data.base === true">
    <div class="input-group">
      <span class="input-group-text control-label">{{'ADDLAYERS.folderName' | translate}}</span>
      <input class="form-control" name="folderName" [(ngModel)]="data.folder_name" />
    </div>
  </div>
  <ng-container *ngIf="type === 'wms' || type === 'arcgis'">
    <p class="col-sm-12 alert alert-danger" [hidden]="!data.use_resampling">
      {{'ADDLAYERS.mapAndLayerProjection' | translate}}
    </p>
  </ng-container>
  <div class="form-group">
    <div class="capabilities_input d-flex flex-column">
      <ng-container *ngIf="type === 'wms' || type === 'arcgis'">
        <label class="capabilities_label control-label"> <input type="checkbox" class="me-1 checkbox-lg" name="useTiles"
            [(ngModel)]="data.use_tiles" />
          {{'ADDLAYERS.useTiles' | translate}}
        </label>
      </ng-container>

      <label class="capabilities_label control-label"> <input type="checkbox" class="me-2 checkbox-lg"
          [(ngModel)]="data.register_metadata" name="registerMetadata" />{{'ADDLAYERS.registerMetadata' |
        translate}}</label>
    </div>
  </div>
  <ng-container *ngIf="type === 'wms' || type === 'arcgis'">
    <p class="col-sm-12 alert alert-warning" [hidden]="data.use_tiles">
      {{'ADDLAYERS.considerUsingTiles' | translate}}
    </p>
  </ng-container>
  <ng-container *ngIf="type === 'wms'">
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-text control-label">{{'ADDLAYERS.tileSize' | translate}}</span>
        <input class="form-control" name="tileSize" [(ngModel)]="data.tile_size" />
      </div>
    </div>
  </ng-container>
  <div class="d-flex flex-column my-3">
    <div class="d-flex flex-row justify-content-start align-items-baseline mb-1">
      {{'ADDDATA.CATALOGUE.addAs' | translate}}
      <div class="btn-group ms-2">
        <button type="button" class="btn btn-sm btn-light  btn-outline-secondary" (click)="data.base = true"
          [ngClass]="{'active':data.base}">
          {{'COMPOSITONKEYWORDS.Basemap' | translate}}
        </button>
        <button type="button" class="btn btn-sm btn-light  btn-outline-secondary" (click)="data.base = false"
          [ngClass]="{'active': !data.base}">
          {{'COMMON.layer' | translate}}
        </button>
      </div>
    </div>
    <div class="input-group">
      <span class="input-group-text control-label">{{'COMMON.title' | translate}}</span>
      <input class="form-control" name="baseTitle" [(ngModel)]="data.title" />
    </div>
  </div>
  <ng-container *ngIf="type === 'wms'">
    <hs-target-position [(addUnder)]="data.add_under"></hs-target-position>
  </ng-container>
  <hr />
  <ng-container *ngIf="type === 'wms'; else simpleTable">
    <table class="table table-sm table-striped table-bordered hs-url-table">
      <thead class="bg-secondary text-light">
        <th style="width:1.5em">&nbsp;</th>
        <th>{{'COMMON.title' | translate}}</th>
        <!-- <th style="width:30%">{{'COMMON.name' | translate}}</th> -->
        <th>{{'COMMON.abstract' | translate}}</th>
      </thead>
      <tbody *ngFor="let layer of data.layers | slice:0:limitShown; trackBy:( 'Name' | trackByProperty )">
        <tr>
          <td [attr.rowspan]="layer.Style?.length ? 3 : 2" [ngClass]="{'align-middle': !hasNestedLayers(layer)}">
            <input type="checkbox" class="checkbox-lg" [(ngModel)]="layer.checked" name="layer" style="cursor: pointer;"
              (change)="searchForChecked(layer)" />
          </td>
          <td hsWmsLayerHighlight style="max-width: 25.375em" class="text-truncate"
            [title]="'Title: ' + layer.Title  + '\nName: ' + layer.Name"
            (click)="hsUrlWmsService.expandTableRow($event)">{{layer.Title}}</td>
          <!-- <td style="max-width: 13.75em" class="text-truncate" [title]="layer.Name">{{layer.Name}}</td> -->
          <td hsWmsLayerHighlight style="max-width: 10.875em; width:30%" class="text-truncate" [title]="layer.Abstract"
            (click)="hsUrlWmsService.expandTableRow($event)">
            {{layer.Abstract}}</td>
        </tr>
        <tr *ngIf="layer.Style?.length > 1 && layer.checked">
          <td colspan="3">
            <div class="d-flex align-items-baseline px-2 w-100">
              <div class="d-flex align-items-baseline" style="flex-grow: 1;">
                <label class="control-label">{{'COMMON.style' | translate}}:</label>
                <select class="form-control form-select-sm form-select" [(ngModel)]="layer.styleSelected"
                  [ngModelOptions]="{standalone: true}">
                  <option *ngFor="let style of layer.Style" [ngValue]="style">{{style.Name}}
                  </option>
                </select>
              </div>
            </div>
          </td>
        </tr>
        <tr [hidden]="!hasNestedLayers(layer)">
          <td colspan="3" style="padding-left: 1em">
            <hs-nested-layers-table style="display: block;" [layers]="layer.Layer"
              (layerChecked)="searchForChecked($event)">
            </hs-nested-layers-table>
          </td>
        </tr>
      </tbody>
    </table>
  </ng-container>
  <ng-template #simpleTable>
    <table class="table table-sm table-striped table-bordered">
      <thead>
        <th style="width:1em">&nbsp;</th>
        <th>{{'COMMON.name' | translate}}</th>
      </thead>
      <tbody *ngFor="let service of data.services; trackBy:( 'id' | trackByProperty )">
        <tr>
          <td>
            <input class="checkbox-lg" type="checkbox" name="service" (change)="changed('services')"
              style="cursor: pointer;" [(ngModel)]="service.checked" />
          </td>
          <td (click)="expandService(service)" data-toggle="tooltip" [title]="'ADDDATA.requestServiceLayers' | translate"
            style="cursor: pointer;">
            {{service.name}}
            <span style="font-size: x-small;"><i class="icon-chevron-right"></i></span>
          </td>
        </tr>
      </tbody>
      <tbody *ngFor="let layer of data.layers; trackBy:( 'id' | trackByProperty )">
        <tr>
          <td><input class="checkbox-lg" type="checkbox" name="layer" style="cursor: pointer;"
              (change)="changed('layers')" [(ngModel)]="layer.checked" /></td>
          <td>{{layer.name}}</td>
        </tr>
      </tbody>
    </table>
  </ng-template>
  <ng-container *ngIf="type === 'wms'">
    <div *ngIf="reachedLimit()" class="d-flex justify-content-around align-items-center m-3"><span
        [translate]="'ADDDATA.CATALOGUE.showingSubset'"
        [translateParams]="{limitShown: limitShown, total: data.layers.length}"></span>
      <div class="btn-group ms-2">
        <button type="button" class="btn btn-sm btn-light  btn-outline-secondary"
          (click)="limitShown = limitShown + 100">
          {{'ADDDATA.CATALOGUE.showNext100' | translate}}
        </button>
        <button type="button" class="btn btn-sm btn-light  btn-outline-secondary"
          (click)="limitShown = data.layers.length">
          {{'ADDDATA.CATALOGUE.showAll' | translate}}
        </button>
      </div>
    </div>
  </ng-container>
  <hs-url-add class="w-100" [injectedService]="injectedService" [services]="data.services" [layers]="data.layers">
  </hs-url-add>
</div>