<div class="row">
  <div class="input-group m-1">
    <span class="input-group-text">{{attribute.name}}</span>
    @if (!isObject) {
      <input class="form-control" [(ngModel)]="attribute.value" (change)="change()"
        [readonly]="readonly" name="hs-query-attribute-row-input">
    }
    @if (isObject) {
      <textarea class="form-control" name="attributeValue" [(ngModel)]="tmpObjectValue"
        [readonly]="readonly" (change)="change()" name="hs-query-attribute-row-textarea">
      </textarea>
    }
  </div>
</div>