<div class="panel panel-default mainpanel">
    <div class="panel-heading">
           <translate>Share map</translate>
        <button type="button" class="close" ng-click="Core.closePanel(this)">
            <span aria-hidden="true">×</span>
            <span class="sr-only">Close</span>
        </button>
    </div>
    <div class="panel-body">
            <div class="panel-body">
            <div class="form-group">
                <label for="permalink-embed" class="control-label" translate>Embed code</label>
                <textarea  class="form-control" style="height: 200px" id = "permalink-embed" ng-model="embed_code"></textarea>
            </div>
    </div>
</div>