<div class="card panel-default mainpanel">
    <hs.layout.panel-header panel-name="permalink" panel-title="'Share map'||translate"></hs.layout.panel-header>
    <div class="card-body">
        <div class="card-body">
            
            <div class="form-group">
                <label for="pure-map-link" class="control-label" translate>Share pure map</label>
                <a ng-href="{{data.pureMapUrl}}" target="_blank" id = "pure-map-link">{{data.pureMapUrl}}</a>
                <p><sub class="text-danger" translate>*Shares only map as picture</sub></p>
            </div>
            <br/>
            <div class="form-group">
                <label for="permalink-link" class="control-label" translate>Permalink</label>
                <a ng-href="{{data.permalinkUrl}}" target="_blank" id = "permalink-link">{{data.permalinkUrl}}</a>
                <p><sub class="text-danger" translate>*Shares map with all portal functionality</sub></p>
            </div>
            <hr/>
            
            <fieldset class="form-group">
                <h4 for="share-link"><translate>Link for</translate>&nbsp;<span ng-show="Core.embededEnabled" translate>embed/</span><translate>social share</translate></h4>
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="share-link" value="puremap" ng-model="data.shareLink" ng-click="updateEmbedCode()" translate>
                    Pure map
                  </label>
                </div>
                <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="share-link" value="permalink" ng-model="data.shareLink" ng-click="updateEmbedCode()" translate>
                    Permalink
                  </label>
                </div>
            </fieldset>
            <div class="form-group" ng-show="Core.embededEnabled">
                <label for="permalink-embed" class="control-label" translate>Embed code</label>
                <textarea  class="form-control" style="height: 80px" id = "permalink-embed" ng-model="data.embedCode"></textarea>
                <br/>
            </div>

            <hr />
            
            <fieldset>
            <h4 translate>Share on social network</h4>
            <div class="form-group">
                <label for="hs-prmlnk-title" class="control-label" translate>Name</label>
                    <input type="text" class="form-control" id="hs-prmlnk-title" placeholder="{{'Fill in name'|translate}}" ng-change="invalidateShareUrl()" ng-model="data.title" />
            </div>
            
            <div class="form-group">
                <label for="hs-prmlnk-abstract" class="control-label" translate>Abstract</label>

                    <textarea class="form-control" id="hs-prmlnk-abstract" placeholder="{{'Fill in descriptive text about map'|translate}}" ng-change="invalidateShareUrl()" ng-model="data.abstract">
                    </textarea>
            </div>

            <div class="form-group">
                <div class="form-group">
                    <label class="control-label" translate=""><input type="checkbox" ng-model="new_share"/><span class="ng-scope"> New share</span></label>
                </div>
                <div class="btn-group" role="group">
                    <button class="btn btn-secondary" href="#" ng-click="shareOnSocial('twitter')">
                        <i class="icon-twitter"></i> Twitter
                    </button>
                    <button class="btn btn-secondary" href="#" ng-click="shareOnSocial('facebook')">
                        <i class="icon-facebook"></i> Facebook
                    </button>
                </div>
            </div>
            
            <div class="form-group">
                <label for="hs-permalink-thumbnail" class="control-label" translate>Thumbnail</label>
                <img id="hs-permalink-thumbnail" class="img-thumbnail" alt="Thumbnail" width="256" height="256">
            </div>
            </fieldset>
        </div>
    </div>
</div>
