<div class="panel panel-default mainpanel">
    <div class="panel-heading"><span class="panel-title" translate>Share map</span>
        <button type="button" class="close" ng-click="Core.closePanel(this)">
            <span aria-hidden="true">×</span>
            <span class="sr-only" translate>Close</span>
        </button>
    </div>
    <div class="panel-body">
        <div class="panel-body">
            <div class="form-group">
                <label for="permalink-embed" class="control-label" translate>Embed code</label>
                <textarea  class="form-control" style="height: 80px" id = "permalink-embed" ng-model="embed_code"></textarea>
                <br/>
            </div>

            <div class="form-group">
                <label for="pure-link" class="control-label" translate>Share pure map</label>
                <a ng-href="{{embed_url}}" target="_blank" id = "pure-link">{{embed_url}}</a>
                <p><sub class="text-danger">*Shares only map for embedding the map</sub></p>
            </div>
            <br/>
            <div class="form-group">
                <label for="permalink-link" class="control-label" translate>Permalink</label>
                <a ng-href="{{permalink_url}}" target="_blank" id = "permalink-link">{{permalink_url}}</a>
                <p><sub class="text-danger">*Shares map with all portal and functionalities</sub></p>
            </div>
            <hr />
            <fieldset>
            <h3>Share on social network</h3>
            <div class="form-group">
                <label for="hs-prmlnk-title" class="control-label" translate>Name</label>
                    <input type="text" class="form-control" id="hs-prmlnk-title" placeholder="{{'Fill in name'|translate}}" ng-change="invalidateShareUrl()" ng-model="title" />
            </div>
            
            <div class="form-group">
                <label for="hs-prmlnk-abstract" class="control-label" translate>Abstract</label>

                    <textarea class="form-control" id="hs-prmlnk-abstract" placeholder="{{'Fill in descriptive text about map'|translate}}" ng-change="invalidateShareUrl()" ng-model="abstract">
                    </textarea>
            </div>

            <div class="form-group">
                <div class="form-group">
                    <label class="control-label" translate=""><input type="checkbox" ng-model="new_share"/><span class="ng-scope"> New share</span></label>
                </div>
                <button class="btn btn-default" href="#" ng-click="shareOnSocial('twitter')">
                    <i class="icon-twitter"></i> Twitter
                </button>
                <button class="btn btn-default" href="#" ng-click="shareOnSocial('facebook')">
                    <i class="icon-facebook"></i> Facebook
                </button>
                <button class="btn btn-default" href="#" ng-click="shareOnSocial('google')">
                    <i class="icon-googleplus"></i> Google
                </button>
            </div>
            
            <div class="form-group">
                <label for="hs-permalink-thumbnail" class="control-label" translate>Thumbnail</label>
                <img id="hs-permalink-thumbnail" class="img-thumbnail" alt="Thumbnail" width="256" height="256">
            </div>
            </fieldset>
        </div>
    </div>
</div>
