<p><sub class="text-danger">*Note: if you link a file with coordinates other than World Geodetic System (lon/lat),
        please set the SRS in the "ADVANCED OPTIONS"</sub></p>
<form class="form-horizontal" role="form">
    <hs-add-layers-url [type]="'vector'" [url]="url" [connect]="connect"></hs-add-layers-url>

    <div class="form-group">
        <label class="capabilities_label control-label">Title</label>
        <input class="form-control" name="title" [(ngModel)]="title" />
    </div>

    <div class="form-group">
        <label class="capabilities_label control-label">Abstract</label>
        <textarea class="form-control" id='hs-ows-abstract' placeholder="Fill in descriptive text about map"
            name="abstract" [(ngModel)]="abstract">
        </textarea>
    </div>

    <button type="button" class="btn btn-block btn-outline-secondary dropdown-toggle dropdown-toggle-split"
        data-toggle="collapse" (click)="advancedPanelVisible = !advancedPanelVisible"
        data-target=".hs-ows-vector-advanced">
        Advanced options
    </button>

    <div class="collapse hs-ows-vector-advanced" [ngClass]="{'show': advancedPanelVisible}">
        <div class="form-group">
            <label class="capabilities_label control-label">SRS</label>
            <input class="form-control" name="srs" [(ngModel)]="srs" />
        </div>

        <div class="form-group">
            <label class="capabilities_label control-label">Folder name</label>
            <input class="form-control" name="folder" [(ngModel)]="folder_name" />
        </div>

        <div class="form-group">
            <label class="capabilities_label control-label">Extract styles</label>
            <input type="checkbox" name="extractStyles" [(ngModel)]="extract_styles" />
        </div>
    </div>

    <button class="btn btn-primary btn-block" [disabled]="!title" (click)="add()"><i class="icon-plus"></i>
        Add
    </button>
</form>
