<div class="row" ng-repeat="geometry in geometryType">
    <div class="col-sm-2">
        <div ng-repeat="style in layerStyle">
            <div ng-if="style.icon && geometry == 'point'">
                <img ng-style="{{style.icon}}" ng-src="{{style.icon.src}}">
            </div>
            <!-- <svg xmlns="http://www.w3.org/2000/svg"></svg>


            <circle ng-if="!style.icon && geometry == 'point'" cx="10" cy="10" r="10" stroke="{{style.styleStroke}}"
                fill="{{style.styleFill}}" />
            <path ng-if="!style.icon && geometry == 'polygon'" cx="10" cy="10" r="10" fill="{{style.styleFill}}" />
            <path ng-if="!style.icon && geometry == 'line'" cx="10" cy="10" r="10" fill="{{style.styleFill}}" /> -->
            <div ng-if="style.styleFill && geometry == 'polygon'">
                <div ng-style="{{style.styleFill}}" ng-style="{{style.styleStroke}}">
                </div>
            </div>
            <div ng-if="style.styleStroke && geometry == 'line'">
                <div ng-style="{{style.styleStroke}}">
                </div>
            </div>
            </svg>
        </div>
    </div>

    <div class="col-sm-10">
        {{geometry}}
    </div>
</div>