<div class="panel panel-default mainpanel">
    <div class="panel-heading">Legend
        <button type="button" class="close" ng-click="Core.hidePanels()">
            <span aria-hidden="true">×</span>
            <span class="sr-only">Close</span>
        </button>
    </div>
    <div class="panel-body">
        <p><input type="text" class="form-control" placeholder="Filter:" ng-model="query.title"></p>
        <ul class="list-group">
                <li ng-repeat="layer in layers | filter:query" class="list-group-item" ng-show="layer.lyr.getVisible()">{{layer.title}}
                    <img ng-repeat="sublayer in layer.sub_layers" ng-src="{{sublayer}}"  onerror=" this.parentNode.removeChild(this); " onload="if(this.height<6) { this.parentNode.removeChild(this); }" />
                </li>
        </ul>
    </div>
</div>

                  