<div class="modal in" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    {{data.title}}
                </h4>
                <button type="button" (click)="no()" class="btn-close" data-dismiss="modal"
                    [attr.aria-label]="'COMMON.close' | translateHs : {app: data.app} "></button>
            </div>
            <div class="modal-body" style="overflow-y:auto">
                <p class="fw-bold h6">{{data.message}}</p>
                <p class="h6 small">{{data.note}}</p>
                <div *ngIf="data.items?.length > 0">
                    <div class="d-flex w-100 justify-content-center">
                        <button type="button" class="mt-1 btn btn-primary"
                            (click)="selectDeselectAll()">{{'SAVECOMPOSITION.form.toggleAll' |
                            translateHs : {app: data.app} }}</button>
                    </div>
                    <div class="d-flex align-items-center" style="word-break:break-all" *ngFor="let item of data.items">
                        <button type="button" class="btn btn-sm m-0 p-0"
                            (click)="checkToRemove(item);$event.stopPropagation()"
                            [ngClass]="item.toRemove ? 'hs-checkmark' : 'hs-uncheckmark'"></button>
                        <p class="m-0 ps-1">{{item.displayTitle}}</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="yes()"
                    [title]="'COMMON.yes' | translateHs : data" data-dismiss="modal">{{'COMMON.yes' | translateHs :
                    {app: data.app} }}</button>
                <button type="button" class="btn btn-secondary compositions-btn-cancel"
                    [title]="'COMMON.no' | translateHs : data" (click)="no()" data-dismiss="modal">{{'COMMON.no' |
                    translateHs : {app: data.app} }}</button>
            </div>
        </div>
    </div>
</div>