<div class="basemapGallery" ng-style="galleryStyle()">
    <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
        <button type="button" ng-if="fitsInContainer()" class="button-primary btn-sm  basemap-tile "
            ng-repeat="layer in LayMan.data.baselayers | orderBy: 'title'"
            ng-click="LayMan.changeBaseLayerVisibility($event, layer)"
            ng-class="{'active': layer.active}">{{::layer.title}}</button>

        <div class="btn-group btn-group-sm" role="group" ng-if="!fitsInContainer()">
            <button type="button" ng-click="baseLayersExpanded=!baseLayersExpanded"
                class="btn rounded galleryButton pt-0 pb-0" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="{{baseLayersExpanded}}">
                <i class="glyphicon icon-map x-large p-0"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right" ng-class="{'show': baseLayersExpanded}">
                <a class="dropdown-item" href="#" ng-repeat="layer in LayMan.data.baselayers | orderBy: 'title'"
                    ng-click="LayMan.changeBaseLayerVisibility($event, layer)" ng-class="{'active': layer.active}">{{layer.title}}</a>
            </div>
        </div>
    </div>
</div>
</div>