<div class="modal" id="hs-remove-all-dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only" translate="">Close</span></button>
                <h4 class="modal-title" id="myModalLabel" translate="">
                   Layer manager
                </h4>
            </div>
            <div class="modal-body" style="max-height:600px; overflow-y:auto" translate>
                    Do you really want to remove all layers?
            </div>
            <div class="modal-footer" id="stc-footer">
                <button type="button" class="btn btn-primary" translate ng-click="removeAllLayers(true)" data-dismiss="modal">Yes</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" translate>No</button>
            </div>
        </div>
    </div>
</div>
