<md-list layout-fill>
    <md-list-item class="md-line-2" ng-repeat="layer in data.layers | orderBy:layerOrder:true"
        ng-click="setCurrentLayer(layer, layer.layer.ol_uid, obj.coded_path)" layout-fill>
        <div layout="column" class="md-list-item-text" layout-fill>
            <div layout="row" layout-fill layout-align="start center">
                <md-checkbox flex="none" ng-checked="layer.visible" aria-label="Layer visibility"
                    ng-click="$event.stopPropagation();changeLayerVisibility(!layer.visible,layer);"
                    style="margin-bottom:0px;">
                </md-checkbox>
                <md-button class="md-icon-button" ng-show="isLayerType(layer.layer,'wms')">
                    <md-icon class="md-accent md-hue-2">image</md-icon>
                    <md-tooltip md-direction="down">{{'LAYERMANAGER.layermanagerMd.imageLayer' | translate}}
                    </md-tooltip>
                </md-button>
                <md-button class="md-icon-button" ng-show="isLayerType(layer.layer,'point')">
                    <md-icon class="md-accent md-hue-3">bubble_chart</md-icon>
                    <md-tooltip md-direction="down">{{'LAYERMANAGER.layermanagerMd.pointFeatures' | translate}}
                    </md-tooltip>
                </md-button>
                <md-button class="md-icon-button" ng-show="isLayerType(layer.layer,'line')">
                    <md-icon class="md-accent md-hue-3">show_chart</md-icon>
                    <md-tooltip md-direction="down">{{'LAYERMANAGER.layermanagerMd.lineFeatures' | translate}}
                    </md-tooltip>
                </md-button>
                <md-button class="md-icon-button" ng-show="isLayerType(layer.layer,'polygon')">
                    <md-icon class="md-accent md-hue-3">crop_5_4</md-icon>
                    <md-tooltip md-direction="down">{{'LAYERMANAGER.layermanagerMd.polygonFeatures' | translate}}
                    </md-tooltip>
                </md-button>
                <span md-truncate flex>{{layer.title}}</span>
            </div>
            <!--Button toolbar-->
            <div layout="row" layout-align="space-around center" layout-wrap class="layer-toolbar">
                <md-button layout-fill class="md-icon-button md-primary md-hue-2" aria-label="About layer"
                    ng-click="$event.stopPropagation();HsLayerManagerService.expandInfo(layer,!layer.expandInfo);">
                    <md-icon>info</md-icon>
                    <md-tooltip md-direction="down">{{'LAYERMANAGER.layermanagerMd.aboutLayer' | translate}}
                    </md-tooltip>
                </md-button>
                <md-button layout-fill class="md-icon-button md-primary md-hue-3" aria-label="Move layer up"
                    ng-click="changePosition(layer,true, $event)">
                    <md-icon>arrow_upward</md-icon>
                    <md-tooltip md-direction="down">{{'LAYERMANAGER.layermanagerMd.moveLayerUpward' | translate}}
                    </md-tooltip>
                </md-button>
                <md-button layout-fill class="md-icon-button md-primary md-hue-3" aria-label="Move layer down"
                    ng-click="changePosition(layer,false, $event)">
                    <md-icon>arrow_downward</md-icon>
                    <md-tooltip md-direction="down">{{'LAYERMANAGER.layermanagerMd.moveLayerDownward' | translate}}
                    </md-tooltip>
                </md-button>
                <md-button layout-fill class="md-icon-button md-primary" aria-label="Layer options"
                    ng-click="expandSettings(layer,!layer.expandSettings);">
                    <md-icon>settings</md-icon>
                    <md-tooltip md-direction="down">{{'LAYERMANAGER.layermanagerMd.layerOptions' | translate}}
                    </md-tooltip>
                </md-button>
                <md-button layout-fill ng-if="layer.hsFilters" class="md-icon-button md-primary"
                    aria-label="Filter features"
                    ng-click="HsLayerManagerService.expandFilter(layer,!layer.expandFilter);">
                    <md-icon>filter_list</md-icon>
                    <md-tooltip md-direction="down">{{'LAYERMANAGER.layermanagerMd.filterFeatures' | translate}}
                    </md-tooltip>
                </md-button>
                <md-button layout-fill class="md-icon-button md-warn md-hue-1" aria-label="Remove layer"
                    ng-click="showRemoveLayerDiag($event, layer)">
                    <md-icon>delete</md-icon>
                    <md-tooltip md-direction="down">{{'COMMON.removeLayer' | translate}}</md-tooltip>
                </md-button>
            </div>
            <!-- expand divider-->
            <div layout="column" class="divider-layer" layout-fill layout-align="center center"
                ng-if="layer.expandSettings || layer.expandInfo || layer.expandFilter">
                <md-button layout-fill class="md-icon-button md-primary" aria-label="Hide"
                    ng-click="$event.stopPropagation();HsLayerManagerService.expandSettings(layer,false);HsLayerManagerService.expandInfo(layer,false);HsLayerManagerService.expandFilter(layer,false);">
                    <md-icon>arrow_drop_up</md-icon>
                    <md-tooltip md-direction="down">{{'COMMON.hide' | translate}}</md-tooltip>
                </md-button>
            </div>
            <!-- layer filters -->
            <div hs.feature-filter.directive ng-controller="hs.feature-filter.controller" ng-if="layer.expandFilter">
            </div>
            <!-- layer settings -->
            <div layout="column" layout-align="start start" layout-wrap class="layer-toolbar"
                ng-if="layer.expandSettings">
                <!-- title -->
                <md-input-container layout-fill class="md-block">
                    <label>{{'LAYERMANAGER.layermanagerMd.layerName' | translate}}</label>
                    <input ng-model="title" ng-model-options="{ getterSetter: true }">
                </md-input-container>
                <!-- opacity -->
                <md-input-container layout-fill class="md-block">
                    <label>{{'LAYERMANAGER.layermanagerMd.layerOpacity' | translate}}</label>
                    <md-slider min="0" max="1" step="0.01" ng-model="opacity" ng-model-options="{ getterSetter: true }"
                        aria-label="Change layer opacity"></md-slider>
                </md-input-container>
                <!-- style -->
                <label
                    ng-if="layer.layer.getSource().styleAble">{{'LAYERMANAGER.layermanagerMd.layerStyle' | translate}}</label>
                <div ng-if="layer.layer.getSource().hasPoly">
                    <div md-color-picker ng-model="layer.style.fillColor" label="Fill"
                        ng-change="HsLayerEditorStylesService.HsLayerEditorStylesService.saveStyle(layer)"
                        icon="format_color_fill" type="1" md-color-sliders="false" md-color-history="false"
                        md-color-default-tab="1"></div>
                </div>
                <div ng-if="layer.layer.getSource().hasLine || layer.layer.getSource().hasPoly">
                    <div md-color-picker ng-model="layer.style.lineColor" label="Stroke"
                        ng-change="HsLayerEditorStylesService.saveStyle(layer)" icon="brush" type="1"
                        md-color-sliders="false" md-color-history="false" md-color-default-tab="1"></div>
                    <md-input-container layout-fill class="md-block">
                        <label>{{'COMMON.width | translate'}}</label>
                        <md-slider min="0" max="40" step="0.1" ng-model="layer.style.lineWidth"
                            ng-change="HsLayerEditorStylesService.saveStyle(layer);" aria-label="Change line width">
                        </md-slider>
                    </md-input-container>
                </div>
                <div layout-fill ng-if="layer.layer.getSource().hasPoint">
                    <md-tabs md-no-pagination="true" md-no-ink="true" md-stretch-tabs="always" md-dynamic-height="true">
                        <md-tab md-on-select="HsLayerEditorStylesService.changePointType(layer,'Circle')">
                            <md-tab-label>
                                <md-icon>brightness_1</md-icon>
                                <md-tooltip md-direction="down">{{'COMMON.circle | translate'}}</md-tooltip>
                            </md-tab-label>
                            <md-tab-body>
                                <div md-color-picker ng-model="layer.style.pointFill"
                                    label="{{'COMMON.fill'| translate}}"
                                    ng-change="HsLayerEditorStylesService.saveStyle(layer)" icon="format_color_fill"
                                    type="1" md-color-sliders="false" md-color-history="false" md-color-default-tab="1">
                                </div>
                                <div md-color-picker ng-model="layer.style.pointStroke"
                                    label="{{'COMMON.stroke'|translate}}"
                                    ng-change="HsLayerEditorStylesService.saveStyle(layer)" icon="brush" type="1"
                                    md-color-sliders="false" md-color-history="false" md-color-default-tab="1"></div>
                                <label>{{'COMMON.strokeWidth'|translate}}</label>
                                <md-slider min="0" max="20" step="0.1" ng-model="layer.style.pointWidth"
                                    ng-change="HsLayerEditorStylesService.saveStyle(layer);"></md-slider>
                                <label>{{'COMMON.radius'|translate}}</label>
                                <md-slider min="0" max="40" step="0.1" ng-model="layer.style.radius"
                                    ng-change="HsLayerEditorStylesService.saveStyle(layer);"></md-slider>

                            </md-tab-body>
                        </md-tab>
                        <md-tab md-on-select="HsLayerEditorStylesService.changePointType(layer,'Polygon')">
                            <md-tab-label>
                                <md-icon>stop</md-icon>
                                <md-tooltip md-direction="down">{{'COMMON.polygon'|translate}}</md-tooltip>
                            </md-tab-label>

                            <md-tab-body>
                                <label>{{'LAYERMANAGER.layermanagerMd.sidesNumber' | translate}}</label>
                                <md-slider min="3" max="10" step="1" ng-model="layer.style.pointPoints"
                                    ng-change="HsLayerEditorStylesService.saveStyle(layer);"></md-slider>
                                <div md-color-picker ng-model="layer.style.pointFill"
                                    label="{{'COMMON.fill'| translate}}"
                                    ng-change="HsLayerEditorStylesService.saveStyle(layer)" icon="format_color_fill"
                                    type="1" md-color-sliders="false" md-color-history="false" md-color-default-tab="1">
                                </div>
                                <div md-color-picker ng-model="layer.style.pointStroke"
                                    label="{{'COMMON.stroke'|translate}}"
                                    ng-change="HsLayerEditorStylesService.saveStyle(layer)" icon="brush" type="1"
                                    md-color-sliders="false" md-color-history="false" md-color-default-tab="1"></div>
                                <label>{{'COMMON.strokeWidth'|translate}}</label>
                                <md-slider min="0" max="20" step="0.1" ng-model="layer.style.pointWidth"
                                    ng-change="HsLayerEditorStylesService.saveStyle(layer);"></md-slider>
                                <label>{{'COMMON.rotation'|translate}}</label>
                                <md-slider min="0" max="1.57" step="0.01" ng-model="layer.style.rotation"
                                    ng-change="HsLayerEditorStylesService.saveStyle(layer);"></md-slider>
                                <label>{{'COMMON.radius'|translate}}</label>
                                <md-slider min="0" max="40" ng-model="layer.style.radius"
                                    ng-change="HsLayerEditorStylesService.saveStyle(layer);"></md-slider>
                            </md-tab-body>
                        </md-tab>
                        <md-tab md-on-select="HsLayerEditorStylesService.changePointType(layer,'Star')">
                            <md-tab-label>
                                <md-icon>star</md-icon>
                                <md-tooltip md-direction="down">{{'LAYERMANAGER.layermanagerMd.star'|translate}}</md-tooltip>
                            </md-tab-label>
                            <md-tab-body>
                                <label>{{'LAYERMANAGER.layermanagerMd.sidesNumber' | translate}}</label>
                                <md-slider min="3" max="20" step="1" ng-model="layer.style.pointPoints"
                                    ng-change="HsLayerEditorStylesService.saveStyle(layer);"></md-slider>
                                <div md-color-picker ng-model="layer.style.pointFill"
                                    label="{{'COMMON.fill'| translate}}"
                                    ng-change="HsLayerEditorStylesService.saveStyle(layer)" icon="format_color_fill"
                                    type="1" md-color-sliders="false" md-color-history="false" md-color-default-tab="1">
                                </div>
                                <div md-color-picker ng-model="layer.style.pointStroke"
                                    label="{{'COMMON.stroke'|translate}}"
                                    ng-change="HsLayerEditorStylesService.saveStyle(layer)" icon="brush" type="1"
                                    md-color-sliders="false" md-color-history="false" md-color-default-tab="1"></div>
                                <label>{{'COMMON.strokeWidth'|translate}}</label>
                                <md-slider min="0" max="20" step="0.1" ng-model="layer.style.pointWidth"
                                    ng-change="HsLayerEditorStylesService.saveStyle(layer);"></md-slider>
                                <label>{{'COMMON.rotation'|translate}}</label>
                                <md-slider min="0" max="1.57" step="0.01" ng-model="layer.style.rotation"
                                    ng-change="HsLayerEditorStylesService.saveStyle(layer);"></md-slider>
                                <label>{{'LAYERMANAGER.layermanagerMd.outerRadius'|translate}}</label>
                                <md-slider min="0" max="40" step="0.1" ng-model="layer.style.radius"
                                    ng-change="HsLayerEditorStylesService.saveStyle(layer);"></md-slider>
                                <label>{{'LAYERMANAGER.layermanagerMd.innerRadius'| translate}}</label>
                                <md-slider min="0" max="40" step="0.1" ng-model="layer.style.radius2"
                                    ng-change="HsLayerEditorStylesService.saveStyle(layer);"></md-slider>
                            </md-tab-body>
                        </md-tab>
                    </md-tabs>
                </div>

                <!--Resolution setting for layer - unsatisfying behaviour currently 
                <div layout-fill>
                    <label>Layout Resolution</label>
                        <md-input-container>
                          <label>From</label>
                          <input ng-model="maxResolution" ng-model-options="{ getterSetter: true }" type="number" max="maxResolutionLimit()" min="minResolution()">
                        </md-input-container>
                  
                        <md-input-container>
                          <label>To</label>
                          <input ng-model="minResolution" ng-model-options="{ getterSetter: true }" type="number" max="maxResolution()" min="minResolutionLimit()">
                        </md-input-container>
                      </div>-->
            </div>
            <div layout="column" layout-align="space-around center" layout-wrap class="layer-toolbar"
                ng-if="layer.expandInfo">
                <md-button layout-fill class="md-icon-button md-primary" aria-label="Settings">
                    <md-icon>font_download</md-icon>
                    <md-tooltip md-direction="down">{{'COMMON.renameLayer' | translate}}</md-tooltip>
                </md-button>
            </div>
            <md-divider class="divider-strong" ng-if="!$last"></md-divider>
        </div>
    </md-list-item>
</md-list>
