<div class="panel panel-default mainpanel">
    <div class="panel-heading">Layer manager
        <button type="button" class="close" ng-click="ToolbarService.mainpanel==''">
            <span aria-hidden="true">×</span>
            <span class="sr-only">Close</span>
        </button>
    </div>
    <div class="panel-body">
        <div class="row nav nav-pills">
            <div ng-repeat="box in box_layers"  class="col-xs-2 col-md-2 active" style="padding-right: 2px; padding-left: 2px;">
                <a href="#" ng-class="{ 'thumbnail': true, 'alert-info': box.active}" title="{{box.title}}" ng-click="boxClicked(box)">
                    <img ng-src="{{box.img}}" alt="{{box.title}}">
                </a>
            </div>
        </div>
        <p><input type="text" class="form-control" placeholder="Filter:" ng-model="query.title"></p>
        <ul class="list-group">
                <li ng-repeat="layer in layers | filter:query" id="layer-{{$index}}" class="list-group-item">
                    <a href="#" ng-click="setCurrentLayer(layer, $index)">{{layer.title}}</a>
                    <a href="#" class="layer-more"><i class="fa fa-arrow-circle-o-right"></i></a>
                    <input type="checkbox" class="form-control layer-checked" ng-checked="layer.visible" ng-click="changeLayerVisibility($event, layer)" />
                </li>
        </ul>
<!--
        <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-default active">
            <input type="radio" name="options" id="option1" checked> Logical order
            </label>
            <label class="btn btn-default">
            <input type="radio" name="options" id="option2"> Physical order
            </label>
        </div> -->
    </div>
</div>

<div class="panel panel-default layerpanel" ng-show="currentlayer">
    <div class="panel-heading">
        {{currentlayer.title}}
        <button type="button" class="close" ng-click="currentlayer=null">
            <span aria-hidden="true">×</span>
            <span class="sr-only">Close</span>
        </button>
    </div>
    <div class="panel-body">
        <form>
        <!-- Opacity slider -->
        <div class="form-group">
            <label>Opacity: </label>
            <input type="range" step="0.01" min="0" max="1" class="form-control" style="width: 100%;height: 21px;" ng-model="currentlayer.layer.p.opacity" ng-change="currentlayer.layer.setOpacity(currentlayer.layer.p.opacity)"/>
 
        </div>
        <!-- Abstract -->
        <div class="form-group" ng-show="currentlayer.layer.get('abstract') ? true : false">
            <label>Abstract:</label>
            <p>
                {{currentlayer.layer.get('abstract')}}
            </p>
        </div>
        <!-- Metadata -->
        <div class="form-group" ng-show="currentlayer.layer.get('MetadataURL') ? true : false">
            <b><a ng-repeat="metadata in currentlayer.layer.get('MetadataURL')" href="{{metadata.OnlineResource}}" target="_blank" title="Metadata">Metadata in {{metadata.type}}</a></b>
        </div>
        <!-- Legends -->
        <div class="form-group" ng-show="currentlayer.layer.get('abstract') ? true : false">
            <label>Legend:</label>
            <p>
                 <img ng-repeat="sublayer in currentlayer.sub_layers" ng-src="{{sublayer}}"  onerror=" this.parentNode.removeChild(this); " onload="if(this.height<6) { this.parentNode.removeChild(this); }" />
            </p>
        </div>
        <!-- Footer -->
        <button class="btn btn-default" ng-click="zoomToLayer(currentlayer.layer)">Zoom to</button>
        <button class="btn btn-danger" ng-click="removeLayer(currentlayer.layer)">Remove layer</button>
        </form>
    </div>
</div>
