<div class="list-group-item hs-lm-list" ng-if="obj.layers.length>0">
    <ul class="list-group row" dnd-list="layer_titles" dnd-drop="dragged(event, index, item, type, external)">
        <li ng-repeat="layer in filtered_layers | filter:query track by $index" id="layer-{{$index}}" dnd-draggable="layer.title" dnd-effect-allowed="move" class="list-group-item hs-lm-item" ng-click="setCurrentLayer(layer, $index)" ng-class="{detailActivated : 'currentlayer == layer'}">
            <div class="hs-lm-item-status">
                <span class="glyphicon glyphicon-refresh glyphicon-spin" ng-hide="layerLoaded(layer.layer)"></span>
                <span ng-show="layerLoaded(layer.layer)">
                    <span class="glyphicon glyphicon-chevron-right" ng-hide="currentlayer == layer"></span>
                    <span class="glyphicon glyphicon-chevron-down" ng-show="currentlayer == layer"></span>
                </span>
            </div>
            <div class="hs-lm-item-title">{{layer.title}} <span class="glyphicon icon-resize-vertical hs-lm-drop-hint"></span></div>
            <div class="hs-lm-item-controls" ng-hide="layerValid(layer.layer)">
                <i class="glyphicon glyphicon-warning-sign hs-lm-warning-scale" title="{{'This layer is not available in this scale'|translate}}" data-toggle="tooltip" data-container="body" data-placement="auto" ng-show="layer.grayed" ng-click="$event.stopPropagation()" ></i>
                <i class="glyphicon glyphicon-info-sign hs-lm-queryable" title="{{'This layer is queryable'|translate}}" ng-show="isLayerQueryable(layer)" ng-click="$event.stopPropagation()" ></i>
                <button type="button" class="btn btn-xs btn-default" ng-click="changeLayerVisibility(!layer.visible, layer);$event.stopPropagation()" ><i class="glyphicon"ng-class="layer.visible ? 'glyphicon-eye-open': 'glyphicon-eye-close'"></i></button>
            </div>
            <div class="hs-lm-item-controls" ng-show="layerValid(layer.layer)">
                <i class="glyphicon glyphicon-warning-sign alert-danger btn btn-xs hs-lm-warning-error" title="{{'This layer is not available'|translate}}" data-toggle="tooltip" data-container="body" data-placement="auto" ng-click="$event.stopPropagation()" ></i>
                <button type="button" class="btn btn-xs btn-default" ng-click="$event.stopPropagation()" ng-disabled="true"><i class="glyphicon glyphicon-eye-close"></i></button>
            </div>
        </li>
    </ul>
</div>
