<div class="card panel-default mainpanel">
    <div class="card-header" translate>Layer manager
        <button type="button" class="close" ng-click="Core.closePanel(this)">
            <span aria-hidden="true">×</span>
            <span class="sr-only" translate>Close</span>
        </button>
        <button type="button" class="but-title-sm"  ng-click="removeAllLayers()">
            <i class="glyphicon icon-refresh"></i>
        </button>
    </div>
    <div class="card-body hs-lm-panel">
        <div class="nav nav-pills" ng-show="hasBoxImages()">
            <div ng-repeat="box in data.box_layers"  class="col-xs-2 col-md-2 active" style="padding-right: 2px; padding-left: 2px;">
                <a href="#" ng-class="{ 'thumbnail': true, 'alert-info': box.get('active')}" title="{{box.get('title')}}" ng-click="activateTheme(box)">
                    <img ng-src="{{box.get('img')}}" alt="{{box.get('title')}}">
                </a>
            </div>
        </div>
        <p><input type="text" class="form-control hs-filter" placeholder="Filter:" ng-model="query.title"></p>
        
        <ul class="list-group hs-lm-baselayerlist">
            <li class="list-group-item hs-lm-header clearfix active">
                <div class="hs-lm-item-title" translate>Baselayers</div>
                <div class="hs-lm-item-controls">
                    <button type="button" class="btn btn-sm btn-light" ng-click="changeBaseLayerVisibility()"><i class="" ng-class="data.baselayersVisible ? 'icon-eye-open': 'icon-eye-close'"></i></button>
                </div>
            </li>
            <li class="list-group-item hs-lm-item" ng-repeat="layer in data.baselayers | orderBy:'name'" ng-click="changeBaseLayerVisibility($event, layer)" ng-mouseenter="hovering=true" ng-mouseleave="hovering=false" ng-class="{'hovering': (hovering && !layer.active)}" >
                <div ng-if="layer.active" class="hs-lm-item-title" ng-class="layer.grayed ? 'text-muted': ''"><strong>{{layer.title}}</strong></div>
                <div ng-if="!layer.active" class="hs-lm-item-title" ng-class="layer.grayed ? 'text-muted': ''">{{layer.title}}</div>
                <div class="hs-lm-item-controls" ng-show="layer.active || hovering" ng-style="hovering && !layer.active && {'opacity':'0.5'}">
                    <button type="button" class="btn btn-sm btn-light"><i class="" ng-class="data.baselayersVisible ? 'icon-eye-open': 'icon-eye-close'"></i></button>
                </div>
            </li>
        </ul>
        
        <ul class="list-group hs-lm-baselayerlist" ng-show="data.terrainlayers.length>0">
            <li class="list-group-item hs-lm-header clearfix active">
                <span translate>Terrains</span>
            </li>
            <li class="list-group-item hs-lm-item" ng-repeat="layer in data.terrainlayers | orderBy:'name'" ng-click="changeTerrainLayerVisibility($event, layer)" ng-mouseenter="hovering=true" ng-mouseleave="hovering=false" ng-class="{'hovering': (hovering && !layer.active)}" >
                <div class="hs-lm-item-title" ng-if="layer.active" ng-class="layer.grayed ? 'text-muted': ''"><strong>{{layer.title}}</strong></div>
                <div ng-if="!layer.active" class="hs-lm-item-title" ng-class="layer.grayed ? 'text-muted': ''">{{layer.title}}</div>
                <div class="hs-lm-item-controls" ng-show="layer.active || hovering" ng-style="hovering && !layer.active && {'opacity':'0.5'}">
                    <button class="btn btn-sm btn-link"><i class="icon-globe"></i></button>
                </div>
            </li>
        </ul>
        
        <ul class="list-group hs-lm-mapcontentlist">
            <li class="list-group-item hs-lm-header active">
                <span translate>Map Content</span>
                <span class="pull-right">
                    <button type="button" class="btn btn-sm btn-secondary"  ng-if="Core.exists('hs.draw.controller')" ng-click="addDrawingLayer()">
                        <i class="icon-pencil"></i>
                    </button>
                </span>
            </li>
            <ul class="list-group hs-lm-layerlist" ng-repeat="value in data.folders.sub_folders | orderBy:'name' ">
                <li class="list-group-item active" >
                    <span ng-bind-html="value.name"></span>
                </li>
                <li hs.layermanager.folder_directive ng-show='value.sub_folders.length>0'></li>
                <li hs.layermanager.layerlist_directive></li>
            </ul>
            <div hs.layermanager.layerlist_directive></div>
<!--
        <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-secondary active">
            <input type="radio" name="options" id="option1" checked> Logical order
            </label>
            <label class="btn btn-secondary">
            <input type="radio" name="options" id="option2"> Physical order
            </label>
        </div> -->
        </ul>
        <div class="card panel-default layerpanel" ng-show="currentLayer!=null">
            <div class="card-body">
                <form>
                <!-- Opacity slider -->
                <div class="form-group">
                    <label translate>Opacity</label>
                    <input type="range" step="0.01" min="0" max="1" class="form-control" style="width: 100%;height: 21px;" ng-model="cur_layer_opacity" ng-change="setLayerOpacity(currentLayer.layer)"/>
                </div>
                
                <!-- Time slider -->
                <div class="form-group" ng-show="layerIsWmsT(currentLayer)">
                    <label translate>Date</label>
                    <input type="range" step="{{currentLayer.time_step}}" min="{{currentLayer.min_time}}" max="{{currentLayer.max_time}}" class="form-control" style="width: 100%;height: 21px;" ng-model="dateIncrement" ng-change="setLayerTime(currentLayer, dateIncrement)"/>
                    <div class="row">
                        <div class="col-md-4"><small>{{dateToNonUtc(currentLayer.date_from) | date : currentLayer.date_format}}</small></div>
                        <div class="col-md-4"><small><b>{{dateToNonUtc(currentLayer.time) | date : currentLayer.date_format}}</small></b></div>
                        <div class="col-md-4"><small>{{dateToNonUtc(currentLayer.date_till) | date : currentLayer.date_format}}</small></div>
                    </div>
                </div>
                
                 <!-- Dimensions -->
                 <div ng-show="isLayerWithDimensions(currentLayer)">
                    <label translate>Dimensions</label>
                    <div class="form-group" ng-repeat="(key, dimension) in currentLayer.layer.get('dimensions')">
                        <label class="control-label">{{dimension.label || key}}:</label>
                        <select class="form-control" ng-model="dimension.value" ng-change="dimensionChanged(currentLayer, dimension)">
                            <option ng-value="dimension_value" ng-repeat="dimension_value in dimension.values">{{dimension_value}}</option>
                        </select>
                    </div>
                </div>
                
                <!-- Abstract -->
                <div class="form-group" ng-show="currentLayer.layer.get('abstract') ? true : false">
                    <label translate>Abstract</label>
                    <p>
                        {{currentLayer.layer.get('abstract')}}
                    </p>
                </div>
                
                <!-- Scale -->
                <div class="form-group" ng-show="isScaleVisible(currentLayer.layer)">
                    <label translate>Scale</label>
                    <span ng-if="currentLayer.layer.minResolutionValid"><span translate>from</span> 1:{{currentLayer.layer.getMinResolution()}}</span>
                    <span ng-if="currentLayer.layer.maxResolutionValid"><span translate>to</span> 1:{{currentLayer.layer.getMaxResolution()}}</span>
                </div>
                
                <!-- Metadata -->
                <div class="form-group" ng-show="currentLayer.layer.get('MetadataURL') ? true : false">
                    <b><a ng-repeat="metadata in currentLayer.layer.get('MetadataURL')" href="{{metadata.OnlineResource}}" target="_blank" title="Metadata" ><translate>Metadata in</translate> {{metadata.type}}</a></b>
                </div>
                
                <!-- Legends -->
                <div class="form-group" ng-if="currentLayer.legends != null">
                    <label translate>Legend</label>
                    <p>
                         <img ng-repeat="legend in currentLayer.legends" ng-src="{{utils.proxify(legend, false)}}"  onerror=" this.parentNode.removeChild(this); " onload="if(this.height<6) { this.parentNode.removeChild(this); }" />
                    </p>
                </div>
                <!-- Footer -->
                </form>
            </div>
            <div class="card-footer">
                <div class="form-group" ng-show="layer_renamer_visible">
                    <label translate>Title</label>
                    <input type="text" class="form-control" ng-model="currentLayer.title" ng-change="setTitle()">
                    <div class="form">
                        <br/>
                        <label translate>Scale</label>
                        <div ng-if="currentLayer.layer.minResolutionValid">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1"><span translate>from</span>&nbsp;1:</span>
                                </div>
                                <input class="form-control" style="width:65px" ng-model="currentLayer.layer.minResolution" ng-change="setLayerResolution(currentLayer.layer)"/>
                            </div>
                        </div>
                        <div ng-if="currentLayer.layer.maxResolutionValid">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1"> <span translate>to</span>&nbsp;1:</span>
                                </div>
                                <input class="form-control" style="width:65px" ng-model="currentLayer.layer.maxResolution" ng-change="setLayerResolution(currentLayer.layer)"/>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary" ng-click="zoomToLayer(currentLayer.layer)" ng-disabled="!layerIsZoomable(currentLayer.layer)"><i class="icon-search"></i></button>
                <button class="btn btn-primary" ng-click="styleLayer(currentLayer.layer)" ng-disabled="!layerIsStyleable(currentLayer.layer)"><i class="icon-wrench"></i></button>
                <button class="btn btn-primary" ng-click="toggleLayerRename()"><i class="icon-edit"></i></button>
                <button class="btn btn-danger" ng-click="removeLayer(currentLayer.layer)" ng-if="isLayerRemovable(currentLayer.layer)"><i class="icon-trash"></i></button>
            </div>
        </div>
    </div>
</div>
