<div class="card panel-default">
    <div class="card-body">
        <form>

            <!-- Sublayers-->
            <div ng-show="hasSubLayers()" class="form-group">
                <div ng-repeat="subLayer in ::getSubLayers()">
                    <hs.layer-editor.sublayer-checkbox></hs.layer-editor.sublayer-checkbox>
                </div>
            </div>

            <!-- Time slider -->
            <div class="form-group" ng-show="layerIsWmsT()">
                <label translate>Date</label>
                <input type="range" step="{{$ctrl.currentLayer.time_step}}" min="{{$ctrl.currentLayer.min_time}}"
                    max="{{$ctrl.currentLayer.max_time}}" class="form-control" style="width: 100%;height: 21px;"
                    ng-model="dateIncrement" ng-change="setLayerTime($ctrl.currentLayer, dateIncrement)" />
                <div class="row">
                    <div class="col-md-4">
                        <small>{{dateToNonUtc($ctrl.currentLayer.date_from) | date : $ctrl.currentLayer.date_format}}</small>
                    </div>
                    <div class="col-md-4">
                        <small><b>{{dateToNonUtc($ctrl.currentLayer.time) | date : $ctrl.currentLayer.date_format}}</small></b>
                    </div>
                    <div class="col-md-4">
                        <small>{{dateToNonUtc($ctrl.currentLayer.date_till) | date : $ctrl.currentLayer.date_format}}</small>
                    </div>
                </div>
            </div>

            <!-- Dimensions -->
            <div ng-show="isLayerWithDimensions()">
                <label translate>Dimensions</label>
                <div class="form-group" ng-repeat="(key, dimension) in dimensions()">
                    <label class="control-label">{{dimension.label || key}}:</label>
                    <select class="form-control" ng-model="dimension.value" ng-change="dimensionChanged(dimension)">
                        <option ng-value="dimension_value" ng-repeat="dimension_value in dimension.values">
                            {{dimension_value}}</option>
                    </select>
                </div>
            </div>

            <!-- Abstract -->
            <div class="form-group" ng-show="abstract()">
                <label translate>Abstract</label>
                <p>
                    {{abstract()}}
                </p>
            </div>

            <!-- Scale -->
            <div class="form-group" ng-show="isScaleVisible()">
                <label translate>Scale</label>
                <span ng-if="minResolutionValid()"><span translate>from</span> 1:{{minResolution()}}</span>
                <span ng-if="maxResolutionValid()"><span translate>to</span> 1:{{maxResolution()}}</span>
            </div>
            <!-- Declutter checkbox  -->
            <div ng-hide="$ctrl.currentLayer.layer.get('cluster')"
                ng-if="isVectorLayer() && isOptionsDefined($ctrl.currentLayer.layer.get('declutter'))"
                class="form-check">
                <input type="checkbox" ng-model="declutter" ng-model-options="{ getterSetter:  true}" />
                <label translate>Declutter</label>
            </div>
            <!-- Cluster features checkbox  -->
            <div ng-hide="$ctrl.currentLayer.layer.get('declutter')">
                <div ng-if="isVectorLayer() && isOptionsDefined($ctrl.currentLayer.layer.get('cluster'))"
                    class="form-check">
                    <input type="checkbox" ng-model="cluster" ng-model-options="{ getterSetter:  true}" />
                    <label translate>Cluster</label>
                </div>
                <div class="form-group" ng-if="$ctrl.currentLayer.layer.get('cluster')">
                    <label>Cluster distance</label>
                    <input id="distance-slider" type="range" min="0" max="100" step="1" ng-model="distance.value"
                        ng-change="changeDistance()" class="form-control" style="width: 100%;height: 21px;">
                </div>
            </div>

            <!-- Metadata/Copyright -->
            <div class="form-group chevron-icon-right " ng-click="toggleMetaPanel($ctrl.currentLayer)">
                <div class="hs-lm-item-title">
                    <i class="small"
                        ng-class="$ctrl.currentLayer.layer.get('metapanelActive') ? 'icon-chevron-down' : 'icon-chevron-right'"></i>Additional
                    Info
                </div>
                <!-- Metadata -->
                <div class="pt-2" ng-if="$ctrl.currentLayer.layer.get('metapanelActive')">

                    <div ng-if="hasMetadata($ctrl.currentLayer)">
                        <a class="card-href" ng-repeat="metadata in $ctrl.currentLayer.layer.get('MetadataURL')"
                            href="{{metadata.OnlineResource}}" target="_blank" title="Metadata">
                            <span ng-show="metadata.type">
                                Metadata of layer in {{::metadata.type}}
                            </span>
                            <span ng-hide="metadata.type">
                                Metadata of service
                            </span>
                        </a>
                    </div>
                    <div ng-if="!hasMetadata($ctrl.currentLayer)">
                        No matadata avaliable for current layer!
                    </div>
                </div>
                <!-- Copyright -->
                <div class="pt-2" ng-if="$ctrl.currentLayer.layer.get('metapanelActive')">

                    <div class="form-group" ng-if="hasCopyright($ctrl.currentLayer)">
                        <a class="card-href" href="{{$ctrl.currentLayer.layer.get('Attribution').OnlineResource}}"
                            target="_blank" title="Copyright">
                            <i class="icon-copyright card-icon"></i>Copyright</a>
                    </div>
                    <div ng-if="!hasCopyright($ctrl.currentLayer)">
                        <i class="icon-copyright card-icon"></i> No copyright info avalaible
                    </div>
                </div>
            </div>

            <!-- Legends -->
            <div ng-if="olLayer()">
                <div ng-repeat="layer in legendDescriptors">
                    <div class="form-group" ng-if="legendService.isLegendable(layer)">
                        <label translate>Legend</label>
                        <hs.legend.layer-directive layer="layer"></hs.legend.layer-directive>
                    </div>
                </div>
            </div>
            <!-- Opacity slider -->
            <div class="form-group">
                <label translate>Opacity</label>
                <input type="range" step="0.01" min="0" max="1" class="form-control" style="width: 100%;height: 21px;"
                    ng-model="opacity" ng-model-options="{ getterSetter: true }" />
            </div>

            <!-- Footer -->
        </form>
    </div>
    <div class="card-footer">
        <div class="form-group" ng-show="layer_renamer_visible">
            <label translate>Title</label>
            <input type="text" class="form-control" ng-model="title" ng-model-options="{ getterSetter: true }">
            <div class="form">
                <br />
                <label translate>Scale</label>
                <div ng-if="minResolutionValid()">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"><span translate>from</span>&nbsp;1:</span>
                        </div>
                        <input class="form-control" style="width:65px" ng-model="minResolution"
                            ng-model-options="{ getterSetter: true }" />
                    </div>
                </div>
                <div ng-if="maxResolutionValid()">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"> <span translate>to</span>&nbsp;1:</span>
                        </div>
                        <input class="form-control" style="width:65px" ng-model="maxResolution"
                            ng-model-options="{ getterSetter: true }" />
                    </div>
                </div>
            </div>
        </div>
        <button class="btn btn-primary" ng-click="zoomToLayer()" ng-disabled="!layerIsZoomable()"><i
                class="icon-search"></i></button>
        <button class="btn btn-primary" ng-click="styleLayer()" ng-disabled="!layerIsStyleable()"><i
                class="icon-brush"></i></button>
        <button class="btn btn-primary" ng-click="toggleLayerRename()"><i class="icon-edit"></i></button>
        <button class="btn btn-danger" ng-click="removeLayer()" ng-if="isLayerRemovable()"><i
                class="icon-trash"></i></button>
    </div>
</div>