<div class="list-group-item hs-lm-list pb-1" *ngIf="folder.layers.length>0">
    <ul class="list-group row" dnd-list="layer_titles" dnd-drop="dragged(event, index, item, type, external)">
        <li *ngFor="let layer of filtered_layers;" id="{{layer.idString()}}" dnd-draggable="layer.title" dnd-effect-allowed="move" class="list-group-item hs-lm-item" [ngClass]="{'hs-lm-detail-activated':'currentLayer == layer', 'hs-lm-deactivated-layer': !layer.visible || layerValid(layer.layer) || layer.grayed}">
            <div class="d-flex ">
                <div class="p-0">
                    <button type="button" class="btn btn-sm btn-light hs-lm-item-visibility" (click)="HsLayerManagerService.changeLayerVisibility(!layer.visible, layer);toggleSublayersVisibility(layer);$event.stopPropagation()" [ngClass]="layer.visible ? 'hs-checkmark' : 'hs-uncheckmark'"></button>
                </div>
                <div class="align-items-center p-0 hs-lm-item-title flex-grow-1" (click)="toggleLayerEditor(layer,'sublayers', 'settings')" style="word-break:break-all" [ngClass]="{'hover': layer.layer.hasSublayers == true}">
                    {{layer.title}}
                </div>
                <div class="p-0 mr-1 ml-1 info_btn" *ngIf="layer.layer.hasSublayers" style="font-size:x-small; flex-grow: 20;" (click)="toggleLayerEditor(layer,'sublayers', 'settings')">
                    <span class="mr-1 icon-refresh icon-spin" [hidden]="layerLoaded(layer.layer)"></span>
                    <span class="mr-1" [ngClass]="{true:'icon-chevron-right', false:'icon-chevron-down'}[HsLayerManagerService.currentLayer == layer]" [hidden]="!layerLoaded(layer.layer)"></span> 
                </div>

                <div class="p-0 " [hidden]="layerValid(layer.layer)">
                    <i class="icon-warning-sign hs-lm-warning-scale" i18n-title="This layer is not available in this scale" data-toggle="tooltip" data-container="body" data-placement="auto" [hidden]="!layer.grayed" (click)="$event.stopPropagation()"></i>
                </div>
                <div class="p-0" [hidden]="!layerValid(layer.layer)">
                    <i class="icon-warning-sign alert-danger bg-white    hs-lm-warning-error" i18n-title="This layer is not available" data-toggle="tooltip" data-container="body" data-placement="auto" (click)="$event.stopPropagation()"></i>
                </div>
                <div class="p-0" [hidden]="!layer.layer.get('hs-layman-synchronizing')">
                    <i class="icon-cloudaltsync" i18n-title="Sending to layman" data-toggle="tooltip" data-container="body" data-placement="auto" (click)="$event.stopPropagation()"></i>
                </div>
                <div class="p-0" [hidden]="!isLayerQueryable(layer)">
                    <i class="icon-info-sign hs-lm-queryable" i18n-title="This layer is queryable" (click)="$event.stopPropagation()"></i>
                </div>
                <div class="pl-1 info_btn">
                    <span class="icon-settingsthree-gears text-secondary" (click)="toggleLayerEditor(layer,'settings','sublayers')" i18n-title="Additional information" data-toggle="tooltip" data-container="body" data-placement="auto"></span>
                </div>
            </div>
        </li>
    </ul>
</div>