<div class="card panel-default">
    <div class="card-body">
        <!-- Sublayers-->
        <div ng-show="$ctrl.currentLayer.sublayers" class="form-group">
            <div ng-repeat="subLayer in getSubLayers()">
                <hs.layer-editor.sublayer-checkbox></hs.layer-editor.sublayer-checkbox>
            </div>
        </div>
        <div  ng-if="$ctrl.currentLayer.settings">
            <form>
                <!-- Metadata/Copyright -->
                <div class="form-group">
                    <!-- Metadata -->
                    <div ng-if="hasMetadata($ctrl.currentLayer)" class="pt-2" >
                        <a class="card-href" ng-repeat="metadata in $ctrl.currentLayer.layer.get('MetadataURL')"
                            href="{{metadata.OnlineResource}}" target="_blank" title="Metadata">
                            <span ng-show="metadata.type" translate>
                                Metadata of layer in {{::metadata.type}}
                            </span>
                            <span ng-hide="metadata.type" translate>
                                Metadata of service
                            </span>
                        </a>
                    </div>
                    <!-- Copyright -->
                    <div ng-if="hasCopyright($ctrl.currentLayer)">
                        <a class="card-href" href="{{$ctrl.currentLayer.layer.get('Attribution').OnlineResource}}" target="_blank"
                            title="Copyright">
                            Copyright</a>
                    </div>
                </div>
                <!-- Time slider -->
                <div class="form-group" ng-show="layerIsWmsT()">
                    <label translate>Date</label>
                    <input type="range" step="{{$ctrl.currentLayer.time_step}}" min="{{$ctrl.currentLayer.min_time}}"
                        max="{{$ctrl.currentLayer.max_time}}" class="form-control" style="width: 100%;height: 21px;"
                        ng-model="dateIncrement" ng-change="setLayerTime($ctrl.currentLayer, dateIncrement)" />
                    <div class="row">
                        <div class="col-md-4">
                            <small>{{dateToNonUtc($ctrl.currentLayer.date_from) | date : $ctrl.currentLayer.date_format}}</small>
                        </div>
                        <div class="col-md-4">
                            <small><b>{{dateToNonUtc($ctrl.currentLayer.time) | date : $ctrl.currentLayer.date_format}}</small></b>
                        </div>
                        <div class="col-md-4">
                            <small>{{dateToNonUtc($ctrl.currentLayer.date_till) | date : $ctrl.currentLayer.date_format}}</small>
                        </div>
                    </div>
                </div>
    
                <!-- Abstract -->
                <div class="form-group" ng-show="abstract()">
                    <label translate>Abstract</label>
                    <p>
                        {{abstract()}}
                    </p>
                </div>
    
                <!-- Scale -->
                <div class="form-group" ng-show="isScaleVisible()">
                    <label translate>Scale</label>
                    <span ng-if="minResolutionValid()"><span translate class="ml-1">from</span> 1:{{minResolution()}}</span>
                    <span ng-if="maxResolutionValid()"><span translate class="ml-1">to</span> 1:{{maxResolution()}}</span>
                </div>
                <!-- Declutter checkbox  -->
                <div ng-hide="$ctrl.currentLayer.layer.get('cluster')"
                    ng-if="isVectorLayer()"
                    class="form-check">
                    <input type="checkbox" ng-model="declutter" ng-model-options="{ getterSetter:  true}" />
                    <label translate>Declutter</label>
                </div>
                <!-- Cluster features checkbox  -->
                <div ng-hide="$ctrl.currentLayer.layer.get('declutter')">
                    <div ng-if="isVectorLayer()"
                        class="form-check">
                        <input type="checkbox" ng-model="cluster" ng-model-options="{ getterSetter:  true}" />
                        <label translate>Cluster</label>
                    </div>
                    <div class="form-group" ng-if="$ctrl.currentLayer.layer.get('cluster')">
                        <label>Cluster distance</label>
                        <input type="range" min="0" max="100" step="1" ng-model="distance.value"
                            ng-change="changeDistance()" class="form-control" style="width: 100%;height: 21px;">
                    </div>
                </div>
    
                <!-- Legends -->
                <div ng-if="olLayer()">
                    <div ng-repeat="layer in legendDescriptors">
                        <div class="form-group" ng-if="legendService.isLegendable(layer) && (layer.lyr.get('inlineLegend') || !layoutService.panelEnabled('legend'))">
                            <label translate>Legend</label>
                            <hs.legend.layer-directive layer="layer"></hs.legend.layer-directive>
                        </div>
                    </div>
                </div>
                <hs.layer-editor-dimensions ol-layer="olLayer()"></hs.layer-editor-dimensions>
                <!-- Opacity slider -->
                <div class="form-group">
                    <label translate>Opacity</label>
                    <input type="range" step="0.01" min="0" max="1" class="form-control" style="width: 100%;height: 21px;"
                        ng-model="opacity" ng-model-options="{ getterSetter: true }" />
                </div>
    
                <!-- Footer -->
            </form>
        </div>
    </div>
    <div class="card-footer" ng-if="$ctrl.currentLayer.settings">
        <div class="form-group" ng-show="layer_renamer_visible">
            <label translate>Title</label>
            <input type="text" class="form-control" ng-model="title" ng-model-options="{ getterSetter: true }">
            <div class="form">
                <br />
                <label translate>Scale</label>
                <div ng-if="minResolutionValid()">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><span translate>from</span>&nbsp;1:</span>
                        </div>
                        <input class="form-control" style="width:65px" ng-model="minResolution"
                            ng-model-options="{ getterSetter: true }" />
                    </div>
                </div>
                <div ng-if="maxResolutionValid()">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <span translate>to</span>&nbsp;1:</span>
                        </div>
                        <input class="form-control" style="width:65px" ng-model="maxResolution"
                            ng-model-options="{ getterSetter: true }" />
                    </div>
                </div>
            </div>
        </div>
        <button class="btn btn-primary" ng-click="zoomToLayer()" ng-disabled="!layerIsZoomable()" data-toggle="tooltip"
             title="{{'Zoom to layer' | translate}}"><i class="icon-search" ></i></button>
        <button class="btn btn-primary" ng-click="styleLayer()" ng-disabled="!layerIsStyleable()" data-toggle="tooltip"
             title="{{'Style layer' | translate}}"><i class="icon-brush"></i></button>
        <button class="btn btn-primary" ng-click="toggleLayerRename()" data-toggle="tooltip" 
            title="{{'Rename layer' | translate}}"><i class="icon-textfield"></i></button>
        <button class="btn btn-danger" ng-click="removeLayer()" ng-if="isLayerRemovable()" data-toggle="tooltip"
             title="{{'Remove layer' | translate}}"><i class="icon-trash"></i></button>
    </div>

</div>