<div class="d-flex m-auto sublayerContainer">
    <!-- string -->
    <div class="p-0 form-check form-check-inline" ng-if="::subLayerIsString(subLayer)">
        <input class="form-check-input" type="checkbox" ng-model="checkedSubLayers[subLayer]"
            ng-change="subLayerSelected()">
        <label class="form-check-label">{{::subLayer}}</label>
    </div>
    <!-- object -->
    <div ng-if="::!subLayerIsString(subLayer)" class="w-100">
        <div class="d-flex">
            <div class="p-0 form-check form-check-inline">
                <input class="form-check-input" type="checkbox" ng-model="checkedSubLayers[subLayer.Name]"
                    ng-change="subLayerSelected(subLayer,checkedSubLayers[subLayer.Name])"
                    ng-attr-id="hs-sublayers-{{subLayer.Name}}" ng-if="::!subLayer.Layer" />
                <input class="form-check-input" type="checkbox" ng-model="withChildren[subLayer.Name]"
                    ng-change="subLayerSelected(subLayer, withChildren[subLayer.Name])"
                    ng-attr-id="hs-sublayers-{{subLayer.Name}}" ng-if="::subLayer.Layer" />

                <div class="p-0" ng-if="::subLayer.Layer" ng-click="toggleExpanded()">
                    <button type="button" class="btn btn-sm p-0"><i
                            ng-class="{'icon-chevron-down': expanded, 'icon-chevron-right': !expanded}"></i></button>
                            <label class="m-0">{{subLayer.Title || subLayer.Name}}</label>
                </div>
                <div ng-if="!subLayer.Layer">
                    <label class="form-check-label m-0" ng-class="{'checkmark':checkedSubLayers[subLayer.Name],'uncheckmark':!checkedSubLayers[subLayer.Name]}"
                    ng-attr-for="hs-sublayers-{{subLayer.Name}}">{{subLayer.Title || subLayer.Name}}</label>
                </div>
            </div>
        </div>
        <div ng-if="::subLayer.Layer" class="collapse ml-4" ng-class="{'show': expanded}">
            <div ng-repeat="subLayer in ::subLayer.Layer">
                <div ng-if="::subLayerIsString(subLayer)">
                    <input class="form-check-input" type="checkbox" ng-model="checkedSubLayers[subLayer]"
                        ng-change="subLayerSelected(subLayer,checkedSubLayers[subLayer.Name])"
                        ng-attr-id="hs-sublayers-{{subLayer}}">
                    <label class="form-check-label" ng-attr-for="hs-sublayers-{{subLayer}}">{{::subLayer}}</label>
                </div>
                <hs.layer-editor.sublayer-checkbox ng-if="::!subLayerIsString(subLayer)"></hs.layer-editor.sublayer-checkbox>
            </div>
        </div>

    </div>
</div>