<div id="cesiumContainer" ng-show="visible"></div>
<link rel="stylesheet" ng-href="{{Core.getNmPath()}}cesium/Build/Cesium/Widgets/widgets.css"/>
<style>
#cesiumContainer {
    height: 100%; margin: 0; padding: 0; overflow: hidden;  
    margin-right: 0;
}
.sb-left.open.classic-sidebar #cesiumContainer {
    margin-left:400px;
}

.sb-right.classic-sidebar #cesiumContainer {
    margin-right: 48px;
}

.sb-right.open.classic-sidebar #cesiumContainer {
    margin-right:400px;
}

@media (max-width: 767px) {
    .sb-left.open.classic-sidebar #map {
        margin-left:300px;
    }

    .sb-right.open.classic-sidebar #map {
        margin-left:0px;
    }
}
</style>
