<div class="modal in hs-datasource_selector-metadata-dialog" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
          {{'DATASOURCE_SELECTOR.metadataFor' | translateHs }} {{ selectedLayer().title}}
        </h4>
        <button type="button" (click)="close()" class="btn-close" data-dismiss="modal"
          [attr.aria-label]="'COMMON.close' | translateHs "></button>
      </div>
      <div class="modal-body" style="max-height:400px; overflow-y:auto">
        @for (key of selectedLayerKeys; track key) {
        @if (key!=='feature') {
        <dl>
          <dt>{{key}}</dt>
          <hs-widgets-recursive-dd [value]="selectedLayer()[key]">
          </hs-widgets-recursive-dd>
        </dl>
        }
        }
      </div>
      <div class="modal-footer">
        @if (addAvailable()) {
        <div class="d-flex">
          @for (type of availableTypes(); track type) {
          <button type="button" class="btn btn-primary ms-2 d-flex gap-2 align-items-center"
            (click)="addLayerToMap(type)" data-dismiss="modal">
            <span class="fa-solid fa-plus"></span><span>{{'DATASOURCE_SELECTOR.addToMapAs' | translateHs }}
              {{type}}</span>
          </button>
          }
        </div>
        }
        <div class="d-flex w-100 justify-content-between">
          @if (metadataUrl()) {
          <a target="_blank" [href]="metadataUrl()" class="btn btn-primary"
            (click)="close()">{{'DATASOURCE_SELECTOR.seeFullRecord' | translateHs}} <i
              class="fa-solid fa-up-right-from-square"></i></a>
          }
          <div class="d-flex gap-2">
            <a role="button" class="btn btn-success"
              [href]='hsAddDataCatalogueService.layerRDF(selectedDS(), selectedLayer())' data-toggle="tooltip"
              title="GeoDCAT-AP" target="_blank"
              [hidden]='endpointType()!=="micka" || hsAddDataCatalogueService.layerRDF(selectedDS(), selectedLayer()) === "#"'>
              <i class="fa-solid fa-share-nodes"></i> RDF
            </a><!-- TODO: Remove function call from template -->
            <button type="button" class="btn btn-success" [hidden]="bbox() === undefined"
              (click)="hsAddDataCatalogueMapService.zoomTo(bbox())">{{'LAYERMANAGER.layerEditor.zoomToLayer'
              |
              translateHs }}</button>
            <button type="button" class="btn btn-secondary" (click)="close()" data-dismiss="modal"
              [title]="'COMMON.close' | translateHs ">
              {{'COMMON.close' | translateHs }}
            </button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
