<div class="card-footer"
  *ngIf="pagerService.matchedRecords !== 0 && !pagerService.dataLoading">
  <ul class="pagination d-flex justify-content-center">
    <li class="page-item" [ngClass]="{'disabled': pagerService.listStart === 0 }"
      [ngStyle]="{'color' : pagerService.listStart === 0 ? '#555' : '#007bff'}">
      <a class="page-link" (click)="getPreviousRecords()"><span aria-hidden="true">&laquo;</span></a>
    </li>
    <li class="page-item"
      *ngIf="resultsVisible() && pagerService.listNext !== pagerService.matchedRecords">
      <span class="page-link">
        {{'COMMON.results' | translate}}
        {{pagerService.listStart + 1}} -
        {{pagerService.listNext}}</span>
    </li>
    <li class="page-item"
      *ngIf="resultsVisible() && pagerService.listNext === pagerService.matchedRecords">
      <span class="page-link">
        {{'COMMON.results' | translate}}
        {{pagerService.listStart + 1}} -
        {{pagerService.matchedRecords}}</span>
    </li>
    <li class="page-item" [ngClass]="{'disabled': nextPageAvailable() }"
      [ngStyle]="{'color' : nextPageAvailable() ? '#555' : '#007bff'}">
      <a class="page-link" (click)="getNextRecords()"><span aria-hidden="true">&raquo;</span></a>
    </li>
  </ul>
</div>