<div class="panel panel-default mainpanel" id="lod_data_panel">
    <div class="panel-heading">Eurostat explorer
         <button type="button" class="close" ng-click="Core.hidePanels()">
            <span aria-hidden="true">×</span>
            <span class="sr-only">Close</span>
        </button>
    </div>
    <div class="panel-body">
            <form>
                <div class="form-group">
                    <label for="lod_source" class="control-label">Dataset:</label>
                    <select class="form-control" id="lod_source" ng-model="source" ng-change="chooseSource(source)">
                        <option ng-repeat="source in sources" value="{{source.url}}">{{source.name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <img ng-src="{{ajax_loader}}" ng-show="loading"/>
                    <div class="filter_charts"  ng-repeat="group in groupings">
                        Filter by {{group.name}}
                        <div id='chart{{group.name}}'></div>
                    </div>
                    Filter by values
                    <div  class="form-group" id='dc-magnitude-chart2'></div>                
                    Histogram
                    <div  class="form-group" id='dc-magnitude-chart'></div>
                    <!--<button class="btn" data-toggle="modal" data-target="#sparqlLogModal">Log</button>-->
                </div>
            </form>
           
    </div>
</div>
