<div class="panel panel-default mainpanel" id="lod_data_panel">
    <div class="panel-heading">Eurostat explorer
         <button type="button" class="close" ng-click="ToolbarService.setMainPanel('')">
            <span aria-hidden="true">×</span>
            <span class="sr-only">Close</span>
        </button>
    </div>
    <div class="panel-body">
            <form>
                <div class="form-group">
                    <label for="lod_source" class="col-sm-2 control-label">Dataset:</label>
                    <select class="form-control col-sm-4" id="lod_source" ng-model="source" ng-change="sourceChosen()">
                        <option ng-repeat="source in sources" value="{{source.url}}">{{source.name}}</option>
                    </select>
                </div>
                <img ng-src="{{ajax_loader}}" ng-show="loading"/>
                <div class="filter_charts"  ng-repeat="group in groupings">{{group.name}}<div id='chart{{group.name}}'></div></div>
<div  class="form-group" id='dc-magnitude-chart2'></div>                
<div  class="form-group" id='dc-magnitude-chart'></div>
                <!--<button class="btn" data-toggle="modal" data-target="#sparqlLogModal">Log</button>-->
            </form>
           
    </div>
</div>
