<div class="modal hs-status-creator-save-dialog in" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" i18n>
                   Save composition
                </h4>
                <button type="button" (click)="close()" class="close" data-dismiss="modal"><span aria-hidden="true"></span><span class="sr-only" i18n>Close</span></button>
            </div>
            <div class="modal-body" style="max-height: 600px; overflow-y: auto; text-align: center; font-size: 16px">
                <div i18n>
                    You are attempting to save map changes to
                </div>
                <div>
                    <b>{{compoData.title}}</b>
                </div>
                <div *ngIf="!statusData.titleFree && statusData.hasPermission && !statusData.changeTitle">
                    <div i18n>
                        Do you really want to overwrite <b>{{compoData.title}}</b>
                    </div>
                    <p>
                        <button type="button" class="btn btn-secondary btn-lg" data-dismiss="modal" (click)="save(); close()" i18n>Yes, save</button>
                    </p>
                    <p>
                        <button type="button" class="btn btn-secondary btn-lg" (click)="selectNewTitle()" i18n>No, save as</button>
                    </p>
                </div>

                <div *ngIf="!statusData.titleFree && statusData.hasPermission && statusData.changeTitle">
                    <div i18n>
                        Select new name for (map.;;)                  </div>
                    <p>
                        <input type="text" class="form-control hs-stc-title" [(ngModel)]="compoData.title">
                    </p>
                    <p>
                        <button type="button" class="btn btn-secondary btn-lg" data-dismiss="modal" (click)="save(true); saveCompositionModalVisible = false" i18n>Save</button>
                    </p>
                </div>

                <div *ngIf="!statusData.titleFree || !statusData.hasPermission">
                    <div>
                        <p i18n *ngIf="!statusData.hasPermission">You don't have sufficient rights to do so. Maybe the session has ended?</p>
                        <p i18n *ngIf="!statusData.titleFree">Use a different name to save the map.</p>
                    </div>
                    <p>
                        <button type="button" class="btn btn-secondary btn-lg" data-dismiss="modal" (click)="close()" i18n>OK</button>
                    </p>
                </div>
                
            </div>
        </div>
    </div>
</div>