<!-- Nav tabs -->
<ul class="nav flex-column flex-sm-row stc-tabs" role="tablist">
    <li role="presentation" class="nav-item" ng-repeat="s in steps">
        <a href="#hs-{{s}}" class="nav-link" ng-class="{'btn-primary': step == s}" aria-controls="hs-{{s}}"
            role="tab" data-toggle="tab" ng-click="setStep(s)">{{gettext(s.capitalizeFirstLetter())}}</a>
    </li>
</ul><!-- Tab panes -->
<div class="tab-content">
    <div role="tabpanel" class="tab-pane" ng-class="{'active': step =='context'}" id="hs-context">
        <form>
            <label class="form-group">
                <translate>Title</translate> *
                <input type="text" class="form-control" ng-model="compoData.title" ng-change="titleChanged()" />
            </label>

            <label class="form-group">
                <translate>Abstract</translate>
                <textarea class="form-control" ng-model="compoData.abstract"></textarea>
            </label>

            <label class="form-group">
                <translate>Keywords</translate>
                <input type="text" class="form-control" ng-model="compoData.keywords" />
            </label>

            <div class="form-group">
                <label for="stc-extent1" class="form-group" translate="">Extent</label>
                <div class="form-row stc-extent-row">
                    <div class="col-sm-3 px-0">
                        <input type="text" class="form-control" ng-model="compoData.bbox[0]" title="East" />
                    </div>
                    <div class="col-sm-3 px-0">
                        <input type="text" class="form-control" ng-model="compoData.bbox[1]" title="South" />
                    </div>
                    <div class="col-sm-3 px-0">
                        <input type="text" class="form-control" ng-model="compoData.bbox[2]" title="West" />
                    </div>
                    <div class="col-sm-3 px-0">
                        <input type="text" class="form-control" ng-model="compoData.bbox[3]" title="North" />
                    </div>
                </div>
                <button type="button" class="mt-1 btn btn-secondary btn-block" ng-click="getCurrentExtent()"
                    translate="">Use current map extent</button>
            </div>
            <div class="form-group">
                <ul class="list-group" id="stc-layerlist">
                    <li class="list-group-item" style="padding: 3px">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" checked ng-click="HsSaveMapManagerService.selectDeselectAllLayers()">
                            <label class="form-check-label"></label>
                          </div>
                    </li>

                    <li ng-repeat="layer in compoData.layers | filter:query" style="padding: 3px"
                        class="list-group-item">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" ng-model="layer.checked" />
                            <label class="form-check-label">{{layer.title}}</label>
                        </div>
                    </li>
                </ul>
            </div>
        </form>
    </div>
    <div role="tabpanel" class="tab-pane" ng-class="{'active': step =='access'}" id="hs-access">
        <table class="table table-condensed">
            <tr>
                <th></th>
                <th translate>Read</th>
                <th translate>Write</th>
            </tr>
            <tr ng-repeat="g in HsSaveMapManagerService.statusData.groups">
                <td>{{g.roleTitle || g.roleName}}:</td>
                <td><input type="checkbox" class="form-control" ng-model="g.r" /></td>
                <td><input type="checkbox" class="form-control" ng-model="g.w" /></td>
            </tr>
        </table>
    </div>
    <div role="tabpanel" class="tab-pane" ng-class="{'active': step =='author'}" id="hs-author">

        <label class="form-group">
            <translate>Person</translate>
            <input type="text" class="form-control" ng-model="HsSaveMapManagerService.userData.name" />
        </label>

        <label class="form-group">
            <translate>Organization</translate>
            <input type="text" class="form-control" ng-model="HsSaveMapManagerService.userData.organization" />
        </label>

        <label class="form-group">
            <translate>Position</translate>
            <input type="text" class="form-control" ng-model="HsSaveMapManagerService.userData.position" />
        </label>

        <label class="form-group">
            <translate>Address</translate>
            <input type="text" class="form-control" ng-model="HsSaveMapManagerService.userData.address" />
        </label>

        <label class="form-group">
            <translate>City</translate>
            <input type="text" class="form-control" ng-model="HsSaveMapManagerService.userData.city" />
        </label>

        <label class="form-group">
            <translate>State</translate>
            <input type="text" class="form-control" ng-model="HsSaveMapManagerService.userData.state" />
        </label>

        <label class="form-group">
            <translate>Postal code</translate>
            <input type="text" class="form-control" ng-model="HsSaveMapManagerService.userData.postalcode" />
        </label>

        <label class="form-group">
            <translate>Country</translate>
            <input type="text" class="form-control" ng-model="HsSaveMapManagerService.userData.country" />
        </label>

        <label class="form-group">
            <translate>Phone</translate>
            <input type="text" class="form-control" ng-model="HsSaveMapManagerService.userData.phone" />
        </label>

        <label class="form-group">
            <translate>E-mail</translate>
            <input type="text" class="form-control" ng-model="HsSaveMapManagerService.userData.email" />
        </label>

        <label class="form-group">WWW
            <input type="text" class="form-control" ng-model="HsSaveMapManagerService.userData.url" />
        </label>

    </div>
</div>
</div>