<div class="card panel-default mainpanel hs-stc-mainpanel">
    <hs-panel-header name="saveMap" [title]="'PANEL_HEADER.SAVECOMPOSITION' | translate">
        <extra-title>{{title || current_composition_title}}</extra-title>
    </hs-panel-header>
    <div class="card-body">
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text control-label">{{'SAVECOMPOSITION.saveTo' | translate}}</span>
                </div>
                <select class="form-control" [(ngModel)]="endpoint" (change)="HsSaveMapManagerService.selectEndpoint(endpoint)">
                    <option *ngFor="let e of HsCommonEndpointsService.endpoints" [ngValue]="e">{{e.title}}</option>
                </select>
            </div>
        </div>
        <hs.layman.current-user *ngIf="endpoint?.type == 'layman'" endpoint="endpoint"></hs.layman.current-user>
        <hs-save-map-advanced-form *ngIf="HsConfig.advanced_form"></hs-save-map-advanced-form>
        <div hs.save-map.directive_simpleform="" *ngIf="!HsConfig.advanced_form"></div>
    </div>
</div>
