<div *ngIf="isAllowed()">
    <form class="form">
        <label class="form-group"><i18n>Name</i18n>
            <input type="text" class="form-control" i18n-placeholder="Fill in name" [(ngModel)]="HsSaveMapManagerService.compoData.title">
        </label>

        <label class="form-group"><i18n>Abstract</i18n>
            <textarea class="form-control" i18n-placeholder="Fill in descriptive text about map" [(ngModel)]="HsSaveMapManagerService.compoData.abstract">            </textarea>
        </label>

        <label class="form-group"><i18n>Thumbnail</i18n>Thumbnail
            <img class="hs-stc-thumbnail img-thumbnail" alt="Composition thumbnail" width="256" height="256">
        </label>

        <div class="form-group">
            <div class="checkbox" *ngFor="let g of statusData.groups">
                <label>
                    <input type="checkbox" [(ngModel)]="g.r">
                    <span i18n>Make public</span>
                </label>
            </div>
        </div>

    </form>

    <button type="button" class="btn btn-secondary" data-toggle="collapse" data-target="hs-save-comp-advanced-panel" i18n>Advanced options</button>
    <div class="collapse hs-save-comp-advanced-panel">
        <form class="form">
            <label class="form-group"><i18n>Keywords</i18n>
                <input type="text" class="form-control" [(ngModel)]="HsSaveMapManagerService.compoData.keywords">
            </label>

            <label class="form-group"><i18n>Extent</i18n>
                <div class="row hs-comp-ext-row">
                    <div class="form-group hs-comp-ext col-sm-3">
                        <input type="text" class="form-control input-group-lg" [(ngModel)]="HsSaveMapManagerService.compoData.bbox[0]">
                    </div>
                    <div class="form-group hs-comp-ext col-sm-3">
                        <input type="text" class="form-control hs-comp-ext input-group-lg" [(ngModel)]="HsSaveMapManagerService.compoData.bbox[1]">
                    </div>
                    <div class="form-group hs-comp-ext col-sm-3">
                        <input type="text" class="form-control hs-comp-ext input-group-lg" [(ngModel)]="HsSaveMapManagerService.compoData.bbox[2]">
                    </div>
                    <div class="form-group hs-comp-ext col-sm-3">
                        <input type="text" class="form-control hs-comp-ext input-group-lg" [(ngModel)]="HsSaveMapManagerService.compoData.bbox[3]">
                    </div>
                </div>
            </label>

            <button type="button" class="btn btn-secondary" (click)="HsSaveMapManagerService.setCurrentBoundingBox()" i18n>Use current map
                    extent</button>


            <label class="form-group"><i18n>Layers</i18n>
                <ul class="list-group">
                    <li *ngFor="let layer of HsSaveMapManagerService.compoData.layers" id="layer-{{$index}}" class="list-group-item">
                        <span>{{layer.title}}</span>
                        <span class="pull-right">
                            <input type="checkbox" [(ngModel)]="layer.checked">
                        </span>
                    </li>
                </ul>
            </label>

        </form>
    </div>

    <div class="card-footer row hs-stc-footer">
        <div class="btn-group" role="group" aria-label="Save composition">
            <button type="button" class="btn btn-secondary" i18n (click)="cancel()">Cancel</button>
            <button type="button" class="btn btn-primary" [hidden]="!(step == 'context')" i18n [disabled]="!HsSaveMapManagerService.compoData.title" (click)="HsSaveMapManagerService.confirmSave()">Save</button>
        </div>
    </div>
</div>
<div *ngIf="isAllowed()">
    <div class="alert alert-info" i18n>
        You are not authorized to store composition. Please sign in or contact administrator for (your ;credentials.;)   </div>
</div>