.panelspace {width: 320px !important;}
.panelspace-wrapper {width: 100% !important;}

.ol-zoom {
    top: 20px !important;
    right: 20px !important;
    background-color: transparent !important;
    padding: 0px !important;
    pointer-events: none !important;
}

.ol-zoom button {
    display: inline-block !important;
    width: 36px !important;
    height: 36px !important;
    background-color: #000 !important;
    border-radius: 0px !important;
    color: #fff !important;
    border: 1px solid #000 !important;
    font-size: 150% !important;
    font-weight: bold !important;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.4);
    margin-left: 0px !important;
    margin-top: 0px !important;
    pointer-events: auto !important;
}
.ol-zoom button:hover {background-color: #444 !important;}
.air .ol-zoom button {
    background-color: #fff !important;
    color: #000 !important;
}
.air .ol-zoom button:hover {
    background-color: #eee !important;
    color: #000 !important;
}

#reset-button {
    width: 36px;
    height: 36px;
    background-color: #000;
    border-radius: 0px;
    color: #fff;
    border: 1px solid #000;
    font-size: 150%;
    font-weight: bold;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.4);
    padding: 6px;
    float: right;
}
#reset-button:hover {background-color: #444;}
.air #reset-button {
    background-color: #fff !important;
    color: #000 !important;
}
.air #reset-button:hover {
    background-color: #eee !important;
    color: #000 !important;
}

.left-top button{
    border: 1px solid #000;
    background-color: #000;
    color: #fff;
}
.left-top button:hover, .left-top button:active, .left-top button:focus, .left-top button:visited{
    background-color: #444 !important;
    color: #fff !important;
    border: 1px solid #000 !important;
}
.air .left-top button {
    background-color: #fff !important;
    color: #000 !important;
}
.air .left-top button:hover {
    background-color: #eee !important;
    color: #000 !important;
    border: 1px solid #000 !important;
}


#reset-button i {margin: 0px;}

.left-top {
    position: absolute;
    top: 20px;
    padding-left: 20px;
    padding-right: 10px;
    display: inline-block;
    width: calc(100% - 401px);
    z-index: 999;
}

.open .left-top {width: calc(100% - 401px);}

div#content-wrapper:not(.open) .left-top {width: calc(100% - 80px);}

.right-top {float: right;}

.left-top .ol-zoom button {font-size: 14px !important;}

.left-top div {
    pointer-events: auto;
    margin-right: 20px;
    min-width: 150px;
}

.left-top .dropdown-toggle {
    position: relative;
    border-radius: 0px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.4); 
}

.left-top .dropdown-toggle i {margin-right: 10px;}

.left-top .dropdown-toggle .caret {margin-left: 20px;}
.left-top .dropdown-toggle .caret:before {
    content: "";
    border: 1px solid #a7a7a7;
    height: 100%;
    position: absolute;
    top: 0px;
    right: 28px;
}

.left-top .dropdown-menu {
    width: 100%;
    margin-top: 0px;
    border-radius: 0px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.4);
    cursor: pointer;
    padding: 0px;
}

.left-top .dropdown-menu li {background-color: #000;}
.left-top .dropdown-menu li a {color: #fff;}
.left-top .dropdown-menu li:hover {background-color: #444;}
.left-top .dropdown-menu li:hover a {
    background-color: #444;
    color: #fff;
}
.air .left-top .dropdown-menu li {background-color: #fff;}
.air .left-top .dropdown-menu li a {color: #000;}
.air .left-top .dropdown-menu li:hover {background-color: #eee;}
.air .left-top .dropdown-menu li:hover a {
    background-color: #eee;
    color: #000;
}

.left-top .dropdown-menu li a {
    padding: 3px 10px;
}

.left-top .dropdown-menu .selected {
    background-color: #444;
    color: #fff !important;
}
.air .left-top .dropdown-menu .selected {
    background-color: #eee;
    color: #000 !important;
}


.left-top .dropdown-menu .checkbox {
    margin: 0px;
    padding: 5px;
    min-height: 40px;
    width: 100%;
    display: block;
    vertical-align: top;
    line-height: 30px;
}

.left-top .dropdown-menu .checkbox span {
    vertical-align: top;
    line-height: 30px;
}

.left-top .dropdown-menu .checkbox input, .left-top .dropdown-menu .checkbox input i{
    position: relative;
    margin: 5px;
    height: 20px;
    width: 20px;
}
.left-top .dropdown-menu .container-button {
    width: 100%;
    margin: 0px;
}

.left-top .dropdown-menu .container-button > div {
    margin: 0px;
    padding: 5px;
    min-width: 0px;
    border-top: 1px solid #adadad;
    text-align: center;
    font-weight: bold;
}
.left-top .dropdown-menu .container-button > div:hover {background-color: #adadad;}
.left-top .dropdown-menu .container-button > div:first-child {border-right: 1px solid #adadad;}
.left-top .dropdown-menu .container-button .traffic-disable {color: #747474;}
.left-top .dropdown-menu .container-button .traffic-disable:hover {background-color: #fff;}

/* Top buttons media queries */

@media (max-width: 767px) {
    .open .left-top {
        width: calc(100% - 401px);
    }
}

@media (max-width: 658px) {
    div#content-wrapper:not(.open) .left-top {
        width: calc(100% - 80px);
    }
    
    .left-top .dropdown {
        margin-bottom: 10px;
    }
    
    .left-top div {
        min-width: 80px;
    }
    
    .left-top .dropdown i {
        margin-right: 0px;
    }
    
    .top-button-text {
        display: none;
    }
}

@media (max-width: 566px) {
    .ol-zoom {
        left: 20px !important;
        top: 110px !important;
    }
    
    .ol-zoom button {
        display: block !important;
        margin: 0px !important;
    }
    
    .left-top > * {width: 100px;}
    
    #reset-button {float: left;}
}

.tl-timemarker {color: #000}
.tl-timemarker .tl-timemarker-timespan {display: none}
.tl-timemarker .tl-timemarker-content-container .tl-timemarker-content .tl-timemarker-text h2.tl-headline {color: #333}
.tl-attribution {display: none}

#roadwork-info-dialog dt {width: 120px;}
#roadwork-info-dialog dd {margin-left: 130px;}
#roadwork-info-dialog .modal-body {padding: 0px;}
#roadwork-info-dialog dd, #roadwork-info-dialog dd {margin-bottom: 5px;}

input[type="range"] {padding: 0}
#timeline-diag-body {overflow-y:auto}

.ol-attribution {
    bottom: 0px !important;
    right: 0px !important;
    height: 1.5em !important;
}

.ol-scale-line {
    bottom: 2.0em !important;
    background-color: #000 !important;
}

.tl-timenav-slider-background{pointer-events: none;}
.tl-timeaxis-tick {cursor: pointer; background-color: #444444 }
.tl-timeaxis-tick:hover {background-color:#1FA22E}
.tl-slidenav-icon {color: #1FA22E}
.tl-timemarker.tl-timemarker-active .tl-timemarker-content-container {
    background-color: #1FA22E;
}
.tl-timeaxis-tick:hover span {text-decoration: underline;}
.tl-timeaxis-tick-text {opacity: 1 !important; color: #fff}
.hs-p-loading_count {position: absolute; left: 5px; top: 15px}
.hs-p-loading_count span {margin-left:-17px}
.tl-message-full {display: none}
.tl-timeaxis .tl-timeaxis-content-container .tl-timeaxis-major .tl-timeaxis-tick {
    margin-left: -31px;
    width: 48px;
}
.tl-slidenav-previous .tl-slidenav-content-container .tl-slidenav-icon, .tl-slidenav-next .tl-slidenav-content-container .tl-slidenav-icon, .tl-slidenav-previous .tl-slidenav-content-container .tl-slidenav-title, .tl-slidenav-next .tl-slidenav-content-container .tl-slidenav-title, .tl-slidenav-previous .tl-slidenav-content-container .tl-slidenav-description, .tl-slidenav-next .tl-slidenav-content-container .tl-slidenav-description{color: #1FA22E}
.panelspace-wrapper {background-color: #eee;}
.panel-default {height: 100%;}
.panel-default > .panel-heading {
    background-color: #000 !important;
    color: #fff !important;
    border-radius: 0px !important;
}
.panel-default > .panel-body {
    background-color: #eee !important;
    height: 100% !important;
}

#time-range input[type=range]{
    -webkit-appearance: none;
    background-color: #eee;
    border: none;
}
#time-range input[type=range]::-webkit-slider-runnable-track {
    height: 5px;
    background: #a2a2a2;
    border: none;
    border-radius: 3px;
}
#time-range input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border-radius: 50%;
    height: 16px;
    width: 16px;
    background-color: #1FA22E;
    margin-top: -5px;
}

#time-range input[type=range]::-moz-range-track {
    height: 5px;
    background: #a2a2a2;
    border: none;
    border-radius: 3px;
}
#time-range input[type=range]::-moz-range-thumb {
    border-radius: 50%;
    height: 16px;
    width: 16px;
    background-color: #1FA22E;
    margin-top: -5px;
}

#time-range input[type=range]::-ms-track {
    height: 5px;
    background: transparent; 
    border-color: transparent;
    border-width: 6px 0;
    color: transparent;
}
#time-range input[type=range]::-ms-fill-lower {
    background: #a2a2a2;
    border-radius: 3px;
}
#time-range input[type=range]::-ms-fill-upper {
    background: #a2a2a2;
    border-radius: 3px;
}
#time-range input[type=range]::-ms-thumb {
    border-radius: 50%;
    height: 16px;
    width: 16px;
    background-color: #1FA22E;
    margin-top: -5px;
}

#calendar-player > a {
    background-color: #f7f7f7;
    border-radius: 0px;
}
#calendar-player button {
    background-color: #1FA22E;
    border-radius: 0px;
    border-width: 0px;
}
#calendar-player > a.btn {padding: 6px;}
#calendar-player > a.btn > span.glyphicon-backward{left: -2px;}
#calendar-player > a.btn > span.glyphicon-forward{left: 2px;}
#calendar-player button:hover {background-color: #1a8126;}

#show-timeline {
    border-width: 0px;
    border-radius: 0px;
    background-color: #fab700;
    color: #fff;
    margin-bottom: 5px;
    font-weight: bold;
}
#show-timeline:hover {background-color: #ba8901;}

.share-group > a {
    border-width: 0px;
    background-color: transparent;
}
.share-group > a:hover {background-color:  transparent;}
.share-group > a:hover > i {color: #1FA22E;}

.links {margin-top: 10px;}
.links > a {
    margin-right: 10px;
    font-weight: bold;
}
.links > a:hover{
    color: #1FA22E;
    text-decoration: none;
}
.links > a:focus{
    color: #337ab7;
    text-decoration: none;
}

.trafficModal {
    width: 400px;
    z-index: 999;
    background-color: #fff;
    position: absolute;
    bottom: 40px;
    left: 20px;
    max-height: 66%;
}
.trafficModal div {padding: 10px;}
.trafficModal  > div.modal-header {
    height: 3em;
}
.trafficModal  > div.modal-body {
    overflow: auto;
    max-height: calc(66vh - 3em);
}
.trafficModal img {
    width: 100%;
    height: 100%;
}
.modal-header {
    background-color: black;
    color: white;
}
.close span {color: white;} 
.close {color: white !important;     opacity: 0.4 !important;}

.ol-popup {bottom: 20px !important;}
.ol-popup:after {
    border-top-color: #000 !important;
    border-width: 20px !important;
    margin-left: -18px !important;
}
.popup-headline {
    padding: 0px !important;
    border-width: 0px !important;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.4) !important;
    z-index: 1001;
}
.popup-headline .ol-popup-content {
    max-height: 400px !important;
    overflow-x: hidden !important;
    width: 400px !important;
}
.popup-headline .popup-body {
    overflow-x: auto;
    padding: 10px;
}
.popup-headline .popup-header {
    background-color: #000;
    color: #fff;
    font-weight: bold;
    padding: 10px;
}
.popup-headline .popup-title {
    margin: 0px;
}
.traffic-table{width: 100%;}
.traffic-table th{width: 33%;}
.traffic-table td{width: 66%;}
.popup-headline .ol-popup-closer {color: #fff !important;}

.tl-timeaxis .tl-timeaxis-content-container .tl-timeaxis-major .tl-timeaxis-tick:before {line-height: 8px;}

.tl-menubar {left: 16px;}

.tl-slidenav-previous, .tl-slidenav-next {margin-top: -38px;}

.tl-slidenav-previous .tl-slidenav-title, .tl-slidenav-next .tl-slidenav-title {
    filter: alpha(opacity=100);
    -khtml-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
}

.tl-slidenav-previous .tl-slidenav-description, .tl-slidenav-next .tl-slidenav-description {
    filter: alpha(opacity=50);
    -khtml-opacity: .5;
    -moz-opacity: .5;
    opacity: .5;
}

.tl-timemarker.tl-timemarker-active .tl-timemarker-content-container .tl-timemarker-content .tl-timemarker-text h2.tl-headline {
    color: white;
}