.ol-zoom {
    top: 20px !important;
    right: 20px !important;
    background-color: transparent !important;
    padding: 0px !important;
}

.ol-zoom button {
    display: inline-block !important;
    width: 36px !important;
    height: 36px !important;
    background-color: #fff !important;
    border-radius: 0px !important;
    color: #000 !important;
    border: 1px solid #adadad !important;
    font-size: 150% !important;
    font-weight: bold !important;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.4);
    margin-left: 0px !important;
    margin-top: 0px !important;
}

#reset-button {
    width: 36px;
    height: 36px;
    background-color: #fff;
    border-radius: 0px;
    color: #000;
    border: 1px solid #adadad;
    font-size: 150%;
    font-weight: bold;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.4);
    padding: 6px;
    float: right;
}

#reset-button i {
    margin: 0px;
}

.left-top {
    position: absolute;
    top: 20px;
    padding-left: 20px;
    padding-right: 10px;
    display: inline-block;
    width: calc(100% - 481px);
}

.open .left-top {
    width: calc(100% - 481px);
}

div#content-wrapper:not(.open) .left-top {
    width: calc(100% - 80px);
}

.right-top {
    float: right;
}

.left-top .ol-zoom button {
    font-size: 14px !important;

}

.left-top div {
    pointer-events: auto;
    margin-right: 20px;
    min-width: 150px;
}

.left-top .dropdown-toggle {
    position: relative;
    border-radius: 0px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.4); 
}

.left-top .dropdown-toggle i {
    margin-right: 10px;
}

.left-top .dropdown-toggle .caret {
    margin-left: 20px;
}

.left-top .dropdown-toggle .caret:before {
    content: "";
    border: 1px solid #a7a7a7;
    height: 100%;
    position: absolute;
    top: 0px;
    right: 28px;
}

.left-top .dropdown-menu {
    width: 100%;
    margin-top: 0px;
    border-radius: 0px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.4);
    cursor: pointer;
    padding: 0px;
}

.left-top .dropdown-menu li:hover {
    background-color: #acacac;
}

.left-top .dropdown-menu li:hover a {
    background-color: #acacac;
}

.left-top .dropdown-menu li a {
    padding: 3px 10px;
}

.left-top .dropdown-menu .selected {
    background-color: #acacac;
}

.left-top .dropdown-menu .checkbox {
    margin: 0px;
    padding: 5px;
    min-height: 40px;
    width: 100%;
    display: block;
    vertical-align: top;
    line-height: 30px;
}

.left-top .dropdown-menu .checkbox span {
    vertical-align: top;
    line-height: 30px;
}

.left-top .dropdown-menu .checkbox input, .left-top .dropdown-menu .checkbox input i{
    position: relative;
    margin: 5px;
    height: 20px;
    width: 20px;
}

.left-top .dropdown-menu .container-button {
    width: 100%;
    margin: 0px;
}

.left-top .dropdown-menu .container-button > div {
    margin: 0px;
    padding: 5px;
    min-width: 0px;
    border-top: 1px solid #adadad;
    text-align: center;
    font-weight: bold;
}

.left-top .dropdown-menu .container-button > div:hover {
    background-color: #adadad;
}

.left-top .dropdown-menu .container-button > div:first-child {
    border-right: 1px solid #adadad;
}

.left-top .dropdown-menu .container-button .traffic-disable {
    color: #747474;
}

.left-top .dropdown-menu .container-button .traffic-disable:hover {
    background-color: #fff;
}

/* Top buttons media queries */

@media (max-width: 767px) {
    .open .left-top {
        width: calc(100% - 381px);
    }
}

@media (max-width: 658px) {
    .ol-zoom {
        right: 10px !important;
        bottom: 4.2em !important;
        top: auto !important;
    }
    
    .open .left-top {
        width: calc(100% - 281px);
    }
    
    div#content-wrapper:not(.open) .left-top {
        width: calc(100% - 0px);
    }
    
    #reset-button {float: left;}
    
    .left-top .dropdown {
        margin-bottom: 10px;
    }
}

.tl-timemarker {color: #000}
.tl-timemarker .tl-timemarker-timespan {display: none}
.tl-timemarker .tl-timemarker-content-container .tl-timemarker-content .tl-timemarker-text h2.tl-headline {color: #333}
.tl-attribution {display: none}

#roadwork-info-dialog dt {
    width: 120px;
}

#roadwork-info-dialog dd {
    margin-left: 130px;
}

#roadwork-info-dialog .modal-body {
    padding: 0px;
}

#roadwork-info-dialog dd, #roadwork-info-dialog dd {
    margin-bottom: 5px;
}

input[type="range"] {padding: 0}
#timeline-diag-body {overflow-y:auto}

.ol-attribution {
    bottom: 0px !important;
    right: 0px !important;
    height: 1.5em !important;
}

.ol-scale-line {
    bottom: 2.0em !important;
    background-color: #adadad !important;
}

.tl-timenav-slider-background{pointer-events: none;}
.tl-timeaxis-tick {cursor: pointer; }
.tl-timeaxis-minor .tl-timeaxis-tick:hover {background-color:#FFD2D2}
.tl-timeaxis-minor .tl-timeaxis-tick:hover span {text-decoration: underline;}
.hs-p-loading_count {margin-right: 10px}
.hs-p-loading_count span {margin-left:-17px}
