<div class="hs-panel-margin panel" ng-class="{'panel-default mainpanel' : !Core.singleDatasources}">
    <hs.layout.panel-header panel-name="ows" panel-title="'Add external data'||translate"></hs.layout.panel-header>
    <div class="card-body">
        <form role="form" class="form">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend" id="type_label"><span class="input-group-text" translate>Choose type</span></div>
                    <select class="form-control" id="ows_type" ng-model="type">
                        <option ng-repeat="type in types" ng-value="type.id">{{type.text}}</option>
                    </select>
                </div>
            </div>
        </form>
        <hr/>
        <div class='ows-capabilities' compile="templateByType()"></div>
    </div>
</div>
