<div class="hs-panel-margin panel">
    <hs-panel-header name="ows" title="Add external data"></hs-panel-header>
    <div class="card-body">
        <form role="form" class="form">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend"><span class="input-group-text">Choose type</span></div>
                    <select class="form-control" [(ngModel)]="type" [ngModelOptions]="{standalone: true}">
                        <option *ngFor="let type of types" [value]="type.id">{{type.text}}</option>
                    </select>
                </div>
            </div>
        </form>
        <hr />
        <div compile="templateByType()"></div>
    </div>
</div>
