<p><sub class="text-danger">*Note: if you link a file with coordinates other than World Geodetic System (lon/lat), please set the SRS in the "ADVANCED OPTIONS"</sub></p>
<form class="form-horizontal" role="form" ng-controller="hs.addLayersVector.controller">
    <hs.add-layers-url type="vector" url="url"></hs.add-layers-url>

    <div class="form-group">
        <label class="capabilities_label col-sm-4 control-label" translate>Title</label>
        <div class="capabilities_input col-sm-8">
            <input class="form-control" ng-model="title"/>
        </div>
    </div>

    <div class="form-group">
        <label class="capabilities_label col-sm-4 control-label" translate>Abstract</label>
        <div class="capabilities_input col-sm-8">
            <textarea class="form-control" id='hs-ows-abstract' placeholder="{{'Fill in descriptive text about map'|translate}}" ng-model="abstract">
            </textarea>
        </div>
    </div>

    <button type="button" class="btn btn-secondary" data-toggle="collapse" ng-click="advancedPanelVisible = !advancedPanelVisible" data-target="#hs-ows-advancedPanel" translate>
        Advanced options
    </button>

    <div id="hs-ows-advancedPanel" class="collapse" ng-class="{'show': advancedPanelVisible}">
        <div class="form-group">
            <label class="capabilities_label col-sm-4 control-label">SRS</label>
            <div class="capabilities_input col-sm-8">
                <input class="form-control" ng-model="srs"/>
            </div>
        </div>

        <div class="form-group">
            <label class="capabilities_label col-sm-4 control-label" translate>Folder name</label>
            <div class="capabilities_input col-sm-8">
                <input class="form-control" ng-model="folder_name"/>
            </div>
        </div>

        <div class="form-group">
            <label class="capabilities_label col-sm-4 control-label" translate>Extract styles</label>
            <div class="capabilities_input col-sm-8">
                <input type="checkbox" ng-model="extract_styles"/>
            </div>
        </div>
    </div>

    <button class="btn btn-primary pull-right" ng-disabled="!title" ng-click="add()"><i class="icon-refresh"></i> <translate>Add</translate></button>
    </a>
</form>
