<div ng-class="{'in': resampleModalVisible}" class="modal" id="ows-wms-resample-dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel" translate="">
                   Resample layer
                </h4>
                <button type="button" class="close" ng-click="resampleModalVisible = false" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only" translate="">Close</span></button>
            </div>
            <div class="modal-body" style="max-height:600px; overflow-y:auto" translate>
                    Map projection and layer projection not match. Add the layer to map and use server-side resampling program?
            </div>
            <div class="modal-footer" id="stc-footer">
                <button type="button" class="btn btn-primary" translate ng-click="use_resampling=true; addLayers(add_all); resampleModalVisible = false" data-dismiss="modal">Use proxy</button>
                <button type="button" class="btn btn-secondary" ng-click="resampleModalVisible = false" data-dismiss="modal" translate>Cancel</button>
            </div>
        </div>
    </div>
</div>
