//** MAP GALLERY **//
.basemapGallery {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  top: 0.7em;
  position: absolute;
  cursor: pointer;
  box-sizing: border-box;
  right: 15px;

  .dropdown-toggle::after {
    display: none;
  }

  .galleryDropdown {
    max-height: 41em;
    // height: 50vh;

    flex-direction: column;
    flex-wrap: wrap-reverse;
    column-gap: 0.25rem;
    top: calc(0% + 10px) !important;

    &>div:first-child:before {
      content: '';
      position: absolute;
      top: -12px;
      right: 5px;
      border-width: 0 10px 10px 10px;
      border-style: solid;
      border-color: transparent transparent white transparent;
    }

    &.show {
      display: flex;
    }

    & .galleryDropdownItem:first-child {

      &,
      img {
        border-top-left-radius: var(--bs-border-radius);
        border-top-right-radius: var(--bs-border-radius);
      }
    }


    >div {
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 8em;

      display: flex;
      flex-direction: column;
      background-color: white;
      width: 11em;
      max-height: 8em;
    }

    a.dropdown-item {
      white-space: pre-line;
      overflow-wrap: anywhere;
    }

    img {
      height: 4.5em;
    }
  }


  .dropdown-item:not(.active) {
    background: hsla(0, 0%, 80%, 0.51);
  }

  .dropdown-item.active {
    color: hsla(0, 0%, 100%, 89%) !important;
  }

}


.galleryButton {
  opacity: 0.9 !important;
  background-color: var(--ol-background-color);
  color: var(--ol-subtle-foreground-color);
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
  font-size: 1rem;
  height: 2.3em;
  width: 2.4em;

  &.show,
  &.show:focus {
    color: white !important;
    background-color: var(--bs-secondary) !important;
  }

  i {
    vertical-align: bottom;
  }
}


&.hs-mobile-view {
  .basemapGallery .galleryDropdown img {
    height: 6em;
  }
}

@container hslayers-element (max-width:767px) {
  .basemapGallery .galleryDropdown {
    column-gap: 0.5rem;
    row-gap: 1rem;
    max-height: 90vh;

    &>div {
      width: 15em;
      max-height: 15em;
      box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
    }

    &>div img {
      height: 5.5em;
    }
  }

  .basemapGallery {

    & div span.glyphicon,
    & a {
      font-size: 1.2rem
    }
  }
}