//** MAP GALLERY **//
.basemapGallery {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  top: 0.7em;
  position: absolute;
  cursor: pointer;
  box-sizing: border-box;
  right: 15px;

  .dropdown-toggle::after {
    display: none;
  }
}

.basemapGallery .galleryDropdown {
  max-height: 41em;
  // height: 50vh;

  flex-direction: column;
  flex-wrap: wrap-reverse;
  column-gap: 0.25rem;

  &.show {
    display: flex;
  }
}

.basemapGallery .galleryDropdown>div {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 8em;

  display: flex;
  flex-direction: column;
  background-color: white;
  width: 11em;
  max-height: 8em;
}

.basemapGallery .galleryDropdown img {
  height: 4.5em;
}

.basemapGallery .dropdown-item:not(.active) {
  background: hsla(0, 0%, 80%, 0.51);
}

.basemapGallery .dropdown-item.active {
  color: hsla(0, 0%, 100%, 89%) !important;
}

.basemapGallery img.active,
.basemapGallery div.active {
  border: 0.1rem solid hsl(211, 100%, 50%);
}

.basemapGallery .hs-miniMenu {
  width: 100%;
  height: 100%;
  background-color: hsla(212, 20%, 40%, 0.94);
  border: 0.1rem solid hsl(211, 100%, 50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: hsl(0, 0%, 100%);
  cursor: auto;
  right: 0;
  transition: all 0.4s ease, right 0ms;
}

.basemapGallery .hs-miniMenu>div {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  background-color: hsla(0, 2%, 75%, 0.644);
  cursor: pointer;
}

.basemapGallery .hs-miniMenu p {
  cursor: pointer;
  font-size: 1rem;
}

.basemapGallery .hs-miniMenu.expanded {
  width: 30em;
  height: auto;
  z-index: 4;
  padding-top: 2em;
  padding-bottom: 2em;
  border-radius: 0.25rem;
}

.basemapGallery .hs-miniMenu>label {
  cursor: pointer;
  text-align: right;
}

.basemapGallery .hs-miniMenu.expanded hs-layer-editor label {
  color: hsl(0, 0%, 100%);
}

.galleryButton {
  opacity: 0.9 !important;
  background-color: var(--ol-background-color);
  color: var(--ol-subtle-foreground-color);
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
  height: 32px;

  &:hover {
    background-color: $secondary !important;
    color: var(--ol-background-color) !important;
  }

  i {
    vertical-align: bottom;
  }
}

.basemapGallery .galleryDropdown a.dropdown-item {
  white-space: pre-line;
  overflow-wrap: anywhere;
}

&.hs-mobile-view {
  .basemapGallery .galleryDropdown img {
    height: 6em;
  }

  .basemapGallery .hs-miniMenu {
    max-width: 90vw;
  }
}

@container hslayers-element (max-width:767px) {
  .basemapGallery .galleryDropdown {
    column-gap: 0.5rem;
    row-gap: 1rem;
    max-height: 90vh;

    &>div {
      width: 15em;
      max-height: 15em;
      box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
    }

    &>div img {
      height: 5.5em;
    }
  }

  .basemapGallery {

    & div span.glyphicon,
    & a {
      font-size: 1.2rem
    }
  }
}