<form class="form-horizontal" role="form" name="frmRaster">
  <div class="form-group m-3">
    <hs-file-upload (uploaded)="handleFileUpload($event)" [uploader]="'hs-file-raster' + app"
      [acceptedFormats]="acceptedFormats">
    </hs-file-upload>
  </div>
  @if (hsAddDataCommonService.showDetails) {
  <div>
    <div class="d-flex flex-row justify-content-around">
      <div class="d-flex flex-column justify-content-center">
        <p class="p-2 bg-success rounded" style="color: white;"> {{data.files.length}}
          {{'ADDLAYERS.filesSelected' | translateHs }}</p>
      </div>
      <div class="d-flex flex-column mw-75">
        @for (file of data.files; track file.name) {
        <p>{{file.name}}</p>
        }
      </div>
    </div>
    @if (fileType === 'raster-ts') {
    <hs-file-raster-timeseries [data]="data"> </hs-file-raster-timeseries>
    }
    <hs-new-layer-form [data]="data"></hs-new-layer-form>
    <hs-add-layer-authorized [data]="data"></hs-add-layer-authorized>
  </div>
  }
</form>
