<div class="card mainpanel hs-comp-mainpanel">
    <hs-panel-header name="composition_browser" title="Compositions">
        <extra-buttons>
            <label class="btn btn-sm btn-secondary btn-file" title="{{'Import composition from a file on device' | translate}}" style="margin-bottom: 0; line-height: 1em; float: right; margin-right: 1em; cursor: pointer;">
                <span class="icon-upload"></span><input type="file" (change)="handleFileSelect($event)" accept="json" style="display: none;">
            </label>
            <button class="btn btn-sm btn-secondary" title="{{'Add composition by address' | translate}}" style="margin-bottom: 0; line-height: 1em; float: right; margin-right: 0.5em; cursor: pointer;" (click)="changeUrlButtonVisible()">
                <span class="icon-plus"></span>
            </button>
        </extra-buttons>
    </hs-panel-header>
    <div class="card-body">
        <div class="input-group" [hidden]="!addCompositionUrlVisible">
            <input type="text" class="form-control" placeholder="{{'Address'|translate}}" [(ngModel)]="urlToAdd">
            <div class="input-group-append">
                <button type="button" class="btn btn-secondary" (click)="addCompositionUrl(urlToAdd)"><i class="icon-link"></i></button>
            </div>
       </div>
        <form style="text-align: center;">
            <div class="form-group">
                <input type="text" class="form-control hs-filter" placeholder="{{'Filter'|translate}}" name="hs-filter-by-name" [(ngModel)]="query.title" (change)="filterChanged()">
            </div>

            <div class="form-group">

                <div class="input-group">
                    <div class="btn-group input-group-prepend">
                        <div class="input-group-text">
                            <input type="checkbox" [(ngModel)]="filterByExtent" name="hs-filter-by-extent" (change)="filterChanged()"><span translate="">Filter by map extent</span>
                        </div>
                        <div class="input-group-text">
                            <input type="checkbox" [(ngModel)]="query.editable" name="hs-filter-by-editable" (change)="mineFilterChanged()"><span translate="">Only mine</span>
                        </div>
                    </div>
                    <div class="input-group-append dropdown">
                        <button type="button" class="btn btn-secondary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (click)="sortMenuOpen=!sortMenuOpen">
                            {{'Sort' | translate}} <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right" [ngClass]="{'show': sortMenuOpen}">
                            <li><a class="dropdown-item" (click)="setSortAttribute('bbox')" href="#">Bounding box</a>
                            </li>
                            <li><a class="dropdown-item" (click)="setSortAttribute('title')">Title</a></li>
                            <li><a class="dropdown-item" (click)="setSortAttribute('date')">Date</a></li>
                        </ul>
                    </div>
                    <div class="input-group-append dropleft" *ngIf="HsConfig.comp_keywords">
                        <button type="button" class="btn btn-secondary btn-sm dropdown-toggle" data-toggle="dropdown" (click)="keywordsMenuOpen=!keywordsMenuOpen" aria-haspopup="true" aria-expanded="false">
                            Keywords<span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" [ngClass]="{'show': keywordsMenuOpen}">
                            <li class="dropdown-item" *ngFor="let keyword of keywords | keyvalue">
                                <label>
                                    <input type="checkbox" [(ngModel)]="keyword.value" (click)="loadCompositions()">
                                    {{keyword}}
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </form>
        <ul ngbNav [(activeId)]="activeTab" #nav="ngbNav" class="nav-tabs flex-column flex-sm-row">
            <li class="nav-item" [ngbNavItem]="$index" *ngFor="let endpoint of filteredEndpointsForCompositions(); index as $index">
                <a ngbNavLink (click)="HsCompositionsService.datasetSelect('ds'+$index)">
                    {{endpoint.title}}
                    <span [hidden]="!(endpoint.compositionsPaging.matched > 0)">({{endpoint.compositionsPaging.matched}})</span>
                    <i class="icon-refresh icon-spin" [hidden]="!(endpoint.compositionsPaging.loaded == false)"></i>
                </a>
                <ng-template ngbNavContent>
                    <div class="card">
                        <div class="card-body">
                            <hs.layman.current-user endpoint="endpoint"></hs.layman.current-user>
                            <ul class="hs-comp-list list-group">
                                <li *ngFor="let composition of endpoint.compositions" class="list-group-item hs-comp-item" style="cursor: pointer" [ngClass]="composition.highlighted ?  'active' : ''" (mouseover)="highlightComposition(composition, true)" (mouseleave)="highlightComposition(composition, false)" (click)="compositionClicked(composition)" data-container="body" data-placement="bottom" [attr.title]="composition.mdAbstract">
                                    <div class="hs-comp-item-title">{{composition.title || composition.name}}</div>
                                    <div class="btn-group btn-block" [ngClass]="{'d-none': commonId(composition) != selectedCompId}" role="group">
                                        <a class="btn btn-secondary" (click)="$event.stopPropagation();shareComposition(composition)" href="#">
                                            <i class="icon-share-alt"></i>
                                        </a>
                                        <a class="btn btn-secondary" href="#" (click)="$event.stopPropagation();edit(composition)">
                                            <i class="icon-edit"></i>
                                        </a>
                                        <a class="btn btn-secondary" href="#" (click)="$event.stopPropagation();detailComposition(composition)">
                                            <i class="icon-info-sign"></i>
                                        </a>
                                        <a class="btn btn-secondary" href="#" [hidden]="!composition.editable" (click)="$event.stopPropagation();confirmDelete(composition)">
                                            <i class="icon-trash"></i>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
    
    
                        <div class="card-footer" [hidden]="!(endpoint.matched > 0)">
                            <nav>
                                <ul class="pagination d-flex justify-content-center">
                                    <li class="page-item" [ngClass]="{'disabled': compStart == 0 }">
                                        <a href="#" class="page-link" (click)="getPreviousCompositions(endpoint)"><span aria-hidden="true"></span></a>
                                    </li>
                                    <li class="page-item" *ngIf="endpoint.compositionsPaging.next!= 0"><span class="page-link"> Results
                                            {{endpoint.compositionsPaging.start + 1}} - {{endpoint.compositionsPaging.next}}</span></li>
                                    <li class="page-item" *ngIf="endpoint.compositionsPaging.next == 0"><span class="page-link"> Results
                                            {{endpoint.compositionsPaging.start + 1}} - {{endpoint.compositionsPaging.matched}}</span></li>
                                    <li class="page-item" [ngClass]="{'disabled': endpoint.compositionsPaging.next == 0 }">
                                        <a href="#" class="page-link" (click)="getNextCompositions(endpoint)"><span aria-hidden="true"></span></a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </ng-template>
            </li>
        </ul>
        <div [ngbNavOutlet]="nav" class="mt-2"></div>
    </div>
</div>
