<div class="hs-locate ol-unselectable ol-control hs-locateToggler" ng-show="geolocationVisible()"
    ng-class="{'ol-collapsed': collapsed}">
    <button class="ol-has-tooltip blocate hs-locateToggler" ng-if="!locationService.localization" type="button"
        ng-click="locationService.startLocalization()">
        <i class="glyphicon icon-gpsoff-gps hs-locateToggler"></i>
    </button>
    <button ng-if="locationService.localization" class="ol-has-tooltip blocate hs-locateToggler hs-locationButton"
        type="button" ng-click="locationService.toggleTracking()" ng-dblclick="locationService.stopLocalization()">
        <i class="glyphicon hs-locateToggler"
            ng-class="(locationService.following && locationService.localization) ? 'icon-navigation' : 'icon-gpson'"></i>
    </button>
    
</div>