<div class="hs-locate ol-unselectable ol-control hs-locateToggler" [hidden]="!geolocationVisible()"
    [ngClass]="{'ol-collapsed': collapsed}">
    <button class="ol-has-tooltip blocate hs-locateToggler" title="Locate me" *ngIf="!this.HsGeolocationService.localization"
        type="button" (click)="this.HsGeolocationService.startLocalization()">
        <i class="glyphicon icon-gpsoff-gps hs-locateToggler"></i>
    </button>
    <button *ngIf="this.HsGeolocationService.localization" class="ol-has-tooltip blocate hs-locateToggler hs-locationButton"
        type="button" (click)="this.HsGeolocationService.toggleTracking()" title="Locate me"
        (dblclick)="this.HsGeolocationService.stopLocalization()">
        <i class="glyphicon hs-locateToggler"
            [ngClass]="(this.HsGeolocationService.following && this.HsGeolocationService.localization) ? 'icon-navigation' : 'icon-gpson'"></i>
    </button>

</div>
