<div class="feature-list" ng-class="{'card-list': !displayDetails, 'layout-column': displayDetails}">
    <md-content flex layout-padding class="card-collection" ng-show="!displayDetails">
        <md-card ng-repeat="feature in LayMan.currentLayer.filteredFeatures"
            ng-click="toggleFeatureDetails(feature, true)" ng-mouseenter="highlightFeature(feature)"
            ng-mouseleave="unhighlightFeature(feature)" ng-class="feature.values_.class">
            <img ng-src="{{ 'thumb/' + feature.values_.img }}" class="md-card-image" alt="Best Practice thumbnail">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{ feature.values_.name }}</span>
                    <span class="md-subhead">{{ feature.values_.region }}, {{ feature.values_.country }}</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <p>{{ feature.values_.annotation }}</p>
            </md-card-content>
        </md-card>
    </md-content>

    <md-toolbar class="md-hue-1" ng-show="displayDetails">
        <div class="md-toolbar-tools">
            <h2 class="md-flex">{{ featureDetails.name }}</h2>

            <div flex></div>

            <md-button class="md-icon-button" aria-label="Close" ng-click="toggleFeatureDetails(undefined, true)">
                <md-icon md-menu-origin class="material-icons">close</md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-content layout-padding ng-show="displayDetails">
        <div class="img-float">
            <img ng-src="{{ 'thumb/' + featureDetails.img }}" alt="Best Practice thumbnail">
        </div>
        <div class="content-body">
            <h3>{{ featureDetails.region }}, {{ featureDetails.country }}</h3>
            <a ng-href="featureDetails.website" ng-if="featureDetails.website">{{ featureDetails.website }}</a>
    
            <h3 class="heading">Biomass source</h3>
            <p>{{ featureDetails.biomass_source }}</p>
    
            <h3 class="heading">Product</h3>
            <p>{{ featureDetails.product }}</p>
            <h3 class="heading">Abstract</h3>
            <p>{{ featureDetails.abstract_en }}</p>
        </div>
    </md-content>
</div>