<div class="feature-list" ng-class="{'card-list': !displayDetails, 'layout-column': displayDetails}">
    <md-content flex layout-padding ng-show="!displayDetails">
        <div hs.feature-filter.directive ng-controller="hs.feature_filter.controller"></div>
    </md-content>

    <md-content flex layout-padding class="card-collection" ng-show="!displayDetails">
        <md-card ng-repeat="feature in LayMan.currentLayer.filteredFeatures"
            ng-click="toggleFeatureDetails(feature, true)" ng-mouseenter="highlightFeature(feature)"
            ng-mouseleave="unhighlightFeature(feature)" ng-class="feature.values_.class">
            <img ng-src="{{ 'thumb/' + feature.values_.img }}" class="md-card-image" alt="Best Practice thumbnail">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{ feature.values_.name }}</span>
                    <span class="md-subhead"><span ng-if="feature.values_.region">{{ feature.values_.region }}, </span>{{ feature.values_.country }}</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <p>{{ feature.values_.annotation }}</p>
            </md-card-content>
        </md-card>
    </md-content>

    <md-toolbar class="md-hue-1" ng-show="displayDetails">
        <div class="md-toolbar-tools">
            <h2 class="md-flex">{{ featureDetails.name }}</h2>

            <div flex></div>

            <md-button class="md-icon-button" aria-label="Close" ng-click="toggleFeatureDetails(undefined, true)">
                <md-icon md-menu-origin class="material-icons">close</md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-content ng-show="displayDetails && !displayMoreDetails">
        <div class="img-float">
            <img ng-src="{{ 'thumb/' + featureDetails.img }}" alt="Best Practice thumbnail">
        </div>
        <div class="content-body">
            <div class="main-content">
                <h3><span ng-if="featureDetails.region">{{ featureDetails.region }}, </span>{{ featureDetails.country }}</h3>
                <a target="_blank" ng-href="{{featureDetails.website}}" ng-if="featureDetails.website">{{ featureDetails.website }}</a>
        
                <h3 class="heading">Biomass source</h3>
                <p>{{ featureDetails.biomass_source }}</p>
        
                <h3 class="heading">Product</h3>
                <p>{{ featureDetails.product }}</p>
    
                <h3 class="heading">Summary</h3>
                <p>{{ featureDetails.abstract_en }}</p>
            </div>
            <div class="additional-content">
                <h3 class="heading">Partner</h3>
                <p>{{ featureDetails.partner }}</p>
                <h3 class="heading">Background context</h3>
                <p>{{ featureDetails.context }}</p>
                <h3 class="heading">Description of the process, activity or business model</h3>
                <p>{{ featureDetails.summary }}</p>
                <h3 class="heading">List the main actors</h3>
                <p>{{ featureDetails.actors }}</p>
                <h3 class="heading">Phase of the innovation</h3>
                <p>{{ featureDetails.phase }}</p>
                <h3 class="heading">Innovation in the process</h3>
                <p>{{ featureDetails.process }}</p>
                <h3 class="heading">Expected or final outcomes </h3>
                <p>{{ featureDetails.outcomes }}</p>
                <h3 class="heading">Benefit for the famers</h3>
                <p>{{ featureDetails.farmer_benefits }}</p>
                <h3 class="heading">Benefit/added value for the bio-based product companies</h3>
                <p>{{ featureDetails.bbpc_benefits }}</p>
                <h3 class="heading">Benefit/added value for other practioners or end-users</h3>
                <p>{{ featureDetails.other_benefits }}</p>
                <h3 class="heading">Other factors that make possible a successful realisation of the practice/activity</h3>
                <p>{{ featureDetails.other_factors }}</p>
            </div>
        </div>
    </md-content>
</div>