<div class="modal in hs-composition-share-dialog" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>Share map </span> {{data.shareTitle}}
                </h4>
                <button type="button" (click)="close()" class="close" data-dismiss="modal"><span aria-hidden="true"></span><span class="sr-only" translate="">Close</span></button>
            </div>
            <div class="modal-body" style="max-height: 600px; overflow-y: auto">
                <div class="row">
                    <div class="col-md-3"><b translate="">Abstract</b></div>
                    <div class="col-md-9">{{data.shareDescription}}</div>
                </div>
                <div class="row">
                    <div class="col-md-3"><b translate="">URL</b></div>
                    <div class="col-md-9"><a [href]="data.shareUrl">{{data.shareUrl}}</a></div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="btn-group" role="group">
                    <button class="btn btn-secondary" href="#" (click)="shareOnSocial()">
                        <i class="icon-share-alt"></i> {{'PERMALINK.share' | translate}}
                    </button>
                </div>
                <button type="button" class="btn btn-secondary" (click)="close()" data-dismiss="modal" translate="">Close</button>
            </div>
        </div>
    </div>
</div>
