<div class="modal in hs-composition-info-dialog" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    {{info.title}} <span>details</span>
                </h4>
                <button type="button" (click)="close()" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only" translate>Close</span></button>
            </div>
            <div class="modal-body" style="max-height: 600px; overflow-y: auto">
                <div class="row">
                    <div class="col-md-3"><b translate>Abstract</b></div>
                    <div class="col-md-9">{{info.abstract}}</div>
                </div>
                <div class="row">
                    <div class="col-md-3"><b translate>Thumbnail</b></div>
                    <div class="col-md-9"><img src="{{info.thumbnail}}"></div>
                </div>
                <div class="row" *ngIf="info.url">
                    <div class="col-md-3"><b translate>Url</b></div>
                    <div class="col-md-9">{{info.url}}</div>
                </div>
                <div class="row" *ngIf="info.extent">
                    <div class="col-md-3"><b translate>Extent</b></div>
                    <div class="col-md-9">{{info.extent}}</div>
                </div>
                <div *ngFor="let layer of info.layers">
                    <div class="row" *ngIf="$first">
                        <div class="col-md-3"><b translate>Layer</b></div>
                        <div class="col-md-9">{{layer.title}}</div>
                    </div>
                    <div class="row" *ngIf="!$first">
                        <div class="col-md-offset-3 col-md-9">{{layer.title}}</div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="close()" data-dismiss="modal" translate>Close</button>
            </div>
        </div>
    </div>
</div>
