<div class="card panel-default mainpanel">
    <hs.layout.panel-header panel-name="settings" panel-title="'Settings'||translate">
        <extra-buttons>
            <button type="button" class="but-title-sm" ng-click="initSettings(settingsDb)">
                <span class="icon-repeat"></span>
            </button>
        </extra-buttons>
    </hs.layout.panel-header>
    <div class="card-body">
        <div class="hs-settings-hostname" style="padding: 10px 15px">
            <div class="hs-settings-hostname-title">Data source</div>
            <select class="form-control" id="hs-settings-hostname" ng-model="selectedHostname"
                ng-change="changeHostname()" style="margin-bottom: 5px">
                <option ng-repeat="host in hostnames" ng-selected="selectedHostname==host.title"
                    value="{{ host.title }}">{{ host.title }}</option>
            </select>
            <div class="hs-settings-hostname-title">{{ hostname.default.title }}</div>
            <div class="hs-settings-hostname-url">{{ hostname.default.url }}</div>
        </div>

        <!--     	<ul class="list-group hostnames">
    		<li ng-repeat="hostname in hostnames" class="list-group-item" ng-class="hostname.editable ? 'editable' : ''">
                <div class="hs-settings-hostname-title">{{ hostname.title }}</div>
    			<div class="hs-settings-hostname-url">{{ hostname.url }}</div>
                <span class="menu-icon glyphicon icon-circledelete" ng-click="deleteHostname()"></span>
    		</li>
    	</ul>
    	<form id="hs-settings-hostname" ng-submit="addHostname()">
            <input type="text" class="form-control" ng-model="userHostname" ng-click="preFill()" ng-blur="removePreFill()" placeholder="User hostname">
            <input type="submit" class="form-submit" name="Add">
    	</form> -->
    </div>
</div>