<div ng-class="{'in': capabilitiesErrorModalVisible}" class="modal" id="ows-wms-capabilities-error" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel" translate>
                   WMS Capabilities parsing problem
                </h4>
                <button type="button" ng-click="capabilitiesErrorModalVisible = false" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only" translate="">Close</span></button>
            </div>
            <div class="modal-body" style="max-height:600px; overflow-y:auto">
                <p translate>There was error while parsing Capabilities response from given URL</p>
                <p>{{error}}</p>
            </div>
            <div class="modal-footer" id="stc-footer">
                <button type="button" class="btn btn-secondary" ng-click="capabilitiesErrorModalVisible = false" data-dismiss="modal" translate>Close</button>
            </div>
        </div>
    </div>
</div>
