<div class="hs-panel-margin panel" ng-class="{'panel-default mainpanel' : !Core.singleDatasources}">
    <div class="card-header" ng-if="!Core.singleDatasources" translate>Add external data
        <button type="button" class="close" ng-click="Core.closePanel(this)">
            <span aria-hidden="true">×</span>
            <span class="sr-only" translate>Close</span>
        </button>
    </div>
    <div class="card-body">
            <form name="frmConnect" role="form" class="form">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend" id="type_label"><span class="input-group-text" translate>Choose format</span></div>
                        <select class="form-control" id="ows_type" ng-model="type">
                            <option ng-repeat="type in types">{{type}}</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <input type="url" class="form-control" name="url" ng-model="url" placeholder="{{'External data source (URL)'|translate}}" required />
                        <div class="input-group-append">
                            <button type="button" class="btn btn-secondary" ng-if="frmConnect.url.$valid && isService()" ng-click="connect()"><i class="icon-link"></i></button>
                            <button type="button" class="btn btn-danger" ng-if="frmConnect.url.$error.url"><i class="icon-alertalt"></i></button>
                        </div>
                    </div>
                </div>
            </form>
            <hr/>
            <div class='ows-capabilities' ng-show="showDetails" ng-include="templateByType()"></div>
    </div>
</div>
