<form ng-controller="hs.ows.wms.controller">

        <div flex layout="row">
            <md-input-container>
                <label translate>Image format</label>
                <md-select ng-model="data.image_format">
                    <md-option ng-value="i" ng-repeat="i in data.image_formats">{{ i }}</md-option>
                </md-select>
            </md-input-container>
         </div>           

        <div flex layout="row">
            <md-input-container>
                <label translate>Query format</label>
                <md-select ng-model="data.query_format">
                    <md-option ng-value="i" ng-repeat="i in data.query_formats">{{ i }}</md-option>
                </md-select>
            </md-input-container>
            <md-input-container  ng-show="data.srs.toUpperCase() != data.map_projection">
                <label translate>SRS</label>
                <md-select ng-model="data.srs" ng-change="srsChanged()">
                    <md-option ng-value="i" ng-repeat="i in data.srss | limitTo: 50">{{ i }}</md-option>
                </md-select>
            </md-input-container>
        </div>

        <p class="md-warn" ng-show="data.resample_warning" translate>Map and layer projection do not match! Resampling will be used. This may lead to unexpectable results.</p>

        <md-checkbox ng-model="data.use_tiles" aria-label="Use tiles" >
            <translate>Use tiles</translate>
        </md-checkbox>

        <p class="md-warn" ng-show="!data.use_tiles" translate>Consider using tiles. Some servers has restricted max size of picture.</p>
              
        <md-input-container>
            <label translate>Tile size</label>
            <input ng-model="data.tile_size" required >
        </md-input-container>

        <md-input-container>
            <label translate>Folder name</label>
            <input ng-model="data.path" required >
        </md-input-container>

        <md-checkbox ng-model="data.register_metadata" aria-label="Register metadata">
            <translate>Register metadata</translate>
        </md-checkbox>    
    <hr/>
    <ul class="list-group">
        <li class="list-group-item hs-ows-layerlistheading clearfix">
            <div>{{data.services.Title}}</div>
            <button class="btn btn-primary" ng-click="selectAllLayers()" translate>Select All Layers</button>
            <button class="btn btn-primary pull-right" ng-click="addLayers(true)"><i class="glyphicon glyphicon-plus"></i></button>
        </li>
        <li ng-repeat="layer in data.services.Layer" class="list-group-item clearfix">
            <div>
                <input type="checkbox" class="layer-checked" ng-model="layer.checked" ng-if="!hasNestedLayers(layer)" /> {{layer.Title}}
            </div>
            <ul class="list-group" ng-if="hasNestedLayers(layer)">
                <li ng-repeat="sub_layer in layer.Layer" class="list-group-item">{{sub_layer.Title}} <input type="checkbox" class="layer-checked" ng-model="sub_layer.checked" ng-if="!hasNestedLayers(sub_layer)" />
                    <ul class="list-group" ng-if="hasNestedLayers(sub_layer)">
                        <li ng-repeat="sub_layer2 in sub_layer.Layer" class="list-group-item">{{sub_layer2.Title}} <input type="checkbox" class="layer-checked" ng-model="sub_layer2.checked" />
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</form>
