<form class="form-horizontal" role="form" ng-controller="hs.ows.wms.controller">

    <div class="form-group">
        <label for="image_format" class="capabilities_label col-sm-4 control-label" translate>Image format</label>
        <div class="capabilities_input col-sm-8">
            <select class="form-control" ng-model="data.image_format">
                <option ng-repeat="i in data.image_formats">{{i}}</option>
            </select>
        </div>      
    </div>

    <div class="form-group">
        <label class="capabilities_label col-sm-4 control-label" translate>Query format</label>
        <div class="capabilities_input col-sm-8">
            <select class="form-control" ng-model="data.query_format">
                <option ng-repeat="i in data.query_formats">{{i}}</option>
            </select>
        </div>      
    </div>

    <div class="form-group" ng-show="data.srs.toUpperCase() != data.map_projection">
        <label class="capabilities_label col-sm-4 control-label">SRS</label>
        <div class="capabilities_input col-sm-8">
            <select class="form-control" ng-model="data.srs" ng-change="srsChanged()">
                <option ng-repeat="i in data.srss | limitTo: 50">{{i}}</option>
            </select>
        </div>      
    </div>

    <p class="col-sm-12 alert alert-danger" ng-show="data.resample_warning" translate>Map and layer projection do not match! Resampling will be used. This may lead to unexpectable results.</p>

    <div class="form-group">
         <div class="capabilities_input col-sm-8">
            <label class="capabilities_label control-label" translate> <input type="checkbox" ng-model="data.use_tiles"/> Use tiles</label>
        </div>
    </div>

    <p class="col-sm-12 alert alert-warning" ng-show="!data.use_tiles" translate>Consider using tiles. Some servers has restricted max size of picture.</p>


    <div class="form-group">
        <label class="capabilities_label col-sm-4 control-label" translate>Tile size</label>
        <div class="capabilities_input col-sm-8">
            <input class="form-control" ng-model="data.tile_size"/>
        </div>      
    </div>

    <div class="form-group">
        <label class="capabilities_label col-sm-4 control-label" translate>Folder name</label>
        <div class="capabilities_input col-sm-8">
            <input class="form-control" ng-model="data.path"/>
        </div>      
    </div>
    
    <div class="form-group">
        <div class="capabilities_input col-sm-8">
            <label class="capabilities_label control-label" translate> <input type="checkbox" ng-model="data.register_metadata"/> Register metadata</label>
        </div>
    </div>
    
    <hr/>
    <ul class="list-group">
        <li class="list-group-item hs-ows-layerlistheading clearfix">
            <div>{{data.services.Title}}</div>
            <button class="btn btn-primary" ng-click="selectAllLayers()" translate>Select All Layers</button>
            <button class="btn btn-primary pull-right" ng-click="addLayers(true)"><i class="glyphicon glyphicon-plus"></i></button>
        </li>
        <li ng-repeat="layer in data.services.Layer" class="list-group-item clearfix">
            <div>
                <input type="checkbox" class="layer-checked" ng-model="layer.checked" ng-if="!hasNestedLayers(layer)" /> {{layer.Title}}
            </div>
            <ul class="list-group" ng-if="hasNestedLayers(layer)">
                <li ng-repeat="sub_layer in layer.Layer" class="list-group-item">{{sub_layer.Title}} <input type="checkbox" class="layer-checked" ng-model="sub_layer.checked" ng-if="!hasNestedLayers(sub_layer)" />
                    <ul class="list-group" ng-if="hasNestedLayers(sub_layer)">
                        <li ng-repeat="sub_layer2 in sub_layer.Layer" class="list-group-item">{{sub_layer2.Title}} <input type="checkbox" class="layer-checked" ng-model="sub_layer2.checked" />
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</form>
