<!-- <div class="fixed-action-btn click-to-toggle">
  <a class="btn-floating btn-large red">
    <i class="material-icons">add</i>
  </a>
  <ul>
    <li><a class="btn-floating tooltipped blue"><i class="icon-polygonlasso"></i></a><a href="#" class="btn-floating mobile-fab-tip">Polygon</a></li>data-position="left" data-delay="50" data-tooltip="Polygon"
    <li><a class="btn-floating tooltipped blue"><i class="icon-line"></i></a><a href="#" class="btn-floating mobile-fab-tip">Line</a></li>data-position="left" data-delay="50" data-tooltip="Line"
    <li><a class="btn-floating tooltipped blue"><i class="icon-pin"></i></a><a href="#" class="btn-floating mobile-fab-tip">Point</a></li>data-position="left" data-delay="50" data-tooltip="Point"
  </ul>
</div> -->

<a ng-class="{{primary.classes}}" class="btn-floating" style="background-color: #d81b60">
    <i ng-class="{{primary.icon.classes}}">{{primary.icon.text}}</i>
</a>
<ul>
    <li ng-repeat="item in secondary"><a ng-class="{{item.classes}}" class="btn-floating" style="background-color: #4fc3f7"><i ng-class="{{item.icon.classes}}">{{item.icon.text}}</i></a><a href="{{item.href}}" class="btn-floating mobile-fab-tip" ng-click="item.action()">{{item.tooltip}}</a></li>
</ul>