<form class="form">

  <hs-symbolizer-color-picker [symbolizer]="symbolizer" attribute="color" opacityAttribute="fillOpacity"
    [class.disabled]="symbolizer.graphicFill !== undefined" (changes)="emitChange()"
    [label]="'STYLER.fillColor' | translateHs">
    @if (symbolizer.graphicFill !== undefined) {
      <span class="badge bg-warning mt-2"
      [title]="'STYLER.warningFillNotVisualizedDueToGraphic' | translateHs  ">!</span>
    }
  </hs-symbolizer-color-picker>

  <hs-symbolizer-slider [symbolizer]="symbolizer" attribute="fillOpacity" (changes)="emitChange()" step="0.05" min="0"
  max="1" [label]="'STYLER.opacity' | translateHs "></hs-symbolizer-slider>

  <hs-symbolizer-color-picker [symbolizer]="symbolizer" attribute="outlineColor" opacityAttribute="outlineOpacity"
    (changes)="emitChange()" [label]="'STYLER.outlineColor' | translateHs ">
  </hs-symbolizer-color-picker>

  <hs-symbolizer-slider [symbolizer]="symbolizer" attribute="outlineOpacity" (changes)="emitChange()" step="0.05"
  min="0" max="1" [label]="'STYLER.outlineOpacity' | translateHs "></hs-symbolizer-slider>

  <hs-symbolizer-slider [symbolizer]="symbolizer" attribute="outlineWidth" (changes)="emitChange()" step="0.1" min="0"
  max="20" [label]="'STYLER.outlineWidth' | translateHs  "></hs-symbolizer-slider>

  <div class="d-flex flex-row justify-content-end">
    <div class="p-1 flex-grow-1">{{'STYLER.graphicFill' | translateHs}}:</div>
    <div class="p-1">
      <div class="btn-group">
        <div ngbDropdown class="btn-group d-inline-block" role="group" #graphicFillMenu="ngbDropdown"
          placement="top-right">
          <button class="btn btn-outline-primary btn-sm" id="dropdownAddFillSymbolizer" ngbDropdownToggle>
            <span class="icon-plus"></span>
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownAddFillSymbolizer">
            <button ngbDropdownItem (click)="addSymbolizer('graphicFill', 'Mark'); graphicFillMenu.close()">
              {{'STYLER.mark' | translateHs }}
            </button>
            <button ngbDropdownItem (click)="addSymbolizer('graphicFill', 'Icon'); graphicFillMenu.close()">
              {{'STYLER.icon' | translateHs }}
            </button>
          </div>
        </div>
        @if (symbolizer.graphicFill !== undefined) {
          <button class="btn btn-outline-danger btn-sm"
            (click)="symbolizer.graphicFill = undefined;emitChange()">
            <span class="icon-trash"></span>
          </button>
        }
      </div>
    </div>
  </div>

  @if (symbolizer.graphicFill && symbolizer.graphicFill.kind === kinds.mark) {
    <hs-mark-symbolizer [symbolizer]="symbolizer.graphicFill" [submenu]="true" (changes)="emitChange()"
      >
    </hs-mark-symbolizer>
  }

  @if (symbolizer.graphicFill && symbolizer.graphicFill.kind === kinds.icon) {
    <hs-icon-symbolizer [symbolizer]="symbolizer.graphicFill" [submenu]="true" (changes)="emitChange()"
      >
    </hs-icon-symbolizer>
  }
</form>