<div class="card panel-default mainpanel">
    <hs.layout.panel-header panel-name="sensors" panel-title="'Sensors'||translate"></hs.layout.panel-header>
    <div class="card-body">
        <p><input type="text" class="form-control" placeholder="Filter:" ng-model="query.description"></p>
        <div class="container">
            <div class="row" style="width: 662;">
                <div class="col-9">
                    <ul class="nav flex-column flex-sm-row" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link" ng-class="{'btn-primary': viewMode == 'sensors'}" href="#"
                                aria-controls="context" role="tab" data-toggle="tab" ng-click="setViewMode('sensors')"
                                translate>Sensors
                            </a>
                        </li>
                        <li>
                            <a class="nav-link" ng-class="{'btn-primary': viewMode == 'phenomena'}" href="#"
                                aria-controls="context" role="tab" data-toggle="tab" ng-click="setViewMode('phenomena')"
                                translate>Phenomena
                            </a>
                        </li>
                    </ul><!-- Tab panes -->
                </div>
                <div class="col-3 text-right">
                    <button type="button" class="btn btn-sm" ng-click="toggleExpansion()"><i
                        ng-class="{'icon-calcminus': viewExpanded, 'icon-calcplus': !viewExpanded}"></i>
                    </button>
                </div>
            </div>
        </div>
        <ul class="list-group">
            <li ng-repeat="unit in service.units | filter:query" class="list-group-item">
                <hs.sensors.unit-list-item unit="unit" expanded="viewExpanded" view-mode="viewMode"></hs.sensors.unit-list-item>
            </li>
        </ul>
    </div>
</div>