<div ng-style="dialogStyle()" class="hs-sensor-unit-dialog"
    tabindex="-1" role="dialog"  aria-hidden="true" style="position: absolute;
    bottom: 5px;
    ">
    <div class="modal-dialog modal-lg" style="margin-right: 15px; max-width: 100%; z-index: 4; margin-bottom: 3px;">
        <div class="modal-content">
            <div class="modal-header" style="padding: 0.2rem 0.3rem;">
                <h4 class="modal-title" translate="">
                    Sensor unit {{sensorsService.unit.description}}
                </h4>
                <button type="button" class="close" ng-click="sensorsService.unitDialogVisible = false"
                    data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only"
                        translate="">Close</span></button>
            </div>
            <div class="modal-body" style="max-height:260px; overflow-y:auto" translate>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="hs-chartplace" style="min-width: 400px; min-height:50px"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer"  style="padding: 0.2rem 0.3rem;">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12 col-md-4">
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-default"
                                    ng-class="{'btn-primary': sensorsService.currentInterval == interval}"
                                    ng-click="timeButtonClicked(interval)"
                                    ng-repeat="interval in intervals"
                                    aria-label="1 hour">{{interval.name}}<img ng-src="{{loaderImage}}" ng-show="interval.loading"/></button>
                            </div>
                        </div>
                        <input type="datetime-local" ng-model="customInterval.fromTime" ng-change="customIntervalChanged()">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>