<div [ngStyle]="dialogStyle()" class="hs-sensor-unit-dialog" tabindex="-1" role="dialog" aria-hidden="true" style="position: absolute;
    bottom: 5px;
    ">
    <div class="modal-dialog modal-lg" style="margin-right: 15px; max-width: 100%; z-index: 4; margin-bottom: 3px;">
        <div class="modal-content">
            <div class="modal-header" style="padding: 0.2rem 0.3rem;">
                <h4 class="modal-title">
                    {{'SENSORS.sensorUnit' | translate}} {{HsSensorsUnitDialogService.unit.description}}
                </h4>
                <button type="button" class="close" (click)="close()" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{{'COMMON.close' | translate}}</span></button>
            </div>
            <div class="modal-body" style="max-height: 260px; overflow-y: auto">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="hs-chartplace" style="min-width: 400px; min-height: 50px"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="padding: 0.2rem 0.3rem;">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12 col-md-4">
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-" [ngClass]="{'btn-primary':HsSensorsUnitDialogService.currentInterval == interval}" (click)="timeButtonClicked(interval)" *ngFor="let interval of HsSensorsUnitDialogService.intervals" aria-label="1 hour">{{interval.name}}<img src="{{loaderImage}}" [hidden]="!interval.loading"></button>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4 input-group mb-3">
                            <div class="input-group">
                                <input type="text" ngbDatepicker [placeholder]="'COMMON.from' | translate" #d="ngbDatepicker" [(ngModel)]="customInterval.fromTime" (dateSelect)="customIntervalChanged($event)"/>
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button"><i class="icon-calendarthree"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
