<div class="mb-2">
  <div class="d-flex flex-row justify-content-end">
    <hs-add-filter-button class="w-100" [rule]="rule" (clicks)="add($event.type, false)"></hs-add-filter-button>
  </div>
  @if (hsFiltersService.isLogOp(rule.filter)) {
    <div class="card"><!-- TODO: Remove function call from template -->
      <div class="d-flex flex-row card-header p-0">
        <div class="p-2">
          {{hsFiltersService.humanReadableLogOp(rule.filter[0])}}<!-- TODO: Remove function call from template -->
        </div>
        <hs-add-filter-button (clicks)="add($event.type, true)"></hs-add-filter-button>
        <button class="btn btn-outline-danger btn-sm m-1" [title]="'STYLER.removeFilter' | translateHs"
          (click)="remove()">
          <span class="icon-trash"></span>
        </button>
      </div>
      @for (item of rule.filter; track item; let i = $index) {
        <div class="d-flex flex-row">
          @if (i>0) {
            <hs-filter (changes)="emitChange()" [filter]="item" [parent]="rule.filter"></hs-filter>
          }
        </div>
      }
    </div>
  }
  @if (rule.filter?.length > 0 && !(hsFiltersService.isLogOp(rule.filter))) {
    <hs-comparison-filter
      (changes)="emitChange()" (deleteFilter)="remove()"
    [filter]="rule.filter"></hs-comparison-filter>
    }<!-- TODO: Remove function call from template -->
  </div>