<div class="d-flex justify-content-center flex-column align-items-center m-3">
  <div class="container px-md-5">
    <div class="row justify-content-center gap-1">
      @for (type of types; track type) {
      <button [ngClass]="{'active': type.id === typeSelected }" (click)="selectType(type.id)"
        class="btn btn-outline-secondary rounded btn-sm col-sm-3 flex-grow-1">
        {{hsLanguageService.getTranslationIgnoreNonExisting('ADDLAYERS', type.text, undefined)}}
        <!-- TODO: Remove function call from template -->
      </button>
      }
    </div>
  </div>
  <div class="w-100 pt-3">
    @if (typeSelected === 'geojson') {
    <hs-file-vector [fileType]="typeSelected"></hs-file-vector>
    }
    @if (typeSelected === 'gpx') {
    <hs-file-vector [fileType]="typeSelected"></hs-file-vector>
    }
    @if (typeSelected === 'kml') {
    <hs-file-vector [fileType]="typeSelected"></hs-file-vector>
    }
    @if (typeSelected === 'shp') {
    <hs-file-shp></hs-file-shp>
    }
    @if (typeSelected === 'raster') {
    <hs-file-raster [fileType]="typeSelected"></hs-file-raster>
    }
    @if (typeSelected === 'raster-ts') {
    <hs-file-raster [fileType]="typeSelected"></hs-file-raster>
    }
  </div>
</div>