<form class="form-horizontal" role="form" ng-controller="HsAddLayersShpController as vm">

    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text control-label" translate>Save to</span>
            </div>
            <select class="form-control" ng-model="vm.endpoint">
                <option ng-repeat="endpoint in vm.endpointsService.endpoints | forShapeFileUpload" ng-value="endpoint">{{endpoint.title}}</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="capabilities_label control-label" translate>Shape file (shp+dbf+shx)</label>
        <input name="file" type="file" fileread="vm.files" multiple>
    </div>

    <div class="form-group">
        <label class="capabilities_label control-label" translate>Name</label>
        <input class="form-control" ng-model="vm.name"/>
    </div>

    <div class="form-group">
        <label class="capabilities_label control-label" translate>Title</label>
        <input class="form-control" ng-model="vm.title"/>
    </div>

    <div class="form-group">
        <label class="capabilities_label control-label" translate>Abstract</label>
        <textarea class="form-control" id='hs-ows-abstract' placeholder="{{'Fill in descriptive text about map'|translate}}" ng-model="vm.abstract">
        </textarea>
    </div>

    <div class="form-group">
        <label class="capabilities_label control-label" translate>SLD style file</label>
        <input name="file" type="file" fileread="vm.sld">
    </div>

    <button type="button" class="btn btn-block btn-outline-secondary dropdown-toggle dropdown-toggle-split"  data-toggle="collapse" ng-click="vm.advancedPanelVisible = !vm.advancedPanelVisible" data-target=".hs-ows-shp-advanced" translate>
        Advanced options
    </button>

    <div class="collapse hs-ows-shp-advanced" ng-class="{'show': vm.advancedPanelVisible}">
        <div class="form-group">
            <label class="capabilities_label control-label">SRS</label>
            <input class="form-control" ng-model="vm.srs"/>
        </div>

        <div class="form-group">
            <label class="capabilities_label control-label" translate>Folder name</label>
            <input class="form-control" ng-model="vm.folder_name"/>
        </div>
    </div>

    <button class="btn btn-primary btn-block" ng-disabled="!vm.title" ng-click="vm.add()"><i class="icon-plus" ng-show="!vm.loading"></i><img ng-src="{{vm.loaderImage}}" ng-show="vm.loading" /> <translate>Add</translate></button>


    <div class="alert alert-danger" ng-show="vm.resultCode == 'error'">
        <div translate class="alert alert-danger">{{vm.errorMessage}}</div>
        <dl ng-repeat="(key, value) in vm.errorDetails">
            <dt>{{key}} </dt>
            <dd hs.widgets.object-directive></dd>
        </dl>
    </div>
</form>
