<div class="hs-sidebar-list list-group">
    <a href="#" class="hs-sidebar-item list-group-item" ng-if="layoutService.sidebarToggleable" ng-click="toggleSidebar()">
        <i class="menu-icon"
            ng-class="layoutService.sidebarExpanded ? (!layoutService.sidebarRight ? 'icon-chevron-left' : 'icon-chevron-right') : (!layoutService.sidebarRight ? 'icon-chevron-right' : 'icon-chevron-left')"></i>
    </a>

    <a href="#" ng-repeat="button in sidebarService.buttons | orderBy:'order'" class="hs-sidebar-item list-group-item"
        ng-show="button.visible && visibilityByImportancy(button)" ng-click="setMainPanel(button.panel)"
        ng-class="{active: layoutService.mainpanel == button.panel, 'hs-panel-hidden': fitsSidebar(button.panel)}" title="{{button.description | translate}}">

        <i ng-if="::button.icon" class="menu-icon {{button.icon}}" data-toggle="tooltip" data-container="body"
            data-placement="auto"></i>
        <span ng-if="::button.content" data-toggle="tooltip" data-container="body" data-placement="auto" class=""
            title="{{'button.description'}}">{{button.content()}}</span>
        <span class="hs-sidebar-item-title" >{{button.title | translate}}</span>
    </a>

    <a href="#" class="hs-sidebar-item  list-group-item" ng-if="sidebarService.unimportantExist && !layoutService.sidebarBottom()" ng-click="toggleUnimportant()">
        <i class="menu-icon" ng-class="{'icon-minus': showUnimportant, 'icon-plus': !showUnimportant}" data-toggle="tooltip" data-container="body" data-placement="auto"
            title="{{'Expand/collapse' | translate}}"></i>
    </a>

    <a href="#" class="hs-sidebar-item  list-group-item"
        ng-if="HsCore.exists('hs.sidebar') && layoutService.minisidebar" ng-click="setMainPanel('sidebar')"
        ng-class="{active: layoutService.mainpanel == 'sidebar'}">
        <i class="menu-icon icon-equals" data-toggle="tooltip" data-container="body" data-placement="auto"
            title="Menu"></i>
    </a>
    <hs.impressum class="mt-auto"></hs.impressum>
</div>