    <ul class="sidebar-list">
        <li class="sidebar-main" ng-if="Core.sidebarToggleable">
            <a ng-click="toggleSidebar()">
                <span class="menu-icon glyphicon glyphicon-transfer"></span>
              </a>
        </li>
        <div class="sidebar-content">
                <li class="sidebar-item" ng-if="Core.exists('hs.layermanager.controller')" ng-click="setMainPanel('layermanager')" ng-class="{active: Core.mainpanel == 'layermanager'}">
                    <a href="#">
                        <span class="menu-icon glyphicon icon-layers" data-toggle="tooltip" data-placement="bottom" title="Manage your layers in composition"></span>
                        <span class="sidebar-item-title">Layer Manager</span>
                    </a>
                </li>
                <li class="sidebar-item" ng-if="Core.exists('hs.legend.controller')" ng-click="setMainPanel('legend')" ng-class="{active: Core.mainpanel == 'legend'}">
                    <a href="#">
                        <span class="menu-icon glyphicon legend-toolbtn">L</span>
                        <span class="sidebar-item-title">Legend</span>
                    </a>
                </li>

                <li class="sidebar-item" ng-if="Core.exists('hs.datasource_selector.controller')" ng-click="setMainPanel('datasource_selector')" ng-class="{active: Core.mainpanel == 'datasource_selector'}">
                    <a href="#">
                        <span class="menu-icon glyphicon icon-database" data-toggle="tooltip" data-placement="bottom" title="Select data or services for your map composition"></span>
                        <span class="sidebar-item-title">Datasource Selector</span>
                    </a>
                </li>

                <li class="sidebar-item" ng-if="Core.exists('hs.compositions.controller')" ng-click="setMainPanel('composition_browser')" ng-class="{active: Core.mainpanel == 'composition_browser'}">
                    <a href="#">
                        <span class="menu-icon glyphicon icon-map" data-toggle="tooltip" data-placement="bottom" title="List available compositions"></span>
                        <span class="sidebar-item-title">Compositions</span>
                    </a>
                </li>

                <li class="sidebar-item" ng-if="Core.exists('hs.ows.controller')" ng-click="setMainPanel('ows')" ng-class="{active: Core.mainpanel == 'ows'}">
                    <a href="#">
                        <span class="menu-icon glyphicon glyphicon-plus" data-toggle="tooltip" data-placement="bottom" title="Add service or dataset"></span>
                        <span class="sidebar-item-title">Add service or dataset</span>
                    </a>
                </li>

                <li class="sidebar-item" ng-if="Core.exists('hs.feature_crossfilter.controller')" ng-click="setMainPanel('feature_crossfilter')" ng-class="{active: Core.mainpanel == 'feature_crossfilter'}">
                    <a href="#">
                        <span class="menu-icon glyphicon icon-analytics-piechare" data-toggle="tooltip" data-placement="bottom" title="Crossfilter"></span>
                        <span class="sidebar-item-title">Filter features</span>
                    </a>
                </li>

                <li class="sidebar-item" ng-if="(Core.exists('hs.measure.controller') && !Core.exists('hs.toolbar.controller'))" ng-click="setMainPanel('measure')" ng-class="{active: Core.mainpanel == 'measure'}">
                    <a href="#">
                        <span class="menu-icon glyphicon icon-design" data-toggle="tooltip" data-placement="bottom" title="Measure distance or area at map"></span>
                        <span class="sidebar-item-title">Measurements</span>
                    </a>
                </li>

                <li class="sidebar-item" ng-if="Core.exists('hs.lodexplorer.controller')" ng-click="setMainPanel('lodexplorer')" ng-class="{active: Core.mainpanel == 'lodexplorer'}">
                    <a href="#">
                        <span class="menu-icon glyphicon icon-sharedhosting"></span>
                        <span class="sidebar-item-title">Eurostat explorer</span>
                    </a>
                </li>
                
                <li class="sidebar-item" ng-if="Core.exists('hs.styler.controller')" ng-click="setMainPanel('styler')" ng-class="{active: Core.mainpanel == 'styler'}">
                    <a href="#">
                        <span class="menu-icon glyphicon icon-brush"></span>
                        <span class="sidebar-item-title">Style vector layer</span>
                    </a>
                </li>

                <li class="sidebar-item" ng-if="Core.exists('hs.print.controller')" ng-click="setMainPanel('print')" ng-class="{active: Core.mainpanel == 'print'}">
                    <a href="#">
                        <span class="menu-icon glyphicon icon-print" data-toggle="tooltip" data-placement="bottom" title="Print map"></span>
                        <span class="sidebar-item-title">Print</span>
                    </a>
                </li>

                <li class="sidebar-item" ng-if="Core.exists('hs.status_creator.controller')" ng-click="Core.openStatusCreator()">
                    <a href="#">
                        <span class="menu-icon glyphicon icon-save-floppy" data-toggle="tooltip" data-placement="bottom" title="Save content of map to composition"></span>
                        <span class="sidebar-item-title">Save composition</span>
                    </a>
                </li>
        </div>
    </ul>
