<div class="p-1">
  <div ngbDropdown class="d-inline-block">
    <button class="btn btn-outline-primary btn-sm" [title]="'STYLER.addFilter' | translateHs : {app} " id="dropdownAddFilter"
      ngbDropdownToggle>
      <span class="icon-plus"></span>
    </button>
    <div ngbDropdownMenu aria-labelledby="dropdownAddFilter">
      <button ngbDropdownItem (click)="emitClick('AND')">
        {{'STYLER.andFilter' | translateHs : {app} }}
      </button>
      <button ngbDropdownItem (click)="emitClick('OR')">
        {{'STYLER.orFilter' | translateHs : {app} }}
      </button>
      <button ngbDropdownItem (click)="emitClick('NOT')">
        {{'STYLER.notFilter' | translateHs : {app} }}
      </button>
      <button ngbDropdownItem (click)="emitClick('COMPARE')">
        {{'STYLER.comparisonFilter' | translateHs : {app} }}
      </button>
    </div>
  </div>
</div>