<div>
  <div class="d-flex flex-row justify-content-end">
    <hs-add-filter-button
      (clicks)="add($event.kind, false)"
    ></hs-add-filter-button>
  </div>
  <div *ngIf="HsFiltersService.isLogOp(rule.filter)" class="card">
    <div class="d-flex flex-row card-header p-0">
      <div class="p-2">
        {{HsFiltersService.humanReadableLogOp(rule.filter[0])}}
      </div>
      <hs-add-filter-button
        (clicks)="add($event.kind, true)"
      ></hs-add-filter-button>
      <button
        class="btn btn-outline-danger btn-sm m-1"
        [title]="'STYLER.removeFilter'"
        (click)="remove()"
      >
        <span class="icon-trash"></span>
      </button>
    </div>
    <div
      class="d-flex flex-row"
      *ngFor="let item of rule.filter; let i = index"
    >
      <hs-filter
        (changes)="emitChange()"
        *ngIf="i>0"
        [filter]="item"
        [parent]="rule.filter"
      ></hs-filter>
    </div>
  </div>
  <hs-comparison-filter
    *ngIf="rule.filter?.length > 0 && !(HsFiltersService.isLogOp(rule.filter))"
    [filter]="rule.filter"
  ></hs-comparison-filter>
</div>
