<form class="form-horizontal m-3" role="form">

    <!-- <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text control-label">{{'COMMON.saveTo' | translate}}</span>
            </div>
            <select class="form-control" name="endpoint" [(ngModel)]="endpoint">
                <option *ngFor="let endpoint of hsCommonEndpointsService.endpoints | endpointsWithDatasources:'layman':'inclusive'"
                    [ngValue]="endpoint">{{endpoint.title}}</option>
            </select>
        </div>
    </div> -->

    <!-- <div class="form-group">
        <label class="capabilities_label control-label">{{'ADDLAYERS.SHP.shapeFile' | translate}} </label>
        <input name="file" type="file" (change)="read($event)" id="shpdbfshx" multiple>
    </div> -->
    <div class="form-group">
        <div class="d-flex justify-content-center align-items-center w-100 dropzone-container">
            <div class="dropzone p-4" fileDrop (filesDropped)="read($event)" (filesHovered)="dropZoneState($event)" [ngClass]="{'active': dropzoneActive}">
                    <p class="dropzone-label mt-2 text-primary">{{'ADDLAYERS.Vector.dragAndDropFiles' | translate}}</p>
            </div>
            <p class="px-5">{{'COMMON.or' | translate}}</p>
            <label class="dropzone-label">
                <input name="file" type="file" class="inputfile" (change)="read($event)" id="shpdbfshx" multiple>
                <label for="shpdbfshx" class="p-2 rounded"> <i class="icon-uploadalt pr-2"></i>{{'ADDLAYERS.Vector.chooseFiles' | translate}}</label>
            </label> 

        </div>
        <!-- TODO: Replace this with upcomming toast directive -->
        <div class="text-light text-center bg-danger" *ngIf="errorOccured">
            <p>{{'ADDLAYERS.couldNotUploadSelectedFile' | translate}}</p>
        </div>
    </div>

    <div [hidden]="!showDetails"> 
        <div class="d-flex flex-row justify-content-around">
            <div class="d-flex flex-column justify-content-center">
                <p class="p-2 bg-success rounded" style="color: white;"> {{files.length}} files selected</p>
            </div>
            <div class="d-flex flex-column mw-75">
                <p *ngFor="let file of files">{{file.name}}</p>
            </div>
        </div>

        <div class="form-group">
            <label class="capabilities_label control-label">{{'COMMON.name' | translate}}</label>
            <input class="form-control" name="name" [(ngModel)]="name" />
        </div>
    
        <div class="form-group">
            <label class="capabilities_label control-label">{{'COMMON.title' | translate}}</label>
            <input class="form-control" name="title" [(ngModel)]="title" />
        </div>
    
        <div class="form-group">
            <label class="capabilities_label control-label">{{'COMMON.abstract' | translate}}</label>
            <textarea class="form-control" id='hs-ows-abstract' name="abstract"
                [placeholder]="'COMMON.fillInDescriptive'| translate" [(ngModel)]="abstract">
            </textarea>
        </div>
    
        <div class="form-group">
            <label class="capabilities_label control-label">{{'ADDLAYERS.SHP.SLDStyleFile' | translate}} </label>
            <input name="file" type="file" (change)="read($event)" id="sld">
        </div>
    
        <button type="button" class="btn btn-block btn-outline-secondary dropdown-toggle dropdown-toggle-split"
            (click)="advancedPanelVisible = !advancedPanelVisible">
            {{'COMMON.advancedOptions' | translate}}
        </button>
    
        <div class="collapse hs-ows-shp-advanced" *ngIf="advancedPanelVisible">
            <div class="form-group">
                <label class="capabilities_label control-label">{{'ADDLAYERS.srs' | translate}}</label>
                <input class="form-control" name="srs" [(ngModel)]="srs" />
            </div>
    
            <div class="form-group">
                <label class="capabilities_label control-label">{{'ADDLAYERS.folderName' | translate}}</label>
                <input class="form-control" name="folderName" [(ngModel)]="folder_name" />
            </div>
        </div>
    
        <button class="btn btn-primary btn-block" [disabled]="!title" (click)="add()"><i class="icon-plus"
                [hidden]="loading"></i><img [src]="hsUtilsService.getAjaxLoaderIcon()" [hidden]="!loading" />
            {{'COMMON.add' | translate}}
        </button>
    </div>

    <div class="alert alert-danger" [hidden]="resultCode != 'error'">
        <div class="alert alert-danger">{{errorMessage}}</div>
        <dl *ngFor="let item of errorDetails">
            <dt>{{item}}</dt>
            <!-- <hs-widgets-recursive-dd [value]="item.value"></hs-widgets-recursive-dd> -->
        </dl>
    </div>
</form>
