<form class="form-horizontal m-3" role="form">
    <!-- <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text control-label">{{'COMMON.saveTo' | translate}}</span>
            </div>
            <select class="form-control" name="endpoint" [(ngModel)]="endpoint">
                <option *ngFor="let endpoint of hsCommonEndpointsService.endpoints | endpointsWithDatasources:'layman':'inclusive'"
                    [ngValue]="endpoint">{{endpoint.title}}</option>
            </select>
        </div>
    </div> -->

    <!-- <div class="form-group">
        <label class="capabilities_label control-label">{{'ADDLAYERS.SHP.shapeFile' | translate}} </label>
        <input name="file" type="file" (change)="read($event)" id="shpdbfshx" multiple>
    </div> -->
    <div class="form-group justify-content-center">
        <hs-file-upload (uploaded)="read($event)" acceptedFormats=".shp, .shx, .dbf, .sbn" uploader="shpdbfshx">
        </hs-file-upload>
        <!-- TODO: Replace this with upcomming toast directive -->
        <div class="text-light text-center bg-danger" *ngIf="data.errorOccurred">
            <p>{{'ADDLAYERS.couldNotUploadSelectedFile' | translate}}</p>
        </div>
    </div>

    <div *ngIf="data.showDetails">
        <div class="d-flex flex-row justify-content-around">
            <div class="d-flex flex-column justify-content-center">
                <p class="p-2 bg-success rounded" style="color: white;"> {{data.files.length}} files selected</p>
            </div>
            <div class="d-flex flex-column mw-75">
                <p *ngFor="let file of data.files">{{file.name}}</p>
            </div>
        </div>

        <hs-new-layer-form [data]="data"></hs-new-layer-form>

        <button *ngIf="isAuthorized()" class="btn btn-primary btn-block" [disabled]="!data.name" (click)="add()"
            title="{{addShpTooltip()}}">
            <i class="icon-plus" [hidden]="loading"></i>
            <img [src]="hsUtilsService.getAjaxLoaderIcon()" [hidden]="!loading" />
            {{loadingText()}}
            <ngb-progressbar *ngIf="loading && hsAddDataFileShpService.asyncLoading" showValue="true"
                class="rounded-0 mb-1" type="secondary" [max]="1" [value]="hsLaymanService.totalProgress">
            </ngb-progressbar>
        </button>

        <div *ngIf="!isAuthorized()" class="alert alert-warning d-flex align-items-center mt-2 justify-content-between">
            <p class="m-0"> {{'ADDLAYERS.SHP.loginRequired' | translate}}</p>
            <hs-layman-current-user [endpoint]="hsLaymanService.getLaymanEndpoint()"></hs-layman-current-user>
        </div>
    </div>
    <div class="alert alert-danger mt-1" [hidden]="data.resultCode !== 'error'">
        <div class="alert alert-danger">{{data.errorMessage}}</div>
        <dl *ngFor="let item of data.errorDetails">
            <dt>{{item}}</dt>
            <!-- <hs-widgets-recursive-dd [value]="item.value"></hs-widgets-recursive-dd> -->
        </dl>
    </div>
</form>