@if (isVisible$ | async) {
  <div class="card hs-main-panel" [ngClass]="panelWidthClass">
    <hs-panel-header name="language" [panelTabs]="'LANGUAGE'">
    </hs-panel-header>
    <div class="card-body">
      <ul class="m-3 list-group m-auto w-75 py-md-2">
        @for (lang of available_languages; track lang) {
          <button class="btn m-2 m-md-1 p-4 p-md-2"
            [ngClass]="isCurrentLang(lang.key) ? ' btn-primary' : ' btn-secondary'"
          (click)="setLanguage(lang.key)">{{lang.name}}</button>
          }<!-- TODO: Remove function call from template -->
        </ul>
      </div>
    </div>
  }