<div class="card hs-main-panel" [hidden]="!isVisible()">
  <div class="card-header d-flex align-items-center justify-content-between">
    <span class="panel-title">
      {{'LAYERMANAGER.layerEditor.styleLayer' | translate}}
      {{hsStylerService.layerTitle}}
    </span>
    <button type="button" class="btn-close" (click)="layermanager()" [title]="'COMMON.close' | translate"
      attr.aria-label="{{'COMMON.close' | translate}}">
    </button>
  </div>
  <div class="card-body">
    <input class="form-control" *ngIf="hsStylerService.styleObject" type="text" placeholder="Style name"
      [(ngModel)]="hsStylerService.styleObject.name" />
    <div class="d-flex flex-row justify-content-end">
      <div class="p-1 flex-grow-1">{{'STYLER.rules' | translate}}:</div>
      <div class="p-1">
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-outline-primary btn-sm" [title]="'STYLER.addRule' | translate" id="dropdownAddRule"
            ngbDropdownToggle>
            <span class="icon-plus"></span>
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownAddRule">
            <button ngbDropdownItem (click)="hsStylerService.addRule('Simple')">
              {{'STYLER.simpleRule' | translate}}
            </button>
            <button ngbDropdownItem (click)="hsStylerService.addRule('Cluster')">
              {{'STYLER.clusterRule' | translate}}
            </button>
          </div>
        </div>
      </div>
    </div>
    <ng-container *ngIf="hsStylerService.styleObject">
      <ul class="list-group hs-styler-content-list" cdkDropList (cdkDropListDropped)="drop($event)"
        [cdkDropListData]="hsStylerService.styleObject.rules">
        <ng-container *ngFor="let rule of hsStylerService.styleObject.rules">
          <hs-rule-list-item cdkDrag [rule]="rule"></hs-rule-list-item>
        </ng-container>
      </ul>
    </ng-container>
  </div>
  <div class="card-footer">
    <div class="form-group m-3" *ngIf="uploaderVisible">
      <hs-file-upload (uploaded)="handleFileUpload($event)" uploader="hs-sld-upload" acceptedFormats=".sld">
      </hs-file-upload>
    </div>
    <div class="btn-group" role="group" [attr.aria-label]="'STYLER.manageStyle' | translate">
      <a class="btn btn-secondary" download="style.sld" [hsDownload]="hsStylerService.sld" mimeType="text/plain"
        [href]="downloadData" (downloadPrepared)="downloadData = $event" [title]="'STYLER.downloadSld' | translate">
        <i class="icon-download"></i></a>

      <button class="btn btn-secondary" (click)="uploadSld()" data-toggle="tooltip"
        [title]="'STYLER.uploadSld' | translate">
        <i class="icon-upload"></i>
      </button>
      <button class="btn btn-danger" (click)="clear()" data-toggle="tooltip" [title]="'STYLER.clear' | translate">
        <i class="icon-trash"></i>
      </button>
    </div>
  </div>
</div>
