/************/
/** STYLER **/
/************/

.cdk-drag-preview {
  box-sizing: content-box;
  border-radius: 0;
  background-color: rgba(185, 185, 185, 0.75);
  border: 1px solid rgba(185, 185, 185, 1);
  overflow: hidden;
  display: flex;
  align-items: center;
  color: black;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 125ms cubic-bezier(0, 0, 0.2, 1);
}

.list-group.hs-styler-content-list.cdk-drop-list-dragging hs-rule-list-item:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.list-group.hs-styler-content-list.cdk-drop-list-dragging hs-symbolizer-list-item:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

ul.hs-styler-content-list {
  margin-top: 0;
  margin-bottom: 0;
  border-bottom: 1px solid white;
}

li.list-group-item {
  padding: 0.3em;

  .hs-list-item-header {
    width: 100%;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0;

    .btn-danger {
      margin-right: 1rem;
    }
  }
}

li.list-group-item.hs-list-item-header span.glyphicon {
  font-size: 0.7rem;
}

li.list-group-item.hs-list-item-header:hover {
  background-color: rgba(185, 185, 185, 0.75);
}

.card-footer {
  position: sticky;
  bottom: 0;
}
