<div class="card hs-main-panel" [hidden]="(isVisible$ | async) === false">
  <div class="card-header d-flex align-items-center justify-content-between">
    <span class="panel-title">
      {{'LAYERMANAGER.layerEditor.styleLayer' | translateHs : {app: data.app} }}
      {{appRef.layerTitle}}
    </span>
    <button type="button" class="btn-close" (click)="close()" [title]="'COMMON.close' | translateHs : data"
      [attr.aria-label]="'COMMON.close' | translateHs : {app: data.app} ">
    </button>
  </div>
  <div class="card-body pe-2">
    <input class="form-control" *ngIf="appRef.styleObject" type="text"
      [placeholder]="'STYLER.styleName' | translateHs : data" [(ngModel)]="appRef.styleObject.name" />
    <div class="d-flex flex-row justify-content-end">
      <div class="p-1 flex-grow-1">{{'STYLER.rules' | translateHs : {app: data.app} }}:</div>
      <div class="p-1">
        <div ngbDropdown class="d-inline-block" display="dynamic" placement="bottom-right">
          <button class="btn btn-outline-primary btn-sm" [title]="'STYLER.addRule' | translateHs : data"
            id="dropdownAddRule" ngbDropdownToggle>
            <span class="icon-plus"></span>
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownAddRule">
            <button ngbDropdownItem (click)="hsStylerService.addRule('Simple',data.app)">
              {{'STYLER.simpleRule' | translateHs : {app: data.app} }}
            </button>
            <button ngbDropdownItem (click)="hsStylerService.addRule('Cluster',data.app)">
              {{'STYLER.clusterRule' | translateHs : {app: data.app} }}
            </button>
            <button ngbDropdownItem (click)="appRef.colorMapDialogVisible = !appRef.colorMapDialogVisible">
              {{'STYLER.colorMap' | translateHs : {app: data.app} }}
            </button>
          </div>
        </div>
      </div>
    </div>
    <add-colormap [layer]="appRef.layer" [data]="data" (canceled)="appRef.colorMapDialogVisible = false"
      *ngIf="appRef.colorMapDialogVisible"></add-colormap>
    <ng-container *ngIf="appRef.styleObject">
      <ul class="list-group hs-styler-content-list" cdkDropList (cdkDropListDropped)="drop($event)"
        [cdkDropListData]="appRef.styleObject.rules">
        <ng-container *ngFor="let rule of appRef.styleObject.rules">
          <hs-rule-list-item cdkDrag [rule]="rule" [app]="data.app"></hs-rule-list-item>
        </ng-container>
      </ul>
    </ng-container>
  </div>
  <div class="card-footer bg-white px-1">
    <div class="form-group m-3" *ngIf="uploaderVisible">
      <hs-file-upload (uploaded)="handleFileUpload($event)" [app]="data.app" uploader="hs-sld-upload"
        acceptedFormats=".sld, .qml">
      </hs-file-upload>
    </div>
    <div class="d-flex align-items-center justify-content-between">
      <div class="btn-group" role="group" [attr.aria-label]="'STYLER.manageStyle' | translateHs : data">
        <a class="btn btn-secondary" download="style.sld" [hsDownload]="appRef.sld" mimeType="text/plain"
          [href]="downloadData" (downloadPrepared)="downloadData = $event"
          [title]="'STYLER.downloadSld' | translateHs : data">
          <i class="icon-download"></i></a>

        <button class="btn btn-secondary" (click)="uploadSld()" data-toggle="tooltip"
          [title]="'STYLER.uploadSld' | translateHs : data">
          <i class="icon-upload"></i>
        </button>
        <button class="btn btn-danger" (click)="clear()" data-toggle="tooltip"
          [title]="'STYLER.clear' | translateHs : data">
          <i class="icon-trash"></i>
        </button>
      </div>
      <div class="d-flex justify-content-between" *ngIf="appRef.isAuthenticated && appRef
      .unsavedChange">
        <div class="alert alert-danger p-1 m-0" role="alert">
          {{'COMMON.unsavedChanges' | translateHs : {app: data.app} }} <button class="btn btn-primary"
            (click)="hsStylerService.setSldQml(data.app)" data-toggle="tooltip"
            [title]="'STYLER.unsavedChanges' | translateHs : data">
            <i class="icon-save-floppy"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
