<form class="form-horizontal pt-1" name="frmConnect" role="form">
    <hs-add-layers-url type="wfs" [(url)]="url" [(connect)]="connect"></hs-add-layers-url>
    <div [hidden]="!showDetails" class="card">

        <!-- FIXME: unused --><div class="card-title text-center font-weight-bold">{{title}}</div>
        <div class="form-group">
            <label class="capabilities_label col-sm-4 control-label">{{'ADDLAYERS.folderName' | translate}}</label>
            <div class="capabilities_input col-sm-8">
                <input class="form-control" [(ngModel)]="folderName" [ngModelOptions]="{standalone: true}" />
            </div>
        </div>
        <hr />
        <ul class="list-group">
            <li *ngFor="let layer of HsAddLayersWfsService.services" class="list-group-item py-2 clearfix">
                <div>
                    <input type="checkbox" [(ngModel)]="layer.checked" name="checkedLayer"
                        (change)="changed()" /> {{layer.Title}}
                </div>
                <div class="alert alert-primary d-flex" role="alert" *ngIf="layer.featureCount > 1000 && layer.checked">
                    <div class="w-100">
                        <p class="mb-0" [hidden]="!layer.limitFeatureCount">{{'ADDLAYERS.WFS.selectedLayerContains' | translate}}
                            {{layer.featureCount}} {{'ADDLAYERS.WFS.loadingToManyAtOnce' | translate}}
                        </p>
                    </div>
                </div>
            </li>
            <li class="list-group-item hs-ows-layerlistheading clearfix">
                <div class="d-flex justify-content-center">
                    <div class="d-flex justify-content-between w-100" >
                        <button class="btn btn-primary" (click)="selectAllLayers(HsAddLayersWfsService.services)">{{'ADDLAYERS.selectAllLayers' | translate}}</button>
                        <button class="btn btn-primary pull-right" (click)="addLayers(true)" [title]="'ADDLAYERS.WFS.addToMap' | translate"
                            [disabled]="!isChecked"><i class="icon-plus"></i></button>
                    </div>
                    <button *ngIf="loadingFeatures" class="btn btn-primary btn-block w-75">{{'ADDLAYERS.loadingFeaturePleaseWait' | translate}}<img class="ml-2" [src]="hsUtilsService.getAjaxLoaderIcon()" /></button>
                </div>
            </li>

        </ul>
    </div>
</form>
