@let currLayer = currentLayer();
<div class="card panel-default">
  @if (currLayer) {
  <div class="card-body">
    <!-- Sublayers-->
    <div [hidden]="!currLayer.sublayers" class="form-group">
      @for (subLayer of getSubLayers(); track subLayer) {
      <div>
        <hs-layer-editor-sub-layer-checkbox [subLayer]="subLayer">
        </hs-layer-editor-sub-layer-checkbox>
      </div>
      }
    </div>
    @if (currLayer.settings) {
    <div>
      <form>
        <hs-panel-container [service]="hsWidgetContainerService" (init)="createWidgets()">
        </hs-panel-container>
      </form>
      @if (currLayer.visible && getBase(currLayer.layer)) {
      <div class="btn-group m-auto d-flex w-75">
        <button class="btn btn-sm btn-outline-primary  w-50"
          (click)="HsLayerManagerService.setGreyscale(currLayer)"
          [ngClass]="{'active' : !getGreyscale(currLayer.layer)}" data-toggle="tooltip"
          [title]="'LAYERMANAGER.layerEditor.zoomToLayer' | translateHs  ">{{'COMMON.color' |
          translateHs }}</button>
        <button class="btn btn-sm btn-outline-primary  w-50"
          (click)="HsLayerManagerService.setGreyscale(currLayer)"
          [ngClass]="{'active' : getGreyscale(currLayer.layer)}" data-toggle="tooltip"
          [title]="'LAYERMANAGER.layerEditor.styleLayer' | translateHs  ">{{'LAYERMANAGER.baseMapGallery.greyscale'
          | translateHs }}</button>
      </div>
      }
    </div>
    }
  </div>
  }
  @if (currLayer?.settings) {
  <div class="card-footer">
    <div class="form-group" [hidden]="!layer_renamer_visible()">
      <label>{{'COMMON.title' | translateHs }}</label>
      <div class="input-group">
        <input type="text" class="form-control" [(ngModel)]="layerTitle" name="title">
        <button [hidden]="!titleUnsaved()" (click)="saveTitle()" class="btn btn-outline-secondary" type="button"><i
            class="icon-save-floppy"></i></button>
      </div>
    </div>
    <div class="btn-group" role="group" [attr.aria-label]="'LAYERMANAGER.editorButtons' | translateHs  ">
      <button class="btn btn-primary" (click)="zoomToLayer()" [disabled]="!layerIsZoomable()" data-toggle="tooltip"
        [title]="'LAYERMANAGER.layerEditor.zoomToLayer' | translateHs  ">
        <i class="icon-search"></i>
      </button>
      @if (wfsFilterEnabled()) {
      <button class="btn btn-primary" (click)="openWfsFilter()" data-toggle="tooltip"
        [title]="'SIDEBAR.descriptions.WFS_FILTER' | translateHs  ">
        <i class="icon-filter"></i>
      </button>
      }
      <button class="btn btn-primary" (click)="styleLayer()" [disabled]="!layerIsStyleable()" data-toggle="tooltip"
        [title]="'LAYERMANAGER.layerEditor.styleLayer' | translateHs  "><i class="icon-brush"></i></button>
      <button class="btn btn-primary" (click)="toggleLayerRename()" data-toggle="tooltip"
        [title]="'COMMON.renameLayer' | translateHs  "><i class="icon-textfield"></i></button>
      @if (isVectorLayer()) {
      <button class="btn btn-primary" (click)="createSaveDialog()" data-toggle="tooltip"
        [title]="'LAYERMANAGER.layerEditor.savegeojson' | translateHs  ">
        <i class="icon-save-floppy"></i>
      </button>
      }
      <button class="btn btn-primary" (click)="copyLayer()" data-toggle="tooltip"
        [title]="'COMMON.copyLayer' | translateHs  "><i class="icon-copy"></i></button>
      @if (isLayerRemovable()) {
      <button class="btn btn-danger" (click)="removeLayer()" data-toggle="tooltip"
        [title]="'COMMON.removeLayer' | translateHs  "><i class="icon-trash"></i></button>
      }

    </div>
  </div>
  }

</div>
