<div class="modal hs-status-creator-save-dialog in" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    {{'SAVECOMPOSITION.dialogSave.saveComposition' | translateHs : data}}
                </h4>
                <button type="button" (click)="close()" class="btn-close" data-dismiss="modal"
                    attr.aria-label="{{'COMMON.close' | translateHs : data}}"></button>
            </div>
            <div class="modal-body" style="max-height: 600px; overflow-y: auto; text-align: center; font-size: 16px">
                <div>
                    {{'SAVECOMPOSITION.dialogSave.areYouAttempting' | translateHs : data}}
                </div>
                <div>
                    <b>{{appRef.compoData.title}}</b>
                </div>
                <div
                    *ngIf="!appRef.statusData?.titleFree && appRef.statusData?.hasPermission && !appRef.statusData?.changeTitle">
                    <div>
                        {{'SAVECOMPOSITION.dialogSave.wantToOverwrite' | translateHs : data}}
                        <b>{{appRef.compoData.title}}</b>
                    </div>
                    <p>
                        <button type="button" class="btn btn-secondary btn-lg" data-dismiss="modal"
                            (click)="save(false)">{{'SAVECOMPOSITION.dialogSave.yesSave'
                            | translateHs : data}}</button>
                    </p>
                    <p>
                        <button type="button" class="btn btn-secondary btn-lg"
                            (click)="selectNewTitle()">{{'SAVECOMPOSITION.dialogSave.noSaveAs'
                            | translateHs : data}}</button>
                    </p>
                </div>

                <div
                    *ngIf="!appRef.statusData?.titleFree && appRef.statusData?.hasPermission && appRef.statusData?.changeTitle">
                    <div>{{'SAVECOMPOSITION.dialogSave.selectNewNameForMap' | translateHs : data}}</div>
                    <p>
                        <input type="text" class="form-control hs-stc-title" [(ngModel)]="appRef.compoData.title">
                    </p>
                    <p>
                        <button type="button" class="btn btn-secondary btn-lg" data-dismiss="modal"
                            (click)="save(true); close()">{{'COMMON.save'
                            | translateHs : data}}</button>
                    </p>
                </div>

                <div *ngIf="!appRef.statusData?.titleFree || !appRef.statusData?.hasPermission">
                    <div>
                        <p *ngIf="!appRef.statusData?.hasPermission">{{'SAVECOMPOSITION.dialogSave.youDoNotHave' |
                            translateHs : data}}
                        </p>
                        <p *ngIf="!appRef.statusData?.titleFree">{{'SAVECOMPOSITION.dialogSave.useDifferentName' |
                            translateHs : data}}
                        </p>
                    </div>
                    <p>
                        <button type="button" class="btn btn-secondary btn-lg" data-dismiss="modal"
                            (click)="focusTitle()">{{'COMMON.ok' |
                            translateHs : data}}</button>
                    </p>
                </div>

            </div>
        </div>
    </div>
</div>