<md-dialog>
        <form>
          <md-toolbar>
            <div class="md-toolbar-tools">
              <h2><translate>Delete composition {{compositionToDelete.title}}</translate></h2>
              <span flex></span>
              <md-button class="md-icon-button" ng-click="closeDialog()">
                <md-icon>close</md-icon>
              </md-button>
            </div>
          </md-toolbar>
          <md-dialog-content layout-padding layout="column" style="max-width:800px;max-height:810px; ">
            <p class="md-body-2" translate>
                Do you want to delete map {{compositionToDelete.title}}
            </p>
          </md-dialog-content>
      
          <md-dialog-actions layout="row">
            <span flex></span>
                <md-button class="md-warn md-raised" ng-click="delete(compositionToDelete);closeDialog();">
                    <translate>Remove</translate>
                </md-button>
                <md-button ng-click="closeDialog()">
                    <translate>Cancel</translate>
                </md-button>
          </md-dialog-actions>
        </form>
      </md-dialog>