<md-content layout="column" style="max-height:100%;">

    <md-toolbar class="md-hue-3" flex="none">
        <h1 class="md-toolbar-tools" ng-show="queriedLayers.length==1" md-truncate>{{queriedLayers[0]}}</h1>
        <h1 class="md-toolbar-tools" ng-show="queriedLayers.length>1" translate>Selected feature</h1>
    </md-toolbar>
    <md-content class="md-padding" flex>
        <md-nav-bar ng-show="queriedLayers.length>1" md-selected-nav-item="currentLayer">
            <md-nav-item ng-repeat="layer in queriedLayers" name="{{layer}}" md-nav-click="changeLayer('{{layer}}')">
                {{layer}}
            </md-nav-item>
        </md-nav-bar>
    </md-content>
    <md-content flex="auto" ng-repeat="layer in queriedLayers" ng-if="layer === currentLayer">
        <md-content ng-repeat="feature in data.groups" ng-if="feature.layer === layer">
            <h4 layout-padding>{{feature.name}}</h4>
            <ul layout-padding>
                <li ng-repeat="attr in feature.attributes" layout="row">
                    <div>{{attr.name}}</div>
                    <div flex-offset="10">{{attr.value}}</div>
                </li>
            </ul>
            <md-divider></md-divider>
        </md-content>
    </md-content>
    <md-content flex="10" layout-padding>
        <span translate>Coordinates clicked</span>
        <div ng-repeat="proj in data.coordinates[0].projections | orderBy: name">{{proj.name}} : {{proj.value}}    
        </div>
    </md-content>
</md-content>