<ul class="w-100 nav nav-tabs pt-1 border-0 ps-1 flex-nowrap" style="height: 99%;"
    *ngIf="{hasExtraButtons: hasExtraButtons()} as header" [class.justify-content-between]="header.hasExtraButtons"
    [class.flex-reverse]="header.hasExtraButtons">
    <div class="d-flex">
        <ng-content select="[mainButton]"></ng-content>
        <div [hidden]="!header.hasExtraButtons" class="btn-group" ngbDropdown placement="bottom-end" display="dynamic">
            <button ngbDropdownToggle class="btn bt-sm btn-outline-primary border-0 hs-extra-buttons me-1"
                type="button"><i class="icon-menu"></i></button>
            <div #extraButtonsContainer class="extra-buttons-container" ngbDropdownMenu>
                <ng-content select="extra-buttons"></ng-content>
            </div>
        </div>
    </div>
    <li *ngFor="let tab of panelTabs" class="nav-item" (click)="tabClicked(tab)" style="max-height:103%">
        <a [class.active]="active === tab" style="margin-top: 2px;"
            class="active align-items-center d-flex h-100 justify-content-center nav-link" aria-current="page">
            {{tab | translateHs : {module: 'PANEL_HEADER'} }}
        </a>
    </li>

</ul>
<!-- TODO: HOVER BORDER BOTTOM na tabe  -->