<div class="hud col-xs-11 col-sm-8 col-md-5 col-lg-4 col-xl-3">
    <style>
        .sb-right .hud {
            left: -5px;
        }

        .hud {
            top: 70px;
            width: 362px;
            position: absolute;
        }

        .hud .well {
            padding: 5px;
        }
    </style>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false"
        aria-controls="collapseExample" translate>
        Actions:
    </button>
    <div class="collapse in" id="collapseExample">
        <div class="well controls">
            <form class="form-inline">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" translate>
                                    Filter fields which are near water
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <div class="form-group">
                                    <label class="control-label" translate>Distance to water bodies in km</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control col-sm-4" ng-model="water_distance" ng-change="reloadNearWaterbodies()" />
                                        <span class="input-group-btn">
                                            <button class="btn btn-primary" ng-click="reloadNearWaterbodies()" type="button" translate>Filter</button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false"
                                    aria-controls="collapseTwo" translate>
                                    Land usage for fields with LPIS ID
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                <div class="form-group">
                                    <label class="control-label" translate>ID Uz</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" ng-model="iduz" placeholder="{{'e.g. 17614'|translate}}" />
                                        <span class="input-group-btn">
                                            <button class="btn btn-primary" ng-click="reloadIdUz()" type="button" translate>Filter</button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false"
                                    aria-controls="collapseThree" translate>
                                    Crop types for fields with CTVDPB code
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                                <div class="form-group">
                                    <label class="control-label" translate>CTVDPB</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" ng-model="ctvdpd" placeholder="{{'code eg. 57011607501'|translate}}" />
                                        <span class="input-group-btn">
                                            <button class="btn btn-primary" ng-click="reloadCTVDPB()" type="button" translate>Filter</button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingEight">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="false"
                                    aria-controls="collapseEight" translate>
                                    Crop types for fields with LPIS ID
                                </a>
                            </h4>
                        </div>
                        <div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
                            <div class="panel-body">
                                <div class="form-group">
                                    <label class="control-label" translate>ID</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" ng-model="iduz" placeholder="{{'e.g. 6423'|translate}}" />
                                        <span class="input-group-btn">
                                            <button class="btn btn-primary" ng-click="reloadIdUzCropTypes()" type="button" translate>Filter</button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFour">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false"
                                    aria-controls="collapseFour" translate>
                                    Find fields with crop type in area
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                            <div class="panel-body">
                                <div class="form-group">
                                    <label class="control-label" translate>Crop type</label>
                                    <div class="input-group">
                                        <select class="form-control" ng-model="cropType">
                                            <option ng-value="ct.id" ng-repeat="ct in cropTypes">{{ct.name}}</option>
                                        </select>
                                        <span class="input-group-btn">
                                            <button class="btn btn-primary" ng-click="reloadCropTypeLayer()" type="button" translate>Filter</button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFive">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false"
                                    aria-controls="collapseFive" translate>
                                    Filter fields by crop and distance to map center
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                            <div class="panel-body">
                                <div class="form-group">
                                    <label class="control-label" translate>Crop type</label>
                                    <select class="form-control" ng-model="cropType">
                                        <option ng-value="ct.id" ng-repeat="ct in cropTypes">{{ct.name}}</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" translate>Distance in km</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" ng-model="crop_distance" placeholder="" />
                                        <span class="input-group-btn">
                                            <button class="btn btn-primary" ng-click="reloadCropTypeLayer(crop_distance)" type="button" translate>Filter</button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingSix">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false"
                                    aria-controls="collapseSix" translate>
                                    Find erosion zones
                                </a>
                            </h4>
                        </div>
                        <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                            <div class="panel-body">
                                <div class="form-group">
                                    <label class="control-label" translate>LPIS FARM ID (ID_UZ)</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" ng-model="iduz" placeholder="{{'e.g. 17614'|translate}}" />
                                        <span class="input-group-btn">
                                            <button class="btn btn-primary" ng-click="reloadErosionZonesById()" type="button">Filter</button>
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" translate>CTVDPB</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" ng-model="ctvdpd" placeholder="{{'e.g. 57011607501'|translate}}" />
                                        <span class="input-group-btn">
                                            <button class="btn btn-primary" ng-click="reloadErosionZonesByCTVDPB()" type="button" translate>Filter</button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingSeven">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false"
                                    aria-controls="collapseSeven" translate>
                                    Filter fields by soil type in area
                                </a>
                            </h4>
                        </div>
                        <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
                            <div class="panel-body">
                                <div class="form-group">
                                    <label class="control-label" translate>Soil type</label>
                                    <div class="input-group">
                                        <select class="form-control" ng-model="soilType">
                                            <option ng-value="label" ng-repeat="label in soilTypes">{{label}}</option>
                                        </select>
                                        <span class="input-group-btn">
                                            <button class="btn btn-primary" ng-click="reloadSoils()" type="button" translate>Filter</button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>