<div class="panel panel-default mainpanel">
    <div class="panel-heading"><span class="panel-title" translate>Sentinel watcher</span>
        <button type="button" class="close" ng-click="Core.closePanel(this)">
            <span aria-hidden="true">×</span>
            <span class="sr-only" translate>Close</span>
        </button>
    </div>
    <style>
    .sentinel-table>tbody>tr>td, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>td, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>thead>tr>th {
    padding: 2px;
}
    </style>
    <div class="panel-body">
        <div class="panel-body">
             <span ng-show="points.length==0" translate>Map based web application for identifying of usable remote sensing data from Sentinel satellites. Right click or double click on the map to choose one or multiple positions (for example fields, forests etc.) and the application prepare a forecast based on location, minimal satellite elevation and minimal crossing duration for Sentinel 2A and 2B satellites. The application calculates timetable of satellites crossing time and weather (clouds) forecast as a result. User gets information when his selected position(s) can be photographed and which imagery can be used for further processing.</span>
		    <ul class="hs-senslog-list list-group">
				<li ng-repeat="point in points" class="list-group-item">
					<div class="">#{{point.ix}} <span translate>at</span> {{point.lat}}°N {{point.lon}}°E 						
                        <table class="table table-condensed sentinel-table" style="font-size: 8pt;">
                            <tr><th translate>Sn</th><th translate>StartUTC</th><th translate>MaxUTC</th><th translate>EndUTC</th><th translate>Weather</th></tr>
                            <tr ng-repeat="cros in point.crossings"><td>{{cros.sn}}</td><td>{{cros.startUTC}}</td><td>{{cros.maxUTC}}</td><td>{{cros.endUTC}}</td><td><img ng-src="https://openweathermap.org/img/w/{{cros.weather}}.png" width="50" height="50"></td></tr>
                        </table>
					</div>
				</li>
                <button class="btn btn-primary btn-block" ng-click="getCrossings(unit)"><img ng-show="loading" ng-src="{{ajax_loader}}" translate/>Get Crossing</button>
                <button class="btn btn-default btn-block" translate ng-click="clear()"> Clear</button>
		    </ul>
        </div>
    </div>
</div>
