<?xml version="1.0" encoding="utf-8"?>
<Template xmlns="http://wirecloud.conwet.fi.upm.es/ns/template#">

    <Catalog.ResourceDescription>
        <Vendor>BOSC</Vendor>
        <Name>hslayers-map-client</Name>
        <DisplayName>Map</DisplayName>
        <Version>0.7</Version>
        <Author>raitisbe</Author>
        <Mail>raitisbe@gmail.com</Mail>
        <Description></Description>
        <ImageURI>hslayers-logo.png</ImageURI>
        <iPhoneImageURI>hslayers-logo.png</iPhoneImageURI>
        <WikiURI>http://redmine.ccss.cz/projects/hslayers-ng/wiki/Readme</WikiURI>
    </Catalog.ResourceDescription>

    <Platform.Wiring>
        <InputEndpoint name="center_slot"       type="text" label="Center"         friendcode="location"/>
        <InputEndpoint name="draw_extent_slot"    type="text" label="Draw extent"      friendcode="extent"/>
        <InputEndpoint name="data_received_slot"  type="text" label="Data received"    friendcode="data_received"/>
        <InputEndpoint name="location_info_slot"  type="text" label="Location info"    friendcode="feature_info"/>

        <OutputEndpoint name="center_event"       type="text" label="Center LongLat"   friendcode="location"/>
        <OutputEndpoint name="feature_info_event" type="text" label="Feature info"     friendcode="feature_info"/>
    </Platform.Wiring>

    <Platform.Link>
        <XHTML href="index.html"/>
    </Platform.Link>

    <Platform.Preferences>
        <Preference name="modules_to_load" type="text" description="" label="Modules to load" default="['hs.toolbar', 'hs.layermanager', 'hs.map', 'hs.ows', 'hs.query', 'hs.search', 'hs.print', 'hs.permalink', 'hs.measure', 'hs.legend', 'hs.geolocation', 'hs.core', 'hs.wirecloud', 'gettext']"/>
        <Preference name="coordinates_attr_name" type="text" description="" label="Name of coordinates attribute" default="location"/>
        <Preference name="measurements_attr_names" type="text" description="" label="Names of measurement attributes" default="temperature,humidity"/>
        <Preference name="timestamp_attr_name" type="text" description="" label="Name of timestamp attribute" default="timestamp"/>
        <Preference name="id_attr_name" type="text" description="" label="Name of id attribute" default="id"/>
    </Platform.Preferences>
    
    <Platform.Rendering width="20" height="24"/>

</Template>
