<div>
    <div class="d-flex flex-column justify-content-between w-100">
        <div class="d-flex w-100 input-group">
            <form class="form-floating  flex-fill">
                <input #hsTimeseriesTitle readonly type="text" class="form-control form-control-sm is-invalid"
                    id="hs-timeseries-title" [value]="fileTitle">
                <label for="hs-timeseries-title">Highlight timestamp in title</label>
            </form>

            <button type="button" (click)="getSelectedString($event)" class="btn btn-sm btn-primary">Select</button>
        </div>

        <ngb-accordion #acc="ngbAccordion" class="my-2">
            <ngb-panel id="toggle-1" title="Infered params">
                <ng-template ngbPanelContent>
                    <div class="d-flex flex-column">
                        <div>
                            Selected string: {{selectedString}}
                        </div>
                        <div class="d-flex flex-column justify-content-between flex-md-row gap-2">
                            <div class="form-floating mt-2 flex-fill">
                                <input required type="text" class="form-control form-control-sm"
                                    id="hs-timeseries-regex" value="[0-9]{4}[0-9]{2}[0-9]{2}">
                                <label for="hs-timeseries-regex">Infered regex pattern</label>
                            </div>
                            <div class="form-floating mt-2 flex-fill">
                                <input required type="email" class="form-control form-control-sm"
                                    id="hs-timeseries-format" value="yyyy_mm_dd">
                                <label for="hs-timeseries-format">Infered date format</label>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </ngb-panel>
        </ngb-accordion>
    </div>
</div>