<div class="modal hs-status-creator-save-dialog in" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    {{'SAVECOMPOSITION.dialogSave.saveComposition' | translate}}
                </h4>
                <button type="button" (click)="close()" class="btn-close" data-dismiss="modal" attr.aria-label="{{'COMMON.close' | translate}}"></button>
            </div>
            <div class="modal-body" style="max-height: 600px; overflow-y: auto; text-align: center; font-size: 16px">
                <div>
                    {{'SAVECOMPOSITION.dialogSave.areYouAttempting' | translate}}
                </div>
                <div>
                    <b>{{HsSaveMapManagerService.compoData.title}}</b>
                </div>
                <div *ngIf="!HsSaveMapManagerService.statusData?.titleFree && HsSaveMapManagerService.statusData?.hasPermission && !HsSaveMapManagerService.statusData?.changeTitle">
                    <div>
                        {{'SAVECOMPOSITION.dialogSave.wantToOverwrite' | translate}} <b>{{HsSaveMapManagerService.compoData.title}}</b>
                    </div>
                    <p>
                        <button type="button" class="btn btn-secondary btn-lg" data-dismiss="modal"
                            (click)="HsSaveMapManagerService.save(false, data.endpoint); close()">{{'SAVECOMPOSITION.dialogSave.yesSave' | translate}}</button>
                    </p>
                    <p>
                        <button type="button" class="btn btn-secondary btn-lg"
                            (click)="HsSaveMapManagerService.selectNewTitle()">{{'SAVECOMPOSITION.dialogSave.noSaveAs' | translate}}</button>
                    </p>
                </div>

                <div *ngIf="!HsSaveMapManagerService.statusData?.titleFree && HsSaveMapManagerService.statusData?.hasPermission && HsSaveMapManagerService.statusData?.changeTitle">
                    <div>{{'SAVECOMPOSITION.dialogSave.selectNewNameForMap' | translate}}</div>
                    <p>
                        <input type="text" class="form-control hs-stc-title" [(ngModel)]="HsSaveMapManagerService.compoData.title">
                    </p>
                    <p>
                        <button type="button" class="btn btn-secondary btn-lg" data-dismiss="modal"
                            (click)="HsSaveMapManagerService.save(true, data.endpoint); close()">{{'COMMON.save' | translate}}</button>
                    </p>
                </div>

                <div *ngIf="!HsSaveMapManagerService.statusData?.titleFree || !HsSaveMapManagerService.statusData?.hasPermission">
                    <div>
                        <p *ngIf="!HsSaveMapManagerService.statusData?.hasPermission">{{'SAVECOMPOSITION.dialogSave.youDoNotHave' | translate}}
                        </p>
                        <p *ngIf="!HsSaveMapManagerService.statusData?.titleFree">{{'SAVECOMPOSITION.dialogSave.useDifferentName' | translate}}
                        </p>
                    </div>
                    <p>
                        <button type="button" class="btn btn-secondary btn-lg" data-dismiss="modal"
                            (click)="HsSaveMapManagerService.focusTitle(); close()">{{'COMMON.ok' | translate}}</button>
                    </p>
                </div>

            </div>
        </div>
    </div>
</div>
