<div class="card panel-default hs-main-panel mainpanel hs-stc-mainpanel">
    <hs-panel-header name="saveMap" [title]="'PANEL_HEADER.SAVECOMPOSITION' | translate">
    </hs-panel-header>
    <div class="card-body">
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text control-label">{{'COMMON.saveTo' | translate}}</span>
                </div>
                <select class="form-control" [(ngModel)]="endpoint"
                    (change)="HsSaveMapManagerService.selectEndpoint(endpoint)" name="endpoint">
                    <option *ngFor="let e of HsCommonEndpointsService.endpoints" [ngValue]="e">{{e.title}}</option>
                </select>
            </div>
        </div>
        <div [hidden]="endpoint?.type != 'layman' || isAuthorized">
            <div class="alert alert-info text-gray" translate>
                {{'SAVECOMPOSITION.panelMd.youAreNotAuthorized' | translate}} </div>
        </div>
        <hs-layman-current-user *ngIf="endpoint?.type == 'layman'" [endpoint]="endpoint"></hs-layman-current-user>
        <hs-save-map-advanced-form *ngIf="advancedForm && (isAuthorized || endpoint?.type != 'layman')">
        </hs-save-map-advanced-form>
        <hs-save-map-simple-form *ngIf="!advancedForm"></hs-save-map-simple-form>
    </div>
</div>
