<md-content layout="column" style="max-height:100%;" class="datasources">

    <md-toolbar class="md-hue-3" flex="none">
        <h1 class="md-toolbar-tools" ng-if="data.datasets.length > 1">
            <translate>Datasources</translate>
        </h1>
        <h1 class="md-toolbar-tools" ng-if="data.datasets.length === 1">
            <translate>Datasource {{data.datasets[0].title}}</translate>
            <span>({{data.datasets[0].matched}})</span>
        </h1>
    </md-toolbar>
    <md-progress-linear md-mode="indeterminate" ng-disabled="selectedDS.loaded && data.suggestionsLoaded" ng-if="!selectedDS.loaded || !data.suggestionsLoaded"></md-progress-linear>
    <md-content class="md-padding" flex ng-show="data.datasets.length>1">
        <md-nav-bar md-selected-nav-item="selectedDS">
            <md-nav-item ng-repeat="ds in data.datasets" name="{{ds.title}}" md-nav-click="changeDS(ds)">
                {{ds.title}}
                <span>({{ds.matched}})</span>
            </md-nav-item>
        </md-nav-bar>
    </md-content>
    <md-content class="md-fill" flex>
        <div class="row" layout-padding>
            <md-input-container class="input-compact" flex="80">
                <label translate>Filter</label>
                <input name="query" ng-model="data.query.title" ng-change="reload();">
            </md-input-container>
            <md-button ng-show="advancedSearch == false" class="md-icon-button md-primary" aria-label="advancedSearch" ng-click="expandSearch(true)">
                <md-icon>arrow_drop_down</md-icon>
                <md-tooltip md-direction="down" translate>Advanced search</md-tooltip>
            </md-button>
            <md-button ng-show="advancedSearch == true" class="md-icon-button md-primary" aria-label="advancedSearchHide" ng-click="expandSearch(false)">
                <md-icon>arrow_drop_up</md-icon>
                <md-tooltip md-direction="down" translate>Hide advanced search</md-tooltip>
            </md-button>
        </div>

        <div class="column" ng-show="advancedSearch == true" layout-margin>
            <label>Search place</label>
            <md-radio-group class="input-compact2" layout="row" ng-model="data.textField" ng-change="reload();">
                <md-radio-button value="AnyText" class="md-primary">All</md-radio-button>
                <md-radio-button value="title">Title</md-radio-button>
                <md-radio-button value="abstract">Abstract</md-radio-button>
            </md-radio-group>
            <md-autocomplete md-no-cache="true" md-search-text-change="showSuggestions('keywords', 'keyword', 'value')" md-search-text="data.query.keywords"
                md-selected-item-change="DS.addSuggestion(suggestion[data.suggestionConfig.field]);reload();" md-items="suggestion in data.suggestions"
                md-item-text="suggestion[data.suggestionConfig.field]" 
                md-min-length="1" 
                placeholder="Dataset keywords">
                <md-item-template>
                    {{suggestion[data.suggestionConfig.field]}}
                    <span ng-show="{{suggestion.count !== undefined}}">({{suggestion.count}})</span>
                </md-item-template>
                <md-not-found>
                    No keywords matching "{{data.query.keywords}}" were found.
                </md-not-found>
            </md-autocomplete>
            <md-autocomplete 
                md-no-cache="true" 
                md-search-text-change="showSuggestions('OrganisationName','org','name')" md-search-text="data.query.OrganisationName"
                md-selected-item-change="DS.addSuggestion(suggestion[data.suggestionConfig.field]);reload();" md-items="suggestion in data.suggestions"
                md-item-text="suggestion[data.suggestionConfig.field]" 
                md-min-length="1" 
                placeholder="Orgazination name">
                <md-item-template>
                    {{suggestion[data.suggestionConfig.field]}}
                    <span ng-show="{{suggestion.count !== undefined}}">({{suggestion.count}})</span>
                </md-item-template>
                <md-not-found>
                    No organizations matching "{{data.query.OrganisationName}}" were found.
                </md-not-found>
            </md-autocomplete>
            <div class="row">
                <md-input-container flex="40">
                    <label translate>Sort by</label>
                    <md-select name="sort" ng-model="data.query.sortby" ng-change="reload();">
                        <md-option value="bbox">
                            <translate>Bounding box</translate>
                        </md-option>
                        <md-option value="title">
                            <translate>Title</translate>
                        </md-option>
                        <md-option value="date">
                            <translate>Date</translate>
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container flex="60">
                    <md-checkbox name="bboxFilter" ng-model="data.filterByExtent" ng-change='reload();'>
                        <translate>Filter by map extent</translate>
                    </md-checkbox>
                </md-input-container>
            </div>
        </div>
        <md-divider></md-divider>
        <md-list>
            <md-list-item ng-repeat="layer in selectedDS.layers" ng-click="addLayerToMap(selectedDS, layer)" ng-mouseover="DS.highlightComposition(layer, true)"
                ng-mouseleave="DS.highlightComposition(layer, false)" class="noright">
                <p>{{layer.title || layer.description}}</p>
                <md-button class="md-icon-button md-secondary md-hue-2 icon-compact" href="#" ng-href='{{DS.layerDownload(selectedDS, layer)}}' ng-show='DS.layerDownload(selectedDS,layer) != "#"' aria-label="Download layer" ng-click="e.preventDefault();">
                    <md-icon >file_download</md-icon>
                    <md-tooltip direction="down">Download layer</md-tooltip> 
                </md-button>
                <md-button class="md-icon-button md-secondary icon-compact" href="#" ng-href='{{DS.layerRDF(selectedDS, layer)}}' ng-show='DS.layerRDF(selectedDS, layer) != "#"' ng-click="e.preventDefault();" aria-label="Data metadata" target="_blank">
                    <md-icon>local_offer</md-icon>
                    <md-tooltip direction="down">Layer RDF</md-tooltip>
                </md-button>
                <md-button class="md-icon-button md-secondary icon-compact" ng-click="showMetadata(layer, $event)" aria-label="Show composition info">
                    <md-icon >info_outline</md-icon>
                    <md-tooltip direction="down">Layer info</md-tooltip>
                </md-button>
                <md-divider></md-divider>
            </md-list-item>
        </md-list>
        <div layout="row" layout-align="space-around center" ng-show="selectedDS.matched>0">
            <md-button ng-disabled="selectedDS.start == 0" class="md-icon-button" ng-click='getPreviousRecords(selectedDS)'>
                <md-icon class="md-primary md-hue-2">chevron_left</md-icon>
                <md-tooltip md-direction="up" translate>Previous results list</md-tooltip>
            </md-button>
            <span ng-show="selectedDS.next != 0" translate>Results {{selectedDS.start + 1}} - {{selectedDS.next}}</span>
            <span ng-show="selectedDS.next == 0" translate>Results {{selectedDS.start + 1}} - {{selectedDS.matched}}</span>
            <md-button ng-disabled="selectedDS.next == 0" class="md-icon-button" ng-click='getNextRecords(selectedDS)'>
                <md-icon class="md-primary md-hue-2">chevron_right</md-icon>
                <md-tooltip md-direction="up" translate>Next results list</md-tooltip>
            </md-button>
        </div>

    </md-content>
</md-content>