<md-dialog>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2><translate>Save map result</translate></h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="closeDialog()">
                    <md-icon>close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content layout-padding layout="column" style="max-width:800px;max-height:810px; ">
            <p ng-show="statusData.success" class="md-body-2" translate>
                Successfuly saved to status manager
            </p>
            <p ng-show="!statusData.success" class="md-body-2" translate>
                 Failed to save to status manager
            </p>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="closeDialog()">
                Ok
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>