<div class="hs-comp-item-title">{{composition.title || composition.name}}</div>
<div class="hs-comp-item-body mt-2" [ngClass]="{'d-none': getCommonId(composition) !== selectedCompId}">
  <hr class="hs-dotted-line">
  <div class="btn-group w-100 align-items-center" role="group">
    <a class="btn btn-sm border-0" (click)="$event.stopPropagation();openComposition(composition)">
      <i class="fa-solid fa-map icon-primary"></i><span class="ms-1">{{'COMMON.open' |
    translate }}</span>
  </a>
  <a class="btn btn-sm border-0" (click)="$event.stopPropagation();detailComposition(composition)">
    <i class="fa-solid fa-circle-info icon-primary"></i><span class="ms-1">{{'COMMON.metadata' |
  translate }}</span>
</a>
<a class="btn btn-sm border-0" (click)="$event.stopPropagation();shareComposition(composition)">
  <i class="fa-solid fa-share-nodes icon-primary"></i><span class="ms-1">{{'COMMON.share' |
translate }}</span>
</a>
@if (hsCommonLaymanService.isAuthenticated()) {
  <a class="btn btn-sm border-0" (click)="$event.stopPropagation();showPermissions(composition)"
    data-toggle="tooltip" data-placement="bottom"
    [title]="composition.editable ? '' : 'COMPOSITIONS.notAllowedToEditLayer' | translate ">
    <i class="fa-solid fa-lock icon-primary" [ngClass]="{'text-muted': !composition.editable}"
    [ngStyle]="{'cursor' : composition.editable ? 'pointer' : 'default'}"></i><span
    [hidden]="!composition.editable" class="ms-1">{{'COMMON.setPermissions' |
  translate }}</span>
</a>
<a class="btn btn-sm border-0" (click)="$event.stopPropagation();confirmDelete(composition)"
  data-toggle="tooltip" data-placement="bottom"
  [title]="composition.editable ? '' : 'COMPOSITIONS.notAllowedToEditLayer' | translate ">
  <i class="fa-solid fa-trash icon-primary" [ngClass]="{'text-muted': !composition.editable}"
  [ngStyle]="{'cursor' : composition.editable ? 'pointer' : 'default'}"></i><span
  [hidden]="!composition.editable" class="ms-1">{{'COMMON.delete' |
translate }}</span>
</a>
}
</div>
</div>
