<div>
  <div class="d-flex flex-row">
    <div class="p-1 w-25 mt-1">{{label}}</div>
    <span class="badge badge-warning mt-2" style="height: 2em; width: 2em" title="{{warning}}" *ngIf="warning != undefined">!</span>
    <div class="p-1 w-75">
      <input
      class="form-control"
      type="range"
      [step]="step"
      [min]="min"
      [max]="max"
      [ngModelOptions]="{standalone: true}"
      [(ngModel)]="symbolizer[attribute]"
      (change)="emitChange()"
    />
    </div>
  </div>
</div>
