<div class="card m-0">
  <div class="card-header p-1">
    <div class="d-flex flex-row justify-content-end">
      <div class="p-1 flex-grow-1">
        <span *ngIf="symbolizer.kind == 'Mark'"
          >{{'STYLER.markSymbolizer' | translate}}</span
        >
        <span *ngIf="symbolizer.kind == 'Fill'"
          >{{'STYLER.fillSymbolizer' | translate}}</span
        >
        <span *ngIf="symbolizer.kind == 'Icon'"
          >{{'STYLER.iconSymbolizer' | translate}}</span
        >
        <span *ngIf="symbolizer.kind == 'Text'"
        >{{'STYLER.textSymbolizer' | translate}}</span
      >
      </div>
      <div class="p-1">
        <button
          class="btn btn-danger btn-sm"
          (click)="removeSymbolizer()"
          data-toggle="tooltip"
          [title]="'STYLER.removeSymbolizer' | translate"
        >
          <i class="icon-trash"></i>
        </button>
      </div>
    </div>
  </div>
  <form class="form">
    <hs-fill-symbolizer
      [symbolizer]="symbolizer"
      (changes)="emitChange()"
      *ngIf="symbolizer.kind == 'Fill'"
    ></hs-fill-symbolizer>
    <hs-mark-symbolizer
      [symbolizer]="symbolizer"
      (changes)="emitChange()"
      *ngIf="symbolizer.kind == 'Mark'"
    ></hs-mark-symbolizer>
    <hs-icon-symbolizer
      [symbolizer]="symbolizer"
      (changes)="emitChange()"
      *ngIf="symbolizer.kind == 'Icon'"
    ></hs-icon-symbolizer>
    <hs-text-symbolizer
    [symbolizer]="symbolizer"
    (changes)="emitChange()"
    *ngIf="symbolizer.kind == 'Text'"
  ></hs-text-symbolizer>
  </form>
</div>
