<div style="position: absolute; left: 10px; top:0px; z-index: 100;" class="col-xs-11 col-sm-8 col-md-4 col-lg-3">
    <link href="https://fonts.googleapis.com/css?family=Lato:700" rel="stylesheet">
    <style>
        .hsr-speed,
        .hsr-timer,
        .hsr-points, .hsr-penalty {
            font-family: 'Lato', sans-serif;
            text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
        }

        .hsr-speed {
            font-size: 1.5em;
            color: #b3b09e;
            margin-right: 15px;
        }

        .hsr-timer {
            font-size: 2em;
            color: #ffe200;
            margin-right: 15px;
        }

        .hsr-penalty {
            font-size: 1.5em;
            color: #ff0000;
        }

        .hsr-points {
            font-size: 1.5em;
            color: #2fb336;
        }
    </style>
    <span class="hsr-speed">
        {{min_km}} min/km
    </span>
    <span class="hsr-timer">
        {{time_remaining|date:'HH:mm:ss'}}
    </span>
    <span class="hsr-points">
        {{points_collected}}</span><span class="hsr-penalty" ng-show="time_penalty>0">
        -{{time_penalty}}
    </span><span class="hsr-points"> points
    </span>
    <div class="well" ng-show="game_state=='before_game'">
        <h3>Rogaining RPG</h3>
        <p>
            This is a game which simulates a rogaining (orienteering) competition. <br/>
            The objective is to visit as many stations as possible in a fixed amount of time in any order. <br/>You get different amount of points for each station. Be back at start until 0:00.<br/>
        </p>
        <p>
           Game mode: <a href="#" ng-class="{'btn btn-primary': true, 'active': game_mode == 'virtual'}"  ng-click="game_mode = 'virtual'" role="button">Simulation</a><a href="#" ng-class="{'btn btn-primary': true, 'active': game_mode == 'real'}" ng-click="game_mode = 'real'; time_multiplier = 1" role="button">Real</a>
        </p>
        <p>
            Time mode: <a href="#" ng-class="{'btn btn-primary': true, 'active': time_multiplier == 10}"  ng-click="time_multiplier = 10" role="button">10x</a><a href="#" ng-class="{'btn btn-primary': true, 'active': time_multiplier == 1}" ng-click="time_multiplier = 1" role="button">Real time</a>
        </p>
        <p>Length: <button class="btn btn-primary" type="button" data-dismiss="modal" ng-click="createNewMap(4)">New 4h game</button>
            <button class="btn btn-primary" type="button" data-dismiss="modal" ng-click="createNewMap(2)">New 2h game</button>
            <button class="btn btn-primary" type="button" data-dismiss="modal" ng-click="createNewMap(1)">New 1h game</button>
            <img ng-show="game_state=='generating'" ng-src="{{ajax_loader}}"/>   
        </p>
        <p>
            <small>This application visualises the <a href="http://sdi4apps.eu/open_land_use/" target="_blank">Open Land Use</a> dataset on top of the EU-DEM terrain model in a perspective view.</small>
        </p>
        <!--<button class="btn btn-primary" ng-click="donePlanning()">Done planning</button>-->
    </div>
    <div class="well" ng-show="game_state=='planning'">
        <h3>Planning mode</h3>
        <p>Right click on map to draw a draft route of around 20km.
            <br/> Planned
            <strong>{{(total_distance / 1000).toFixed(1)}}</strong> km</p>
        <br/>
        <button class="btn btn-primary" ng-click="donePlanning()">Done planning</button>
    </div>
</div>