<div id="cesiumContainer"></div>
<link rel="stylesheet" ng-href="{{hsl_path}}bower_components/cesium.js/dist/Widgets/widgets.css"/>
<style>
#cesiumContainer {
    height: 100%; margin: 0; padding: 0; overflow: hidden;
}
.sb-left.open #cesiumContainer {
    margin-left:400px;
}

.sb-right #cesiumContainer {
    margin-right: 48px;
}

.sb-right.open #cesiumContainer {
    margin-right:400px;
}

@media (max-width: 767px) {
    .sb-left.open #map {
        margin-left:300px;
    }

    .sb-right.open #map {
        margin-left:0px;
    }
}
</style>
