<div class="d-flex flex-row">
  <div class="p-1 w-50 mt-1">{{'PRINT.textColor' | translateHs }}:</div>
  <div class="p-1 w-100">
    <input class="form-control form-select-sm" (click)="setColorPickerVisible('fill')"
      [ngStyle]="getColorPickerStyle('fill')" [ngModelOptions]="{standalone: true}" [(ngModel)]="textStyle.textColor" />
    @if (fillPickerVisible) {
      <color-sketch (onChangeComplete)="onPick($event, 'fill')" width="320px">
    </color-sketch>
  }
</div>
</div>
@if (objectName === 'imprint') {
  <div class="d-flex flex-row">
    <div class="p-1 w-50 mt-1">{{'PRINT.backgroundColor' | translateHs }}:</div>
    <div class="p-1 w-100">
      <input class="form-control form-select-sm" (click)="setColorPickerVisible('background')"
        [ngStyle]="getColorPickerStyle('background')" [ngModelOptions]="{standalone: true}"
        [(ngModel)]="textStyle.bcColor" /><!-- TODO: Remove function call from template -->
        @if (bcPickerVisible) {
          <color-sketch (onChangeComplete)="onPick($event, 'background')" width="320px">
        </color-sketch>
      }
    </div>
  </div>
}
<div class="d-flex flex-row">
  <div class="p-1 w-50 mt-1">{{'STYLER.textSize' | translateHs }}:</div>
  <div class="p-1 w-100">
    <select class="form-control form-select-sm form-select" [(ngModel)]="textStyle.textSize"
      [ngModelOptions]="{standalone: true}" style="flex-grow: 1;">
    @for (size of stylingOptions.textSizes; track size) {
      <option>{{size}}
      </option>
    }
  </select>
</div>
</div>
<div class="d-flex flex-row">
  <div class="p-1 w-50 mt-1">{{'STYLER.font' | translateHs }}:</div>
  <div class="p-1 w-100">
    <select class="form-control form-select-sm form-select" [(ngModel)]="textStyle.fontFamily"
      [ngModelOptions]="{standalone: true}">
      @for (font of stylingOptions.fonts; track font) {
        <option>{{font}}
        </option>
      }
    </select>
  </div>
</div>
<div class="d-flex flex-row">
  <div class="p-1 w-50 mt-1">{{'STYLER.fontStyle' | translateHs }}:</div>
  <div class="p-1 w-100">
    <select class="form-control form-select-sm form-select" [(ngModel)]="textStyle.fontStyle"
      [ngModelOptions]="{standalone: true}">
      @for (fontStyle of stylingOptions.fontStyles; track fontStyle) {
        <option [ngValue]="fontStyle">
          {{getTranslation('PRINT',fontStyle)}}<!-- TODO: Remove function call from template -->
        </option>
      }
    </select>
  </div>
</div>
@if (objectName === 'title') {
  <div class="d-flex flex-row">
    <div class="p-1 w-50 mt-1">{{'PRINT.textDraw' | translateHs }}:</div>
    <div class="p-1 w-100">
      <select class="form-control form-select-sm form-select" [(ngModel)]="textStyle.textDraw"
        [ngModelOptions]="{standalone: true}">
        @for (textDraw of stylingOptions.textDrawTypes; track textDraw) {
          <option [ngValue]="textDraw">
            {{getTranslation('COMMON',textDraw)}}<!-- TODO: Remove function call from template -->
          </option>
        }
      </select>
    </div>
  </div>
}
<div class="d-flex flex-row">
  <div class="p-1 w-50 mt-1">{{'PRINT.textPosition' | translateHs }} X:</div>
  <div class="p-1 w-100">
    <select class="form-control form-select-sm form-select" [(ngModel)]="textStyle.posX"
      [ngModelOptions]="{standalone: true}">
      @for (positionX of positionOptions.positionsX; track positionX) {
        <option [ngValue]="positionX">
          {{getTranslation('PRINT',positionX)}}<!-- TODO: Remove function call from template -->
        </option>
      }
    </select>
  </div>
</div>

<div class="d-flex flex-row mb-2">
  <div class="p-1 w-50 mt-1">{{'PRINT.textPosition' | translateHs }} Y:</div>
  <div class="p-1 w-100">
    <select class="form-control form-select-sm form-select" [(ngModel)]="textStyle.posY"
      [ngModelOptions]="{standalone: true}">
      @for (positionY of positionOptions.positionsY; track positionY) {
        <option [ngValue]="positionY">
          {{getTranslation('PRINT',positionY)}}<!-- TODO: Remove function call from template -->
        </option>
      }
    </select>
  </div>
</div>