<div class="hs-toolbar" ng-style="toolbarStyle()">
    <nav class="navbar navbar-expand">
        <div class="navbar-nav">
            <div class="nav-item" ng-if="HsCore.exists('hs.search') && layoutService.componentEnabled('searchToolbar')">
                <div>
                    <hs-search-input></hs-search-input>
                    <hs-search-results></hs-search-results>
                </div>
            </div>
            <hs.draw-toolbar class="nav-item hs-toolbar-button"
                ng-if="layoutService.componentEnabled('drawToolbar')"
                ></hs.draw-toolbar>
            <div class="nav-item" ng-if="HsCore.exists('hs.measure') && layoutService.panelEnabled('measure') && layoutService.componentEnabled('measureToolbar')">
                <div class="btn-group">
                    <button class="btn rounded-0 hs-toolbar-button btn-light btn-outline-secondary"
                        title="{{'Measure lines and polygon'|translate}}"
                        ng-click="measureButtonClicked()">
                        <i class="icon-design"></i>
                    </button>
                </div>
            </div>
        </div>
    </nav>
</div>
