.chart rect {
  fill: steelblue;
}

.chart text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
}

.brush{
 fill: grey;
 stroke: #ff8c00;
 stroke-opacity: 0.8;
 stroke-width: 1;
}

.selected.bar {
fill: #ff8c00;
}

.unselected.bar {
fill: #7b6888;
}

.out.bar {
fill: #98abc5;
}

.axis text {
  font: 10px sans-serif;
}
.l text {
  font: 10px sans-serif;
}

.brush{
 fill: grey;
 stroke: #ff8c00;
 stroke-opacity: 0.8;
 stroke-width: 1;
}
.brush .extent {
  
  fill-opacity: .125;
  shape-rendering: crispEdges;
}
.l {
	cursor: pointer;
	stroke: #000;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
fill: none;
stroke: steelblue;
stroke-width: 2px;
shape-rendering: optimizeSpeed ;
 
}