<head>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.0.5/jspdf.plugin.autotable.js"></script>
  <script type="text/javascript" src="http://oss.sheetjs.com/js-xlsx/xlsx.full.min.js"></script>
</head>
<link rel="stylesheet" ng-href="{{Core.getNmPath()}}tabulator-tables/dist/css/bootstrap/tabulator_bootstrap.min.css">
<link rel="stylesheet" ng-if="importCss" ng-href="{{Core.getNmPath()}}bootstrap/dist/css/bootstrap.min.css">


<div class="attribute" layout="column" style="max-height:100%;">
    <div class="md-padding" flex>
        <!--<div layout="column" class="md-inline-form">-->
        <div class="input-group">
            <div class="custom-file">
              <input id="inputcsv" type="file" class="custom-file-input" accept=".csv" file-reader="csvContent"/>
              <label class="custom-file-label" for="inputcsv">Upload csv file</label>
            </div>

          </div>
        <div id="formular" ng-if="csvContent">
          <form id="joinForm">
          <li>Joined columns: </li>
          <select class="custom-select" style="max-width:30%" id="innerJoinLeft">
          </select>
          <select class="custom-select" style="max-width:30%" id="innerJoinRight">
          </select>
          <li>Add column to the table:</li>
          <select class="custom-select" style="max-width:30%" id="columnToAdd">
          </select>
        </form>
        <md-button class="md-raised md-accent" ng-click="add()">Add</md-button>
      </div>

    <br><br>
    <md-content class="border-top">
        <div class="table-controls">
          <md-button class="md-raised md-accent" id="addColumn">Add Empty Column</md-button>


        </div>
        <table id="htmlTable">
          <thead>
            <tr id="tableHead">
            </tr>
          </thead>
          <tbody id="tableBody">
          </tbody>
        </table>
        <div class="table-download" style="text-align: right">
          <md-button class="md-raised md-accent" id="download-csv">Download as CSV</md-button>
          <md-button class="md-raised md-accent" id="download-json">Download as JSON</md-button>
          <!--<md-button class="md-raised md-accent" id="download-xlsx">Download XLSX</md-button>
          <md-button class="md-raised md-accent" id="download-pdf">Download PDF</md-button>-->
        </div>
      </md-content>

  </div>

</div>
