<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.0.5/jspdf.plugin.autotable.js"></script>
<script type="text/javascript" src="http://oss.sheetjs.com/js-xlsx/xlsx.full.min.js"></script>-->
<link rel="stylesheet" ng-href="{{Core.getNmPath()}}tabulator-tables/dist/css/bootstrap/tabulator_bootstrap.min.css">
<link rel="stylesheet" ng-if="importCss" ng-href="{{Core.getNmPath()}}bootstrap/dist/css/bootstrap.min.css">


<div class="attribute" layout="column" style="max-height:100%;">
    <!--<md-toolbar class="md-hue-3" flex="none" hide-gt-sm>
        <h1 class="md-toolbar-tools" translate>Add external table</h1>
    </md-toolbar>-->
    <div class="md-padding" flex>
        <!--<div layout="column" class="md-inline-form">-->
        <div class="input-group">
            <!--<md-input-container>-->
            <div class="custom-file">
              <!--<span>Choose csv file</span>-->
              <input id="inputcsv" type="file" class="custom-file-input" accept=".csv" file-reader="csvContent"/>
              <label class="custom-file-label" for="inputcsv">Upload csv file</label>
            </div>

            <!--</md-input-container>-->

          </div>
        <div id="formular" ng-if="csvContent">
          <form id="joinForm">
          <!--Add column to table:-->
          <li>Joined columns: </li>
          <select class="custom-select" style="max-width:30%" id="innerJoinLeft">
          </select>
          <select class="custom-select" style="max-width:30%" id="innerJoinRight">
          </select>
          <li>Add column to the table:</li>
          <select class="custom-select" style="max-width:30%" id="columnToAdd">
          </select>
        </form>
        <md-button class="md-raised md-accent" ng-click="add()">Add</md-button>
      </div>

    <!--<div layout-padding layout="row" layout-align="space-around center">
        <md-button class="md-raised md-accent" ng-click="add()">Add</md-button>
    </div>-->

    <br><br>
    <md-content class="border-top"> <!--class="md-padding"-->
        <!--<h3 class="md-display-2">{{group.name}}</h3>-->
        <div class="table-controls">
          <md-button class="md-raised md-accent" id="addColumn">Add Empty Column</md-button>

          <!--<button id="download-xlsx">Download XLSX</button>
          <button id="download-pdf">Download PDF</button>-->
        </div>
        <table id="htmlTable">
          <thead>
            <tr id="tableHead">
            </tr>
          </thead>
          <tbody id="tableBody">
          </tbody>
        </table>
        <div class="table-download" style="text-align: right">
          <md-button class="md-raised md-accent" id="download-csv">Download as CSV</md-button>
          <md-button class="md-raised md-accent" id="download-json">Download as JSON</md-button>
        </div>
      </md-content>
    <!--<div id="table-floater" ng-show="tableOpened">
        <div class="panel-heading"><span class="panel-title" translate>Selected plots fertilization</span></div>
        <div ui-grid="tableOptions" class="myGrid" ui-grid-edit ui-grid-cellnav ui-grid-selection  ui-grid-auto-resize></div>
    </div>-->
    <!--<div ng-if="csvContent">
      <table>
        <thead>
          <tr>
            <th>Attribute</th>
            <th>Value</th>
            <th>Attribute</th>
            <th>Value</th>
            <th>Attribute</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="attribute in group.attributes | orderBy : 'name'">
            <td hs.query.infovalue template='{{group.hstemplate}}' attribute='{{attribute.name}}' class="first-col"></td>
            <td hs.query.infovalue template='{{group.hstemplate}}' attribute='{{attribute.name}}' value='{{attribute.value}}' class="second-col"></td>
          </tr>
        </tbody>
      </table>

      {{csvContent}}
    </div>-->
  </div>

</div>
