<div ng-class="{'in': suggestionsModalVisible}" class="modal" id="ds-suggestions-micka" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel" translate>
                    Suggestions
                </h4>
                <button type="button" ng-click="suggestionsModalVisible = false" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only" translate="">Close</span></button>
            </div>
            <div class="modal-body" style="max-height:525px; overflow-y:auto">
                <form>
                    <div class="form-group">
                        <label ng-attr-for="ds-sug-filter" class="control-label" translate>Filter</label> 
                        <input type="text" id="ds-sug-filter" class="form-control" ng-change="mickaFilterService.suggestionFilterChanged(mickaDatasetConfig)" ng-model="mickaFilterService.suggestionFilter">
                    </div>
                </form>
                <ul class="list-group">
                    <li class='list-group-item' ng-show="!mickaFilterService.suggestionsLoaded"><img ng-src="{{loaderImage}}" /></li>
                    <li ng-show='mickaFilterService.suggestions.length == 0' class='list-group-item' translate>No results</li>
                    <li ng-repeat="suggestion in mickaFilterService.suggestions | limitTo:10" ng-class="'list-group-item'">
                        <b class="list-group-item-heading">
                            <a 
                            href="#" 
                            ng-click="addSuggestion(suggestion[mickaFilterService.suggestionConfig.field]); suggestionsModalVisible = false" 
                            data-dismiss="modal">
                                {{suggestion[mickaFilterService.suggestionConfig.field]}} <span ng-show="{{suggestion.count !== undefined}}">({{suggestion.count}})</span>
                            </a>
                        </b>
                        <p style="clear:both; margin: 0px;"></p>
                    </li>
                </ul>
            </div>
            <div class="modal-footer" id="ds-footer">
                <button type="button" class="btn btn-secondary" ng-click="suggestionsModalVisible = false" data-dismiss="modal" translate>Close</button>
            </div>
        </div>
    </div>
</div>
