<div [ngClass]="{'in': suggestionsModalVisible}" class="modal hs-ds-suggestions-micka" tabindex="-1" role="dialog"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    {{'DATASOURCE_SELECTOR.suggestions' | translate}}
                </h4>
                <button type="button" (click)="suggestionsModalVisible = false" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span><span class="sr-only">{{'COMMON.close' | translate}}</span>
                </button>
            </div>
            <div class="modal-body" style="max-height:525px; overflow-y:auto">
                <form>
                    <label class="form-group">{{'COMMON.filter' | translate}}
                        <input type="text" class="hs-ds-sug-filter form-control"
                            (change)="hsMickaFilterService.suggestionFilterChanged(data.mickaDatasetConfig)"
                            [(ngModel)]="hsMickaFilterService.suggestionFilter">
                    </label>
                </form>
                <ul class="list-group">
                    <li class='list-group-item' [hidden]="mickaFilterService.suggestionsLoaded"><img
                            [src]="loaderImage" /></li>
                    <li [hidden]='hsMickaFilterService.suggestions.length > 0' class='list-group-item'>
                        {{'DATASOURCE_SELECTOR.noResults' | translate}}</li>
                    <li *ngFor="let suggestion of hsMickaFilterService.suggestions | slice:0:10"
                        [ngClass]="'list-group-item'">
                        <b class="list-group-item-heading">
                            <a href="#"
                                (click)="addSuggestion(suggestion[hsMickaFilterService.suggestionConfig.field]); suggestionsModalVisible = false"
                                data-dismiss="modal">
                                {{suggestion[hsMickaFilterService.suggestionConfig.field]}} <span
                                    [hidden]="suggestion.count === undefined">({{suggestion.count}})</span>
                            </a>
                        </b>
                        <p style="clear:both; margin: 0px;"></p>
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="suggestionsModalVisible = false"
                    data-dismiss="modal">{{'COMMON.close' | translate}}</button>
            </div>
        </div>
    </div>
</div>
