<form class="form">
    <div class="form-group">
        <div class="input-group" style="margin-bottom: 4px">
            <input type="text" class="form-control hs-filter" placeholder="Filter:" [(ngModel)]="query.title"
                (change)="queryCatalogs()" name="queryTitle">
            <div class="input-group-append">
                <button type="button" class="btn btn-secondary" (click)='openMickaAdvancedSearch(mickaDatasetConfig)'
                    i18n>More</button>
                <button type="button" class="btn btn-secondary" (click)="datasourceSelectorService.clear()"><span aria-hidden="true"
                        class="close">×</span><span class="sr-only">
                        <i18n>Clear</i18n>
                    </span></button>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="input-group">
            <div class="btn-group input-group-prepend">
                <div class="input-group-text">
                    <input type="checkbox" [(ngModel)]="mickaFilterService.filterByExtent"
                        (change)='queryCatalogs()' name="filterByExtent"><span i18n>Filter by map extent</span>
                </div>
            </div>
            <div class="btn-group" [hidden]="mickaFilterService.otnKeywords.length == 0">
                <button type="button" class="btn btn-secondary btn-sm dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false"
                    (click)="keywordsDropdownVisible =! keywordsDropdownVisible">
                    Theme <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" [ngClass]="{'show': keywordsDropdownVisible}">
                    <a *ngFor="let keyword of mickaFilterService.otnKeywords" class="dropdown-item"
                        [ngClass]="{'active': query.Subject==keyword.title}" href="#"
                        (click)="setOtnKeyword(keyword.title)">{{keyword.title}}</a>

                </ul>
            </div>
        </div>
    </div>
</form>
