<form class="form">
    <div class="form-group">
        <div class="input-group" style="margin-bottom: 4px">
            <input type="text" class="form-control hs-filter" placeholder="Filter:" ng-model="data.query.title"
                ng-change="datasourceSelectorService.queryCatalogs()">
            <div class="input-group-append">
                <button type="button" class="btn btn-secondary" ng-click='openMickaAdvancedSearch(mickaDatasetConfig)'
                    translate>More</button>
                <button type="button" class="btn btn-secondary" ng-click="datasourceSelectorService.clear()"><span aria-hidden="true"
                        class="close">×</span><span class="sr-only">
                        <translate>Clear</translate>
                    </span></button>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="input-group">
            <div class="btn-group input-group-prepend">
                <div class="input-group-text">
                    <input type="checkbox" ng-model="mickaFilterService.filterByExtent"
                        ng-change='datasourceSelectorService.queryCatalogs()'><span translate>Filter
                        by map extent</span>
                </div>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-secondary btn-sm dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false"
                    ng-click="keywordsDropdownVisible =! keywordsDropdownVisible">
                    Theme <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" ng-class="{'show': keywordsDropdownVisible}">
                    <a ng-repeat="keyword in mickaFilterService.otnKeywords" class="dropdown-item"
                        ng-class="{'active': query.Subject==keyword.title}" href="#"
                        ng-click="setOtnKeyword(keyword.title)">{{keyword.title}}</a>

                </ul>
            </div>
        </div>
    </div>
</form>