<form class="form-horizontal" role="form">
    <hs-add-data-common-url *ngIf="HsAddDataService.typeSelected == 'url'" type="vector" [(url)]="url"
        [(connect)]="connect"></hs-add-data-common-url>

    <div class="form-group m-3" *ngIf="HsAddDataService.typeSelected == 'file'">
        <div class="d-flex justify-content-center align-items-center w-100 dropzone-container">
            <!-- <label class="capabilities_label control-label">{{'ADDLAYERS.Vector.uploadVectorFiles' | translate}}</label> -->
            <div class="dropzone p-4" fileDrop (filesDropped)="handleFileUpload($event)"
                (filesHovered)="dropZoneState($event)" [ngClass]="{'active': dropzoneActive}">
                <p class="dropzone-label mt-2 text-primary">{{'ADDLAYERS.Vector.dragAndDropFiles' | translate}}</p>
            </div>
            <p class="px-5">{{'COMMON.or' | translate}}</p>
            <label class="dropzone-label">
                <input #vectorFileInput type="file" accept=".kml, .gpx, .geojson" id="hs-vector-file" class="inputfile" (change)="handleFileUpload($event.target.files)">
                <label for="hs-vector-file" class="p-2 rounded"> <i class="icon-uploadalt pr-2"></i> {{'ADDLAYERS.Vector.chooseFiles' | translate}}</label>
            </label> 

        </div>
    </div>

    <div [hidden]="!showDetails">
        <p><sub class="text-danger">{{'ADDLAYERS.Vector.note' | translate}}</sub></p>

        <div class="form-group">
            <label class="capabilities_label control-label">{{'COMMON.title' | translate}}</label>
            <input class="form-control" name="title" [(ngModel)]="title" />
        </div>

        <div class="form-group">
            <label class="capabilities_label control-label">{{'COMMON.name' | translate}}</label>
            <input class="form-control" name="name" [(ngModel)]="name" />
        </div>
        <div class="form-group" [hidden]="featureCount == 0">
            <label class="capabilities_label control-label">{{'ADDLAYERS.featureCount' | translate}}</label>
            <input class="form-control" name="featureCount" [(ngModel)]="featureCount" readonly />
        </div>
        <div class="form-group">
            <label class="capabilities_label control-label">{{'COMMON.abstract' | translate}}</label>
            <textarea class="form-control" id='hs-ows-abstract' [placeholder]="'COMMON.fillInDescriptive' | translate"
                name="abstract" [(ngModel)]="abstract">
            </textarea>
        </div>
        <div  class="d-flex flex-row justify-content-between align-items-baseline mb-1 " *ngIf="isAuthorized && saveAvailable">
            {{'ADDDATA.saveToDatabase' | translate}}
            <div class="btn-group ml-2">
                <button type="button" class="btn btn-light  btn-outline-secondary"
                    (click)="saveToLayman = true"
                    [ngClass]="{'active':saveToLayman}">
                    {{'COMMON.yes' | translate}}
                </button>
                <button type="button" class="btn btn-light  btn-outline-secondary"
                    (click)="saveToLayman = false"
                    [ngClass]="{'active': !saveToLayman}">
                    {{'COMMON.no' | translate}}
                </button>
            </div>
        </div>
        <div class="form-group d-flex justify-content-between pl-4" *ngIf="saveToLayman">
            <label class="pt-2" style="margin-bottom: 0;">
                {{'SAVECOMPOSITION.readAccessRights' | translate}}
            </label>
            <div class="btn-group">
                <button type="button" class="btn btn-light hs-toolbar-button  btn-outline-secondary"
                (click)="accessRightChanged('access_rights.read','EVERYONE')"
                [ngClass]="{'active':access_rights['access_rights.read'] == 'EVERYONE'}">
                {{'SAVECOMPOSITION.public' | translate}}
            </button>
            <button type="button" class="btn btn-light hs-toolbar-button  btn-outline-secondary"
                (click)="accessRightChanged('access_rights.read','private')"
                [ngClass]="{'active':access_rights['access_rights.read'] == 'private'}">
                {{'SAVECOMPOSITION.private' | translate}}
            </button>
            </div>
        </div>
        <div class="form-group d-flex justify-content-between pl-4" *ngIf="saveToLayman">
            <label class="pt-2" style="margin-bottom: 0;">
                {{'SAVECOMPOSITION.writeAccessRights' | translate}}
            </label>
            <div class="btn-group">
                <button type="button" class="btn btn-light hs-toolbar-button  btn-outline-secondary"
                [disabled]="access_rights['access_rights.read'] == 'private'"
                (click)="accessRightChanged('access_rights.write','EVERYONE')"
                    [ngClass]="{'active':access_rights['access_rights.write'] == 'EVERYONE'}">
                    {{'SAVECOMPOSITION.public' | translate}}
                </button>
                <button type="button" class="btn btn-light hs-toolbar-button  btn-outline-secondary"
                (click)="accessRightChanged('access_rights.write','private')"
                    [ngClass]="{'active':access_rights['access_rights.write'] == 'private'}">
                    {{'SAVECOMPOSITION.private' | translate}}
                </button>
            </div>
        </div>

        <button type="button" class="btn btn-block btn-outline-secondary dropdown-toggle dropdown-toggle-split"
            (click)="advancedPanelVisible = !advancedPanelVisible">
            {{'COMMON.advancedOptions' | translate}}
        </button>

        <div class="hs-ows-vector-advanced" *ngIf="advancedPanelVisible">
            <div class="form-group">
                <label class="capabilities_label control-label">{{'ADDLAYERS.srs' | translate}}</label>
                <input class="form-control" name="srs" [(ngModel)]="srs" />
            </div>

            <div class="form-group">
                <label class="capabilities_label control-label">{{'ADDLAYERS.folderName' | translate}}</label>
                <input class="form-control" name="folder" [(ngModel)]="folder_name" />
            </div>

            <div class="form-group" *ngIf="isKml()">
                <label class="capabilities_label control-label">{{'ADDLAYERS.VECTOR.extractStyles' | translate}}</label>
                <input type="checkbox" name="extractStyles" [(ngModel)]="extract_styles" />
            </div>

            <div class="form-group">
                <hs-add-layers-target-position [(addUnder)]="addUnder"></hs-add-layers-target-position>
            </div>
        </div>

        <button class="btn btn-primary btn-block" [disabled]="!title" (click)="add()"><i class="icon-plus"></i>
            {{'COMMON.add' | translate}}
        </button>
    </div>
</form>
