<div class="form-group">
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text control-label">{{'ADDLAYERS.under' | translate}}</span>
        </div>
        <select class="form-control" [(ngModel)]="addUnder" (ngModelChange)="updateChanges()" name="addUnder">
            <option [ngValue]="null" selected>{{'ADDLAYERS.none' | translate}}</option>
            <option [ngValue]="layer.layer" *ngFor="let layer of hsLayerManagerService.data.layers">{{hsLayerUtilsService.translateTitle(layer.title)}}</option>
        </select>
    </div>
</div>