<div [ngStyle]="popupVisible()" class="hs-hover-popup">
    <div class="card" style="padding: 5px;">
        <div *ngFor="let layerDesc of data.service.featureLayersUnderMouse; let i = index" style="line-height: 1.2">
            <a class="p-1" (click)="data.service.closePopup()" data-toggle="tooltip" [hidden]="i !== 0"
                [title]="'QUERY.featurePopup.closePopup' | translate">
                <i class="icon-remove-circle" style="color: rgb(73, 80, 87)"></i>
            </a>
            <strong style="font-size: small;">{{hsLayerUtilsService.translateTitle(layerDesc.title)}}</strong>
            <form class="d-flex justify-content-center">
                <hs-panel-container [service]="hsFeatureWidgetContainerService"
                    [data]="{layerDescriptor: layerDesc, attributesForHover: attributesForHover, service: data.service}">
                </hs-panel-container>
            </form>
            <form>
                <hs-panel-container [service]="hsLayerWidgetContainerService"
                    [data]="{layerDescriptor: layerDesc, service: data.service}">
                </hs-panel-container>
            </form>
        </div>
    </div>
</div>