
<div  ng-class="{'in': $ctrl.modalVisible}" class="modal" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" translate>
                    Error when syncing
                </h4>
                <button type="button" ng-click="$ctrl.modalVisible = false" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only" translate="">Close</span></button>
            </div>
            <div class="modal-body alert alert-danger" style="max-height:600px; overflow-y:auto">
                    <h5 translate>There was a problem loading  layer</h5>
                    <p>{{$ctrl.exception}}</p>
            </div>
            <div class="modal-footer" >
                <button type="button" class="btn btn-primary" ng-click="$ctrl.modalVisible = false" data-dismiss="modal" translate>Close</button>
            </div>
        </div>
    </div>
</div>