<div class="card hs-main-panel" [hidden]="(isVisible$ | async) === false">
    <hs-panel-header name="language" [title]="'PANEL_HEADER.LANGUAGE' | translateHs : data" [app]="data.app">
    </hs-panel-header>
    <div class="card-body">
        <ul class="m-3 hs-senslog-list list-group">
            <button *ngFor="let lang of available_languages" class="btn m-2 m-md-1 p-4 p-md-2"
                [ngClass]="isCurrentLang(lang.key) ? ' btn-primary' : ' btn-secondary'"
                (click)="setLanguage(lang.key)">{{lang.name}}</button><!-- TODO: Remove function call from template -->
        </ul>
    </div>
</div>