<div class="card hs-main-panel" [hidden]="!isVisible()">
    <hs-panel-header name="language" [title]="'PANEL_HEADER.LANGUAGE' | translate" [app]="data.app"></hs-panel-header>
    <div class="card-body">
        <ul class="m-3 hs-senslog-list list-group">
            <button *ngFor="let lang of available_languages" class="btn m-1"
                [ngClass]="HsLanguageService.apps[data.app]?.language === lang.key.substr(0,2).toLowerCase() ? ' btn-primary' : ' btn-secondary'"
                (click)="HsLanguageService.setLanguage(data.app + '|' + lang.key, data.app)">{{lang.name}}</button>
        </ul>
    </div>
</div>
