.hsl-custom-select {
    height: calc(1.5em + 0.75rem + 2px);
    min-height: 1.5rem;
    padding: 0.375rem 1.75rem 0.375rem 0.75rem;
    display: inline-block;
    font-size: 1rem;
    font-weight: 400;
    width: 100%;
    border: 1px solid #ced4da
}

hs-url-details .input-group-text {
    min-width: 13ch;
    display: flex;
    justify-content: center;
}