<form class="form">
  <div class="d-flex flex-row">
    <div class="p-1 w-25">{{'STYLER.template' | translate}}:</div>
    <div class="p-1 w-75">
      <input class="form-control form-control-sm" [ngModelOptions]="{standalone: true}" [(ngModel)]="symbolizer.label"
        (change)="emitChange()" />
    </div>
  </div>

  <hs-symbolizer-color-picker [symbolizer]="symbolizer" attribute="color" opacityAttribute="opacity"
    (changes)="emitChange()" label="{{'STYLER.textColor' | translate}}"></hs-symbolizer-color-picker>

  <div class="d-flex flex-row">
    <div class="p-1 w-25">{{'STYLER.font' | translate}}:</div>
    <div class="p-1 w-75">
      <select class="form-control form-control-sm" [ngModelOptions]="{standalone: true}" [(ngModel)]="symbolizer.font"
        multiple>
        <option *ngFor="let font of fonts" [ngValue]="font">{{font}}</option>
      </select>
    </div>
  </div>

  <div class="d-flex flex-row">
    <div class="p-1 w-25">{{'STYLER.textSize' | translate}}:</div>
    <div class="p-1 w-75">
      <input class="form-control form-control-sm" [ngModelOptions]="{standalone: true}" [(ngModel)]="symbolizer.size"
        (change)="emitChange()" />
    </div>
  </div>

  <div class="d-flex flex-row">
    <div class="p-1 w-25 mt-2">{{'STYLER.justify' | translate}}:</div>
    <span class="badge badge-warning mt-2" title="{{'STYLER.warningAttribNotStoredNotVisualized' | translate}}">!</span>
    <div class="p-1 w-75">
      <select class="form-control form-control-sm" [(ngModel)]="symbolizer.justify" (change)="emitChange()"
        [ngModelOptions]="{standalone: true}">
        <option *ngFor="let justify of justifications">{{justify}}</option>
      </select>
    </div>
  </div>

  <div class="d-flex flex-row">
    <div class="p-1 w-25 mt-2">{{'STYLER.transform' | translate}}:</div>
    <span class="badge badge-warning mt-2" title="{{'STYLER.warningAttribNotStoredNotVisualized' | translate}}">!</span>
    <div class="p-1 w-75">
      <select class="form-control form-control-sm" [(ngModel)]="symbolizer.transform" (change)="emitChange()"
        [ngModelOptions]="{standalone: true}">
        <option *ngFor="let transform of transforms">{{transform}}</option>
      </select>
    </div>
  </div>

  <div class="d-flex flex-row">
    <div class="p-1 w-25 mt-2">{{'STYLER.fontStyle' | translate}}:</div>
    <span class="badge badge-warning mt-2" title="{{'STYLER.warningAttribStoredNotVisualized' | translate}}">!</span>
    <div class="p-1 w-75">
      <select class="form-control form-control-sm" [(ngModel)]="symbolizer.fontStyle" (change)="emitChange()"
        [ngModelOptions]="{standalone: true}">
        <option *ngFor="let fontStyle of fontStyles">{{fontStyle}}</option>
      </select>
    </div>
  </div>

  <div class="d-flex flex-row">
    <div class="p-1 w-25 mt-2">{{'STYLER.fontWeight' | translate}}:</div>
    <span class="badge badge-warning mt-2" title="{{'STYLER.warningAttribStoredNotVisualized' | translate}}">!</span>
    <div class="p-1 w-75">
      <select class="form-control form-control-sm" [(ngModel)]="symbolizer.fontWeight" (change)="emitChange()"
        [ngModelOptions]="{standalone: true}">
        <option *ngFor="let fontWeight of fontWeights">{{fontWeight}}</option>
      </select>
    </div>
  </div>

  <hs-symbolizer-slider [symbolizer]="symbolizer" attribute="opacity" (changes)="emitChange()" step="0.05" min="0"
    max="1" label="{{'STYLER.opacity' | translate}}"
    warning="{{'STYLER.warningAttribNotStoredVisualized' | translate}}"></hs-symbolizer-slider>

  <hs-symbolizer-color-picker [symbolizer]="symbolizer" attribute="haloColor" (changes)="emitChange()"
    label="{{'STYLER.haloColor' | translate}}"></hs-symbolizer-color-picker>

  <hs-symbolizer-slider [symbolizer]="symbolizer" attribute="haloWidth" (changes)="emitChange()" step="1" min="0"
    max="20" label="{{'STYLER.haloWidth' | translate}}"></hs-symbolizer-slider>

  <div class="d-flex flex-row">
    <div class="p-1 w-25">{{'STYLER.offsetX' | translate}}:</div>
    <div class="p-1 w-75">
      <input class="form-control form-control-sm" type="range" step="1" min="-40" max="40"
        [ngModelOptions]="{standalone: true}" [(ngModel)]="symbolizer.offset[0]" *ngIf="symbolizer.offset !== undefined"
        (change)="emitChange()" />
    </div>
  </div>

  <div class="d-flex flex-row">
    <div class="p-1 w-25">{{'STYLER.offsetY' | translate}}:</div>
    <div class="p-1 w-75">
      <input class="form-control form-control-sm" type="range" step="1" min="-40" max="40"
        [ngModelOptions]="{standalone: true}" [(ngModel)]="symbolizer.offset[1]" *ngIf="symbolizer.offset !== undefined"
        (change)="emitChange()" />
    </div>
  </div>

  <hs-symbolizer-slider [symbolizer]="symbolizer" attribute="rotate" (changes)="emitChange()" step="1" min="0" max="360"
    label="{{'STYLER.rotation' | translate}}"></hs-symbolizer-slider>

  <div class="d-flex flex-row">
    <div class="p-1 w-25 mt-2">{{'STYLER.anchor' | translate}}:</div>
    <span class="badge badge-warning mt-2" title="{{'STYLER.warningAttribStoredNotVisualized' | translate}}">!</span>
    <div class="p-1 w-75">
      <select class="form-control form-control-sm" [(ngModel)]="symbolizer.anchor" (change)="emitChange()"
        [ngModelOptions]="{standalone: true}">
        <option *ngFor="let anchor of anchors">{{anchor}}</option>
      </select>
    </div>
  </div>
</form>