<div ng-class="{'in': $ctrl.modalVisible}" class="modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" translate>
                    New layer
                </h4>
                <button type="button" ng-click="$ctrl.modalVisible = false" class="close" data-dismiss="modal"><span
                        aria-hidden="true">&times;</span><span class="sr-only" translate="">Close</span></button>
            </div>
            <div class="modal-body" style="max-height:400px; height: 25em; overflow-y:auto">
                <form>
                    <div class="form-group">
                        <label class="control-label" translate>Layer title</label>
                        <div class="input-group mb-3">
                            <input class="form-control" ng-model="$ctrl.title" ng-change="$ctrl.titleChanged()" />
                            <div class="input-group-append"  data-toggle="tooltip" title="{{'More options' | translate}}">
                                <span class="input-group-text icon-chevron-down"
                                    ng-click="folderVisible = !folderVisible"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" ng-show="folderVisible">
                        <label class="control-label" translate>Folder</label>
                        <input class="form-control" ng-model="$ctrl.path" ng-change="$ctrl.pathChanged()" placeholder="Name of folder in layer-manager hierararchy"/>
                    </div>
                    <div class="card">
                        <h5 class="card-header" translate>Attributes</h5>
                        <div class="card-body">
                            <table class="table table-condensed">
                                <tr>
                                    <th translate>Attribute</th>
                                    <th translate>Default value</th>
                                </tr>
                                <tr ng-repeat="attr in $ctrl.attributes">
                                    <td><input class="form-control" ng-model="attr.name" /></td>
                                    <td><input class="form-control" ng-model="attr.value" /></td>
                                </tr>
                                </tr>
                            </table>
                            <btn class="btn btn-primary" ng-click="$ctrl.addAttr()"><i class="icon-plus"></i></btn>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="$ctrl.confirm()"
                    translate>OK</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="$ctrl.modalVisible = false"
                    translate>Cancel</button>
            </div>
        </div>
    </div>
</div>