<div ng-class="{'in': $ctrl.modalVisible}" class="modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header d-flex flex-column">
                <div class="d-flex w-100 align-items-center">
                    <h4 class="modal-title" translate>
                        New drawing layer
                    </h4>
                    <button type="button" ng-click="$ctrl.cancel()" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only" translate="">Close</span></button>
                </div>
                <p class="m-0 p-0" style="font-size: x-small; color: red;" translate>*Layer will be added to the map and
                    can be further managed in "Layermanager" panel</p>
            </div>
            <div class="alert alert-danger" role="alert">
                <p class="text-center"> 
                    {{'User not authorized, drawings cannot be saved' | translate}}
                </p>
                <hs.layman.current-user class="draw_laymanLogin" endpoint="$ctrl.endpoint"></hs.layman.current-user>
        
            </div>
            <div class="modal-body"  ng-if="!$ctrl.isAuthorized() " style="max-height:400px; overflow-y:auto">
                <form>
                    <div class="form-group">
                        <label class="control-label" translate>Layer title</label>
                        <div class="mb-3">
                            <input class="form-control" ng-model="$ctrl.title" ng-change="$ctrl.titleChanged()" />
                        </div>
                    </div>
                    <div class="flex-row w-75 align-items-center" style="display: flex;">
                        <a href="" class="p-1 mb-1" ng-click="folderVisible = !folderVisible" translate>Advanced
                            options</a>
                    </div>
                    <div ng-show="folderVisible">
                        <div class="form-group">
                            <label class="control-label" translate>Folder</label>
                            <input class="form-control" ng-model="$ctrl.path" ng-change="$ctrl.pathChanged()"
                                placeholder="Name of folder in layer-manager hierararchy" />
                        </div>
                        <div class="card">
                            <h5 class="card-header" translate>Default attributes</h5>
                            <div class="card-body">
                                <table class="table table-condensed">
                                    <tr>
                                        <th translate>Attribute</th>
                                        <th translate>Default value</th>
                                    </tr>
                                    <tr ng-repeat="attr in $ctrl.attributes">
                                        <td><input class="form-control" ng-model="attr.name" /></td>
                                        <td><input class="form-control" ng-model="attr.value" /></td>
                                    </tr>
                                    </tr>
                                </table>
                                <btn class="btn btn-primary" ng-click="$ctrl.addAttr()"><i class="icon-plus"></i></btn>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button"  ng-if="!$ctrl.isAuthorized()" class="btn btn-primary" data-dismiss="modal" ng-click="$ctrl.confirm()"
                    translate>OK</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="$ctrl.cancel()"
                    translate>Cancel</button>
            </div>
        </div>
    </div>
</div>