<div layout="column">
    <div class="baselayers-section" ng-if="LM.data.baselayers">
        <md-subheader>Baselayers</md-subheader>
        <div class="baselayers-row" layout="row">
            <div
                ng-repeat="layer in LM.data.baselayers | orderBy: 'title'"
                ng-click="LM.changeBaseLayerVisibility($event, layer)"
                ng-class="{'selected-basemap': layer.active}" class="baselayer-tile" layout="column" >
                <div class="avatar-container">
                    <img ng-src="{{hasImage(layer) ? getImage(layer) : defaultBaselayerThumbnail}}" class="md-avatar" alt="{{layer.title}} image" />
                    <md-button ng-if="isRemovable(layer)" ng-click="$event.stopPropagation();showRemoveDialog($event, layer)" class="md-icon-button md-accent remove-layer">
                        <md-icon class="material-icons red">
                            delete
                        </md-icon>
                    </md-button>
                </div>
                <p>{{layer.title}}</p>
            </div>
        </div>
    </div>
    <md-divider></md-divider>
    <div class="terrain-section" ng-if="LM.data.terrainLayers">
        <md-subheader>Terrain</md-subheader>
        <div class="terrain-row" layout="row">
            <div
                ng-repeat="layer in LM.data.terrainLayers | orderBy: 'title'"
                ng-click="LM.changeTerrainLayerVisibility($event, layer)"
                ng-class="{'selected-basemap': layer.active}" class="baselayer-tile" layout="column" >
                <div class="avatar-container">
                    <img ng-src="{{hasImage(layer) ? getImage(layer) : defaultTerrainlayerThumbnail}}" class="md-avatar" alt="{{layer.title}} image" />
                    <md-button ng-if="isRemovable(layer)" ng-click="$event.stopPropagation();showRemoveDialog($event, layer)" class="md-icon-button md-accent remove-layer">
                        <md-icon class="material-icons red">
                            delete
                        </md-icon>
                    </md-button>
                </div>
                <p>{{layer.title}}</p>
            </div>
        </div>
    </div>
</div>