<div class="baselayers-row" layout="row">
    <div
        ng-repeat="map in LM.data.baselayers | orderBy: 'title'"
        ng-click="console.log('changeBaseLayerVisibility($event, map)')"
        ng-class="{'selected-basemap': map.active}" class="baselayer-tile" layout="column" >
        <img ng-src="{{hasImage(map) ? getImage(map) : defaultBaselayerThumbnail}}" class="md-avatar" alt="{{map.title}} image" />
        <p>{{map.title}}</p>
        <md-icon ng-if="isRemoveable(map)" ng-click="$event.stopPropagation();showRemoveDialog($event, map)" class="material-icons red">
            delete
        </md-icon>
    </div>
</div>

<!-- <div layout-padding>
    <md-grid-list
            md-cols-xs="2" md-cols-sm="2" md-cols-gtmd="4"
            md-row-height="fit"
            md-gutter="8px" >
        <md-grid-tile
                ng-repeat="map in LM.data.baselayers | orderBy: 'title'"
                md-rowspan="1" md-colspan="1"
                ng-click="console.log('changeBaseLayerVisibility($event, map)')"
                ng-class="{'selected-basemap': map.active}">
            <img ng-src="{{hasImage(map) ? getImage(map) : defaultBaselayerThumbnail}}" class="md-avatar" alt="{{map.title}} image" />
            <md-grid-tile-footer>
                <h2>{{map.title}}</h2>                
            </md-grid-tile-footer>
            <md-icon ng-if="isRemoveable(map)" ng-click="$event.stopPropagation();showRemoveDiag($event, map)" class="material-icons red">
                delete
            </md-icon>
        </md-grid-tile>
    </md-grid-list>
</div> -->