<div layout="column">
    <div class="baselayers-section" ng-if="LM.data.baselayers">
        <md-subheader>Baselayers</md-subheader>
        <div class="baselayers-row" layout="row">
            <div
                ng-repeat="layer in LM.data.baselayers | orderBy: 'title'"
                ng-click="console.log('LM.changeBaseLayerVisibility($event, layer)')"
                ng-class="{'selected-basemap': layer.active}" class="baselayer-tile" layout="column" >
                <img ng-src="{{hasImage(layer) ? getImage(layer) : defaultBaselayerThumbnail}}" class="md-avatar" alt="{{layer.title}} image" />
                <p>{{layer.title}}</p>
                <md-icon ng-if="isRemoveable(layer)" ng-click="$event.stopPropagation();showRemoveDialog($event, layer)" class="material-icons red">
                    delete
                </md-icon>
            </div>
        </div>
    </div>
    <md-divider></md-divider>
    <div class="terrain-section" ng-if="LM.data.terrainLayers">
        <md-subheader>Terrain</md-subheader>
        <div class="terrain-row" layout="row">
            <div
                ng-repeat="layer in LM.data.terrainLayers | orderBy: 'title'"
                ng-click="console.log('LM.changeTerrainLayerVisibility($event, layer)')"
                ng-class="{'selected-basemap': layer.active}" class="baselayer-tile" layout="column" >
                <img ng-src="{{hasImage(layer) ? getImage(layer) : defaultBaselayerThumbnail}}" class="md-avatar" alt="{{layer.title}} image" />
                <p>{{layer.title}}</p>
                <md-icon ng-if="isRemoveable(layer)" ng-click="$event.stopPropagation();showRemoveDialog($event, layer)" class="material-icons red">
                    delete
                </md-icon>
            </div>
        </div>
    </div>
</div>