<md-bottom-sheet-collapsible ng-class="Core.mainpanel">
  <md-toolbar class="md-hue-3" flex="none" hide-gt-sm>
    <div class="md-toolbar-tools">
      <h3 flex md-truncate translate>{{ bottomSheetTitle }}</h3>
      <md-button class="md-icon-button" aria-label="Close bottom sheet" ng-click="closeBottomSheet()">
      	<md-icon class="material-icons">close</md-icon>
      </md-button>
  	</div>
    <md-button class="md-icon-button bottom-sheet-switcher" aria-label="Switch bottom sheet state" ng-click="switchBottomSheetState()">
    <!-- <md-button class="md-icon-button bottom-sheet-switcher" aria-label="Switch bottom sheet state" ng-click="bottomSheetState === 'minimized' ? setHalfway : setMinimized"> -->
    	<md-icon class="material-icons">expand_more</md-icon>
    	<!-- <md-icon class="material-icons">expand_more</md-icon> -->
    </md-button>
  </md-toolbar>
	<div hs.layermanager.directive          ng-controller="hs.layermanager.controller" ng-if="Core.exists('hs.layermanager.controller')" ng-show="Core.panelVisible('layermanager', this)"></div>
	<hs.legend              								ng-if="Core.exists('hs.legend.controller')" ng-show="Core.panelVisible('legend', this)"></hs.legend>
	<div hs.addLayers                   ng-controller="hs.addLayers" ng-if="Core.exists('hs.addLayers') && !Core.singleDatasources" ng-show="Core.panelVisible('ows', this)"></div>
	<div hs.datasource_selector.directive   ng-controller="hs.datasource_selector.controller" ng-if="Core.exists('hs.datasource_selector.controller')" ng-show="Core.panelVisible('datasource_selector', this)"></div>
	<div hs.compositions.directive          ng-controller="hs.compositions.controller" ng-if="Core.exists('hs.compositions.controller')" ng-show="Core.panelVisible('composition_browser', this)"></div>
	<div hs.lodexplorer.directive           ng-controller="hs.lodexplorer.controller" ng-if="Core.exists('hs.lodexplorer.controller')" ng-show="Core.panelVisible('lodexplorer', this)"></div>
	<div hs.feature_crossfilter.directive   ng-controller="hs.feature_crossfilter.controller"  ng-if="Core.exists('hs.feature_crossfilter.controller')" ng-show="Core.panelVisible('feature_crossfilter', this)"></div>
	<div hs.measure.directive               ng-controller="hs.measure.controller"  ng-if="Core.exists('hs.measure.controller')" ng-show="Core.panelVisible('measure', this)"></div>
	<hs.print                 							ng-if="Core.exists('hs.print')" ng-show="Core.panelVisible('print', this)"></hs.print>
	<div hs.styler.directive                ng-controller="hs.styler.controller"  ng-if="Core.exists('hs.styler.controller')" ng-show="Core.panelVisible('styler', this)"></div>
	<hs.permalink							             	ng-if="Core.exists('hs.permalink')" ng-show="Core.panelVisible('permalink', this)"></hs.permalink>
	<div hs.query.directive_infopanel       ng-controller="hs.query.controller" id="infopanel" ng-if="Core.exists('hs.query.controller')" ng-show="Core.panelVisible('info', this)"></div>
	<div hs.save-map.directive_panel  ng-controller="hs.save-map.controller" ng-if="Core.exists('hs.save-map.controller')" ng-show="Core.panelVisible('saveMap', this)"></div>
	<div hs.routing.directive               ng-controller="hs.routing.controller" ng-if="Core.exists('hs.routing.controller')" ng-show="Core.panelVisible('routing', this)"></div>
	<div hs.tracking.directive              ng-controller="hs.tracking.controller" ng-if="Core.exists('hs.tracking.controller')" ng-show="Core.panelVisible('tracking', this)"></div>
	<div hs.draw.directive                  ng-controller="hs.draw.controller" ng-if="Core.exists('hs.draw.controller')" ng-show="Core.panelVisible('draw', this)"></div>
	<div hs.customhtml.directive                                                            ng-if="Core.exists('hs.customhtml.controller')"></div>
</md-bottom-sheet>