<div class="hs-page-wrapper bsi" style="width: 100%; height: 100%;">
    <div class="hs-content-wrapper d-flex w-100 h-100"
        ng-class="{'hs-open': layoutService.sidebarExpanded && layoutService.sidebarVisible(), 'hs-sb-right': config.sidebarPosition == 'right' && layoutService.sidebarVisible(), 'hs-sb-left': config.sidebarPosition == 'left' && layoutService.sidebarVisible(),'hs-sb-bottom':layoutService.sidebarBottom()}">
        <!-- ng-if="layoutService.componentEnabled('guiOverlay')" -->
        <div class="hs-map-space">
            <hs.map></hs.map>
            <hs.cesium></hs.cesium>

            <hs.layermanager.gallery ng-if="layoutService.componentEnabled('basemapGallery')"></hs.layermanager.gallery>
            <hs.toolbar ng-if="HsCore.exists('hs.toolbar')"
                ng-show="panelEnabled('toolbar') && layoutService.componentEnabled('toolbar')">
            </hs.toolbar>
            <hs-geolocation ng-show="layoutService.componentEnabled('geolocationButton')"></hs-geolocation>
            <div class="hs-info-container" ng-show="panelEnabled('compositionLoadingProgress')">
                <div class="hs-info-area">
                    <hs-info ng-if="HsCore.exists('hs.info')"></hs-info>
                </div>
            </div>
        </div>

        <!-- <div ng-style="{'width':'239px'}" ng-controller="HsSearchController" ng-if="!HsCore.exists('hs.toolbar') && HsCore.exists('HsSearchController') && layoutService.sidebarVisible()">
                    <div>
                        <hs-search-input></hs-search-input>
                        <hs-search-results></hs-search-results>
                    </div>
                </div> -->
        <div class="hs-panelspace" ng-if="layoutService.sidebarVisible()"
            ng-class="{'labels': layoutService.sidebarLabels, 'buttons': layoutService.sidebarButtons}"
            ng-style="{width: panelSpaceWidth()+'px'}">
            <div class="hs-panelspace-wrapper">
                <hs-sidebar ng-cloak></hs-sidebar>
                <div class="hs-panelplace">
                    <hs.layermanager ng-show="panelVisible('layermanager', this)"></hs.layermanager>
                    <hs.legend ng-show="panelVisible('legend', this)"></hs.legend>
                    <hs.datasource-selector ng-show="panelVisible('datasource_selector', this)">
                    </hs.datasource-selector>
                    <hs-compositions ng-show="panelVisible('composition_browser', this)"></hs-compositions>
                    <hs.measure ng-show="panelVisible('measure', this)"></hs.measure>
                    <hs.print ng-show="panelVisible('print', this)"></hs.print>
                    <hs.styles ng-show="panelVisible('styler', this)"></hs.styles>
                    <hs-share ng-show="panelVisible('permalink', this)"></hs-share>
                    <hs-query class="hs-infopanel" ng-if="config.design != 'md'" ng-show="panelVisible('info', this)">
                    </hs-query>
                    <hs.query.directive_infopanel_md class="hs-infopanel" ng-if="config.design == 'md'"
                        ng-show="panelVisible('info', this)"></hs.query.directive_infopanel_md>
                    <hs.save-map ng-show="panelVisible('saveMap', this)"></hs.save-map>
                    <hs-language ng-show="panelVisible('language', this)"></hs-language>
                    <hs-feature-table ng-show="panelVisible('feature_table', this)"></hs-feature-table>
                    <hs.vgi-draw ng-show="panelVisible('draw', this)"></hs.vgi-draw>
                    <hs.sensors ng-show="panelVisible('sensors', this)"></hs.sensors>
                    <hs-search ng-if="panelVisible('search')" ng-show="panelVisible('search', this)">
                    </hs-search>
                    <hs-trip-planner ng-if="panelVisible('tripPlanner')" ng-show="panelVisible('tripPlanner', this)">
                    </hs-trip-planner>
                    <hs-mini-sidebar ng-if="layoutService.minisidebar" ng-show="panelVisible('sidebar', this)">
                    </hs-mini-sidebar>
                    <hs.draw ng-show="panelVisible('draw', this)"></hs.draw>
                    <div hs.customhtml.directive DEPRECATED style="height: auto"></div>
                    <hs-panel-container class="hs-panelplace" ng-style="{width: (panelSpaceWidth()-50)+'px'}">
                    </hs-panel-container>
                </div>
            </div>
        </div>
        <div class="hs-dialog-area">
            <!--<div hs.save-map.directive ng-controller="hs.save-map.controller" ng-if="HsCore.exists('hs.save-map.controller')" ng-show="panelVisible('saveMap', this)"></div>-->
        </div>
    </div>

    <div>
        <hs-query-feature-popup></hs-query-feature-popup>
    </div>
    <!-- <hs.draw.shape-toolbar></hs.draw.shape-toolbar> -->

    <hs-dialog-container></hs-dialog-container>
</div>