<md-fab-speed-dial ng-if="fab.secondary" md-open="fab.options.isOpen" md-direction="up" class="md-fling md-fab-bottom-right">
	<md-fab-trigger>
		<md-button class="md-fab" ng-class="fab.primary.classes" ng-click="fab.primary.clickAction()">
			<md-tooltip ng-if="fab.primary.tooltip" md-direction="{{fab.primary.tooltip.direction}}">{{fab.primary.tooltip.text}}</md-tooltip>
			<md-icon class="fab {{fab.options.isOpen ? 'opened' : 'closed'}} {{fab.primary.icon.classes}} {{fab.primary.icon.iconSet}}">{{fab.primary.icon.text}}</md-icon>
		</md-button>
	</md-fab-trigger>
	<md-fab-actions>
		<div ng-repeat="item in fab.secondary" class="md-fab-action-item">
			<md-button class="md-fab md-raised md-mini {{item.classes}}" ng-click="item.clickAction()">
				<md-tooltip md-direction="{{item.tooltip.direction}}" md-visible="fab.options.tooltipsVisible" md-autohide="false">{{item.tooltip.text}}</md-tooltip>
				<md-icon class="{{item.icon.classes}} {{item.icon.iconSet}}">{{item.icon.text}}</md-icon>
			</md-button>
		</div>
	</md-fab-actions>
</md-fab-speed-dial>

<md-button ng-if="!fab.secondary" class="md-fab" ng-class="[fab.primary.classes, fab.options.location]" ng-click="fab.primary.clickAction()">
	<md-tooltip md-direction="{{fab.primary.tooltip.direction}}">{{fab.primary.tooltip.text}}</md-tooltip>
	<md-icon class="{{fab.primary.icon.classes}} {{fab.primary.icon.iconSet}}">{{fab.primary.icon.text}}</md-icon>
</md-button>

<md-button ng-if="Core.exists('hs.geolocation.controller')" class="md-fab md-mini md-fab-bottom-left geolocation" ng-click="geolocation.toggleGps()">
	<md-icon md-icon-set="material-icons" class="geolocation material-icons {{location.status.class}}">{{location.status.icon}}</md-icon>
</md-button>

<md-button ng-if="Core.exists('hs.layermanager.controller')" class="md-fab md-mini md-fab-top-right baselayers-button" ng-click="openBaselayersPanel($event)">
	<md-icon md-icon-set="material-icons">layers</md-icon>
</md-button>

<div ng-controller="hs.query.controller" id="infopanel" ng-if="Core.exists('hs.query.controller')" ng-show="layoutService.panelVisible('info', this)"></div>