<md-sidenav class="md-sidenav-left" flex-gt-md="25"
    flex-md="40" flex-sm="60" flex-xs="100" md-component-id="sidenav-left" md-whiteframe="4">
    <md-content>
        <md-list flex>
            <div ng-repeat="panel in layoutService.data.panels | filter: onlyEnabled | orderBy:'order'">
                <md-list-item ng-if="(Core.exists(panel.controller) || Core.exists(panel.directive)) && layoutService.panelEnabled(panel.name)" ng-click="panel.ngClick ? panel.ngClick() : openPanel(panel)">
                    <md-icon md-icon-set="material-icons" title="{{panel.description}}">{{panel.mdicon}}</md-icon>
                    <p translate>{{panel.title}}</p>
                </md-list-item>
                <div panel-creator="panel.controller" directive="panel.directive" ng-if="(Core.exists(panel.controller) || Core.exists(panel.directive))" ng-show="layoutService.panelVisible(panel.name)" hide-xs hide-sm></div>
            </div>

            <md-list-item ng-if="Core.exists('hs.routing.controller')" ng-click="openPanel('routing')">
                <md-icon md-icon-set="material-icons">directions</md-icon>
                <p translate>Routing</p>
            </md-list-item>

            <md-list-item ng-if="Core.exists('hs.tracking.controller')" ng-click="openPanel('tracking')">
                <md-icon md-icon-set="material-icons">track_changes</md-icon>
                <p translate>Tracking</p>
            </md-list-item>

            <md-list-item ng-if="Core.exists('hs.vgi-draw')" ng-click="openPanel('draw')">
                <md-icon md-icon-set="material-icons">add_location</md-icon>
                <p translate>Draw new features</p>
            </md-list-item>           
            
            <md-list-item ng-if="Core.exists('hs.mobile_settings.controller') && layoutService.panelEnabled('mobile_settings')" ng-click="openPanel('mobile_settings')">
                <md-icon md-icon-set="material-icons" title="{{'Specify application user settings'||translate}}">settings</md-icon>
                <p translate>Application settings</p>
            </md-list-item>
            
            <md-list-item ng-repeat="but in service.extraButtons" ng-click="but.click()" ng-class="{'active': but.isActive()}" ng-click="console.log('Button clicked.');">
                <md-icon>
                    <span class="icon_class"></span>
                </md-icon>
                <p translate>{{but.title}}</p>
            </md-list-item>
        </md-list>
    </md-content>
</md-sidenav>