<!-- <ul id="sidebar" class="side-nav collapsible" data-collapsible="accordion">
    <li>
        <div class="user-view">
            <div class="background" style="background-color: #0093c4"></div>
            <a href="#!user"><img class="circle" src="img/tester.png"></a>
            <a href="#!name"><span class="white-text name">Tester</span></a>
            <a href="#!email"><span class="white-text email">tester@test.com</span></a>
        </div>
    </li>
    <li ng-repeat="item in sidebarList">
        <div class="collapsible-header">
            <i class="{{item.iconClass}}" title="{{item.description|translate}}">{{item.icon}}</i>
            <span class="sidebar-item-title" translate>{{item.title}}</span>
        </div>
        <div></div>
        <div class="collapsible-body">{{item.body}}</div>
    </li>
</ul> -->

<!-- <ul id="sidebar" class="side-nav collapsible" data-collapsible="accordion"> -->
<!--     <li>
        <div class="user-view">
            <div class="background" style="background-color: #4fc3f7"></div>
            <a href="#!user"><img class="circle" src="img/tester.png"></a>
            <a href="#!name"><span class="white-text name">Tester</span></a>
            <a href="#!email"><span class="white-text email">tester@test.com</span></a>
        </div>
    </li>

    <li ng-if="Core.exists('hs.compositions.controller') && Core.panelEnabled('compositions')">
        <div class="collapsible-header">
            <span class="menu-icon glyphicon icon-map" data-toggle="tooltip" data-container="body" data-placement="auto" title="{{'List available map compositions'|translate}}"></span>
            <span class="sidebar-item-title" translate>Map Compositions</span>
        </div>
        <div hs.compositions.directive ng-controller="hs.compositions.controller" class="collapsible-body"></div>
    </li>

    <li ng-if="Core.exists('hs.layermanager.controller') && Core.panelEnabled('layermanager')">
        <div class="collapsible-header">
            <span class="menu-icon glyphicon icon-layers" data-toggle="tooltip" data-container="body" data-placement="auto" title="{{'Manage and style your layers in composition'|translate}}"></span>
            <span class="sidebar-item-title" translate>Manage and Style Layers</span>
        </div>
        <div hs.layermanager.directive ng-controller="hs.layermanager.controller" class="collapsible-body"></div>
    </li>

    <li ng-if="Core.exists('hs.legend.controller')">
        <div class="collapsible-header">
            <span class="menu-icon glyphicon legend-toolbtn">L</span>
            <span class="sidebar-item-title">Legend</span>
        </div>
        <div hs.legend.directive ng-controller="hs.legend.controller" class="collapsible-body"></div>
    </li>

    <li ng-if="Core.exists('hs.datasource_selector.controller')">
        <div class="collapsible-header">
            <span class="menu-icon glyphicon icon-database" data-toggle="tooltip" data-container="body" data-placement="auto" title="{{'Select data or services for your map composition'|translate}}"></span>
            <span class="sidebar-item-title" ng-if="!Core.singleDatasources" translate>Datasource Selector</span>
            <span class="sidebar-item-title" ng-if="Core.singleDatasources" translate>Add layers</span>
        </div>
        <div hs.datasource_selector.directive ng-controller="hs.datasource_selector.controller" class="collapsible-body"></div>
    </li>

    <li ng-if="Core.exists('hs.ows.controller') && !Core.singleDatasources && Core.panelEnabled('ows')">
        <div class="collapsible-header">
            <span class="menu-icon glyphicon glyphicon-plus" data-toggle="tooltip" data-container="body" data-placement="auto" title="{{'Add external data'|translate}}"></span>
            <span class="sidebar-item-title" translate>Add external data</span>
        </div>
        <div hs.ows.directive ng-controller="hs.ows.controller" class="collapsible-body"></div>
    </li>

    <li ng-if="Core.exists('hs.feature_crossfilter.controller')">
        <div class="collapsible-header">
            <span class="menu-icon glyphicon icon-analytics-piechare" data-toggle="tooltip" data-container="body" data-placement="auto" title="Crossfilter"></span>
            <span class="sidebar-item-title" translate>Filter features</span>
        </div>
        <div hs.feature_crossfilter.directive ng-controller="hs.feature_crossfilter.controller" class="collapsible-body"></div>
    </li>

    <li ng-if="(Core.exists('hs.measure.controller') && !Core.exists('hs.toolbar.controller'))">
        <div class="collapsible-header">
            <span class="menu-icon glyphicon icon-design" data-toggle="tooltip" data-container="body" data-placement="auto" title="{{'Measure distance or area at map'|translate}}"></span>
            <span class="sidebar-item-title" translate>Measurements</span>
        </div>
        <div class="collapsible-body"></div>
    </li>

    <li ng-if="Core.exists('hs.lodexplorer.controller')">
        <div class="collapsible-header">
            <span class="menu-icon glyphicon icon-sharedhosting"></span>
            <span class="sidebar-item-title">Eurostat explorer</span>
        </div>
        <div hs.lodexplorer.directive ng-controller="hs.lodexplorer.controller" class="collapsible-body"></div>
    </li>

    <li ng-if="Core.exists('hs.routing.controller')">
        <div class="collapsible-header">
            <span class="menu-icon glyphicon glyphicon-road"></span>
            <span class="sidebar-item-title">Routing</span>
        </div>
        <div hs.routing.directive ng-controller="hs.routing.controller" class="collapsible-body"></div>
    </li>

    <li ng-if="Core.exists('hs.tracking.controller')">
        <div class="collapsible-header">
            <span class="menu-icon glyphicon glyphicon-screenshot"></span>
            <span class="sidebar-item-title">Tracking</span>
        </div>
        <div hs.tracking.directive ng-controller="hs.tracking.controller" class="collapsible-body"></div>
    </li>

    <li ng-if="Core.exists('hs.draw.controller')">
        <div class="collapsible-header">
            <span class="menu-icon glyphicon glyphicon-flag"></span>
            <span class="sidebar-item-title">Draw new features</span>
        </div>
        <div hs.draw.directive ng-controller="hs.draw.controller" class="collapsible-body"></div>
    </li>
    
    
    <li ng-if="Core.exists('hs.print.controller')">
        <div class="collapsible-header">
            <span class="menu-icon glyphicon icon-print" data-toggle="tooltip" data-container="body" data-placement="auto" title="{{'Print map'|translate}}"></span>
            <span class="sidebar-item-title" translate>Print</span>
        </div>
        <div hs.print.directive ng-controller="hs.print.controller" class="collapsible-body"></div>
    </li>
    
    
    <li ng-if="Core.exists('hs.permalink.controller')  && Core.panelEnabled('permalink')">
        <div class="collapsible-header">
            <span class="menu-icon glyphicon icon-share-alt" data-toggle="tooltip" data-container="body" data-placement="auto" title="{{'Share map'|translate}}"></span>
            <span class="sidebar-item-title" translate>Share map</span>
        </div>
        <div hs.permalink.directive ng-controller="hs.permalink.controller" class="collapsible-body"></div>
    </li>

    <li ng-if="Core.exists('hs.status_creator.controller') && Core.panelEnabled('status_creator')" ng-click="Core.openStatusCreator()">
        <div class="collapsible-header">
            <span class="menu-icon glyphicon icon-save-floppy" data-toggle="tooltip" data-container="body" data-placement="auto" title="{{'Save content of map to composition'||translate}}"></span>
            <span class="sidebar-item-title" translate>Save composition</span>
        </div>
        <div hs.status_creator.directive ng-controller="hs.status_creator.controller" class="collapsible-body"></div>
    </li>

    <li ng-if="Core.exists('hs.mobile_settings.controller') && Core.panelEnabled('mobile_settings')">
        <div class="collapsible-header">
            <span class="menu-icon glyphicon icon-settingsandroid" data-toggle="tooltip" data-container="body" data-placement="auto" title="{{'Specify application user settings'||translate}}"></span>
            <span class="sidebar-item-title" translate>Application settings</span>
        </div>
        <div hs.mobile_settings.directive ng-controller="hs.mobile_settings.controller" class="collapsible-body"></div>
    </li>
    
    <li ng-repeat="but in service.extra_buttons" ng-click="but.click()" ng-class="{'active': but.isActive()}">
        <div class="collapsible-header">
            <span ng-class="'menu-icon ' + but.icon_class"></span>
            <span class="sidebar-item-title">{{but.title}}</span>
        </div>
        <div class="collapsible-body"></div>
    </li> -->
<!-- </ul> -->

<md-sidenav class="md-sidenav-left" md-component-id="sidenav-left" md-whiteframe="4">
    <md-content layout-padding>
<!--         <li>
            <div class="user-view">
                <div class="background" style="background-color: #4fc3f7"></div>
                <a href="#!user"><img class="circle" src="img/tester.png"></a>
                <a href="#!name"><span class="white-text name">Tester</span></a>
                <a href="#!email"><span class="white-text email">tester@test.com</span></a>
            </div>
        </li> -->

        Testing

        <li ng-if="Core.exists('hs.compositions.controller') && Core.panelEnabled('compositions')">
            <div class="collapsible-header">
                <span class="menu-icon glyphicon icon-map" data-toggle="tooltip" data-container="body" data-placement="auto" title="{{'List available map compositions'|translate}}"></span>
                <span class="sidebar-item-title" translate>Map Compositions</span>
            </div>
            <div hs.compositions.directive ng-controller="hs.compositions.controller" class="collapsible-body"></div>
        </li>

        <li ng-if="Core.exists('hs.layermanager.controller') && Core.panelEnabled('layermanager')">
            <div class="collapsible-header">
                <span class="menu-icon glyphicon icon-layers" data-toggle="tooltip" data-container="body" data-placement="auto" title="{{'Manage and style your layers in composition'|translate}}"></span>
                <span class="sidebar-item-title" translate>Manage and Style Layers</span>
            </div>
            <div hs.layermanager.directive ng-controller="hs.layermanager.controller" class="collapsible-body"></div>
        </li>

        <li ng-if="Core.exists('hs.legend.controller')">
            <div class="collapsible-header">
                <span class="menu-icon glyphicon legend-toolbtn">L</span>
                <span class="sidebar-item-title">Legend</span>
            </div>
            <div hs.legend.directive ng-controller="hs.legend.controller" class="collapsible-body"></div>
        </li>

        <li ng-if="Core.exists('hs.datasource_selector.controller')">
            <div class="collapsible-header">
                <span class="menu-icon glyphicon icon-database" data-toggle="tooltip" data-container="body" data-placement="auto" title="{{'Select data or services for your map composition'|translate}}"></span>
                <span class="sidebar-item-title" ng-if="!Core.singleDatasources" translate>Datasource Selector</span>
                <span class="sidebar-item-title" ng-if="Core.singleDatasources" translate>Add layers</span>
            </div>
            <div hs.datasource_selector.directive ng-controller="hs.datasource_selector.controller" class="collapsible-body"></div>
        </li>

        <li ng-if="Core.exists('hs.ows.controller') && !Core.singleDatasources && Core.panelEnabled('ows')">
            <div class="collapsible-header">
                <span class="menu-icon glyphicon glyphicon-plus" data-toggle="tooltip" data-container="body" data-placement="auto" title="{{'Add external data'|translate}}"></span>
                <span class="sidebar-item-title" translate>Add external data</span>
            </div>
            <div hs.ows.directive ng-controller="hs.ows.controller" class="collapsible-body"></div>
        </li>

        <li ng-if="Core.exists('hs.feature_crossfilter.controller')">
            <div class="collapsible-header">
                <span class="menu-icon glyphicon icon-analytics-piechare" data-toggle="tooltip" data-container="body" data-placement="auto" title="Crossfilter"></span>
                <span class="sidebar-item-title" translate>Filter features</span>
            </div>
            <div hs.feature_crossfilter.directive ng-controller="hs.feature_crossfilter.controller" class="collapsible-body"></div>
        </li>

        <li ng-if="(Core.exists('hs.measure.controller') && !Core.exists('hs.toolbar.controller'))">
            <div class="collapsible-header">
                <span class="menu-icon glyphicon icon-design" data-toggle="tooltip" data-container="body" data-placement="auto" title="{{'Measure distance or area at map'|translate}}"></span>
                <span class="sidebar-item-title" translate>Measurements</span>
            </div>
            <div class="collapsible-body"></div>
        </li>

        <li ng-if="Core.exists('hs.lodexplorer.controller')">
            <div class="collapsible-header">
                <span class="menu-icon glyphicon icon-sharedhosting"></span>
                <span class="sidebar-item-title">Eurostat explorer</span>
            </div>
            <div hs.lodexplorer.directive ng-controller="hs.lodexplorer.controller" class="collapsible-body"></div>
        </li>

        <li ng-if="Core.exists('hs.routing.controller')">
            <div class="collapsible-header">
                <span class="menu-icon glyphicon glyphicon-road"></span>
                <span class="sidebar-item-title">Routing</span>
            </div>
            <div hs.routing.directive ng-controller="hs.routing.controller" class="collapsible-body"></div>
        </li>

        <li ng-if="Core.exists('hs.tracking.controller')">
            <div class="collapsible-header">
                <span class="menu-icon glyphicon glyphicon-screenshot"></span>
                <span class="sidebar-item-title">Tracking</span>
            </div>
            <div hs.tracking.directive ng-controller="hs.tracking.controller" class="collapsible-body"></div>
        </li>

        <li ng-if="Core.exists('hs.draw.controller')">
            <div class="collapsible-header">
                <span class="menu-icon glyphicon glyphicon-flag"></span>
                <span class="sidebar-item-title">Draw new features</span>
            </div>
            <div hs.draw.directive ng-controller="hs.draw.controller" class="collapsible-body"></div>
        </li>
        
        
        <li ng-if="Core.exists('hs.print.controller')">
            <div class="collapsible-header">
                <span class="menu-icon glyphicon icon-print" data-toggle="tooltip" data-container="body" data-placement="auto" title="{{'Print map'|translate}}"></span>
                <span class="sidebar-item-title" translate>Print</span>
            </div>
            <div hs.print.directive ng-controller="hs.print.controller" class="collapsible-body"></div>
        </li>
        
        
        <li ng-if="Core.exists('hs.permalink.controller')  && Core.panelEnabled('permalink')">
            <div class="collapsible-header">
                <span class="menu-icon glyphicon icon-share-alt" data-toggle="tooltip" data-container="body" data-placement="auto" title="{{'Share map'|translate}}"></span>
                <span class="sidebar-item-title" translate>Share map</span>
            </div>
            <div hs.permalink.directive ng-controller="hs.permalink.controller" class="collapsible-body"></div>
        </li>

        <li ng-if="Core.exists('hs.status_creator.controller') && Core.panelEnabled('status_creator')" ng-click="Core.openStatusCreator()">
            <div class="collapsible-header">
                <span class="menu-icon glyphicon icon-save-floppy" data-toggle="tooltip" data-container="body" data-placement="auto" title="{{'Save content of map to composition'||translate}}"></span>
                <span class="sidebar-item-title" translate>Save composition</span>
            </div>
            <div hs.status_creator.directive ng-controller="hs.status_creator.controller" class="collapsible-body"></div>
        </li>

        <li ng-if="Core.exists('hs.mobile_settings.controller') && Core.panelEnabled('mobile_settings')">
            <div class="collapsible-header">
                <span class="menu-icon glyphicon icon-settingsandroid" data-toggle="tooltip" data-container="body" data-placement="auto" title="{{'Specify application user settings'||translate}}"></span>
                <span class="sidebar-item-title" translate>Application settings</span>
            </div>
            <div hs.mobile_settings.directive ng-controller="hs.mobile_settings.controller" class="collapsible-body"></div>
        </li>
        
        <li ng-repeat="but in service.extra_buttons" ng-click="but.click()" ng-class="{'active': but.isActive()}">
            <div class="collapsible-header">
                <span ng-class="'menu-icon ' + but.icon_class"></span>
                <span class="sidebar-item-title">{{but.title}}</span>
            </div>
            <div class="collapsible-body"></div>
        </li>
    </md-content>
</md-sidenav>