<!-- <ul id="navbarDropdown" class="dropdown-content"> -->
    <!-- <li ng-repeat="item in navbarMoreList"><a ng-click="{{item.clickAction}}" href="{{item.href}}">{{item.title|translate}}</a></li> -->
<!--     <li>
        <a href="#!">{{"Settings"|translate}}</a>
        <a href="#!">{{"Help"|translate}}</a>
        <a href="#!">{{"Contact"|translate}}</a>
    </li>
</ul> -->
<!-- <nav> -->
<!--     <div class="nav-wrapper">
        <a href="#" data-activates="sidebar" class="button-collapse top-nav full"><i class="material-icons">menu</i></a>
        <ul class="right"> -->
            <!-- <form>
                <div class="input-field">
                    <input id="search" type="search" required>
                    <i class="material-icons">close</i>
                    <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                </div>
            </form> -->
            <!-- Dropdown Trigger -->
<!--             <li><a class="dropdown-button" href="#!" data-activates="navbarDropdown"><i class="material-icons">more_vert</i></a></li>
        </ul>
    </div> -->
<!-- </nav> -->

<md-toolbar class="md-hue-2">
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Menu" ng-click="openLeftSidenav()">
            <md-icon class="material-icons">menu</md-icon>
        </md-button>

        <div flex></div>

        <md-menu>

            <md-button class="md-icon-button" aria-label="More" ng-click="$mdMenu.open($event)">
                <md-icon md-menu-origin class="material-icons">more_vert</md-icon>
            </md-button>
            <md-menu-content>
                <md-menu-item>
                    <md-button>
                        {{"Settings"|translate}}
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button>
                        {{"Help"|translate}}
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button>
                        {{"Contact"|translate}}
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </div>
</md-toolbar>