<md-toolbar class="md-hue-2 md-app-toolbar">
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Menu" ng-if="layoutService.sidebarToggleable" ng-click="leftSidenavOpen ? closeLeftSidenav() : openLeftSidenav()">
            <md-icon class="material-icons">menu</md-icon>
        </md-button>
        <img ng-if="config.appLogo" ng-src="{{ config.appLogo }}" alt="Application logo" style="max-height: 48px; margin-right: 20px;">
        <h2 ng-if="config.appName">{{ config.appName }}</h2>
        <h2 ng-if="!config.appName">HSLayers application</h2>

        <div flex></div>

        <md-menu>

            <md-button class="md-icon-button" aria-label="More" ng-click="$mdMenu.open($event)">
                <md-icon md-menu-origin class="material-icons">more_vert</md-icon>
            </md-button>
            <md-menu-content>
                <md-menu-item>
                    <md-button>
                        Settings
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button>
                        Help
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button>
                        Contact
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </div>
</md-toolbar>
