.featureName{
  max-width: 220px;
  margin-left: 50px;
  font-size: 16px;
  color: #88B8E6;
  text-shadow: 1px 1px 1px rgb(214,214,214);
}
.featureInfo{
  color: #D84F5F;
 /* margin-left: 0.5em;*/
  margin-top: 3px;
  margin-bottom: 3px;

}
.italic{
  font-style: italic;
}
.list{
  list-style-image: url(img/list.png);
  word-break: normal;
  margin-top: 0px;
  margin-bottom: 0px;
}
.developersTitle{
  margin-left: 50px;
  color: #193340;
  padding-bottom: 5px;
}
.hideButton{
  margin-left: 50px;
  cursor: Pointer;
}
.showButton{
  cursor: Pointer;
  margin-left: 7px;
}
.hideButton:focus ~ .developersInfo {
  visibility: hidden;
}
.showButton:focus ~ .developersInfo {
  display: block;
  visibility: visible;
}
.developersInfo{
  display: none;
  margin-left: 0.5em;
  margin-bottom: 30px;
  margin-top: 20px;
}
.developersInfo:hover{
  display: block;
  visibility: visible;
}
.attributeName{
  color: #193340;
  font-size: 14px;
}
.attributeValue{
  font-style: italic;
  color: rgb(255,102,0);
}
.homepage{
  color: #D84F5F;
  text-decoration: none;
}
.homepage:hover{
  color: #D84F5F;
}
.homepage:visited{
  color: #D84F5F;
  text-decoration: none;
}

.hs-spoi-feature-info{padding-left: 0.5em}

div.hs-spoi-item-controls {
    display: inline-block;
    text-align: right;
    vertical-align: top;
    width: 54px;
    padding-right: 5px;
}

.hs-spoi-feature-info {
    display: inline-block;
    width: calc(100% - 64px);
}

.hs-spoi-title .hs-spoi-item-controls{margin-top: 20px}
/*.hs-spoi-item-controls{visibility:hidden}*/

.uploader
{
	border: 2px dotted #A5A5C7;
	width: 100%;
	color: #92AAB0;
	text-align: center;
	vertical-align: middle;
	padding: 30px 0px;
	margin-bottom: 10px;
	font-size: 200%;

	cursor: default;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.uploader div.or {
	font-size: 50%;
	font-weight: bold;
	color: #C0C0C0;
	padding: 10px;
}

.uploader div.browser label {
	background-color: #5a7bc2;
	padding: 5px 15px;
	color: white;
	padding: 6px 0px;
	font-size: 40%;
	font-weight: bold;
	cursor: pointer;
	border-radius: 2px;
	position: relative;
	overflow: hidden;
	display: block;
	width: 300px;
	margin: 20px auto 0px auto;

	box-shadow: 2px 2px 2px #888888;
}

.uploader div.browser span {
	cursor: pointer;
}


.uploader div.browser input {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	border: solid transparent;
	border-width: 0 0 100px 200px;
	opacity: .0;
	filter: alpha(opacity= 0);
	-o-transform: translate(250px,-50px) scale(1);
	-moz-transform: translate(-300px,0) scale(4);
	direction: ltr;
	cursor: pointer;
}

.uploader div.browser label:hover {
	background-color: #427fed;
}

