


      <div class="panel panel-default mainpanel">
        <!-- Title -->
        <table class="title">
         <tr>
          <th><translate>Information</translate> &nbsp;<i class="icon-comment"></i></th>
         </tr>
        </table>
        <div class="closeArea" ng-click="Core.closePanel(this)">
          <div aria-hidden="true" class="closeImg"></div>
          <span class="sr-only" translate>Close</span>
        </div>
        <!-- Feature Name -->
        <div ng-repeat="attribute in InfoPanelService.attributes | filter: {name: 'http://www.w3.org/2000/01/rdf-schema#label'}">
          <span class="second-col featureName" ng-bind-html="attribute.value"></span>
        </div><br>
        <!-- Category -->
        <div ng-repeat="attribute in InfoPanelService.attributes | filter: {name: 'http://www.openvoc.eu/poi#categoryOSM'}" class="featureInfo">
          <ul class="list">
           <li>
            <span class="second-col">Category: </span>
            <span class="second-col italic category" ng-bind-html="attribute.value"></span>
           </li>
          </ul>
        </div>
        <!-- Coordinates -->
        <div class="featureInfo">
          <span ng-repeat="group in InfoPanelService.groups | orderBy : name">
           <ul class="list">
            <li>
             <span ng-repeat="attribute in group.attributes | orderBy : name"  ng-show="$first">
             <span hs.query.infovalue template='{{group.hstemplate}}' attribute='{{attribute.name}}' value='{{attribute.value}}' class="second-col italic"></span><br>
             </span>
            </li>
           </ul>
          </span><br>
        </div>
        <!-- For developers -->
        <div class="developersTitle">For developers:</div>
          <span class="hideButton" tabindex="0">Hide <img src="img/hide.png" alt="Hide more info"></span>
          <span class="showButton" tabindex="0">Show <img src="img/show.png" alt="Show more info"></span>
          <br><br>
          <p class="developersInfo">
           <span ng-repeat="group in InfoPanelService.groups | orderBy : name">
           <span ng-repeat="attribute in group.attributes | orderBy : name">
           <span hs.query.infovalue template='{{group.hstemplate}}' attribute='{{attribute.name}}'  class="first-col attributeName"></span><br>
           <span hs.query.infovalue template='{{group.hstemplate}}' attribute='{{attribute.name}}' value='{{attribute.value}}' class="second-col attributeValue"></span><br>
           </span></span>
           <br>
           <span ng-repeat="attribute in InfoPanelService.attributes | orderBy : name">
           <span class="first-col attributeName">{{attribute.name}}</span><br>
           <span class="second-col attributeValue" ng-bind-html="attribute.value"></span><br>
           </span>
          </p>
      </div>