<div class="modal in hs-composition-warning-dialog" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{'COMPOSITIONS.dialogWarning.title' | translate}}</h4>
                <button type="button" (click)="close()" class="close" data-dismiss="modal"><span
                        aria-hidden="true">&times;</span><span class="sr-only">{{'COMMON.close' | translate}}</span></button>
            </div>
            <div class="modal-body" style="max-height: 600px; overflow-y: auto">
                <br>{{'COMMON.name' | translate}}: <b>{{data.composition_title}}</b>
                <hr>
                <br>{{data.message}}
                <br>{{'COMPOSITIONS.dialogWarning.toContinue' | translate}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary compositions-btn-warning" (click)="ignoreContinue()"
                    data-dismiss="modal">{{'COMMON.ignoreAndContinue' | translate}}</button>
                <button type="button" class="btn btn-secondary compositions-btn-cancel" (click)="close()"
                    data-dismiss="modal">{{'COMMON.cancel' | translate}}</button>
            </div>
        </div>
    </div>
</div>