<div class="modal in hs-composition-info-dialog" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    {{data.info.title}} <span>{{'COMPOSITIONS.dialogInfo.details' | translate}}</span>
                </h4>
                <button type="button" (click)="close()" class="close" data-dismiss="modal"><span
                        aria-hidden="true">&times;</span><span
                        class="sr-only">{{'COMMON.close' | translate}}</span></button>
            </div>
            <div class="modal-body" style="max-height: 600px; overflow-y: auto">
                <div class="row" style="text-align: justify; text-justify: inter-word;">
                    <div class="col-md-3"><b>{{'COMMON.abstract' | translate}}</b></div>
                    <div class="col-md-9">{{data.info.abstract}}</div>
                </div>
                <div *ngIf="data.info.keywords">
                    <div *ngFor="let keyword of data.info.keywords;let first = first;">
                          <div class="row" *ngIf="first">
                        <div class="col-md-3"><b>{{'COMMON.keywords' | translate}}</b></div>
                        <div class="col-md-9">{{keyword}}</div>
                    </div>
                    <div class="row" *ngIf="!first">
                        <div class="col-md-offset-3 col-md-9">{{keyword}}</div>
                    </div>
                    </div>
                    <br>
                </div>
                <div class="row"  *ngIf="data.info.thumbnail">
                    <div class="col-md-3"><b>{{'COMMON.thumbnail' | translate}}</b></div>
                    <div class="col-md-9"><img src="{{data.info.thumbnail}}"></div>
                </div>
                <div class="row" *ngIf="data.info.url">
                    <div class="col-md-3"><b>{{'COMMON.url' | translate}}</b></div>
                    <div class="col-md-9">{{data.info.url}}</div>
                </div>
                <div class="row" *ngIf="data.info.srs">
                    <div class="col-md-3"><b>{{'ADDLAYERS.srs' | translate}}</b></div>
                    <div class="col-md-9">{{data.info.srs}}</div>
                </div>
                <div class="row" *ngIf="data.info.extent">
                    <div class="col-md-3"><b>{{'COMMON.extent' | translate}}</b></div>
                    <div class="col-md-9" style="word-break:break-all">{{data.info.extent}}</div>
                </div>
                <div *ngIf="data.info.layers">
                    <div *ngFor="let layer of data.info.layers;let first = first;">
                            <div class="row" *ngIf="first">
                                <div class="col-md-3"><b>{{'COMMON.layers' | translate}}</b></div>
                                <div class="col-md-9">{{layer.title}}</div>
                            </div>
                            <div class="row" *ngIf="!first">
                                <div class="col-md-offset-3 col-md-9">{{layer.title}}</div>
                            </div>
                    </div>
                <br>
                </div>
                <div *ngIf="data.info.metadata">
                     <div *ngFor="let metadata of data.info.metadata | keyvalue">
                         <div class="row" *ngIf="metadata.value">
                            <div class="col-md-4"><b>{{HsCompositionsService.translateString('COMPOSITIONS.dialogInfo.metadata', metadata.key)}}</b></div>
                            <div class="col-md-8">{{metadata.value}}</div>
                         </div>
                     </div>
                </div>
                <div class="row" *ngIf="data.info.contactAddress || data.info.contactPersonPrimary">
                    <div class="col"><b>{{'COMMON.contactInformation' | translate}}</b></div>
                </div>
                 <div *ngIf="data.info.contactAddress">
                     <div *ngFor="let data of data.info.contactAddress | keyvalue">
                         <div class="row" *ngIf="data.value">
                            <div class="col-md-4"><b>{{HsCompositionsService.translateString('SAVECOMPOSITION.form', data.key)}}</b></div>
                            <div class="col-md-8">{{data.value}}</div>
                         </div>
                     </div>
                </div>
                  <div *ngIf="data.info.contactPersonPrimary">
                     <div *ngFor="let data of data.info.contactPersonPrimary | keyvalue">
                         <div class="row" *ngIf="data.value">
                            <div class="col-md-4" style="word-break:break-all"><b>{{HsCompositionsService.translateString('SAVECOMPOSITION.form', data.key)}}</b></div>
                            <div class="col-md-8">{{data.value}}</div>
                         </div>
                     </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="close()"
                    data-dismiss="modal">{{'COMMON.close' | translate}}</button>
            </div>
        </div>
    </div>
</div>