/*************/
/** TOOLBAR **/
/*************/

.hs-toolbar {
    position: absolute;
    top: 10px;
    left: 10px;
    max-width: 636px;
    display: inline-block;
    z-index: 101;
}

&.hs-mobile-view {

    .hs-sb-left .hs-toolbar,
    .hs-sb-left .hs-toolbar {
        margin-left: 0 !important;
    }
}
