<div class="card hs-sidebar-list hs-main-panel list-group">
  @if (hsLayoutService.minisidebar) {
  <hs-panel-header class="sidebar-header w-100" name="additional"
    [title]="'SIDEBAR.additionalPanels' | translate "></hs-panel-header>
  }

  @if (hsLayoutService.sidebarToggleable && {position: hsLayoutService.sidebarPosition | async}; as sidebar) {
  <span class="hs-sidebar-item list-group-item border-top-0" (click)="toggleSidebar()">
    <i class="menu-icon"
      [ngClass]="hsLayoutService.sidebarExpanded ? (sidebar.position === 'left' ? 'fa-solid fa-chevron-left' : 'fa-solid fa-chevron-right') : (sidebar.position === 'left' ? 'fa-solid fa-chevron-right' : 'fa-solid fa-chevron-left')"></i>
  </span>
  }<!-- TODO: Remove function call from template -->

  @for (button of buttons; track button) {
  <span class="hs-sidebar-item list-group-item h-100 d-flex align-items-center flex-fill"
    [attr.data-cy]="button.panel" [hidden]="!button.visible" (click)="hsSidebarService.buttonClicked(button)"
    [ngClass]="{'active': hsLayoutService.mainpanel === button.panel,  'hs-panel-hidden' : !button.fits}"
    [class.language]="button.panel === 'language'" [title]="button.description | translate">
    <!-- TODO: Remove function call from template -->
    @if (button.icon) {
    <i class="menu-icon fa-solid {{button.icon}}" data-toggle="tooltip" data-container="body" data-placement="auto"></i>
    }
    @if (button.content) {
    <span data-toggle="tooltip" class="hs-sidebar-item-content" data-container="body" data-placement="auto" 
      [title]="button.description | translate ">{{button.content()}}</span>
    }
    <span class="hs-sidebar-item-title">{{button.title |
      translate }}</span>
  </span>
  }
  <!-- TODO: Remove function call from template -->
  @if (hsLayoutService.minisidebar) {
  <span class="hs-sidebar-item d-flex list-group-item hs-sidebar-additional-items flex-fill align-items-center"
    (click)="hsLayoutService.setMainPanel('sidebar', true)"
    [ngClass]="{'active': hsLayoutService.mainpanel === 'sidebar'}">
    <i class="menu-icon fa-solid fa-equals" data-toggle="tooltip" data-container="body" data-placement="auto"
      title="Menu"></i>
    <span class="hs-sidebar-item-title">{{miniSidebarButton.title | translate }}</span>
  </span>
  }
</div>
<hs-impressum />
