<div class="panel panel-default mainpanel">
    <div class="panel-heading"><span class="panel-title" translate>Datasources</span>
        <button type="button" class="close" ng-click="Core.closePanel(this)">
            <span aria-hidden="true">×</span>
            <span class="sr-only" translate>Close</span>
        </button>
    </div>
    <div class="panel-body">
<!--        <div ng-if="!Core.singleDatasources" ng-include="'./datasource_search.html'">
            <div class="input-group col-lg-8 col-sm-12 col-xs-12" style="margin-bottom: 4px">
                <input type="text" class="form-control hs-filter" placeholder="Filter:" ng-model="query.title" ng-change="loadDatasets(datasources)">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click='openMickaAdvancedSearch()' translate>More</button>
                    <button type="button" class="btn btn-default" ng-click="clear()"><span aria-hidden="true" class="close">×</span><span class="sr-only"><translate>Clear</translate></span></button>
                </span>
            </div>
        </div>-->

        <ul class="nav nav-pills dss-tabs" role="tablist">
            <li ng-class="{'active hs-tab-singleDS': Core.singleDatasources}" ng-repeat="ds in datasets">
                <a ng-href="{{'#ds'+$index}}" aria-controls="context" role="tab" data-toggle="tab">
                    {{ds.title}}
                    <span ng-show='ds.matched>0'>({{ds.matched}})</span>
                    <span class="glyphicon glyphicon-refresh glyphicon-spin" ng-show="ds.ajax_req.readyState != 4"></span>
                </a>
            </li>
            <li ng-if="Core.exists('hs.ows.controller') && Core.singleDatasources" ng-class="{'hs-tab-singleDS': Core.singleDatasources}">
                <a href="#OWS" aria-controls="OWS" role="tab" data-toggle="tab" translate>External data</a>
            </li>
        </ul><!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="hs-dataset-panel tab-pane" ng-class="{'active': Core.singleDatasources}" ng-attr-id="{{'ds'+$index}}" ng-repeat="ds in datasets">
                <div class="panel">
                    <div class="panel-body">
                        <div ng-if="Core.singleDatasources">
                            <div class="input-group col-lg-8 col-sm-12 col-xs-12" style="margin-bottom: 4px">
                                <input type="text" class="form-control hs-filter" placeholder="Filter:" ng-model="query.title" ng-change="loadDatasets(datasources)">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click='openMickaAdvancedSearch()' translate>More</button>
                                    <button type="button" class="btn btn-default" ng-click="clear()"><span aria-hidden="true" class="close">×</span><span class="sr-only"><translate>Clear</translate></span></button>
                                </span>
                            </div>

                            <input type="checkbox" ng-model="filter.byExtent" ng-change='loadDatasets(datasources)'><span translate>Filter by map extent</span>
                        </div>
                        <ul class="list-group">
                            <li ng-show='ds.layers.length == 0' class='list-group-item' translate>No results</li>
                            <li ng-repeat="layer in ds.layers" class="clearfix" ng-class="'list-group-item'+(layer.highlighted ? ' active' : '')" ng-mouseover="highlightComposition(layer, true)" ng-mouseleave="highlightComposition(layer, false)">
                                <span class="datasources_item">
                                    <b><a href="#" data-toggle="tooltip" title="{{layer.description}}" ng-click="showMetadata(ds, layer)">{{layer.title || layer.description}}</a></b>
                                </span>
                                <span class="pull-right">
                                    <a class="btn btn-xs btn-default" ng-href='{{layerDownload(ds, layer)}}' data-toggle="tooltip" title="{{'Download'|translate}}" ng-show='layerDownload(ds,layer) != "#"'><i class="glyphicon icon-download"></i></a>
                                    <a class="btn btn-xs btn-default" ng-href='{{layerRDF(ds, layer)}}' data-toggle="tooltip" title="GeoDCAT-AP" target="_blank" ng-show='layerRDF(ds, layer) != "#"'><i class="hs-icon-rdf"></i></a>
                                    <button type="button" class="btn btn-xs btn-primary" ng-click="addLayerToMap(ds, layer)" ng-hide='config.dss_disallow_add == true' data-toggle="tooltip" title="{{'Add to map'|translate}}"><i class="glyphicon glyphicon-plus"></i></button>
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div class="panel-footer" ng-show='ds.matched>0'>
                        <nav>
                          <ul class="pager">
                            <li class="previous" ng-class="ds.start == 0 ? 'disabled':''" ng-click='getPreviousRecords(ds)'><a href="#"><span aria-hidden="true">&larr;</span></a></li>
                            <li ng-if="ds.next != 0"><span> Results {{ds.start + 1}} - {{ds.next}}</span></li>
                            <li ng-if="ds.next == 0"><span> Results {{ds.start + 1}} - {{ds.matched}}</span></li>
                            <li class="next" ng-class="ds.next == 0 ? 'disabled':''" ng-click='getNextRecords(ds)'><a href="#"><span aria-hidden="true">&rarr;</span></a></li>
                          </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" hs.ows.directive ng-controller="hs.ows.controller" ng-if="Core.exists('hs.ows.controller') && Core.singleDatasources" id="OWS"></div>
        </div>
    </div>
</div>
