<div class="modal" id="datasource_selector-metadata-dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only" translate="">Close</span></button>
                <h4 class="modal-title" id="myModalLabel" translate="">
                   Metadata for Data source
                </h4>
            </div>
            <div class="modal-body" style="max-height:600px; overflow-y:auto">
                <dl ng-repeat="(key, value) in selected_layer" ng-if="key!='feature'">
                    <dt>{{key}} </dt>
                    <dd hs.datasource_selector.object_directive></dd>
                </dl>
            </div>
            <div class="modal-footer" id="stc-footer">
                <button type="button" class="btn btn-primary" translate ng-click="addLayerToMap(selected_ds, selected_layer)" data-dismiss="modal">Add to map</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" translate>Close</button>
            </div>
        </div>
    </div>
</div>
