<div layout="column" style="max-height:100%;">
  <div class="md-padding" flex layout="column">
    <div layout="row" layout-align="space-between center">
      <div layout="column" layout-align="start start">
        <span>{{'MEASURE.measureMd.measureType' | translateHs }}</span>
        <md-radio-group [(ngModel)]="type" name="type" flex-offset="10">
          <md-radio-button value="distance">{{'COMMON.distance' | translateHs }}</md-radio-button>
          <md-radio-button value="area">{{'COMMON.area' | translateHs }}</md-radio-button>
        </md-radio-group>
      </div>
      <div layout="column" layout-align="start end">
        <md-button class="md-icon-button">
          <md-icon class="md-accent md-hue-2">save</md-icon>
          <md-tooltip md-direction="left">{{'MEASURE.measureMd.saveMeasurementToLayer' | translateHs
            }}</md-tooltip>
        </md-button>
        <md-button class="md-icon-button" (click)="clearAll()">
          <md-icon class="md-accent md-hue-2">delete_forever</md-icon>
          <md-tooltip md-direction="left">{{'MEASURE.measureMd.deleteAllMeasurements' | translateHs
            }}</md-tooltip>
        </md-button>
      </div>
    </div>
    <md-divider></md-divider>
    <md-list layout-fill>
      <md-list-item *ngFor="const measurement in serviceData.measurements">
        <div layout="row" layout-fill layout-align="space-between center">
          <div>{{measurement.size}}{{measurement.unit}}<span *ngIf="measurement.type === 'area'"><sup>2</sup></span>
          </div>
          <div layout-align="center center">
            <!--<md-button class="md-icon-button">
              <md-icon class="md-primary md-hue-2">edit</md-icon>
              <md-tooltip md-direction="left">Edit measurement</md-tooltip>
            </md-button>-->
            <md-button class="md-icon-button" (click)="clearOne($index)">
              <md-icon class="md-accent md-hue-2">delete</md-icon>
              <md-tooltip md-direction="left">{{'COMMON.delete' | translateHs }}</md-tooltip>
            </md-button>
          </div>
        </div>
        <md-divider></md-divider>
      </md-list-item>
    </md-list>
  </div>
</div>