<ul class="w-100 nav nav-tabs pt-1 border-0 ps-1 flex-nowrap" style="height: 99%;">

  @for (tab of panelTabs; track tab) {
  <li class="nav-item" (click)="tabClicked(tab)" style="max-height:103%">
    <a [class.active]="(selectedTab$ | async) === tab" style="margin-top: 2px;"
      class="active align-items-center d-flex h-100 justify-content-center nav-link" aria-current="page">
      {{tab | translateHs : translationModule }}
    </a>
  </li>
  }

  <div class="extra-content d-flex position-absolute top-0">
    <div #mainButtonContainer class="d-flex" data-cy="mainButtonContainer">
      <ng-content select="[mainButton]"></ng-content>
    </div>
    <div [hidden]="!hasExtraButtons()" class="btn-group" ngbDropdown placement="bottom-end" display="dynamic">
      <button ngbDropdownToggle class="btn bt-sm btn-outline-primary border-0 hs-extra-buttons me-1" type="button"><i
          class="icon-menu"></i></button>
      <div #extraButtonsContainer class="extra-buttons-container" ngbDropdownMenu>
        <ng-content select="extra-buttons"></ng-content>
      </div>
    </div>
  </div>

</ul>