<div class="comparison-filter-container d-flex flex-row form-group p-1 position-relative mb-0"
  [ngClass]="{'expanded': expanded()}">
  <hs-filters-attribute-selector [attributes]="attributes" [formControl]="attributeControl"
    (ngModelChange)="emitChange()">
  </hs-filters-attribute-selector>

  <select class=" form-control form-select hs-comparison-filter-operator" style="width: min-content"
    [ngModel]="selectedOperator()" (change)="onOperatorChange($event)" name="hs-sld-filter-comparison-sign"
    [disabled]="!attributeControl.value">
    @for (op of operators | async; track op.alias) {
    <option [value]="op.alias">
      {{op.alias | translateHs : 'COMMON'}}
    </option>
    }
  </select>
  <div class="comparison-filter-value">
    @if(customOperatorSelected()){
    <input class="form-select h-100 rounded-0" disabled value='NULL' />
    }
    @else if(currentAttribute()?.range){
    @if(valueSource() === 'value'){

    <hs-filter-range-input [min]="currentAttribute()?.range.min" [max]="currentAttribute()?.range.max"
      [(value)]="_filter[2]" (change)="emitChange()">
    </hs-filter-range-input>
    } @else if(valueSource() === 'property') {
    <hs-filters-attribute-selector [attributes]="attributes" [(ngModel)]="_filter[2]" (ngModelChange)="emitChange()">
    </hs-filters-attribute-selector>
    }
    }
    @else {
    @if(_filter[0] === '*=') {
    <input class=" form-select h-100" [(ngModel)]="_filter[2]" (change)="emitChange()"
      [disabled]="!attributeControl.value" [attr.list]="'customValues'" />
    <datalist id="customValues">
      @for (value of currentAttribute()?.values; track value) {
      <option [value]="value">
        }
    </datalist>
    } @else {
    <select class="form-control form-select h-100" [(ngModel)]="_filter[2]" (change)="emitChange()"
      [disabled]="!attributeControl.value">
      @for (value of currentAttribute()?.values; track value) {
      <option [ngValue]="value">{{value}}</option>
      }
    </select>
    }
    }
  </div>
  <div>
    <button class="btn btn-outline-danger btn-sm rounded-0" style="height: 100%" (click)="remove()">
      <span class="icon-trash"></span>
    </button>
  </div>

  @if (loading()) {
  <div
    class="loading-overlay position-absolute top-0 start-0 w-100 h-100 d-flex justify-content-center align-items-center">
    <div class="text-center bg-secondary-subtle d-flex p-1 px-3 rounded-5 text-center">
      <span class="hs-loader hs-loader-dark"></span>
      <div class="small text-muted">{{'FILTERS.loadingAttributeValues' | translateHs}}...</div>
    </div>
  </div>
  }
</div>
@if(currentAttribute()?.range && !isWfsFilter() && !customOperatorSelected()){
<div class="comparison-filter-value-source btn-group w-100 p-1 d-flex justify-content-end">
  <button type="button" class="btn btn-sm btn-outline-secondary p-1 border-0 rounded-0 w-25 flex-grow-0"
    [class.active]="valueSource() === 'value'" (click)="toggleValueSource('value')">
    {{'COMMON.value' | translateHs}}
  </button>
  <button type="button" class="btn btn-sm btn-outline-secondary p-1 border-0 rounded-0 w-25 flex-grow-0"
    [class.active]="valueSource() === 'property'" (click)="toggleValueSource('property')">
    {{'COMMON.property' | translateHs}}
  </button>
</div>
}