	div.hs-info-area {
		background-color: hsla(214, 50%, 37%, 0.4);
		border-radius: 4px;
		bottom: 1.9em;
		color: hsl(0, 0%, 100%);
		left: 0.5em;
		padding: 1px;
		pointer-events: initial;
		position: absolute;
		vertical-align: bottom;
		z-index: 3;
	}

	div.hs-info-composition-image {
		background-size: 76px 76px;
		font-size: 15px;
		height: 2em;
		position: absolute;
		text-align: center;
		width: 2em;
		top: -30px;
		left: 3px;
		background-color: hsla(214, 100%, 27%, 0.3);
	}

	div.hs-info-composition {
		display: flex;
		max-width: 300px;
	}

	div.hs-info-composition-container {
		font-size: 12px;
		line-height: 12px;
		padding: 4px;

	}

	div.hs-info-composition-title {
		font-weight: bold;
		padding-bottom: 6px;
	}

	div.hs-info-composition-image>span {
		line-height: 30px;
		width: 30px;
	}

	.hs-info-layers,
	div.hs-info-composition-edited {
		font-size: 12px;
		padding: 0 12px 12px 12px;
		text-overflow: ellipsis;
		height: 29px;
		overflow: hidden;
		display: inline-block;
		position: relative;
		width: 260px;
		white-space: nowrap;
	}
