	div.hs-info-area {
		color: var(--ol-subtle-foreground-color);
		bottom: 1.5em;
		left: 0.3em;
		pointer-events: initial;
		position: absolute;
		vertical-align: bottom;
		z-index: 3;

		&>div {
			padding: 0.25rem;
			margin: 0.15rem 0;
			border-radius: 0.25rem;
			background-color: var(--ol-partial-background-color);
		}

		& div {
			max-width: 14em;
		}
	}

	.hs-info-composition-title-container {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 0.15rem;
	}

	div.hs-info-composition-image {
		text-align: center;
		color: var(--ol-subtle-foreground-color);
	}

	div.hs-info-composition {
		display: flex;
		max-width: 14em;
	}

	div.hs-info-composition-container {
		font-size: 12px;
		line-height: 12px;
		width: 100%;
	}

	div.hs-info-composition-title {
		font-weight: bold;
		padding-block: 0.1rem;
	}

	div.hs-info-composition-image>span {
		line-height: 30px;
		width: 30px;
	}

	.hs-info-layers,
	div.hs-info-composition-edited {
		box-sizing: content-box;
		font-size: 12px;
		display: inline-block;
		max-width: 14em;
		width: 14em;
	}
