	div.hs-info-area {
		background-color: var(--ol-partial-background-color);
		color: var(--ol-subtle-foreground-color);
		border-radius: 4px;
		bottom: 1.9em;
		left: 0.5em;
		padding: 1px;
		pointer-events: initial;
		position: absolute;
		vertical-align: bottom;
		z-index: 3;

		&>div {
			padding: 0.1rem;
		}

		& div {
			max-width: 250px;
		}
	}

	div.hs-info-composition-image {
		background-size: 76px 76px;
		font-size: 15px;
		height: 2em;
		position: absolute;
		text-align: center;
		width: 2em;
		top: -35px;
		left: 3px;
		background-color: var(--ol-partial-background-color);
		color: var(--ol-subtle-foreground-color);
	}

	div.hs-info-composition {
		display: flex;
		max-width: 300px;
	}

	div.hs-info-composition-container {
		font-size: 12px;
		line-height: 12px;
		width: 100%;
	}

	div.hs-info-composition-title {
		font-weight: bold;
		padding-block: 0.1rem;
	}

	div.hs-info-composition-image>span {
		line-height: 30px;
		width: 30px;
	}

	.hs-info-layers,
	div.hs-info-composition-edited {
		font-size: 12px;
		text-overflow: ellipsis;
		overflow: hidden;
		display: inline-block;
		position: relative;
		width: auto;
		max-width: 260px;
		white-space: nowrap;
	}
