<div class="toolbar-buttons"><!-- 

    menu switch
    --><button class="menu-item menu-switch btn btn-secondary btn-mobile" type="button" ng-click="togglePanelspace()"><!-- 
        --><i class="glyphicon menu-icon icon-menu-hamburger"></i><!-- 
    --></button><!--

    search bar switch
    --><button type="button" class="menu-item btn btn-secondary btn-mobile"  title="Search for a place" ng-if="Core.exists('hs.toolbar')" onclick="$('#toolbar').toggleClass('show');$('.locate-mobile').addClass('ol-collapsed')"><!-- 
        --><i class="glyphicon icon-search"></i><!-- 
    --></button><!--

    layermanager switch
    --><button type="button" class="menu-item btn btn-secondary btn-mobile" title="Layer manager" ng-if="Core.exists('hs.layermanager.controller')" ng-click="[setMainPanel('layermanager'),togglePanelspace()]"><!-- 
        --><i class="glyphicon icon-layers"></i><!-- 
    --></button><!--

    compositions switch
    --><button type="button" class="menu-item btn btn-secondary btn-mobile" title="Map Compositions" ng-if="Core.exists('hs.compositions.controller') && layoutService.panelEnabled('compositions')" ng-click="[setMainPanel('composition_browser'),togglePanelspace()]"><!-- 
        --><i class="glyphicon icon-map"></i><!-- 
    --></button><!-- 

    draw switch
    --><button type="button" class="menu-item btn btn-secondary btn-mobile" title="Draw new features" ng-if="Core.exists('hs.vgi-draw') && layoutService.panelEnabled('draw')" ng-click="[setMainPanel('draw'),togglePanelspace()]"><!-- 
        --><i class="icon-flag"></i><!-- 
    --></button><!-- 

    geolocation switch
    --><button class="menu-item btn btn-secondary btn-mobile ol-has-tooltip blocate" type="button"><!--
        --><i class="glyphicon icon-navigation"></i><!-- 
    --></button><!-- 
--></div>