<div class="card panel-default mainpanel hs-comp-mainpanel">
    <hs.layout.panel-header panel-name="composition_browser" panel-title="'Compositions'||translate">
        <extra-title>
            <span ng-show='data.compositionsCount>0'>({{data.compositionsCount}})</span>
        </extra-title>
        <extra-buttons>
            <label class="btn btn-sm btn-secondary btn-file" title="Import composition from a file on device"
                style="margin-bottom:0; line-height: 1em; float: right; margin-right: 1em; cursor: pointer;">
                <span class="icon-upload"></span><input type="file" ng-on-change="handleFileSelect($event)"
                    accept=".json" style="display: none;">
            </label>
        </extra-buttons>
    </hs.layout.panel-header>
    <div class="card-body">
        <form id="hs-comp-filter">
            <div class="form-group">
                <input type="text" class="form-control hs-filter" placeholder="{{'Filter'|translate}}"
                    ng-model="query.title" ng-change="filterChanged()">
            </div>

            <div id="hs-comp-filter" class="form-group">

                <div class="input-group">
                    <div class="btn-group input-group-prepend">
                        <div class="input-group-text">
                            <input type="checkbox" ng-model="filterByExtent" ng-change='filterChanged()'><span
                                translate>Filter
                                by map extent</span>
                        </div>
                        <div class="input-group-text">
                            <input type="checkbox" ng-model="query.editable" ng-change='mineFilterChanged()'><span
                                translate>Only mine</span>
                        </div>
                    </div>
                    <div class="input-group-append dropleft">
                        <button type="button" class="btn btn-secondary btn-sm dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false" ng-click="sortMenuOpen=!sortMenuOpen">
                            Sort <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" ng-class="{'show': sortMenuOpen}">
                            <li><a class="dropdown-item" ng-click="setSortAttribute('bbox')" href="#">Bounding box</a>
                            </li>
                            <li><a class="dropdown-item" ng-click="setSortAttribute('title')">Title</a></li>
                            <li><a class="dropdown-item" ng-click="setSortAttribute('date')">Date</a></li>
                        </ul>
                    </div>
                    <div class="input-group-append dropleft" ng-if="config.comp_keywords">
                        <button type="button" class="btn btn-secondary btn-sm dropdown-toggle" data-toggle="dropdown"
                            ng-click="keywordsMenuOpen=!keywordsMenuOpen" aria-haspopup="true" aria-expanded="false">
                            Keywords<span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" ng-class="{'show': keywordsMenuOpen}">
                            <li class="dropdown-item" ng-repeat="(keyword, enabled) in keywords">
                                <label>
                                    <input type="checkbox" ng-model="keywords[keyword]" ng-click="loadCompositions()">
                                    {{keyword}}
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </form>
        <ul class="nav flex-column flex-sm-row" role="tablist">
            <li class="nav-item" ng-repeat="ds in data.endpoints">
                <a class="nav-link" ng-class="{'btn-primary': data.id_selected == 'ds'+$index}" href="#"
                    data-target="{{'#ds'+$index}}" aria-controls="context" role="tab" data-toggle="tab"
                    ng-click="datasetSelect('ds'+$index)">
                    {{ds.title}}
                    <span ng-show='ds.compositionsCount>0'>({{ds.compositionsCount}})</span>
                    <span class="glyphicon icon-refresh icon-spin" ng-show="ds.loaded == false"></span>
                </a>
            </li>
        </ul><!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="hs-dataset-panel tab-pane"
                ng-class="{'active': 'ds'+$index == data.id_selected}" id="{{'ds'+$index}}"
                ng-repeat="ds in data.endpoints">
                <div class="card">
                    <div class="card-body">
                        <ul class="hs-comp-list list-group">
                            <li ng-repeat="composition in ds.compositions" class="list-group-item hs-comp-item"
                                style="cursor: pointer" ng-class="composition.highlighted ?  'active' : ''"
                                ng-mouseover="highlightComposition(composition, true)"
                                ng-mouseleave="highlightComposition(composition, false)"
                                ng-click="compositionClicked(composition)" data-container="body"
                                data-placement="bottom" ng-attr-title="{{composition.mdAbstract}}">
                                <div class="hs-comp-item-title">{{composition.title || composition.name}}</div>
                                <div class="btn-group btn-block"
                                    ng-class="{'d-none': commonId(composition) != selectedCompId}" role="group">
                                    <a class="btn btn-secondary"
                                        ng-click='$event.stopPropagation();shareComposition(composition)' href="#">
                                        <i class="glyphicon icon-share-alt"></i>
                                    </a>
                                    <a class="btn btn-secondary" href="#"
                                        ng-click='$event.stopPropagation();edit(composition)'>
                                        <i class="glyphicon icon-edit"></i>
                                    </a>
                                    <a class="btn btn-secondary" href="#"
                                        ng-click='$event.stopPropagation();detailComposition(composition)'>
                                        <i class="glyphicon icon-info-sign"></i>
                                    </a>
                                    <a class="btn btn-secondary" href="#" ng-show="composition.editable"
                                        ng-click='$event.stopPropagation();confirmDelete(composition)'>
                                        <i class="glyphicon icon-trash"></i>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>


                    <div class="card-footer" ng-show='ds.compositionsCount>0'>
                        <nav>
                            <ul class="pagination d-flex justify-content-center">
                                <li class="page-item" ng-class="{'disabled': compStart == 0 }">
                                    <a href="#" class="page-link" ng-click='getPreviousCompositions(ds)'><span
                                            aria-hidden="true">&laquo;</span></a>
                                </li>
                                <li class="page-item" ng-if="ds.next!= 0"><span class="page-link"> Results
                                        {{ds.start + 1}} - {{ds.next}}</span></li>
                                <li class="page-item" ng-if="ds.next == 0"><span class="page-link"> Results
                                        {{ds.start + 1}} - {{ds.compositionsCount}}</span></li>
                                <li class="page-item" ng-class="{'disabled': ds.next == 0 }">
                                    <a href="#" class="page-link" ng-click='getNextCompositions(ds)'><span
                                            aria-hidden="true">&raquo;</span></a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>