<div class="panel panel-default mainpanel">
    <div class="panel-heading" ><translate>Compositions</translate>
        <button type="button" class="close" ng-click="Core.closePanel(this)">
            <span aria-hidden="true">×</span>
            <span class="sr-only">Close</span>
        </button>
    </div>
    <div class="panel-body">
        <input type="text" class="form-control" placeholder="Filter:" ng-model="query.title" ng-change="loadCompositions()">
        &nbsp;<input type="checkbox" ng-model="filter_by_extent" ng-change='loadCompositions()'><span translate>Filter by map extent</span>
        &nbsp;<input type="checkbox" ng-model="query.editable"><span translate>Only mine</span>
        <button type="button" ng-click="toggleKeywords()" class="btn btn-default btn-xs">Keywords<span class="caret"></span></button>
        <div class="keywords-panel">
            <div style="width: 45%; display:inline-block" class="checkbox" ng-repeat="(keyword, enabled) in keywords">
                <label>
                    <input type="checkbox" ng-model="keywords[keyword]" ng-click="loadCompositions()" >
                    {{keyword}}
                </label>
            </div>
        </div>
        
        <ul style="margin-top: 4px" class="list-group">
            <li ng-repeat="composition in compositions | filter:query" ng-class="'list-group-item'+(composition.highlighted ? ' active' : '')">
                <a href="#" ng-mouseover="highlightComposition(composition, true)" ng-mouseleave="highlightComposition(composition, false)" ng-click="use_callback_for_edit = false; loadComposition(composition.link)"  data-toggle="tooltip" data-placement="top" ng-attr-title="{{composition.mdAbstract}}">{{composition.title}}
                    <a href="#"><span class="glyphicon glyphicon-trash datasource_addlayer" aria-hidden="true" ng-show="composition.editable" ng-click='delete(composition)'></span></a>
                    <a href="#"><span class="glyphicon glyphicon-edit datasource_addlayer" aria-hidden="true" ng-show="composition.editable" ng-click='edit(composition)'></span></a>
                </a>
            </li>
            <nav>
                <ul class="pagination" ng-show="pages.length>0">
                    <li ng-class="current_page < 2 ? 'disabled' : ''">
                    <a href="#"  ng-click="loadCompositions(current_page - 1)" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                    </li>
                    <li ng-repeat="page in pages"  ng-class="page == current_page ? 'active' : ''"><a href="#" ng-click="loadCompositions(page)">{{page}}</a></li>
                    <li ng-class="current_page >= page_count ? 'disabled' : ''">
                    <a href="#"  ng-click="loadCompositions(current_page + 1)" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                    </li>
                </ul>
            </nav>
        </ul>
    </div>
</div>

                  