<div class="panel panel-default mainpanel hs-comp-mainpanel">
    <div class="panel-heading"><translate>Compositions</translate>
        <button type="button" class="close" ng-click="Core.closePanel(this)">
            <span aria-hidden="true">×</span>
            <span class="sr-only" translate>Close</span>
        </button>
    </div>
    <div class="panel-body">
        <form id="hs-comp-filter">
            <div class="form-group">
                <input type="text" class="form-control hs-filter" placeholder="{{'Filter'|translate}}" ng-model="query.title" ng-change="loadCompositions()">
            </div>

            <div id="hs-comp-filter" class="form-group">
                <label class="inline">
                    <input type="checkbox" ng-model="filter_by_extent" ng-change='loadCompositions()'>
                    <span translate>Filter by map extent</span>
                </label>

                <label class="inline">
                    <input type="checkbox" ng-model="query.editable" ng-change='filterChanged()'>
                    <span translate>Only mine</span>
                </label>
            </div>

            <span class="form-group">
                <button type="button" ng-click="toggleKeywords()" ng-if="config.comp_keywords" class="btn btn-default btn-xs"><translate>Keywords</translate><span class="caret"></span></button>
                <div class="keywords-panel" ng-if="config.comp_keywords">
                    <div style="width: 45%; display:inline-block" class="checkbox" ng-repeat="(keyword, enabled) in keywords">
                        <label>
                            <input type="checkbox" ng-model="keywords[keyword]" ng-click="loadCompositions()" >
                            {{keyword}}
                        </label>
                    </div>
                </div>
            </span>
        </div>

        <ul class="hs-comp-list list-group">
            <li ng-repeat="composition in compositions | filter:query" class="list-group-item hs-comp-item" ng-class="composition.highlighted ?  'active' : ''" ng-mouseover="highlightComposition(composition, true)" ng-mouseleave="highlightComposition(composition, false)" ng-click="use_callback_for_edit = false; loadComposition(composition)"  data-toggle="tooltip"  data-container="body" data-placement="bottom" ng-attr-title="{{composition.mdAbstract}}">
                <div class="hs-comp-item-title">{{composition.title}}</div>
                <div class="hs-comp-item-controls">
                    <button type="button" class="btn btn-xs btn-default" aria-hidden="true" ng-show="composition.editable" ng-click='$event.stopPropagation();confirmDelete(composition)'><i class="glyphicon glyphicon-trash"></i></button>
                    <button type="button" class="btn btn-xs btn-default" aria-hidden="true" ng-click='$event.stopPropagation();shareComposition(composition)'><i class="glyphicon icon-share-alt"></i></button>
                    <button type="button" class="btn btn-xs btn-default" aria-hidden="true" ng-hide="true" ng-click='$event.stopPropagation()'><i class="glyphicon glyphicon-save"></i></button>
                    <button type="button" class="btn btn-xs btn-default" aria-hidden="true" ng-click='$event.stopPropagation();detailComposition(composition)'><i class="glyphicon glyphicon-info-sign"></i></button>
                </div>
            </li>
        </ul>
    </div>

    <div class="panel-footer">
        <nav>
            <ul class="pager" ng-show="pages.length>0">
                <li><a href="#" ng-click="loadCompositions(current_page - 1)" aria-label="Previous" translate>Previous</a></li>
                <li><a href="#" ng-click="loadCompositions(current_page + 1)" aria-label="Next" translate>Next</a></li>
            </ul>
        </nav>
    </div>
</div>


