<div ng-class="{'in': deleteModalVisible}" class="modal" id="composition-delete-dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">
                    <translate>Confirm</translate>
                </h4>
                <button type="button" ng-click="deleteModalVisible = false" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only" translate="">Close</span></button>
            </div>
            <div class="modal-body" style="max-height:600px; overflow-y:auto">
                    <translate>Do you want to delete map</translate> {{compositionToDelete.title}}
            </div>
            <div class="modal-footer" id="stc-footer">
                <button type="button" class="btn btn-danger" ng-click="delete(compositionToDelete)" translate>OK</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="deleteModalVisible = false" translate>Close</button>
            </div>
        </div>
    </div>
</div>
