<div [hidden]="!isLayerWithDimensions()">
    <p style="text-align: center;font-weight: bold;" i18n>Dimensions</p>
    <div class="form-group" *ngFor="let dimension of dimensions">
        <label class="control-label">{{dimension.label || dimension.name}}:</label>

        <select class="form-control" [(ngModel)]="dimension.modelValue" *ngIf="dimension.type == null" (change)="dimensionChanged(dimension)">
            <option [ngValue]="dimension_value" *ngFor="let dimension_value of dimension.values">
                {{dimension_value}}</option>
        </select>
        <div class="input-group" *ngIf="dimension.type == 'datetime'">
            <input type="text" ngbDatepicker placeholder="YYYY-MM-DD" #d="ngbDatepicker" [(ngModel)]="dimension.modelValue" (dateSelect)="dimensionChanged(dimension)"/>
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button"><i class="icon-calendarthree"></i></button>
            </div>
        </div>
    </div>
</div>