<div class="modal" id="advanced-info-dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only" translate="">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">
                    <translate>Časovā osa staveb</translate>
                </h4>
            </div>
            <div class="modal-body" style="max-height:800px; overflow-y:auto">
                <timeline control="timeline" height="80vh" options="options"></timeline>
            </div>
        </div>
    </div>
</div>
