<div class="dropdown pull-left" style="">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="basemapMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <i class="menu-icon glyphicon icon-layers" data-toggle="tooltip" data-container="body" data-placement="auto" title="{{'Select background map'|translate}}"></i>
        <span class="top-button-text" translate>Change map</span>
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="basemapMenu">
        <li ng-repeat="layer in data.baselayers" ng-class="{'selected': layer.active}">
            <a ng-click="changeBaseLayerVisibility($event, layer)">{{layer.title | translate}}</a>
        </li>
    </ul>
</div>