<div class="header">
    <i class="glyphicon glyphicon-triangle-left" ng-click="previous()"></i>
    <span>{{month.format("MMMM, YYYY")}}</span>
    <i class="glyphicon glyphicon-triangle-right" ng-click="next()"></i>
</div>
<div ng-show="!rangeContains(start)" translate>Apologies, we do not have a traffic prediction for this date. Please select a month between May 2017 and November 2018</div>
<div class="week names" ng-show="rangeContains(start)">
    <span class="day" translate>Mo</span>
    <span class="day" translate>Tu</span>
    <span class="day" translate>We</span>
    <span class="day" translate>Th</span>
    <span class="day" translate>Fr</span>
    <span class="day" translate>Sa</span>
    <span class="day" translate>Su</span>
</div>
<div class="week" ng-repeat="week in weeks" ng-show="rangeContains(start)">
    <span class="day" ng-class="{ today: day.isToday, 'different-month': !day.isCurrentMonth, selected: day.date.isSame(selected), grayed: rangeContains(day.date) == false  }" ng-click="select(day)" ng-repeat="day in week.days">{{day.number}}</span>
</div>
