<div class="header">
    <i class="glyphicon glyphicon-triangle-left" ng-click="previous()"></i>
    <span>{{month.format("MMMM, YYYY")}}</span>
    <i class="glyphicon glyphicon-triangle-right" ng-click="next()"></i>
</div>
<div class="week names">
    <span class="day" translate>Po</span>
    <span class="day" translate>Út</span>
    <span class="day" translate>St</span>
    <span class="day" translate>Čt</span>
    <span class="day" translate>Pá</span>
    <span class="day" translate>So</span>
    <span class="day" translate>Ne</span>
</div>
<div class="week" ng-repeat="week in weeks">
    <span class="day" ng-class="{ today: day.isToday, 'different-month': !day.isCurrentMonth, selected: day.date.isSame(selected), grayed: !rangeContains(day.date)  }" ng-click="select(day)" ng-repeat="day in week.days">{{day.number}}</span>
</div>
