<div class="panel panel-default mainpanel">
    <div class="panel-heading"><h4 translate>Dopravní situace</h4>
    </div>
    <div class="panel-body">
        <div class="panel-body">
            <calendar selected="service.day"></calendar>
            <div class="form-group" id="time-range" >
                <input type="range" step="1" min="0" max="23" class="form-control" style="width: 100%;height: 21px;" ng-model="current_hour" ng-change="setCurrentTime(current_hour)"/>
                 <span style="font-size: 12px; float: left">00:00</span><span style="font-size: 12px; float: right">23:00</span>
            </div>
           
            <div class="btn-group btn-group-justified" id="calendar-player" role="group" aria-label="...">
                <a type="button" class="btn btn-default" style=" width: .3%;" ng-click="previousDay()" title="{{'Předchozí den'|translate}}"><span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span></a>
                <a type="button" class="btn btn-default" style=" width: .3%;" ng-click="previousHour()" title="{{'Předchozí hodina'|translate}}"><span class="glyphicon glyphicon-backward" aria-hidden="true"></span></a>
                <a type="button" class="btn btn-default" disabled style="cursor: default">
                    <span class="hs-p-loading_count" ng-show="layers_loading>0">
                        <img src="../../img/ajax-loader.gif"/>
                        <span>{{layers_loading}}</span>
                    </span>
                    <button class="btn btn-primary" ng-click="toggleAnimation()" title="{{ animating ? 'Zastavit animaci' : 'Spustit animaci'}}">
                        <span class="glyphicon glyphicon-play" aria-hidden="true" ng-hide="animating"></span><span class="glyphicon glyphicon-pause" aria-hidden="true" ng-show="animating"></span>
                    </button>
                    <span style="font-size: 17px; margin-left: 0.5em">{{("0"+current_hour).slice(-2)}}:00</span>
                </a>
                <a type="button" class="btn btn-default" style="width: .3%;" ng-click="nextHour()" title="{{'Následující hodina'|translate}}"><span class="glyphicon glyphicon-forward" aria-hidden="true"></span></a>
                <a type="button" class="btn btn-default" style="width: .3%;" ng-click="nextDay()" title="{{'Následující den'|translate}}"><span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span></a>
            </div>
            <h4 translate>Dopravní stavby ve zvoleném dnu</h4>
            <div class="list-group">
                <a ng-repeat="work in roadworklist" href="#" class="list-group-item" ng-click="showRoadworkInfo(work)">
                    {{work.headline}}
                </a>
            </div>
            <div class="center-block">
                <button class="btn btn-default center-block" ng-click="showDeveloperInfo()" id="show-timeline" translate>Zobrazit časovou osu staveb</button>
            </div>
            <h4 translate>Sdílení mapy</h4>
            <div class="btn-group btn-group-justified share-group" role="group" aria-label="...">
                <a type="button" title="{{'Sdílet mapu'|translate}}" class="btn btn-default" ng-click="showPermalink()"><i class="icon-link"></i></a>
                <a type="button" title="{{'Vytisknout mapu'|translate}}" class="btn btn-default" ng-click="printPdf()"><i class="fa fa-file-pdf-o"></i></a>
                <a type="button" title="{{'Sdílet na Twitteru'|translate}}" class="btn btn-default" ng-click="shareSocial('twitter')"><i class="icon-twitter"></i></a>
                <a type="button" title="{{'Sdílet na Facebooku'|translate}}" class="btn btn-default" ng-click="shareSocial('facebook')"><i class="icon-facebook"></i></a>
                <a type="button" title="{{'Sdílet na G+'|translate}}" class="btn btn-default" ng-click="shareSocial('google')"><i class="icon-googleplus"></i></a>
                <a type="button" title="{{'Odeslat e-mailem'|translate}}" class="btn btn-default" ng-click="shareSocial('email')"><i class="icon-emailalt"></i></a>
            </div>
            <input type="text" class="form-control" id="hs-permalink" ng-show="permalink_visible" ng-value="share_url"/>
            <p class="links">
                <a class="" href="#" role="button" ng-click="toggleLegend(true)" translate>Legenda</a>
                <a class="" href="#" role="button" ng-click="toggleHelp(true)" translate>Nápověda</a>
                <a class="" href="about.html" target="_blank" role="button" translate>O projektu</a>
            </p>
        </div>
    </div>
</div>
