<div class="card panel-default mainpanel">
    <div class="card-header"><h4 translate>Traffic situation</h4>
        <div class="dropdown pull-right" ng-if="!hideLanguage">
          <button class="btn btn-secondary dropdown-toggle language-dropdown" type="button" id="language-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <span class="icon-globe" aria-hidden="true"></span>
            <span id="language-title">Čeština</span>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" id="language-dropdown-menu" aria-labelledby="language-dropdown">
            <li><a href="#" ng-click="setLanguage('Čeština','cs')" ng-class="{'selected-language': currentLanguage=='cs'}">Čeština</a></li>
            <li><a href="#" ng-click="setLanguage('English','en')" ng-class="{'selected-language': currentLanguage=='en'}">English</a></li>
          </ul>
        </div>
    </div>
    <div class="card-body">
        <div class="card-body">
            <calendar selected="service.day"></calendar>
            <div class="form-group" id="time-range" >
                <input type="range" step="1" min="0" max="23" class="form-control" style="width: 100%;height: 21px;" ng-model="current_hour" ng-change="setCurrentTime(current_hour)"/>
                 <span style="font-size: 12px; float: left">00:00</span><span style="font-size: 12px; float: right">23:00</span>
            </div>
           
            <div class="btn-group btn-group-justified" id="calendar-player" role="group" aria-label="...">
                <a type="button" class="btn btn-secondary" style=" width: .3%;" ng-click="previousDay()" title="{{'Previous day'|translate}}"><span class="icon-step-backward" aria-hidden="true"></span></a>
                <a type="button" class="btn btn-secondary" style=" width: .3%;" ng-click="previousHour()" title="{{'Previous hour'|translate}}"><span class="icon-backward" aria-hidden="true"></span></a>
                <a type="button" class="btn btn-secondary" disabled style="cursor: default">
                    <span class="hs-p-loading_count" ng-show="layers_loading>0">
                        <img src="../../img/ajax-loader.gif"/>
                        <span>{{layers_loading}}</span>
                    </span>
                    <button class="btn btn-primary" ng-click="toggleAnimation()" title="{{'Pause animation'|translate}}" ng-show="animating">
                        <span class="icon-pause" aria-hidden="true"></span>
                    </button>
                    <button class="btn btn-primary" ng-click="toggleAnimation()" title="{{'Play animation'|translate}}"  ng-hide="animating">
                        <span class="icon-play" aria-hidden="true">
                    </button>
                    <span style="font-size: 17px; margin-left: 0.5em">{{("0"+current_hour).slice(-2)}}:00</span>
                </a>
                <a type="button" class="btn btn-secondary" style="width: .3%;" ng-click="nextHour()" title="{{'Next hour'|translate}}"><span class="icon-forward" aria-hidden="true"></span></a>
                <a type="button" class="btn btn-secondary" style="width: .3%;" ng-click="nextDay()" title="{{'Next day'|translate}}"><span class="icon-step-forward" aria-hidden="true"></span></a>
            </div>
            <h4 translate>Ongoing roadworks</h4>
            <div class="list-group">
                <a ng-repeat="work in roadworklist" href="#" class="list-group-item" ng-click="showRoadworkInfo(work)">
                    {{work.headline}}
                </a>
            </div>
            <div class="center-block">
                <button class="btn btn-secondary center-block" ng-click="showDeveloperInfo()" id="show-timeline" translate translate-context="button">Timeline of roadworks</button>
            </div>
            <h4 translate>Share map</h4>
            <div class="btn-group btn-group-justified share-group" role="group" aria-label="...">
                <a type="button" title="{{'Share the current map'|translate}}" class="btn btn-secondary" ng-click="showPermalink()"><i class="icon-link"></i></a>
                <a type="button" title="{{'Print map'|translate}}" class="btn btn-secondary" ng-click="printPdf()"><i class="fa fa-file-pdf-o"></i></a>
                <a type="button" title="{{'Share on Twitter'|translate}}" class="btn btn-secondary" ng-click="shareSocial('twitter')"><i class="icon-twitter"></i></a>
                <a type="button" title="{{'Share on Facebook'|translate}}" class="btn btn-secondary" ng-click="shareSocial('facebook')"><i class="icon-facebook"></i></a>
                <a type="button" title="{{'Share on G+'|translate}}" class="btn btn-secondary" ng-click="shareSocial('google')"><i class="icon-googleplus"></i></a>
                <a type="button" title="{{'Send by email'|translate}}" class="btn btn-secondary" ng-click="shareSocial('email')"><i class="icon-emailalt"></i></a>
            </div>
            <input type="text" class="form-control" id="hs-permalink" ng-show="permalink_visible" ng-value="share_url"/>
            <p class="links">
                <a class="" href="#" role="button" ng-click="toggleLegend(true)" translate>Legend</a>
                <a class="" href="#" role="button" ng-click="showHelpPanel('help')" translate>Tutorial</a>
                <a class="" href="#" role="button" ng-click="showHelpPanel('about')" translate>About</a>
            </p>
        </div>
    </div>
</div>
