<div class="help trafficModal" ng-show="data.helpVisible">
    <div class="modal-header">
        <button type="button" class="close" ng-click="toggleHelp(false)"><span aria-hidden="true">&times;</span><span class="sr-only" translate="">Close</span></button>
        <h4 class="modal-title">
            <translate>Nápověda</translate>
        </h4>
    </div>
    <div class="modal-body">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam at leo ligula. Nam tempus justo ut erat lacinia lobortis. Aenean eu velit porta, varius urna sed, efficitur nulla. Praesent mattis neque in ultricies porttitor. Aliquam sed tincidunt nibh. Integer cursus sed arcu vel mollis. Nunc tristique est eget enim tincidunt imperdiet. Morbi accumsan risus non lacus bibendum, nec pellentesque orci ultrices.</p>

        <p>Cras maximus dui eu risus auctor, ut suscipit neque feugiat. Integer nulla arcu, venenatis posuere egestas ac, dignissim vitae orci. Sed hendrerit purus vel leo tristique, a cursus orci tempus. Sed vel nisl elit. Morbi congue, nibh eget dapibus sagittis, quam nisl egestas tortor, at pharetra justo tortor vitae lacus. Integer sollicitudin quis urna eu maximus. Curabitur sollicitudin sodales pulvinar. Sed vel rutrum augue, nec blandit tortor. Sed sit amet pellentesque nisl, non maximus turpis. Nullam blandit varius quam. Nulla facilisi. In vitae urna ex.</p>

        <p>Donec magna neque, elementum et eros quis, tristique lacinia erat. Proin luctus turpis suscipit consequat dignissim. In et ligula et erat venenatis interdum. Mauris id elementum nibh. Fusce non orci ac sem pellentesque sollicitudin ac vitae dui. Donec vitae dapibus leo. Phasellus vitae pretium est. Donec id lacinia neque. Vivamus convallis, odio vel semper efficitur, lorem eros molestie turpis, sed consectetur nisl arcu a mauris. Aenean blandit arcu mi, non sagittis ante elementum et. Nulla sed arcu interdum, tincidunt lacus vel, lacinia felis. Nunc mauris mauris, suscipit id fringilla ac, iaculis in dui. Pellentesque at molestie nisl.</p>
    </div>
</div>