<div class="legend" ng-show="legendVisible">
    <div class="modal-header">
        <button type="button" class="close" ng-click="toggleLegend(false)"><span aria-hidden="true">&times;</span><span class="sr-only" translate="">Close</span></button>
        <h4 class="modal-title">
            <translate>Legenda</translate>
        </h4>
    </div>
    <div class="modal-body">
        <img src="http://gis.lesprojekt.cz/wms/transport/intenzity_dopravy_v_plzni?version=1.3.0&amp;service=WMS&amp;request=GetLegendGraphic&amp;sld_version=1.1.0&amp;layer=may&amp;format=image/png&amp;STYLE=default">
    </div>
</div>