<div id="roadwork-info-offline">
    <div class="popup-header">
        <h4 class="popup-title">
            <translate>Roadwork</translate>
        </h4>
    </div>
    <div class="popup-body">
        <table class="traffic-table roadworks">
            <tbody>
                <tr>
                    <th translate>Title:</th>
                    <td>{{roadwork.headline}}</td>
                </tr>
                <tr>
                    <th translate>Date:</th>
                    <td translate>From {{roadwork.startDate.toLocaleDateString(currentLanguage)}} to {{roadwork.endDate.toLocaleDateString(currentLanguage)}}</td>
                </tr>
                <tr>
                    <th translate>Segment:</th>
                    <td>{{roadwork.location}}</td>
                </tr>
                <tr>
                    <th translate>Scope:</th>
                    <td>{{roadwork.description}}</td>
                </tr>
                <tr>
                    <th translate>Suggested detour:</th>
                    <td>{{roadwork.detour}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>