<div class="modal" id="roadwork-info-dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only" translate="">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">
                    <translate>Uzavírka</translate>
                </h4>
            </div>
            <div class="modal-body" style="max-height:800px; overflow-y:auto">
                <dl class="dl-horizontal">
                    <dt>Název:</dt>
                    <dd>{{roadwork.headline}}</dd>
                    <dt>Datum:</dt>
                    <dd>{{roadwork.startDate.toLocaleDateString()}} - {{roadwork.endDate.toLocaleDateString()}}</dd>
                    <dt>Úsek:</dt>
                    <dd>{{roadwork.location}}</dd>
                    <dt>Rozsah:</dt>
                    <dd>{{roadwork.description}}</dd>
                    <dt>Objízdná trasa:</dt>
                    <dd>{{roadwork.detour}}</dd>
                </dl>
            </div>
        </div>
    </div>
</div>