<div id="roadwork-info-offline">
    <div class="popup-header">
        <h4 class="popup-title">
            <translate>Uzavírka</translate>
        </h4>
    </div>
    <div class="popup-body">
        <table class="traffic-table roadworks">
            <tbody>
                <tr>
                    <th>Název:</th>
                    <td>{{roadwork.headline}}</td>
                </tr>
                <tr>
                    <th>Datum:</th>
                    <td>Od {{roadwork.startDate.toCzechDateString()}} do {{roadwork.endDate.toCzechDateString()}}</td>
                </tr>
                <tr>
                    <th>Úsek:</th>
                    <td>{{roadwork.location}}</td>
                </tr>
                <tr>
                    <th>Rozsah:</th>
                    <td>{{roadwork.description}}</td>
                </tr>
                <tr>
                    <th>Objízdná trasa:</th>
                    <td>{{roadwork.detour}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>