<div class="locate-mobile ol-unselectable ol-control" (click)="blocateClick()" [ngClass]="{'ol-collapsed': collapsed}">
    <ul>
        <li>{{'GEOLOCATION.precision' | translate}}<span class="value">{{ accuracy }} m</span></li>
        <li>{{'GEOLOCATION.speed' | translate}}<span class="value">{{ speed }} km/h</span></li>
        <li>{{'GEOLOCATION.altitude' | translate}} <span class="value">{{ alt }} m</span></li>
        <!-- <li>Altitude: <span class='value'>{{ alt }} m (&#177;{{ altitudeAccuracy }} m)</span></li> -->
        <li><button type="button" [ngClass]="'btn btn-secondary but-xs' + (following() ? ' active' : '')"
                (click)="following(!following())"
                style="font: inherit;background-color: e6e6e6 !important;">{{'GEOLOCATION.follow' | translate}}</button>
            <button id="geolocation-switch(){}" type="button"
                [ngClass]="'btn btn-secondary but-xs' + (Geolocation.gpsStatus ? ' active' : '')" (click)="switchGps()"
                style="font: inherit;background-color: e6e6e6 !important;">{{ Geolocation.gpsSwitch }}</button></li>
    </ul>
</div>
