<div class="d-flex justify-content-center flex-column align-items-center m-3">
    <div class="container ">
        <div class="row justify-content-center">
            <button *ngFor="let type of types" [ngClass]="{'active': type.id === typeSelected }"
                (click)="selectType(type.id)" style="margin: 3px;"
                class="btn btn-outline-secondary rounded btn-sm mt-1 col-sm-3">
                {{hsLanguageService.getTranslationIgnoreNonExisting('ADDLAYERS', type.text, undefined, app)}}
                <!-- TODO: Remove function call from template -->
            </button>
        </div>
    </div>
    <div class="w-100 pt-3">
        <hs-file-vector [fileType]="typeSelected" *ngIf="typeSelected === 'geojson'" [app]="app"></hs-file-vector>
        <hs-file-vector [fileType]="typeSelected" *ngIf="typeSelected === 'gpx'" [app]="app"></hs-file-vector>
        <hs-file-vector [fileType]="typeSelected" *ngIf="typeSelected === 'kml'" [app]="app"></hs-file-vector>
        <hs-file-shp *ngIf="typeSelected === 'shp'" [app]="app"></hs-file-shp>
        <hs-file-raster *ngIf="typeSelected === 'raster'" [app]="app"></hs-file-raster>
    </div>
</div>
