<div class="w-100 mt-2" style="display: inline-block;" data-toggle="tooltip" data-placement="top"
  [title]="hsAddDataCommonFileService.getToolTipText(data)">
  <!-- TODO: Remove function call from template -->
  <button *ngIf="hsAddDataCommonFileService.isAuthenticated()" class="btn btn-primary w-100" [disabled]="!canAdd()"
    (click)="add()">
    <i class="material-icons" [hidden]="hsAddDataCommonFileService.loadingToLayman">add</i>
    <span class="hs-loader" [hidden]="!hsAddDataCommonFileService.loadingToLayman"></span>
    <span [hidden]="hsAddDataCommonFileService.loadingToLayman">{{'COMMON.add' | translateHs }}</span>
    <span
      *ngIf="hsAddDataCommonFileService.loadingToLayman && hsAddDataCommonFileService.asyncLoading">&emsp;{{'COMMON.uploading'
      |
      translateHs }}</span>
    <span
      *ngIf="hsAddDataCommonFileService.loadingToLayman && hsAddDataCommonFileService.readingData">&emsp;{{'COMMON.reading'
      |
      translateHs }}</span>
    <ngb-progressbar
      *ngIf="hsAddDataCommonFileService.loadingToLayman && (hsAddDataCommonFileService.asyncLoading || hsAddDataCommonFileService.readingData)"
      showValue="true" class="rounded-0 mb-1" type="secondary" [max]="1" [value]="hsLaymanService.totalProgress">
    </ngb-progressbar>
  </button>
</div>
<div *ngIf="!hsAddDataCommonFileService.isAuthenticated()"
  class="alert alert-warning d-flex align-items-center mt-2 justify-content-between">
  <!-- TODO: Remove function call from template -->
  <p class="m-0"> {{'ADDLAYERS.SHP.loginRequired' | translateHs }}</p>
  <hs-layman-current-user></hs-layman-current-user>
</div>