name: Build & test hslayers, app & sensors

on:
  push:
    paths-ignore:
      - 'projects/hslayers-server/**/*'

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x, 22.x]

    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
    - name: npm install, build, and test
      run: |
        npm ci --force
        npm run build
        npm run build-app
        npm run build-sensors
        npm run test:ci
      env:
        CI: true
