<div *ngIf="(hsQueryBaseService.data.features.length > 0) || (hsQueryBaseService.data.coordinates.length > 0)" class="card hs-main-panel">
    <div class="card-body">
        <div class="dropdown" [hidden]="!(hsQueryBaseService.data.featureInfoHtmls.length > 0)">
            <button class="btn btn-light w-100 dropdown-toggle rounded-0" data-toggle="dropdown" [attr.aria-expanded]="featureInfoExpanded" (click)="featureInfoExpanded = !featureInfoExpanded">
                {{'QUERY.featureInfo' | translate}}
            </button>
            <div class="dropdown-menu position-relative w-100" [ngClass]="{'show': featureInfoExpanded}" *ngFor="let html of hsQueryBaseService.data.featureInfoHtmls" [innerHtml]="html"></div>
        </div>
        <hs-query-feature-list></hs-query-feature-list>
        <table class="table table-striped" style="table-layout:fixed" [hidden]="!(hsQueryBaseService.data.attributes.length > 0)">
            <tbody><tr *ngFor="let attribute of hsQueryBaseService.data.attributes">
                <td class="first-col">{{attribute.name}}</td>
                <td class="second-col" [innerHtml]="attribute.value"></td>
            </tr>
        </tbody></table>
    </div>
    <iframe id="invisible_popup" style="display:block; z-index:12122;left:-10000px; position:absolute"></iframe>
</div>
