.accordion-button::after {
    margin-left: 0 !important;
}

.accordion-button:hover {
    background-color: rgb(239 239 239)
}

.accordion-button i:hover {
    color: #dc3545 !important;
}

.ml-auto {
    margin-left: auto;
}
